Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

feat: supoport GraphQL references and autolink headings
  codegen.yml
  docs/build/reference.ts
  docs/build/reference/index.ts
  docs/build/reference/template.njs
  docs/layouts/DocumentationLayout.tsx
  docs/lib/reference.ts
  docs/pages/reference/[kind]/[name].tsx
  docs/styles/global.css
  src/core/server/graph/schema/schema.graphql
Due: yamllint

fix: adjusted dynamic routes for api reference
  docs/pages/reference/[kind]/[name].tsx
Due: none

feat: add auto scroll to sidebar element
  docs/layouts/SidebarLayout.tsx
Due: none

fix: layout and component improvements
  docs/build/reference.ts
  docs/components/DocsPage.tsx
  docs/components/Header.tsx
  docs/components/Layout.tsx
  docs/components/MDXComponents.tsx
  docs/components/MainNav.tsx
  docs/components/PageHeader.tsx
  docs/components/ReferencePage.tsx
  docs/components/Sidebar.tsx
  docs/components/SidebarNav.tsx
  docs/data/nav.yml
  docs/layouts/DocLayout.tsx
  docs/layouts/SidebarLayout.tsx
  docs/lib/doc.ts
  docs/lib/reference.ts
  docs/pages/[slug].tsx
  docs/pages/_app.tsx
  docs/pages/index.tsx
  docs/pages/reference/[[...slug]].tsx
Due: yamllint

fix: support autolink headings on documentation pages
  docs/lib/documentation.ts
Due: none

fix: adjusted layouts
  docs/tailwind.config.js
Due: git-exec-and-restage eslint --fix --

fix: expose base path
  docs/next.config.js
Due: git-exec-and-restage eslint --fix --

fix: skip rendering internal types
  docs/lib/reference.ts
Due: none

de-CH email translations and fixes
  src/core/server/locales/de-CH/common.ftl
  src/core/server/locales/de-CH/email.ftl
  src/locales/de-CH/account.ftl
  src/locales/de-CH/auth.ftl
  src/locales/de-CH/common.ftl
  src/locales/de-CH/framework.ftl
  src/locales/de-CH/stream.ftl
Due: none

port over md files from release/4
  docs/content/administration.mdx
  docs/content/auth.mdx
  docs/content/cli.mdx
  docs/content/cms.mdx
  docs/content/configuration.mdx
  docs/content/counts.mdx
  docs/content/css.mdx
  docs/content/events.mdx
  docs/content/gdpr.mdx
  docs/content/graphql.mdx
  docs/content/mobile.mdx
  docs/content/notifications.mdx
  docs/content/seo.mdx
  docs/content/slack.mdx
  docs/content/sso.mdx
  docs/data/nav.yml
  docs/styles/global.css
Due: yamllint

feat: added Story.comments(flatten)
  src/core/server/graph/loaders/Comments.ts
  src/core/server/graph/schema/schema.graphql
Due: none

fix: add error for revision not found
  src/core/common/errors.ts
  src/core/server/errors/index.ts
  src/core/server/errors/translations.ts
  src/core/server/locales/en-US/errors.ftl
  src/core/server/models/comment/comment.ts
  src/core/server/services/comments/moderation/moderate.ts
  src/core/server/stacks/helpers/retrieveParent.ts
Due: none

add home page
  docs/pages/index.tsx
  docs/tailwind.config.js
Due: git-exec-and-restage eslint --fix --

chore: upgraded dataloader
  package-lock.json
  package.json
  src/core/server/app/handlers/api/comment/featured.ts
  src/core/server/helpers/dataloader.ts
  src/core/server/models/comment/comment.ts
  src/core/server/models/site/index.ts
  src/core/server/models/story/story.ts
  src/core/server/models/tenant/tenant.ts
  src/core/server/models/user/user.ts
  src/core/server/services/notifications/categories/reply.ts
  src/core/server/services/notifications/categories/staffReply.ts
  src/core/server/services/users/download/download.ts
Due: none

fix: add error for revision not found (#3443)
  src/core/common/errors.ts
  src/core/server/errors/index.ts
  src/core/server/errors/translations.ts
  src/core/server/locales/en-US/errors.ftl
  src/core/server/models/comment/comment.ts
  src/core/server/services/comments/moderation/moderate.ts
  src/core/server/stacks/helpers/retrieveParent.ts
Due: none

Add new translation to admin and stream ftl (#3435)
  src/locales/es/admin.ftl
  src/locales/es/stream.ftl
Due: none

chore: comments
  src/core/client/embed/decorators/withRenderTargets.ts
Due: none

chore: refactor
  src/core/client/embed/PymFrameControl.ts
  src/core/client/embed/decorators/withRenderTargets.ts
Due: none

chore: increase bundlesize limit to 17kB
  package.json
Due: none

fix: use reaction neutral language (en-US)
  src/locales/en-US/stream.ftl
Due: none

fix: use reaction neutral language (de-CH)
  src/core/server/locales/de-CH/common.ftl
  src/locales/de-CH/common.ftl
  src/locales/de-CH/stream.ftl
Due: none

chore: redefine render target query
  src/core/client/embed/decorators/withRenderTargets.ts
  src/core/client/stream/index.tsx
Due: none

de-CH email translations and fixes (#3446)
  src/core/server/locales/de-CH/common.ftl
  src/core/server/locales/de-CH/email.ftl
  src/locales/de-CH/account.ftl
  src/locales/de-CH/auth.ftl
  src/locales/de-CH/common.ftl
  src/locales/de-CH/framework.ftl
  src/locales/de-CH/stream.ftl
  src/locales/en-US/stream.ftl
Due: none

update version to 6.8.1
  package.json
Due: none

update package lock
  package-lock.json
Due: none

update version to 6.8.1 (#3447)
  package-lock.json
  package.json
Due: none

feat: added inclusive argument to Story.comments
  src/core/server/graph/loaders/Comments.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/models/comment/comment.ts
  src/core/server/models/helpers/connection.ts
Due: none

add new spanish translate
  src/locales/es/admin.ftl
Due: none

test: add COOP policy
  src/core/server/app/router/client.ts
Due: none

add faq and troubleshooting docs
  docs/content/faq.mdx
  docs/content/troubleshooting.mdx
  docs/data/nav.yml
  package-lock.json
Due: yamllint

feat: first draft of amp docs
  docs/content/amp.mdx
Due: none

feat: log reason that triggered a watch action
  scripts/watcher/watch.ts
Due: none

chore: update amp docs
  docs/content/amp.mdx
Due: none

chore: upgraded dataloader (#3444)
  package-lock.json
  package.json
  src/core/server/app/handlers/api/comment/featured.ts
  src/core/server/helpers/dataloader.ts
  src/core/server/models/comment/comment.ts
  src/core/server/models/site/index.ts
  src/core/server/models/story/story.ts
  src/core/server/models/tenant/tenant.ts
  src/core/server/models/user/user.ts
  src/core/server/services/notifications/categories/reply.ts
  src/core/server/services/notifications/categories/staffReply.ts
  src/core/server/services/users/download/download.ts
Due: none

feat: initial actions flow
  .github/workflows/test.yml
Due: yamllint

feat: remove circleci
  .circleci/config.yml
Due: yamllint

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
