Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

review: doc updates
  docs/source/02-02-advanced-configuration.md
Due: none

locked node version at 8 via nvmrc
  .nvmrc
Due: none

Add scraper proxy support (#1674)
  config.js
  docs/source/02-02-advanced-configuration.md
  jobs/scraper/index.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Update package.json
  package.json
Due: none

Manage cache
  client/coral-admin/src/graphql/index.js
  client/coral-admin/src/routes/Community/containers/Indicator.js
  client/coral-admin/src/routes/Community/graphql.js
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Move helper out of class
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Fix write fragment
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

feat: cleanup of user details drawer
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

updating yarn and nightwatch/selenium-standalone
  package.json
  yarn.lock
Due: none

Resolve className and id conflicts
  client/coral-admin/src/routes/Community/components/RejectUsernameDialog.js
  test/e2e/page_objects/admin.js
  test/e2e/specs/04_userStatus.js
Due: git-exec-and-restage eslint --fix --

Set specific parser, as prettier now has no default
  .prettierrc
Due: none

Set React version for linters
  .eslintrc.json
Due: none

Translation fix for DE `common.reply`
  locales/de.yml
  locales/en.yml
Due: yamllint

Linting
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

yarn.lock
  yarn.lock
Due: none

Sort locales
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: yamllint

Drop unused translations
  locales/da.yml
  locales/de.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: yamllint

Add translations for validators
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: yamllint

Add action drop-unused
  scripts/i18n.js
Due: git-exec-and-restage eslint --fix --

Add comments
  scripts/i18n.js
Due: git-exec-and-restage eslint --fix --

Add note about limitation
  scripts/i18n.js
Due: git-exec-and-restage eslint --fix --

Small grammar fix
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Fix desc
  scripts/i18n.js
Due: git-exec-and-restage eslint --fix --

Small grammar fix (#1681)
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Introduce final form, i18n helper, validators and refactor AddEmailAddress (#1636)
  client/coral-framework/lib/validation.js
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
  package.json
  plugin-api/beta/client/lib/validation.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/AddEmailForm.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/AddEmailForm.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/Dialog.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/Dialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/EmailAddressAdded.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/EmailAddressAdded.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/VerifyEmailAddress.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/VerifyEmailAddress.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/index.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/components/InputField.js
  plugins/talk-plugin-local-auth/client/components/Label.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/translations.yml
  scripts/i18n.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

Add translations in some missing pages and fix others
  client/coral-admin/src/components/AdminLogin.js
  client/coral-admin/src/components/ForgotPassword.js
  client/coral-admin/src/components/Header.js
  client/coral-admin/src/components/Login.js
  client/coral-admin/src/components/SignIn.js
  client/coral-admin/src/routes/Configure/components/EmbedLink.js
  client/coral-admin/src/routes/Moderation/components/StorySearch.js
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/pt_BR.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Add versioning info and cleanup README
  README.md
Due: none

Tweak
  README.md
Due: none

Put Product Guide link in gear dropdown
  client/coral-admin/src/components/Header.js
Due: git-exec-and-restage eslint --fix --

add config for MAILGUN_SMTP_PASSWORD to app.json
  app.json
Due: none

Fix grammar
  locales/en.yml
  package-lock.json
  package.json
  yarn.lock
Due: yamllint

Add translation for product guide link
  client/coral-admin/src/components/Header.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Update dependencies
  yarn.lock
Due: none

Use neutral icon for aggregated reactions count
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

add pre launch checklist
  docs/_config.yml
  docs/package-lock.json
  docs/source/01-05-pre-launch-checklist.md
Due: yamllint

fix links
  docs/source/01-05-pre-launch-checklist.md
Due: none

Layout and wording
  docs/package.json
  docs/source/01-05-pre-launch-checklist.md
Due: none

initial commit
  .editorconfig
  .gitignore
  .graphqlconfig
  .nodemonrc.json
  .prettierignore
  .prettierrc.json
  .vscode/launch.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/core/common/types.ts
  src/core/index.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/graphiql.ts
  src/core/server/app/middleware/graphql.ts
  src/core/server/app/middleware/logging.ts
  src/core/server/app/middleware/serveStatic.ts
  src/core/server/config.ts
  src/core/server/graph/context.ts
  src/core/server/graph/loaders/asset.ts
  src/core/server/graph/loaders/index.ts
  src/core/server/graph/resolvers/index.ts
  src/core/server/graph/resolvers/query.ts
  src/core/server/graph/schema/index.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/index.ts
  src/core/server/logger.ts
  src/core/server/models/asset.ts
  src/core/server/models/comment.ts
  src/core/server/models/settings.ts
  src/core/server/models/types.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/mongodb/index.ts
  src/core/server/services/redis/index.ts
  src/core/server/services/settings/cache.ts
  src/index.ts
  src/types/dotize.d.ts
  src/types/express-static-gzip.d.ts
  tsconfig.json
Due: none

added tenant + graph support
  .graphqlconfig
  DESIGN.md
  package-lock.json
  package.json
  src/core/server/app/index.ts
  src/core/server/app/middleware/graphiql.ts
  src/core/server/app/middleware/graphql.ts
  src/core/server/app/middleware/playground.ts
  src/core/server/config.ts
  src/core/server/graph/loaders/asset.ts
  src/core/server/graph/loaders/index.ts
  src/core/server/graph/resolvers/index.ts
  src/core/server/graph/tenant/context.ts
  src/core/server/graph/tenant/loaders/assets.ts
  src/core/server/graph/tenant/loaders/comments.ts
  src/core/server/graph/tenant/loaders/index.ts
  src/core/server/graph/tenant/loaders/users.ts
  src/core/server/graph/tenant/middleware.ts
  src/core/server/graph/tenant/resolvers/asset.ts
  src/core/server/graph/tenant/resolvers/comment.ts
  src/core/server/graph/tenant/resolvers/cursor.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/query.ts
  src/core/server/graph/tenant/schema/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/actions.ts
  src/core/server/models/asset.ts
  src/core/server/models/comment.ts
  src/core/server/models/connection.ts
  src/core/server/models/query.ts
  src/core/server/models/tenant.ts
  src/core/server/models/types.ts
  src/core/server/models/user.ts
  src/core/server/services/settings/cache.ts
  src/core/server/services/tenant/cache.ts
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
