Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

fix: added linting for graphql, fixed schema
  package-lock.json
  package.json
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

feat: added docker build tests
  .circleci/config.yml
  Dockerfile
Due: yamllint

fix: upped output timeout
  .circleci/config.yml
Due: yamllint

fix: fixed bug with user upserting
  services/users.js
Due: git-exec-and-restage eslint --fix --

chore: version bump
  package.json
Due: none

External User Fix (#2220)
  package.json
  services/users.js
Due: git-exec-and-restage eslint --fix --

Updated text to include our pricing page
  docs/source/07-01-faq.md
Due: none

fix: fixed stacktraces in production builds
  gulpfile.js
  src/index.ts
Due: git-exec-and-restage eslint --fix --

fix: removed `git add`
  package.json
Due: none

feat: improved error messaging for auth
  src/core/common/errors.ts
  src/core/server/errors/index.ts
  src/core/server/errors/translations.ts
  src/core/server/services/jwt/index.ts
Due: none

refactor: cleaned up queue names
  src/core/server/app/handlers/api/graphql.ts
  src/core/server/app/index.ts
  src/core/server/graph/tenant/context.ts
  src/core/server/index.ts
Due: none

feat: initial Elasticsearch support
  README.md
  package-lock.json
  package.json
  src/core/server/app/handlers/api/auth/local.ts
  src/core/server/app/handlers/api/graphql.ts
  src/core/server/app/handlers/api/install.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/facebook.ts
  src/core/server/app/middleware/passport/strategies/google.ts
  src/core/server/app/middleware/passport/strategies/jwt.ts
  src/core/server/app/middleware/passport/strategies/oauth2.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/app/middleware/passport/strategies/verifiers/sso.ts
  src/core/server/config.ts
  src/core/server/graph/tenant/context.ts
  src/core/server/graph/tenant/mutators/Actions.ts
  src/core/server/graph/tenant/mutators/Comments.ts
  src/core/server/graph/tenant/mutators/Stories.ts
  src/core/server/graph/tenant/mutators/Users.ts
  src/core/server/index.ts
  src/core/server/models/search/comment.ts
  src/core/server/models/search/helpers.ts
  src/core/server/models/search/story.ts
  src/core/server/models/search/user.ts
  src/core/server/queue/index.ts
  src/core/server/queue/tasks/indexer/index.ts
  src/core/server/queue/tasks/scraper/index.ts
  src/core/server/services/comments/actions.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/index.ts
  src/core/server/services/elasticsearch/index.ts
  src/core/server/services/stories/index.ts
  src/core/server/services/stories/scraper/index.ts
  src/core/server/services/users/index.ts
Due: none

Updated text to include our pricing page (#2221)
  docs/source/07-01-faq.md
Due: none

fix: merge error
  package-lock.json
  src/core/client/stream/test/comments/postLocalReply.spec.tsx
Due: none

feat: show version info
  src/core/build/createWebpackConfig.ts
  src/core/client/admin/components/App.css
  src/core/client/admin/components/App.tsx
  src/core/client/admin/components/Version.css
  src/core/client/admin/components/Version.tsx
  src/core/client/admin/components/__snapshots__/App.spec.tsx.snap
  src/core/client/admin/routes/login/views/signIn/components/SignIn.tsx
  src/core/client/admin/routes/login/views/signIn/components/Version.css
  src/core/client/admin/routes/login/views/signIn/components/Version.tsx
  src/core/client/admin/routes/login/views/signIn/components/__snapshots__/SignIn.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/signInWithEmail.spec.tsx.snap
  src/core/client/test/setup.ts
  tsconfig.json
Due: none

fix: use version from talk-common/version
  src/core/build/createWebpackConfig.ts
Due: none

[CORL-132] Show version info (#2224)
  src/core/build/createWebpackConfig.ts
  src/core/client/admin/components/App.css
  src/core/client/admin/components/App.tsx
  src/core/client/admin/components/Version.css
  src/core/client/admin/components/Version.tsx
  src/core/client/admin/components/__snapshots__/App.spec.tsx.snap
  src/core/client/admin/routes/login/views/signIn/components/SignIn.tsx
  src/core/client/admin/routes/login/views/signIn/components/Version.css
  src/core/client/admin/routes/login/views/signIn/components/Version.tsx
  src/core/client/admin/routes/login/views/signIn/components/__snapshots__/SignIn.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/signInWithEmail.spec.tsx.snap
  src/core/client/test/setup.ts
  tsconfig.json
Due: none

feat: improved developer documentation
  .circleci/config.yml
  .gitignore
  LICENSE
  README.md
  package-lock.json
  package.json
Due: yamllint

feat: add some words about testing and docz
  README.md
Due: none

feat: add word about linters
  README.md
Due: none

feat: add note that building might take a while
  README.md
Due: none

fix: update toc
  README.md
Due: none

fix: increase no output timeout for docker build
  .circleci/config.yml
Due: yamllint

fix: add docz address
  README.md
Due: none

fix: fixed incorrect users lookup
  package.json
  services/users.js
  test/helpers/mongoose.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

fix: fixed incorrect users lookup (#2229)
  package.json
  services/users.js
  test/helpers/mongoose.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

chore: better role logic
  src/core/client/stream/containers/TabBarContainer.tsx
  src/core/client/stream/helpers/index.ts
  src/core/client/stream/helpers/isRolePriviledged.ts
  src/core/client/stream/helpers/roleIsAtLeast.ts
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/mutations/CreateCommentReplyMutation.ts
  src/core/client/stream/test/configure/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/configure/__snapshots__/renderProfile.spec.tsx.snap
  src/core/client/stream/test/configure/create.ts
  src/core/client/stream/test/configure/loadMore.spec.tsx
  src/core/client/stream/test/configure/renderProfile.spec.tsx
Due: none

feat: split profile & configure into separate bundles
  src/core/client/stream/tabs/configure/queries/ConfigureQuery.tsx
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
  src/locales/en-US/stream.ftl
Due: none

fix+chore: add test cases, implement expectAndFail, refactor tests
  src/core/client/admin/test/auth/addEmailAddress.spec.tsx
  src/core/client/admin/test/auth/createPassword.spec.tsx
  src/core/client/admin/test/auth/createUsername.spec.tsx
  src/core/client/admin/test/configure/advanced.spec.tsx
  src/core/client/admin/test/configure/auth.spec.tsx
  src/core/client/admin/test/configure/general.spec.tsx
  src/core/client/admin/test/configure/moderation.spec.tsx
  src/core/client/admin/test/configure/organization.spec.tsx
  src/core/client/admin/test/configure/wordList.spec.tsx
  src/core/client/admin/test/moderate/moderate.spec.tsx
  src/core/client/auth/test/addEmailAddress.spec.tsx
  src/core/client/auth/test/createPassword.spec.tsx
  src/core/client/auth/test/createUsername.spec.tsx
  src/core/client/framework/lib/relay/commitMutationPromise.ts
  src/core/client/install/mutations/InstallMutation.ts
  src/core/client/install/steps/containers/AddOrganizationContainer.tsx
  src/core/client/install/steps/containers/CreateYourAccountContainer.tsx
  src/core/client/stream/test/comments/closedOrDisabledCommentStream.spec.tsx
  src/core/client/stream/test/comments/editComment.spec.tsx
  src/core/client/stream/test/comments/postComment.spec.tsx
  src/core/client/stream/test/comments/postLocalReply.spec.tsx
  src/core/client/stream/test/comments/postReply.spec.tsx
  src/core/client/stream/test/comments/reaction.spec.tsx
  src/core/client/stream/test/comments/reportComment.spec.tsx
  src/core/client/stream/test/comments/sortStream.spec.tsx
  src/core/client/stream/test/configure/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/configure/__snapshots__/renderConfigure.spec.tsx.snap
  src/core/client/stream/test/configure/__snapshots__/renderProfile.spec.tsx.snap
  src/core/client/stream/test/configure/create.ts
  src/core/client/stream/test/configure/loadMore.spec.tsx
  src/core/client/stream/test/configure/renderConfigure.spec.tsx
  src/core/client/stream/test/configure/renderProfile.spec.tsx
  src/core/client/stream/test/configure/streamConfiguration.spec.tsx
  src/core/client/stream/test/fixtures.ts
  src/core/client/test/expectAndFail.tsx
  src/core/client/test/setupTestFramework.ts
  src/types/expectAndFail.d.ts
Due: none

chore: add some comments
  src/core/client/framework/lib/form/FormInitializer.tsx
  src/core/client/framework/lib/form/SubmitHookHandler.tsx
Due: none

chore: Update src/core/client/framework/lib/form/helpers.tsx
  src/core/client/framework/lib/form/helpers.tsx
Due: none

feat: support new graphql mutations/schema
  .nvmrc
  src/core/client/admin/routes/configure/sections/general/containers/ClosedStreamMessageConfigContainer.tsx
  src/core/client/admin/routes/configure/sections/general/containers/ClosingCommentStreamsConfigContainer.tsx
  src/core/client/admin/routes/configure/sections/organization/containers/OrganizationContactEmailConfigContainer.tsx
  src/core/client/admin/routes/configure/sections/organization/containers/OrganizationNameConfigContainer.tsx
  src/core/client/admin/test/configure/general.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/framework/rest/install.ts
  src/core/client/install/containers/WizardContainer.tsx
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/mutations/CreateCommentReplyMutation.ts
  src/core/client/stream/tabs/comments/containers/PostCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/PostCommentFormContainer.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/tabs/configure/containers/PremodConfigContainer.tsx
  src/core/client/stream/tabs/configure/containers/PremodLinksConfigContainer.tsx
  src/core/server/app/handlers/api/install.ts
  src/core/server/graph/tenant/mutators/Stories.ts
  src/core/server/graph/tenant/resolvers/Mutation.ts
  src/core/server/graph/tenant/resolvers/Story.ts
  src/core/server/graph/tenant/resolvers/StorySettings.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/settings.ts
  src/core/server/models/story/index.ts
  src/core/server/models/tenant.ts
  src/core/server/services/comments/pipeline/phases/commentLength.ts
  src/core/server/services/comments/pipeline/phases/commentingDisabled.ts
  src/core/server/services/comments/pipeline/phases/detectLinks.ts
  src/core/server/services/comments/pipeline/phases/preModerate.ts
  src/core/server/services/comments/pipeline/phases/storyClosed.spec.ts
  src/core/server/services/stories/index.ts
Due: none

fix: ci fixes
  .circleci/config.yml
Due: yamllint

fix: improvement to revision loading
  .circleci/config.yml
  Dockerfile
Due: yamllint

fix: updated some tests
  src/core/client/admin/test/moderate/moderate.spec.tsx
Due: none

fix: adapt client to changes
  package-lock.json
  src/core/client/admin/routes/configure/sections/general/components/ClosedStreamMessageConfig.tsx
  src/core/client/admin/routes/configure/sections/general/components/ClosingCommentStreamsConfig.tsx
  src/core/client/admin/routes/configure/sections/organization/components/OrganizationContactEmailConfig.tsx
  src/core/client/admin/routes/configure/sections/organization/components/OrganizationNameConfig.tsx
  src/core/client/admin/test/auth/__snapshots__/addEmailAddress.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/createUsername.spec.tsx.snap
  src/core/client/admin/test/auth/addEmailAddress.spec.tsx
  src/core/client/admin/test/auth/createUsername.spec.tsx
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/admin/test/configure/__snapshots__/organization.spec.tsx.snap
  src/core/client/admin/test/configure/general.spec.tsx
  src/core/client/admin/test/configure/organization.spec.tsx
  src/core/client/auth/test/__snapshots__/addEmailAddress.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/createUsername.spec.tsx.snap
  src/core/client/auth/test/addEmailAddress.spec.tsx
  src/core/client/auth/test/createUsername.spec.tsx
  src/core/client/framework/helpers/getStory.ts
  src/core/client/framework/helpers/getStorySettings.ts
  src/core/client/framework/helpers/index.ts
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/mutations/CreateCommentReplyMutation.ts
  src/core/client/stream/mutations/UpdateStoryMutation.ts
  src/core/client/stream/mutations/UpdateStorySettingsMutation.ts
  src/core/client/stream/mutations/index.ts
  src/core/client/stream/tabs/comments/containers/PostCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/configure/components/ConfigureCommentStream.tsx
  src/core/client/stream/tabs/configure/containers/ConfigureCommentStreamContainer.tsx
  src/core/client/stream/tabs/configure/containers/PremodConfigContainer.tsx
  src/core/client/stream/tabs/configure/containers/PremodLinksConfigContainer.tsx
  src/core/client/stream/test/configure/streamConfiguration.spec.tsx
  src/core/client/stream/test/fixtures.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/services/comments/pipeline/phases/storyClosed.spec.ts
Due: none

fix: remove obsolote isClosed in UpdateStory
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

ci: increase no_output_timeout for build
  .circleci/config.yml
Due: yamllint
