Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

feat: add card ui component
  src/core/client/ui/components/Card/Card.css
  src/core/client/ui/components/Card/Card.mdx
  src/core/client/ui/components/Card/Card.spec.tsx
  src/core/client/ui/components/Card/Card.tsx
  src/core/client/ui/components/Card/__snapshots__/Card.spec.tsx.snap
  src/core/client/ui/components/Card/index.ts
  src/core/client/ui/components/index.ts
Due: none

feat: add modqueue components
  src/core/client/admin/components/App.css
  src/core/client/admin/components/App.tsx
  src/core/client/admin/components/MainLayout.css
  src/core/client/admin/components/MainLayout.spec.tsx
  src/core/client/admin/components/MainLayout.tsx
  src/core/client/admin/components/Navigation.tsx
  src/core/client/admin/routeConfig.tsx
  src/core/client/admin/routes/community/components/Community.tsx
  src/core/client/admin/routes/configure/components/Configure.tsx
  src/core/client/admin/routes/configure/components/Misc.tsx
  src/core/client/admin/routes/configure/components/Moderation.spec.tsx
  src/core/client/admin/routes/configure/components/Moderation.tsx
  src/core/client/admin/routes/configure/components/Navigation/Link.css
  src/core/client/admin/routes/moderate/components/InReplyTo.css
  src/core/client/admin/routes/moderate/components/InReplyTo.spec.tsx
  src/core/client/admin/routes/moderate/components/InReplyTo.tsx
  src/core/client/admin/routes/moderate/components/Moderate.css
  src/core/client/admin/routes/moderate/components/Moderate.tsx
  src/core/client/admin/routes/moderate/components/Timestamp.css
  src/core/client/admin/routes/moderate/components/Timestamp.spec.tsx
  src/core/client/admin/routes/moderate/components/Timestamp.tsx
  src/core/client/admin/routes/moderate/components/Username.css
  src/core/client/admin/routes/moderate/components/Username.spec.tsx
  src/core/client/admin/routes/moderate/components/Username.tsx
  src/core/client/admin/routes/stories/components/Stories.tsx
  src/core/client/ui/components/Card/Card.css
  src/core/client/ui/components/Icon/Icon.css
  src/core/client/ui/components/SubBar/NavigationItem.css
  src/core/client/ui/components/SubBar/NavigationItem.tsx
  src/core/client/ui/theme/variables.ts
Due: none

test: add unit tests
  src/core/client/admin/routes/moderate/components/AcceptButton.spec.tsx
  src/core/client/admin/routes/moderate/components/CommentContent.spec.tsx
  src/core/client/admin/routes/moderate/components/ModerateCard.spec.tsx
  src/core/client/admin/routes/moderate/components/Navigation.spec.tsx
  src/core/client/admin/routes/moderate/components/Queue.spec.tsx
  src/core/client/admin/routes/moderate/components/RejectButton.spec.tsx
  src/core/client/admin/routes/moderate/components/Username.spec.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/AcceptButton.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/CommentContent.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/Moderate.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/ModerateCard.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/Navigation.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/Queue.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/RejectButton.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/Username.spec.tsx.snap
  src/core/client/admin/routes/moderate/containers/MarkersContainer.spec.tsx
  src/core/client/admin/routes/moderate/containers/MarkersContainer.tsx
  src/core/client/admin/routes/moderate/containers/__snapshots__/MarkersContainer.spec.tsx.snap
Due: none

feat: add translations
  src/core/client/admin/routes/moderate/components/AcceptButton.tsx
  src/core/client/admin/routes/moderate/components/CommentContent.css
  src/core/client/admin/routes/moderate/components/Moderate.tsx
  src/core/client/admin/routes/moderate/components/ModerateCard.tsx
  src/core/client/admin/routes/moderate/components/Navigation.tsx
  src/core/client/admin/routes/moderate/components/RejectButton.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/Moderate.spec.tsx.snap
  src/core/client/admin/routes/moderate/containers/MarkersContainer.tsx
  src/locales/en-US/admin.ftl
Due: none

test: feature / integration tests for modqueue
  src/core/client/admin/routes/moderate/components/LoadingQueue.tsx
  src/core/client/admin/routes/moderate/components/Moderate.tsx
  src/core/client/admin/routes/moderate/components/ModerateCard.spec.tsx
  src/core/client/admin/routes/moderate/components/ModerateCard.tsx
  src/core/client/admin/routes/moderate/components/SingleModerate.tsx
  src/core/client/admin/routes/moderate/containers/AutoLoadMoreContainer.tsx
  src/core/client/admin/routes/moderate/containers/ModerateCardContainer.tsx
  src/core/client/admin/routes/moderate/containers/RejectedQueueContainer.tsx
  src/core/client/admin/test/configure/auth.spec.tsx
  src/core/client/admin/test/create.tsx
  src/core/client/admin/test/createNodeMock.ts
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/admin/test/moderate/__snapshots__/moderate.spec.tsx.snap
  src/core/client/admin/test/moderate/moderate.spec.tsx
  src/core/client/admin/views/decisionHistory/components/DecisionHistory.spec.tsx
  src/core/client/framework/lib/relay/commitMutationPromise.ts
  src/core/client/framework/testHelpers/byLabelText.ts
  src/core/client/framework/testHelpers/byTestID.ts
  src/core/client/framework/testHelpers/byText.ts
  src/core/client/framework/testHelpers/getByTestID.ts
  src/core/client/framework/testHelpers/getByText.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/framework/testHelpers/matchText.ts
  src/core/client/framework/testHelpers/waitUntilThrow.ts
  src/core/client/framework/testHelpers/within.ts
  src/core/client/test/mocks.ts
  src/core/client/test/setupTestFramework.ts
Due: none

feat: single comment view
  src/core/client/admin/components/DecisionHistoryButton.tsx
  src/core/client/admin/helpers/getQueueConnection.ts
  src/core/client/admin/routeConfig.tsx
  src/core/client/admin/routes/moderate/components/SingleModerate.css
  src/core/client/admin/routes/moderate/components/SingleModerate.spec.tsx
  src/core/client/admin/routes/moderate/components/SingleModerate.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/SingleModerate.spec.tsx.snap
  src/core/client/admin/routes/moderate/containers/SingleModerateContainer.tsx
  src/core/client/admin/test/decisionHistory/__snapshots__/decisionHistory.spec.tsx.snap
  src/core/client/admin/views/decisionHistory/components/DecisionHistory.tsx
  src/core/client/admin/views/decisionHistory/components/GoToCommentLink.tsx
  src/core/client/admin/views/decisionHistory/components/__snapshots__/GoToCommentLink.spec.tsx.snap
  src/core/client/admin/views/decisionHistory/containers/DecisionHistoryContainer.tsx
  src/core/client/admin/views/decisionHistory/containers/DecisionHistoryItemContainer.tsx
  src/core/client/admin/views/decisionHistory/queries/DecisionHistoryQuery.tsx
  src/core/client/ui/components/SubBar/SubBar.css
  src/core/client/ui/components/SubBar/SubBar.tsx
  src/locales/en-US/admin.ftl
Due: none

test: fix remaining tests
  src/core/client/admin/routes/moderate/components/__snapshots__/Moderate.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/ModerateCard.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/Queue.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/SingleModerate.spec.tsx.snap
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
  src/core/client/admin/views/decisionHistory/components/__snapshots__/DecisionHistory.spec.tsx.snap
Due: none

fix: remove body count marker
  src/core/client/admin/routes/moderate/containers/MarkersContainer.spec.tsx
  src/core/client/admin/routes/moderate/containers/MarkersContainer.tsx
  src/core/client/admin/routes/moderate/containers/__snapshots__/MarkersContainer.spec.tsx.snap
  src/core/client/admin/test/fixtures.ts
Due: none

feature: support TextMatchOptions
  package-lock.json
  package.json
  src/core/client/framework/testHelpers/byLabelText.ts
  src/core/client/framework/testHelpers/byTestID.ts
  src/core/client/framework/testHelpers/byText.ts
  src/core/client/framework/testHelpers/matchText.ts
  src/core/client/framework/testHelpers/within.ts
Due: none

feat: testHelper toJSON
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
  src/core/client/admin/test/moderate/moderate.spec.tsx
  src/core/client/framework/testHelpers/index.ts
  src/core/client/framework/testHelpers/toJSON.tsx
  src/core/client/framework/testHelpers/within.ts
Due: none

fix: remove accidently added package
  package-lock.json
  package.json
Due: none

chore: cleanup + comments
  src/core/client/framework/testHelpers/toJSON.tsx
Due: none

test: fix test
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
Due: none

chore: better types
  src/core/client/framework/testHelpers/byLabelText.ts
  src/core/client/framework/testHelpers/byTestID.ts
  src/core/client/framework/testHelpers/byText.ts
  src/core/client/framework/testHelpers/matchText.ts
Due: none

chore: tiny fix
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
Due: none

chore: refactor decision history test
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
Due: none

fix: adjust to recent server changes
  src/core/client/admin/routes/moderate/components/CommentContent.tsx
Due: none

feat: refactored bridge
  client/coral-embed/src/Bridge.js
  client/coral-embed/src/SnackBar.js
  client/coral-embed/src/Stream.js
  client/coral-embed/src/StreamInterface.js
  client/coral-embed/src/index.js
  client/coral-embed/src/onIntersect.js
  client/coral-embed/src/wrapBridge.js
  package.json
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

add localization for QuestionBoxBuilder title, add PropTypes for QuestionBoxBuilder
  client/coral-embed-stream/src/tabs/configure/components/QuestionBoxBuilder.js
  client/coral-embed-stream/src/tabs/configure/components/Settings.js
  locales/de.yml
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

fix: marking suspect and banned words
  src/core/client/admin/routes/moderate/components/CommentContent.tsx
Due: none

fix: fixed up some static headers
  config.js
  middleware/staticFiles.js
  package.json
  routes/index.js
Due: git-exec-and-restage eslint --fix --

fix: moved intersection observer out of chunk
  client/coral-embed/src/Bridge.js
  client/coral-embed/src/index.js
Due: git-exec-and-restage eslint --fix --

fix: fixed misplaced "!"
  middleware/staticFiles.js
Due: git-exec-and-restage eslint --fix --

Embed Optimizations (#2121)
  client/coral-embed/src/Bridge.js
  client/coral-embed/src/SnackBar.js
  client/coral-embed/src/Stream.js
  client/coral-embed/src/StreamInterface.js
  client/coral-embed/src/index.js
  client/coral-embed/src/onIntersect.js
  client/coral-embed/src/wrapBridge.js
  config.js
  middleware/staticFiles.js
  package.json
  routes/index.js
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

added version note
  docs/source/integrating/asset-management.md
Due: none

renamed asset management to cms-integration
  docs/_config.yml
  docs/source/01-05-pre-launch-checklist.md
  docs/source/integrating/cms-integration.md
Due: yamllint

added link to asset scraping
  docs/source/integrating/cms-integration.md
Due: none

feat: Embed defer login/-out until ready
  src/core/client/embed/StreamEmbed.spec.ts
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/decorators/withEventEmitter.spec.ts
  src/core/client/embed/decorators/withEventEmitter.ts
  src/core/client/framework/lib/bootstrap/SendPymReady.tsx
  src/core/client/framework/lib/bootstrap/createManaged.tsx
Due: none

fix: make remove work with lazy render
  package-lock.json
  package.json
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/decorators/withPymStorage.spec.ts
  src/core/client/embed/onIntersect.ts
  src/core/client/embed/testUtils/InMemoryStorage.spec.ts
  src/core/client/embed/testUtils/InMemoryStorage.ts
  src/core/client/embed/testUtils/__snapshots__/InMemoryStorage.spec.ts.snap
  src/core/client/embed/testUtils/index.ts
  src/types/intersection-observer.d.ts
Due: none

fix: typo
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/onIntersect.ts
Due: none

fix: another typo
  src/core/client/embed/decorators/withEventEmitter.spec.ts
Due: none

fix: test
  src/core/client/embed/utils/prefixStorage.spec.ts
Due: none

Docs update (#2120)
  docs/_config.yml
  docs/source/01-05-pre-launch-checklist.md
  docs/source/integrating/cms-integration.md
Due: yamllint

chore: replace query-string for querystringify
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
  src/core/client/auth/local/initLocalState.ts
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/Talk.ts
  src/core/client/embed/__snapshots__/StreamEmbed.spec.ts.snap
  src/core/client/embed/decorators/withSetCommentID.ts
  src/core/client/embed/onIntersect.ts
  src/core/client/embed/tsconfig.json
  src/core/client/framework/utils/modifyQuery.ts
  src/core/client/framework/utils/parseHashQuery.ts
  src/core/client/stream/listeners/OnPymSetCommentID.spec.tsx
  src/core/client/stream/local/initLocalState.ts
  src/core/client/stream/mutations/SetCommentIDMutation.spec.ts
  src/core/common/utils/queryStringify.ts
  src/types/querystringify.d.ts
Due: none

fix: types
  package.json
  src/core/client/embed/tsconfig.json
  src/core/client/tsconfig.json
Due: none

chore: small refactor
  src/core/client/auth/local/initLocalState.ts
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/Talk.ts
  src/core/client/embed/decorators/withSetCommentID.ts
  src/core/client/framework/utils/modifyQuery.ts
  src/core/client/framework/utils/parseHashQuery.ts
  src/core/client/stream/listeners/OnPymSetCommentID.spec.tsx
  src/core/client/stream/local/initLocalState.ts
  src/core/client/stream/mutations/SetCommentIDMutation.spec.ts
  src/core/common/utils/index.ts
  src/core/common/utils/parseQuery.ts
  src/core/common/utils/stringifyQuery.ts
Due: none

feat: added moderation queue edge to accept/reject comment payloads
  src/core/server/graph/tenant/resolvers/AcceptCommentPayload.ts
  src/core/server/graph/tenant/resolvers/ModerationQueues.ts
  src/core/server/graph/tenant/resolvers/Query.ts
  src/core/server/graph/tenant/resolvers/RejectCommentPayload.ts
  src/core/server/graph/tenant/resolvers/Story.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
Due: none
