Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

fix: removed queue that got duplicated via rebase
  src/core/server/services/queue/Task.ts
  src/core/server/services/queue/index.ts
  src/core/server/services/queue/tasks/Task.ts
  src/core/server/services/queue/tasks/mailer/content.ts
  src/core/server/services/queue/tasks/mailer/index.ts
  src/core/server/services/queue/tasks/mailer/templates/forgot-password.html
  src/core/server/services/queue/tasks/scraper/index.ts
  src/core/server/services/queue/tasks/scraper/rules/modified.ts
  src/core/server/services/queue/tasks/scraper/rules/section.ts
Due: none

fix: prevent error when action counts are empty
  src/core/server/models/action.ts
  src/core/server/services/stories/index.ts
Due: none

[next] Story Mutations (#2055)
  src/core/client/stream/mutations/RemoveCommentReactionMutation.ts
  src/core/client/stream/mutations/index.ts
  src/core/client/stream/tabs/comments/containers/ReactionButtonContainer.tsx
  src/core/server/app/index.ts
  src/core/server/app/middleware/context/tenant.ts
  src/core/server/graph/tenant/context.ts
  src/core/server/graph/tenant/loaders/stories.ts
  src/core/server/graph/tenant/mutators/comment.ts
  src/core/server/graph/tenant/mutators/index.ts
  src/core/server/graph/tenant/mutators/settings.ts
  src/core/server/graph/tenant/mutators/story.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/index.ts
  src/core/server/models/action.ts
  src/core/server/models/comment.ts
  src/core/server/models/story.ts
  src/core/server/models/tenant.ts
  src/core/server/queue/Task.ts
  src/core/server/queue/index.ts
  src/core/server/queue/tasks/Task.ts
  src/core/server/queue/tasks/mailer/content.ts
  src/core/server/queue/tasks/mailer/index.ts
  src/core/server/queue/tasks/mailer/templates/forgot-password.html
  src/core/server/queue/tasks/scraper/index.ts
  src/core/server/services/comments/actions.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/stories/index.ts
  src/core/server/services/stories/scraper/index.ts
  src/core/server/services/stories/scraper/rules/modified.ts
  src/core/server/services/stories/scraper/rules/section.ts
  src/core/server/services/tenant/index.ts
Due: none

fix: fixed install route
  package-lock.json
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/index.ts
Due: none

fix: fixed install route (#2064)
  package-lock.json
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/index.ts
Due: none

Fix button translation
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Version 4.6.6
  package.json
Due: none

feat: added perspective feedback
  plugins/talk-plugin-toxic-comments/README.md
  plugins/talk-plugin-toxic-comments/package.json
  plugins/talk-plugin-toxic-comments/server/config.js
  plugins/talk-plugin-toxic-comments/server/hooks.js
  plugins/talk-plugin-toxic-comments/server/perspective.js
Due: git-exec-and-restage eslint --fix --

fix: removed url parsing
  plugins/talk-plugin-toxic-comments/server/perspective.js
Due: git-exec-and-restage eslint --fix --

fix(batchComments): Set statuses to null explicitly in intial and loadmore calls to fetch ALL comments, add a loading state
  client/coral-admin/src/containers/UserDetail.js
Due: git-exec-and-restage eslint --fix --

fix: renamed snake case to camel case
  src/core/server/graph/tenant/resolvers/AuthIntegrations.ts
  src/core/server/graph/tenant/resolvers/Comment.ts
  src/core/server/graph/tenant/resolvers/CommentCounts.ts
  src/core/server/graph/tenant/resolvers/OIDCAuthIntegration.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/resolvers/profile.ts
  src/core/server/graph/tenant/resolvers/query.ts
  src/core/server/graph/tenant/resolvers/story.ts
  src/core/server/graph/tenant/resolvers/user.ts
Due: none

fix: changed case for mutators
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/mutators/Settings.ts
  src/core/server/graph/tenant/mutators/Story.ts
  src/core/server/graph/tenant/mutators/index.ts
Due: none

fix: renamed all snake case to camel case for db
  src/core/server/app/middleware/passport/strategies/facebook.ts
  src/core/server/app/middleware/passport/strategies/google.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/resolvers/Comment.ts
  src/core/server/graph/tenant/resolvers/story.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/action.spec.ts
  src/core/server/models/action.ts
  src/core/server/models/comment.ts
  src/core/server/models/story.ts
  src/core/server/models/tenant.ts
  src/core/server/models/user.ts
  src/core/server/queue/Task.ts
  src/core/server/queue/tasks/Task.ts
  src/core/server/queue/tasks/mailer/index.ts
  src/core/server/queue/tasks/scraper/index.ts
  src/core/server/services/comments/actions.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/index.spec.ts
  src/core/server/services/comments/moderation/index.ts
  src/core/server/services/comments/moderation/phases/commentLength.ts
  src/core/server/services/comments/moderation/phases/karma.ts
  src/core/server/services/comments/moderation/phases/links.ts
  src/core/server/services/comments/moderation/phases/spam.ts
  src/core/server/services/comments/moderation/phases/storyClosed.spec.ts
  src/core/server/services/comments/moderation/phases/storyClosed.ts
  src/core/server/services/comments/moderation/phases/toxic.ts
  src/core/server/services/comments/moderation/phases/wordList.ts
  src/core/server/services/stories/index.ts
  src/core/server/services/tenant/cache/index.ts
  src/core/server/services/tenant/index.ts
Due: none

feat: added support for comment revisions + split comment actions
  src/core/client/stream/tabs/comments/containers/ReactionButtonContainer.tsx
  src/core/server/graph/tenant/loaders/comments.ts
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/resolvers/Comment.ts
  src/core/server/graph/tenant/resolvers/CommentRevision.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/story.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/action/comment.spec.ts
  src/core/server/models/action/comment.ts
  src/core/server/models/comment.ts
  src/core/server/models/story.ts
  src/core/server/models/tenant.ts
  src/core/server/models/user.ts
  src/core/server/services/comments/actions.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/index.spec.ts
  src/core/server/services/comments/moderation/index.ts
  src/core/server/services/comments/moderation/phases/commentLength.ts
  src/core/server/services/comments/moderation/phases/karma.ts
  src/core/server/services/comments/moderation/phases/links.ts
  src/core/server/services/comments/moderation/phases/spam.ts
  src/core/server/services/comments/moderation/phases/toxic.ts
  src/core/server/services/comments/moderation/phases/wordList.ts
  src/core/server/services/stories/index.ts
Due: none

fix: updated tests
  src/core/client/stream/test/comments/editComment.spec.tsx
  src/core/client/stream/test/fixtures.ts
  src/core/server/models/action/__snapshots__/comment.spec.ts.snap
Due: none

feat: implemented CommentModerationAction
  src/core/server/graph/tenant/loaders/actions.ts
  src/core/server/graph/tenant/loaders/index.ts
  src/core/server/graph/tenant/mutators/Actions.ts
  src/core/server/graph/tenant/mutators/index.ts
  src/core/server/graph/tenant/resolvers/Comment.ts
  src/core/server/graph/tenant/resolvers/CommentModerationAction.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/resolvers/user.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/action/moderation/comment.ts
  src/core/server/models/comment.ts
  src/core/server/services/moderation/index.ts
Due: none

fix: fixed case issues
  src/core/server/graph/tenant/loaders/Actions.ts
  src/core/server/graph/tenant/loaders/Auth.ts
  src/core/server/graph/tenant/loaders/Comments.ts
  src/core/server/graph/tenant/loaders/Stories.ts
  src/core/server/graph/tenant/loaders/Users.ts
  src/core/server/graph/tenant/loaders/index.ts
  src/core/server/graph/tenant/resolvers/Mutation.ts
  src/core/server/graph/tenant/resolvers/Profile.ts
  src/core/server/graph/tenant/resolvers/Query.ts
  src/core/server/graph/tenant/resolvers/Story.ts
  src/core/server/graph/tenant/resolvers/User.ts
Due: none

Version 4.6.6 (#2066)
  package.json
Due: none

feat: enabled WeakMap for wordList processsing
  package-lock.json
  package.json
  src/core/server/services/comments/moderation/wordList.ts
Due: none

chore: npm audit
  package-lock.json
  package.json
Due: none

Update ToxicDetail.js
  plugins/talk-plugin-toxic-comments/client/components/ToxicDetail.js
Due: git-exec-and-restage eslint --fix --

fix: ensure iframe is big enough for add email dialog
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fix: lint
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

Add Spanish translations for blank comment history
  locales/es.yml
Due: yamllint

refactor(userdetail): Only load one initial comment, switch to 50 comments/batch, create shared fragment
  client/coral-admin/src/containers/UserDetail.js
Due: git-exec-and-restage eslint --fix --

test: add integration tests for configure auth
  src/core/client/admin/routes/configure/components/ConfigBox.tsx
  src/core/client/admin/routes/configure/components/Configure.tsx
  src/core/client/admin/routes/configure/sections/auth/components/ConfigBoxWithToggleField.tsx
  src/core/client/admin/routes/configure/sections/auth/components/DisplayNamesConfig.tsx
  src/core/client/admin/routes/configure/sections/auth/components/FacebookConfig.tsx
  src/core/client/admin/routes/configure/sections/auth/components/RegistrationField.tsx
  src/core/client/admin/routes/configure/sections/auth/components/TargetFilterField.tsx
  src/core/client/admin/test/configure/__snapshots__/auth.spec.tsx.snap
  src/core/client/admin/test/configure/auth.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/framework/testHelpers/inputPredicate.ts
  src/core/client/framework/testHelpers/limitSnapshotTo.ts
Due: none

test: more integration tests
  src/core/client/admin/routes/configure/sections/auth/components/SSOKeyField.tsx
  src/core/client/admin/test/configure/__snapshots__/auth.spec.tsx.snap
  src/core/client/admin/test/configure/auth.spec.tsx
Due: none

adding rtd requiements
  rtd_requirements.txt
Due: none

moving rtd requirements
  docs/rtd/rtd_requirements.txt
Due: none

test: add oidc integration test
  src/core/client/admin/routes/configure/components/__snapshots__/Configure.spec.tsx.snap
  src/core/client/admin/routes/configure/sections/auth/components/OIDCConfig.tsx
  src/core/client/admin/test/configure/__snapshots__/auth.spec.tsx.snap
  src/core/client/admin/test/configure/auth.spec.tsx
  src/core/client/framework/lib/validation.tsx
Due: none

feat: generate sso key initially
  src/core/server/models/tenant.ts
Due: none

fix: import fetchQuery from correct package
  src/core/client/framework/lib/relay/fetchQuery.ts
Due: none

fix: admin url
  src/core/client/framework/helpers/urls.tsx
Due: none

fix: set timezone to utc when testing
  scripts/test.js
  src/core/client/admin/test/configure/__snapshots__/auth.spec.tsx.snap
Due: git-exec-and-restage eslint --fix --

add readthedocs.yml
  docs/rtd/rtd_requirements.txt
  readthedocs.yml
Due: yamllint

set py ver to 3.6
  readthedocs.yml
Due: yamllint
