Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Print npm version
  .github/workflows/build-and-test.yml
Due: yamllint

Comments + debugging tag name errors
  .github/workflows/build-test-deploy.yml
Due: yamllint

Adds build-test-deploy.yml workflow
  .github/workflows/build-test-deploy.yml
Due: yamllint

Adds npm run build step and some comments
  .github/workflows/build-and-test.yml
Due: yamllint

try using secrets: inherit
  .github/workflows/test.yml
Due: yamllint

Add gcloud auth steps
  .github/workflows/build-test-deploy.yml
Due: yamllint

Try adding REPO_PATCHED_DEPLOY_KEY
  .github/workflows/install-npm-dependencies.yml
Due: yamllint

Use npm8
  .github/workflows/build-and-test.yml
Due: yamllint

Add a step for npm run test
  .github/workflows/test.yml
Due: yamllint

Comment the unit tests to test the npm run build step
  .github/workflows/build-and-test.yml
Due: yamllint

Add a lint.yml, try using a needs: option"
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: yamllint

Comment unit tests + verify release version while testing
  .github/workflows/build-test-deploy.yml
Due: yamllint

Try putting it in the top level workflow
  .github/workflows/test.yml
Due: yamllint

Uses a composite workflow instead
  .github/workflows/test.yml
Due: yamllint

Write out the Build tag push for RCs
  .github/workflows/test.yml
Due: yamllint

Test deploying static assets - uncommented the push to gcs step
  .github/workflows/build-test-deploy.yml
Due: yamllint

Try building and pushing the image
  .github/workflows/test.yml
Due: yamllint

Test deploying static assets
  .github/workflows/build-test-deploy.yml
Due: yamllint

Update README.md with GHA build-and-test status
  README.md
Due: none

Remove .circle/config.yml
  .circleci/config.yml
Due: yamllint

Explicitly pass --auth-token flag and provide the GHA secret
  .github/workflows/build-test-deploy.yml
Due: yamllint

Set image pushes to true, after testing
  .github/workflows/build-test-deploy.yml
Due: yamllint

Clean up step names
  .github/workflows/build-and-test.yml
  .github/workflows/build-test-deploy.yml
Due: yamllint

walk a cursor to find stories to archive
  package.json
  src/core/server/cron/fillArchivingQueue.ts
  src/core/server/models/story/story.ts
Due: none

include scanned metric in retrieveStoriesToBeArchived log
  src/core/server/models/story/story.ts
Due: none

edit readme to cause diff so we can test GHA
  README.md
Due: none

edit readme to make diff
  README.md
Due: none

fix import check for protected domain on frontend
  src/core/client/admin/components/BanModal.tsx
  src/core/server/services/tenant/tenant.ts
Due: none

test protected domains on back end
  src/core/server/services/tenant/tenant.spec.ts
Due: none

test protected domains on frontend
  src/core/client/admin/components/BanModal.spec.tsx
Due: none

more translations
  src/locales/hr-HR/stream.ftl
Due: none

init ecosystem
  ecosystem.config.js
  src/locales/hr-HR/stream.ftl
Due: git-exec-and-restage eslint --fix --

initial commit
  src/core/client/admin/components/ConversationModal/ConversationModalRepliesContainer.tsx
  src/core/client/framework/lib/intersection/IntersectionContext.tsx
  src/core/client/stream/local/initLocalState.ts
  src/core/client/stream/local/local.graphql
  src/core/client/stream/tabs/Comments/Comment/CommentContainer.tsx
  src/core/client/stream/tabs/Comments/Comment/ReplyCommentForm/CreateCommentReplyMutation.ts
  src/core/client/stream/tabs/Comments/PermalinkView/ConversationThreadContainer.tsx
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkViewContainer.tsx
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkViewQuery.tsx
  src/core/client/stream/tabs/Comments/ReplyList/LocalReplyListContainer.tsx
  src/core/client/stream/tabs/Comments/ReplyList/ReplyList.tsx
  src/core/client/stream/tabs/Comments/ReplyList/ReplyListCommentContainer.tsx
  src/core/client/stream/tabs/Comments/ReplyList/ReplyListContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabCommentContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.css
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/PostCommentForm/CreateCommentMutation.ts
  src/core/client/stream/tabs/Comments/Stream/Subscriptions/CommentEnteredSubscription.ts
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabCommentContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/helpers/determineDepthTill.ts
  src/core/server/graph/loaders/Comments.ts
  src/core/server/graph/schema/schema.graphql
Due: none

fix viewnews; listen to connectionstatus
  src/core/client/stream/tabs/Comments/ReplyList/ReplyListViewNewMutation.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabViewNewMutation.tsx
Due: none

translations and checkmark
  src/core/client/stream/tabs/Comments/Comment/BadgeTagContainer.tsx
  src/locales/hr-HR/stream.ftl
Due: none

update styles; simplify connection status; update refreshStream for permalink
  src/core/client/framework/lib/network/createManagedSubscriptionClient.ts
  src/core/client/framework/lib/network/useSubscriptionConnectionStatus.ts
  src/core/client/stream/tabs/Comments/PermalinkView/ConversationThreadContainer.tsx
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkViewQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.css
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
Due: none

adjustments to match design
  src/core/client/admin/components/BanModal.css
  src/core/client/admin/components/BanModal.tsx
Due: none

update refreshStream args with defaultVals and where applied
  src/core/client/stream/tabs/Comments/Comment/CommentContainer.tsx
  src/core/client/stream/tabs/Comments/Comment/ReplyCommentForm/CreateCommentReplyMutation.ts
  src/core/client/stream/tabs/Comments/ReplyList/ReplyListContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabCommentContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/PostCommentForm/CreateCommentMutation.ts
  src/core/client/stream/tabs/Comments/Stream/Subscriptions/CommentEnteredSubscription.ts
  src/core/client/stream/tabs/Comments/helpers/determineDepthTill.ts
Due: none

add divider for refresh button plus text localization
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.css
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/locales/en-US/stream.ftl
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
