Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Remove rich text from default for now
  plugins.default.json
Due: none

removed rich text from defaults
  config.js
  docs/source/_data/plugins.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Fix typos
  plugins/talk-plugin-moderation-actions/client/components/ModerationActions.js
  test/e2e/page_objects/embedStream.js
Due: git-exec-and-restage eslint --fix --

Update version to 4.3.0
  package.json
Due: none

When comment reply is flattened, prefill comment with @<parent username>.
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/ReplyBox.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
Due: git-exec-and-restage eslint --fix --

Click Outside
  docs/source/05-03-Plugins-API.md
Due: none

More
  docs/source/05-03-Plugins-API.md
Due: none

Better detect tag ancestors
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Forbidden component
  client/coral-admin/src/components/Forbidden.css
  client/coral-admin/src/components/Forbidden.js
  client/coral-admin/src/containers/Layout.js
  client/coral-admin/src/routes/Moderation/components/ModerationQueue.css
  views/admin.ejs
Due: git-exec-and-restage eslint --fix --

Working
  client/coral-admin/src/components/Layout.css
  views/admin.ejs
Due: none

Add margin to contentEditable
  plugins/talk-plugin-rich-text/client/components/Editor.css
Due: none

Verification link copy
  errors.js
  locales/en.yml
  routes/api/v1/account.js
  services/users.js
Due: git-exec-and-restage eslint --fix --, yamllint

Adding CommentNotFound Component
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentNotFound.js
Due: git-exec-and-restage eslint --fix --

Implement AdminCommentContent for text and html
  client/coral-admin/src/components/IfHasLink.js
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-admin/src/utils/contentRenderer.js
  client/coral-admin/src/utils/index.js
  client/coral-framework/components/AdminCommentContent.css
  client/coral-framework/components/AdminCommentContent.js
  client/coral-framework/utils/matchLinks.js
  plugin-api/beta/client/components/index.js
  plugins/talk-plugin-rich-text/client/components/AdminCommentContent.css
  plugins/talk-plugin-rich-text/client/components/AdminCommentContent.js
  plugins/talk-plugin-rich-text/client/containers/AdminCommentContent.js
  plugins/talk-plugin-rich-text/client/index.js
Due: git-exec-and-restage eslint --fix --

Typo
  client/coral-framework/components/AdminCommentContent.css
Due: none

Make bold more bold
  client/coral-framework/components/AdminCommentContent.css
Due: none

Move Plugin Client and Slots docs to API section
  docs/_config.yml
  docs/source/api/client.md
  docs/source/api/server.md
  docs/source/api/slots.md
Due: yamllint

Remove unused
  client/coral-admin/src/utils/contentRenderer.js
Due: git-exec-and-restage eslint --fix --

Add comments
  client/coral-framework/components/AdminCommentContent.js
Due: git-exec-and-restage eslint --fix --

improved introspection
  .nodemon.json
  docs/.gitignore
  docs/source/api/graphql.md
  scripts/generateIntrospectionResult.js
Due: git-exec-and-restage eslint --fix --

improved static template resolve in development
  middleware/staticTemplate.js
Due: git-exec-and-restage eslint --fix --

swapped manual dynamic chunked loader with readt-loadable
  client/coral-embed-stream/src/tabs/configure/components/QuestionBoxBuilder.js
  client/coral-embed-stream/src/tabs/configure/components/loadable/QuestionBoxBuilder.css
  client/coral-embed-stream/src/tabs/configure/components/loadable/QuestionBoxBuilder.js
  package.json
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Create 'when you've installed talk' tutorial
  docs/source/05-03-when-youve-installed-talk
Due: none

Specify Subject Prefix config
  plugins/talk-plugin-notifications/README.md
Due: none

Refactor n active state
  plugins/talk-plugin-rich-text/client/components/Button.css
  plugins/talk-plugin-rich-text/client/components/Editor.css
  plugins/talk-plugin-rich-text/client/components/Editor.js
  plugins/talk-plugin-rich-text/client/components/rte/Button.css
  plugins/talk-plugin-rich-text/client/components/rte/Button.js
  plugins/talk-plugin-rich-text/client/components/rte/RTE.css
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/Toolbar.css
  plugins/talk-plugin-rich-text/client/components/rte/Toolbar.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Bold.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Italic.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/index.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/utils.js
Due: git-exec-and-restage eslint --fix --

Translations
  plugins/talk-plugin-rich-text/client/components/Editor.js
  plugins/talk-plugin-rich-text/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Include translations
  plugins/talk-plugin-rich-text/client/index.js
Due: git-exec-and-restage eslint --fix --

Clarifying importance of order in plugins.json
  docs/source/api/server.md
Due: none

Moved loadable to the markdown editor
  client/coral-embed-stream/src/tabs/configure/components/QuestionBoxBuilder.css
  client/coral-embed-stream/src/tabs/configure/components/QuestionBoxBuilder.js
  client/coral-embed-stream/src/tabs/configure/components/loadable/QuestionBoxBuilder.js
  client/coral-framework/components/MarkdownEditor.js
  client/coral-framework/components/loadable/MarkdownEditor.css
  client/coral-framework/components/loadable/MarkdownEditor.js
Due: git-exec-and-restage eslint --fix --

Fixed up clean script
  package.json
Due: none

Formatting updates and add to sidebar
  docs/_config.yml
  docs/source/05-03-when-youve-installed-talk
  docs/source/05-03-when-youve-installed-talk.md
Due: yamllint

More formatting
  docs/source/05-03-when-youve-installed-talk.md
Due: none

More tweaks to formatting
  docs/source/05-03-when-youve-installed-talk.md
Due: none

Removing styles from sign in
  plugins/talk-plugin-auth/client/stream/components/SetUsernameDialog.css
  plugins/talk-plugin-auth/client/stream/components/SetUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Working on containers
  docs/source/_data/introspection.json
  plugins/talk-plugin-auth/client/login/constants.js
  plugins/talk-plugin-auth/client/login/reducer.js
  plugins/talk-plugin-auth/client/stream/components/SetUsernameDialog.css
  plugins/talk-plugin-auth/client/stream/components/SetUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Calc added
  client/coral-admin/src/components/Layout.css
Due: none

wip
  plugins/talk-plugin-auth/client/login/actions.js
  plugins/talk-plugin-auth/client/login/components/SignUp.js
  plugins/talk-plugin-auth/client/login/constants.js
  plugins/talk-plugin-auth/client/login/containers/SignUp.js
  plugins/talk-plugin-auth/client/login/reducer.js
Due: git-exec-and-restage eslint --fix --

Tweak on tutorial
  docs/source/05-03-when-youve-installed-talk.md
Due: none

Scraper improvements
  config.js
  docs/source/02-02-advanced-configuration.md
  jobs/scraper/index.js
  jobs/scraper/rules/modified.js
  jobs/scraper/rules/section.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fixed introspection bug
  scripts/generateIntrospectionResult.js
Due: git-exec-and-restage eslint --fix --
