Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Use standard buttons to fix IOS bug
  client/coral-framework/styles/reset.css
  client/coral-ui/components/BareButton.js
  client/coral-ui/components/Dropdown.css
  client/coral-ui/components/Dropdown.js
  client/coral-ui/components/Option.css
  client/coral-ui/components/Option.js
Due: git-exec-and-restage eslint --fix --

updates
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Workaround RTE Button focus bug on IOS
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/api.js
Due: git-exec-and-restage eslint --fix --

updated yarn.lock
  yarn.lock
Due: none

progress
  client/coral-admin/src/actions/rejectUsernameDialog.js
  client/coral-admin/src/components/RejectUsernameDialog.css
  client/coral-admin/src/components/RejectUsernameDialog.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/constants/rejectUsernameDialog.js
  client/coral-admin/src/containers/Layout.js
  client/coral-admin/src/containers/RejectUsernameDialog.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-admin/src/reducers/index.js
  client/coral-admin/src/reducers/rejectUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

changes and updates to the e2e
  nightwatch.conf.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

çhanges
  client/coral-admin/src/routes/Moderation/graphql.js
  test/e2e/page_objects/popup.js
  test/e2e/specs/05_banUser.js
Due: git-exec-and-restage eslint --fix --

Activate Websocket and add browser console logging
  bin/cli-assets
  bin/cli-token
  bin/cli-users
  client/coral-admin/src/routes/Moderation/graphql.js
  package.json
  scripts/e2e.js
  test/e2e/helpers/SortedWindowHandler.js
  test/e2e/helpers/printBrowserLog.js
  test/e2e/page_objects/embedStream.js
  test/e2e/specs/01_install.js
  test/e2e/specs/02_admin.js
  test/e2e/specs/03_embedStream.js
  test/e2e/specs/04_userStatus.js
  test/e2e/specs/05_banUser.js
  test/e2e/specs/06_suspendUser.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Fix warnings
  client/coral-framework/components/TalkProvider.js
  plugins/talk-plugin-auth/client/login/components/SignUp.js
Due: git-exec-and-restage eslint --fix --

Typo
  test/e2e/helpers/printBrowserLog.js
Due: git-exec-and-restage eslint --fix --

Reject Username fully working
  client/coral-admin/src/components/RejectUsernameDialog.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/RejectUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Translations
  client/coral-admin/src/components/RejectUsernameDialog.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Adding translations
  client/coral-admin/src/components/RejectUsernameDialog.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

if username changed, reject username should be disabled
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

remove unused method
  client/coral-admin/src/components/BanUserDialog.js
  client/coral-admin/src/containers/BanUserDialog.js
Due: git-exec-and-restage eslint --fix --

Added missing translation pt_BR
  locales/pt_BR.yml
Due: yamllint

fix to target handler
  client/coral-admin/src/components/BanUserDialog.js
Due: git-exec-and-restage eslint --fix --

Fixed double encoding
  views/auth-callback.njk
Due: none

Fix DropDown display bug
  client/coral-admin/src/routes/Community/components/People.css
  client/coral-admin/src/routes/Community/components/People.js
  client/coral-admin/src/routes/Stories/components/Stories.css
  client/coral-admin/src/routes/Stories/components/Stories.js
  client/coral-ui/components/Dropdown.css
  client/coral-ui/components/Option.css
Due: git-exec-and-restage eslint --fix --

Translation Fixes
  plugins/talk-plugin-auth/client/translations.yml
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Update copy
  locales/en.yml
Due: yamllint

resolved custom css loading issue
  views/embed/stream.njk
  views/login.njk
  views/templates/account.njk
  views/templates/base.njk
Due: none

Small typo
  views/embed/stream.njk
  views/login.njk
  views/templates/account.njk
Due: none

Small tweaks
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

always call the rest logout command, don't vomit on the error
  client/coral-framework/actions/auth.js
  middleware/authorization.js
Due: git-exec-and-restage eslint --fix --

cleanup
  views/api/graphiql.njk
Due: none

bug: fixed graphiql style, upgraded
  views/api/graphiql.njk
Due: none

updated styles
  client/coral-admin/src/components/RejectUsernameDialog.css
  client/coral-admin/src/components/RejectUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

feat: humanize karma number
  client/coral-admin/src/components/CountBadge.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-framework/helpers/numbers.js
Due: git-exec-and-restage eslint --fix --

GraphiQL Fixes (#1671)
  views/api/graphiql.njk
Due: none

Use Markdown for the "asset is closed" message.
  client/coral-admin/src/routes/Configure/components/StreamSettings.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
Due: git-exec-and-restage eslint --fix --

Ignore already exists error
  client/coral-admin/src/containers/RejectUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Fix unexpected error
  client/coral-admin/src/containers/RejectUsernameDialog.js
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Add scraper proxy support
  config.js
  docs/source/02-02-advanced-configuration.md
  jobs/scraper/index.js
Due: git-exec-and-restage eslint --fix --

Add scraper proxy support
  docs/source/02-02-advanced-configuration.md
  package.json
  yarn.lock
Due: none

updated - getUserStatusArray
  client/coral-admin/src/components/UserDetail.js
  client/coral-framework/utils/user.js
Due: git-exec-and-restage eslint --fix --

Remove pell from plugin directory
  docs/source/plugin/talk-plugin-rich-text-pell.md
Due: none

review: removed pell refernce
  docs/source/integrating/configuring-comment-stream.md
Due: none

Remove pell from plugin directory (#1675)
  docs/source/integrating/configuring-comment-stream.md
  docs/source/plugin/talk-plugin-rich-text-pell.md
Due: none
