Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

add 'text-align: left;' to comment embed code
  client/src/core/client/stream/tabs/Comments/Comment/ModerationDropdown/CopyCommentEmbedCodeContainer.tsx
Due: none

Revert "set max old space size in test to prevent runner overwrite"
  server/package.json
Due: none

Update 01-01-installation.md
  docs/source/01-01-installation.md
Due: none

set --no-compilation-cache on jest server tests
  server/package.json
Due: none

set max old space size for gha and jest accordingly
  .github/workflows/build-and-test.yml
  server/package.json
Due: yamllint

disable cache on server tests
  .github/workflows/build-and-test.yml
Due: yamllint

upgrade to jest 29 (and everything else that came with it)
  server/config/jest/client.baseConfig.js
  server/config/jest/server.cache.config.js
  server/config/jest/server.config.js
  server/package-lock.json
  server/package.json
  server/scripts/generateEventDocs.ts
  server/src/core/server/app/request/__snapshots__/body.spec.ts.snap
  server/src/core/server/cron/scheduled/group.ts
  server/src/core/server/events/listeners/analytics.ts
  server/src/core/server/queue/tasks/mailer/processor.ts
  server/src/core/server/services/comments/pipeline/createServerWordListRegExp.spec.ts
  server/src/core/server/services/comments/pipeline/phases/tagMember.ts
  server/src/core/server/services/jwt/index.spec.ts
  server/src/core/server/services/stories/scraper/scraper.ts
  server/src/core/server/services/users/permissions/index.ts
Due: git-exec-and-restage eslint --fix --

set jest workerIdleMemoryLimit=0.2
  server/config/jest/server.cache.config.js
  server/config/jest/server.config.js
Due: git-exec-and-restage eslint --fix --

set workerIdleMemoryLimit in GHA config
  .github/workflows/build-and-test.yml
Due: yamllint

remove --no-cache and --runInBand for server tests
  .github/workflows/build-and-test.yml
Due: yamllint

update jest to latest
  server/package-lock.json
  server/package.json
Due: none

set worker idle memory limit down to 1024MB
  .github/workflows/build-and-test.yml
  server/config/jest/server.config.js
Due: git-exec-and-restage eslint --fix --, yamllint

set --workerIdleMemoryLimit='1024MB' in testServer.js
  .github/workflows/build-and-test.yml
  server/scripts/testServer.js
Due: git-exec-and-restage eslint --fix --, yamllint

try setting back max-old-space-size for terser
  .github/workflows/build-and-test.yml
Due: yamllint

check to see if 2 terser threads avoids OOM errors
  client/src/core/build/createWebpackConfig.ts
Due: none

try 4 terser threads and no source maps for prod builds
  client/src/core/build/createWebpackConfig.ts
Due: none

disable parallel terser on production builds
  client/src/core/build/createWebpackConfig.ts
Due: none

outright set parallel to false as terser devs are recommending
  client/src/core/build/createWebpackConfig.ts
Due: none

remove terser as webpack seems to handle minifying just fine
  client/src/core/build/createWebpackConfig.ts
Due: none

switch gha runtime to coral-cli over ubuntu-22.04
  .github/workflows/build-and-test.yml
  .github/workflows/build-test-deploy.yml
Due: yamllint

fix typo coral-cli => coral-ci
  .github/workflows/build-and-test.yml
  .github/workflows/build-test-deploy.yml
Due: yamllint

increase max-old-space-size to 14 GB
  .github/workflows/build-and-test.yml
  .github/workflows/build-test-deploy.yml
Due: yamllint

create preliminary DSA configuration on tenant settings
  client/src/core/client/admin/routes/Configure/sections/Advanced/AdvancedConfigContainer.tsx
  client/src/core/client/admin/routes/Configure/sections/Advanced/DSAConfigContainer.tsx
  server/src/core/server/graph/resolvers/DSAConfiguration.ts
  server/src/core/server/graph/resolvers/Settings.ts
  server/src/core/server/graph/schema/schema.graphql
  server/src/core/server/models/settings/settings.ts
  server/src/core/server/models/tenant/tenant.ts
  server/src/core/server/test/fixtures.ts
Due: none

add translations to preliminary config, specify as TODO
  client/src/core/client/admin/routes/Configure/sections/Advanced/DSAConfigContainer.tsx
  locales/en-US/admin.ftl
Due: none

update client side test fixtures for DSA config
  client/src/core/client/admin/test/fixtures.ts
  client/src/core/client/stream/test/fixtures.ts
Due: none

move DSAConfig to Admin > General
  client/src/core/client/admin/routes/Configure/sections/Advanced/AdvancedConfigContainer.tsx
  client/src/core/client/admin/routes/Configure/sections/General/DSAConfigContainer.tsx
  client/src/core/client/admin/routes/Configure/sections/General/GeneralConfigContainer.tsx
  locales/en-US/admin.ftl
Due: none

set .nvmrc files to node 18
  client/.nvmrc
  server/.nvmrc
Due: none

plumb `dsaFeaturesEnabled` through to Local relay
  client/src/core/client/admin/local/initLocalState.ts
  client/src/core/client/admin/local/local.graphql
  client/src/core/client/stream/local/initLocalState.ts
  client/src/core/client/stream/local/local.graphql
  config/lib/config.ts
  server/src/core/server/app/router/client.ts
Due: none

fix true/false mixup in permission map
  client/src/core/client/admin/permissions/story.ts
Due: none

bump to 8.5.2
  client/package-lock.json
  client/package.json
  common/package-lock.json
  common/package.json
  config/package-lock.json
  config/package.json
  server/package-lock.json
  server/package.json
Due: none

don't try and lint deleted files
  client/scripts/precommitLint.js
  server/scripts/precommitLint.js
Due: git-exec-and-restage eslint --fix --

remove un-necessary terser plugin types
  client/src/types/terser-webpack-plugin.d.ts
Due: none

set quiet back to true now that we're done debugging webpack
  client/config/webpackDevServer.config.ts
Due: none

initial addition of report comment form comment view
  client/src/core/client/framework/helpers/getURLWithCommentID.tsx
  client/src/core/client/stream/tabs/Comments/Comment/CommentContainer.tsx
  client/src/core/client/stream/tabs/Comments/Comment/CopyIllegalContentReportLinkButton.tsx
  client/src/core/client/stream/tabs/Comments/Comment/PermalinkButton/PermalinkButton.tsx
  client/src/core/client/stream/tabs/Comments/Comment/PermalinkButton/PermalinkButtonContainer.tsx
  client/src/core/client/stream/tabs/Comments/CommentsPane.tsx
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.css
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.tsx
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewQuery.tsx
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/index.ts
  locales/en-US/stream.ftl
Due: none

remove terser-webpack-plugin from client package.json
  client/package-lock.json
  client/package.json
Due: none

update illegal content report form to add more fields
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.css
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.tsx
  client/src/core/client/ui/components/icons/ArrowLeftIcon.tsx
  client/src/core/client/ui/components/icons/ArrowRightIcon.tsx
  client/src/core/client/ui/components/icons/index.ts
Due: none

add fields to models
  server/src/core/server/graph/schema/schema.graphql
  server/src/core/server/models/action/moderation/comment.ts
Due: none

WIP: scaffold test
  server/src/core/server/services/comments/moderation/moderate.spec.ts
  server/src/core/server/test/mocks.ts
Due: none

update styles; add localization
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.css
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.tsx
  locales/en-US/stream.ftl
Due: none

add functionality around adding additional comments
  client/src/core/client/stream/tabs/Comments/IllegalContentReportView/IllegalContentReportViewContainer.tsx
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
