Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

test: add unit tests
  src/core/client/stream/tabs/comments/components/ReportButton/ReportButton.spec.tsx
  src/core/client/stream/tabs/comments/components/ReportButton/__snapshots__/ReportButton.spec.tsx.snap
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportPopover.spec.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/ThankYou.spec.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/__snapshots__/ReportPopover.spec.tsx.snap
  src/core/client/stream/tabs/comments/views/reportComment/components/__snapshots__/ThankYou.spec.tsx.snap
Due: none

test: add feature/integration tests for report comment
  src/core/client/framework/testHelpers/byID.ts
  src/core/client/framework/testHelpers/byLabelText.ts
  src/core/client/framework/testHelpers/within.ts
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportCommentForm.css
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportCommentForm.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportPopover.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/__snapshots__/ReportPopover.spec.tsx.snap
  src/core/client/stream/tabs/comments/views/reportComment/containers/ReportCommentFormContainer.tsx
  src/core/client/stream/test/comments/__snapshots__/reportComment.spec.tsx.snap
  src/core/client/stream/test/comments/reaction.spec.tsx
  src/core/client/stream/test/comments/reportComment.spec.tsx
Due: none

test: add integration test for reaction
  src/core/client/stream/test/comments/__snapshots__/reaction.spec.tsx.snap
  src/core/client/stream/test/comments/reaction.spec.tsx
Due: none

fix: order import
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportCommentForm.tsx
Due: none

added TALK_CONCURRENCY to adv config
  docs/source/01-04-planning-architecture.md
  docs/source/02-02-advanced-configuration.md
Due: none

updated default phrasing to be consistent
  docs/source/02-02-advanced-configuration.md
Due: none

fix: performance issues + keep active button styling until clicked away
  package-lock.json
  package.json
  src/core/client/stream/tabs/comments/components/ReportButton/ReportButton.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/PropagateMount.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportCommentForm.tsx
  src/core/client/stream/tabs/comments/views/reportComment/containers/ReportCommentFormContainer.tsx
  src/core/client/stream/test/comments/reportComment.spec.tsx
Due: none

Fixed blog url
  README.md
Due: none

added native comments pdf
  docs/source/05-04-native-mobile-apps.md
  docs/source/images/IGNNativeComments.pdf
Due: none

added link to sidebar
  docs/source/05-04-native-mobile-apps.md
Due: none

added link to sidebar
  docs/_config.yml
Due: yamllint

test: unit test
  src/core/client/admin/components/AuthBox.spec.tsx
  src/core/client/admin/components/__snapshots__/AuthBox.spec.tsx.snap
  src/core/client/admin/mutations/SetAuthErrorMutation.ts
  src/core/client/admin/mutations/SetRedirectPathMutation.spec.ts
  src/core/client/admin/mutations/index.ts
  src/core/client/admin/test/auth/__snapshots__/signInWithEmail.spec.tsx.snap
  src/core/client/admin/views/restricted/components/Restricted.spec.tsx
Due: none

feat: no permission info
  src/core/client/admin/components/AuthBox.css
  src/core/client/admin/components/AuthBox.tsx
  src/core/client/admin/constants.ts
  src/core/client/admin/containers/AuthCheckContainer.tsx
  src/core/client/admin/local/initLocalState.ts
  src/core/client/admin/mutations/SetRedirectPathMutation.ts
  src/core/client/admin/routeConfig.tsx
  src/core/client/admin/routes/login/containers/AccountCompletionContainer.tsx
  src/core/client/admin/routes/login/views/signIn/components/SignIn.tsx
  src/core/client/admin/views/restricted/components/Restricted.css
  src/core/client/admin/views/restricted/components/Restricted.tsx
  src/core/client/admin/views/restricted/containers/RestrictedContainer.tsx
  src/locales/en-US/admin.ftl
Due: none

test: fix remaining tests
  src/core/client/admin/routes/login/views/signIn/components/__snapshots__/SignIn.spec.tsx.snap
  src/core/client/admin/views/restricted/components/__snapshots__/Restricted.spec.tsx.snap
Due: none

test: add integration tests
  src/core/client/admin/components/AuthBox.tsx
  src/core/client/admin/components/__snapshots__/AuthBox.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/restricted.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/signInWithEmail.spec.tsx.snap
  src/core/client/admin/test/auth/restricted.spec.tsx
  src/core/client/admin/test/fixtures.ts
Due: none

test: auth completion feature tests
  src/core/client/admin/test/auth/__snapshots__/addEmailAddress.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/createPassword.spec.tsx.snap
  src/core/client/admin/test/auth/__snapshots__/createUsername.spec.tsx.snap
  src/core/client/admin/test/auth/accountCompletion.spec.tsx
  src/core/client/admin/test/auth/addEmailAddress.spec.tsx
  src/core/client/admin/test/auth/createPassword.spec.tsx
  src/core/client/admin/test/auth/createUsername.spec.tsx
  src/core/client/admin/test/create.tsx
  src/core/client/admin/test/createEnvironment.ts
Due: none

fix: translation
  src/core/client/admin/test/auth/__snapshots__/createUsername.spec.tsx.snap
  src/locales/en-US/admin.ftl
Due: none

fix: comment marker design
  src/core/client/ui/components/Marker/Count.css
Due: none

fix: linting issues
  src/core/client/admin/test/auth/accountCompletion.spec.tsx
Due: none

moved pdf to wp and updated copy
  docs/source/05-04-native-mobile-apps.md
Due: none

Fix Permalink copy on iOS
  plugins/talk-plugin-permalink/client/components/PermalinkButton.js
Due: git-exec-and-restage eslint --fix --

added Vox Media link
  README.md
Due: none

Remove merge comments
  plugins/talk-plugin-google-auth/server/router.js
Due: git-exec-and-restage eslint --fix --

Add additional hebrew
  locales/he.yml
Due: yamllint

Remove unnecessary diffs
  plugins/talk-plugin-google-auth/server/router.js
Due: git-exec-and-restage eslint --fix --

Add Hebrew to profile plugin
  plugins/talk-plugin-profile-data/client/translations.yml
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

Fix translation
  plugins/talk-plugin-sort-most-loved/client/translations.yml
Due: yamllint

Add client profile translations
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

Add Hebrew profile translations - server
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

Add Final hebrew translations
  locales/he.yml
Due: yamllint

Remove deleted plugin
  plugins/talk-plugin-profile-settings/client/translations.yml
Due: yamllint

Fix quotes
  locales/he.yml
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

Fix typo
  locales/en.yml
Due: yamllint

added Vox Media link (#2161)
  README.md
Due: none

Replace quote marks
  locales/he.yml
  plugins/talk-plugin-auth/client/translations.yml
  plugins/talk-plugin-profile-data/client/translations.yml
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

Add few more translations
  locales/he.yml
  plugins/talk-plugin-ignore-user/client/translations.yml
Due: yamllint
