Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Show Comment Stream
  config/nodemon/relay-stream.json
  src/core/client/framework/lib/errors/badUserInputError.ts
  src/core/client/framework/lib/network/fetchQuery.ts
  src/core/client/stream/components/App.tsx
  src/core/client/stream/components/AssetList.tsx
  src/core/client/stream/components/Comment.tsx
  src/core/client/stream/components/Stream.tsx
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/containers/AssetListContainer.tsx
  src/core/client/stream/containers/PostCommentFormContainer.tsx
  src/core/client/stream/containers/StreamContainer.tsx
  src/core/client/stream/queries/AppQuery.tsx
  src/core/client/tsconfig.json
  src/core/client/ui/components/Button/Button.tsx
  src/core/server/app/middleware/tenant.ts
  src/core/server/graph/tenant/resolvers/asset.ts
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

Apply suggesstions
  src/core/server/app/middleware/logging.ts
  tsconfig.json
Due: none

Revert prefixing with _
  src/core/server/graph/tenant/resolvers/query.ts
Due: none

Rever another _
  src/core/server/app/middleware/tenant.ts
Due: none

Revert more _
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/resolvers/query.ts
Due: none

added initial test
  .circleci/config.yml
Due: yamllint

added different install
  .circleci/config.yml
Due: yamllint

Use coralproject/patched
  config/nodemon/relay-stream.json
  config/nodemon/server.json
  package-lock.json
  package.json
  patches/babel-plugin-relay/LICENSE
  patches/babel-plugin-relay/package.json
  patches/react-relay/LICENSE
  patches/react-relay/package.json
  patches/relay-compiler-language-typescript/LICENSE.md
  patches/relay-compiler-language-typescript/README.md
  patches/relay-compiler-language-typescript/package.json
  patches/relay-compiler/LICENSE
  patches/relay-compiler/bin/relay-compiler
  patches/relay-compiler/package.json
  patches/relay-runtime/LICENSE
  patches/relay-runtime/package.json
  patches/relay-test-utils/LICENSE
  patches/relay-test-utils/lib/testschema.graphql
  patches/relay-test-utils/package.json
  patches/types/relay-runtime/index.d.ts
  patches/types/relay-runtime/package.json
  patches/types/relay-runtime/relay-runtime-tests.tsx
  patches/types/relay-runtime/tsconfig.json
  patches/types/relay-runtime/tslint.json
  src/core/server/models/comment.ts
Due: none

don't lint fix on default and run on parallel
  package.json
Due: none

Unignore JS files
  .gitignore
  config/env.js
  config/jest.config.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/paths.js
  config/polyfills.js
  config/postcss.config.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.js
  doczrc.js
  loaders/locales-loader.js
  scripts/build.js
  scripts/start.js
  scripts/test.js
  src/core/client/.babelrc.js
  src/core/client/stream/.babelrc.js
Due: git-exec-and-restage eslint --fix --

Fix scripts with two :
  config/nodemon/relay-stream.json
  package.json
Due: none

Don't treat warnings as errors in CI, apply suggestions
  package.json
  scripts/build.js
Due: git-exec-and-restage eslint --fix --

Use peerDependencies in patched packages
  package-lock.json
  package.json
Due: none

Remove build instructions, newer package-lock.json
  package-lock.json
  scripts/build.js
  scripts/start.js
Due: git-exec-and-restage eslint --fix --

Update index.ts
  src/core/server/app/middleware/passport/index.ts
Due: none

Added Rich Text to checklist
  docs/source/01-05-pre-launch-checklist.md
Due: none

Update lockfile
  yarn.lock
Due: none

Update links
  docs/source/01-01-talk-quickstart.md
  docs/source/05-03-when-youve-installed-talk.md
Due: none

feature: added generated graph types
  package-lock.json
  package.json
  scripts/types.js
  src/core/server/graph/management/resolvers/index.ts
  src/core/server/graph/management/schema/index.ts
  src/core/server/graph/management/schema/schema.graphql
  src/core/server/graph/tenant/loaders/comments.ts
  src/core/server/graph/tenant/mutators/comment.ts
  src/core/server/graph/tenant/resolvers/asset.ts
  src/core/server/graph/tenant/resolvers/comment.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/resolvers/query.ts
  src/core/server/graph/tenant/schema/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/logger.ts
  src/core/server/models/comment.ts
Due: git-exec-and-restage eslint --fix --

lint js files, cleanup scripts
  .gitignore
  .vscode/settings.json
  config/jest.config.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/postcss.config.js
  doczrc.js
  loaders/locales-loader.js
  package-lock.json
  package.json
  scripts/build.js
  scripts/start.js
  src/core/client/.babelrc.js
  src/core/client/tsconfig.json
  src/core/client/tslint.json
  tsconfig.json
  tslint.json
Due: git-exec-and-restage eslint --fix --

lint js files, cleanup scripts (#1713)
  .gitignore
  .vscode/settings.json
  config/jest.config.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/postcss.config.js
  doczrc.js
  loaders/locales-loader.js
  package-lock.json
  package.json
  scripts/build.js
  scripts/start.js
  src/core/client/.babelrc.js
  src/core/client/tsconfig.json
  src/core/client/tslint.json
  tsconfig.json
  tslint.json
Due: git-exec-and-restage eslint --fix --

Lint remaining js files
  package.json
  src/core/client/stream/.babelrc.js
  src/core/client/tsconfig.json
Due: git-exec-and-restage eslint --fix --

Fix tsconfig
  src/core/client/tsconfig.json
Due: none

Lint remaining js files (#1714)
  package.json
  src/core/client/stream/.babelrc.js
  src/core/client/tsconfig.json
Due: git-exec-and-restage eslint --fix --

wip
  package-lock.json
  package.json
  watcher.ts
Due: none

feat: added support for metadata.displayName for searches
  graph/loaders/users.js
  models/schema/user.js
Due: git-exec-and-restage eslint --fix --

Fix Talk link in README
  README.md
Due: none

Use workspace typescript version
  .vscode/settings.json
Due: none

Use workspace typescript version (#1717)
  .vscode/settings.json
Due: none

Update version to 4.5.1
  package.json
Due: none

Update version to 4.5.1 (#1718)
  package.json
Due: none

Upgrade Mongoose
  package.json
  yarn.lock
Due: none

initial oidc support
  config/nodemon/types.json
  package-lock.json
  package.json
  src/core/server/app/index.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/oidc.ts
  src/core/server/app/middleware/passport/sso.ts
  src/core/server/app/router.ts
  src/core/server/app/url.ts
  src/core/server/graph/common/directives/auth.ts
  src/core/server/graph/tenant/resolvers/auth_settings.ts
  src/core/server/graph/tenant/resolvers/facebook_auth_integration.ts
  src/core/server/graph/tenant/resolvers/google_auth_integration.ts
  src/core/server/graph/tenant/resolvers/local_auth_integration.ts
  src/core/server/graph/tenant/resolvers/oidc_auth_integration.ts
  src/core/server/graph/tenant/resolvers/sso_auth_integration.ts
  src/core/server/graph/tenant/schema/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
  src/core/server/models/user.ts
  src/types/jsonwebtoken.d.ts
  src/types/webfinger.d.ts
Due: none

Adding chokidar and types
  package-lock.json
  package.json
  watcher.ts
Due: none

specifiying build tasks
  package.json
  watcher.ts
Due: none

new structure, new types, executor and watchers
  package.json
  scripts/watcher.ts
  scripts/watcher/ChokidarWatcher.ts
  scripts/watcher/CommandExecutor.ts
  scripts/watcher/types.ts
  scripts/watcher/watch.ts
  tsconfig.json
  watcher.ts
Due: none

Adding log
  scripts/watch.ts
  scripts/watcher.ts
  scripts/watcher/ChokidarWatcher.ts
  scripts/watcher/index.ts
  scripts/watcher/types.ts
  scripts/watcher/watch.ts
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
