Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

fix: fixed a bug that exposed tags
  graph/resolvers/util.js
Due: git-exec-and-restage eslint --fix --

chore: bumped versions
  docs/source/01-01-talk-quickstart.md
  docs/source/01-02-installation-from-docker.md
  docs/source/plugins/overview.md
  package.json
Due: none

Tags Permissions (#2291)
  docs/source/01-01-talk-quickstart.md
  docs/source/01-02-installation-from-docker.md
  docs/source/plugins/overview.md
  graph/resolvers/util.js
  package.json
Due: git-exec-and-restage eslint --fix --

fix: added username config
  config.js
  package.json
  services/users.js
Due: git-exec-and-restage eslint --fix --

fix: added username config (#2295)
  config.js
  package.json
  services/users.js
Due: git-exec-and-restage eslint --fix --

feat: added release process
  .circleci/config.yml
  package.json
  scripts/docker.sh
Due: yamllint

fix: removed debug echo's
  scripts/docker.sh
Due: none

fix: fixed typo and bug
  scripts/docker.sh
Due: none

fix: updated docs
  scripts/docker.sh
Due: none

[next] Release (#2296)
  .circleci/config.yml
  package.json
  scripts/docker.sh
Due: yamllint

fix: fixed CI pipeline for releases
  .circleci/config.yml
Due: yamllint

fix: fixed CI pipeline for releases (#2297)
  .circleci/config.yml
Due: yamllint

feat: show story title + moderate this story link
  src/core/client/admin/routes/moderate/components/AcceptButton.tsx
  src/core/client/admin/routes/moderate/components/InReplyTo.tsx
  src/core/client/admin/routes/moderate/components/ModerateCard.css
  src/core/client/admin/routes/moderate/components/ModerateCard.tsx
  src/core/client/admin/routes/moderate/components/Queue.tsx
  src/core/client/admin/routes/moderate/components/RejectButton.tsx
  src/core/client/admin/routes/moderate/components/Username.tsx
  src/core/client/admin/routes/moderate/containers/ModerateCardContainer.tsx
  src/core/client/admin/routes/moderate/containers/QueueContainer.tsx
  src/core/client/admin/routes/moderate/containers/RejectedQueueContainer.tsx
  src/core/client/stream/tabs/profile/components/HistoryComment.css
  src/core/client/stream/tabs/profile/components/HistoryComment.tsx
  src/core/client/ui/components/Icon/Icon.css
  src/core/client/ui/components/Icon/Icon.tsx
  src/core/client/ui/components/TextLink/TextLink.css
  src/core/client/ui/components/TextLink/TextLink.tsx
  src/locales/en-US/admin.ftl
Due: none

test: add tests for moderate story link
  src/core/client/admin/routes/moderate/components/ModerateCard.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/AcceptButton.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/InReplyTo.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/ModerateCard.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/RejectButton.spec.tsx.snap
  src/core/client/admin/routes/moderate/components/__snapshots__/Username.spec.tsx.snap
  src/core/client/admin/test/fixtures.ts
  src/core/client/admin/test/moderate/__snapshots__/moderate.spec.tsx.snap
  src/core/client/admin/test/moderate/moderate.spec.tsx
  src/core/client/stream/tabs/profile/components/__snapshots__/HistoryComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/profile/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/profile/__snapshots__/renderProfile.spec.tsx.snap
Due: none

fix: snapshot
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
Due: none

fix: lint / test
  src/core/client/admin/routes/moderate/components/ModerateCard.spec.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/ModerateCard.spec.tsx.snap
Due: none

fix: unwanted margin
  src/core/client/admin/routes/moderate/components/ModerateCard.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/ModerateCard.spec.tsx.snap
  src/core/client/admin/routes/moderate/containers/MarkersContainer.tsx
  src/core/client/admin/routes/moderate/containers/__snapshots__/MarkersContainer.spec.tsx.snap
Due: none

Show/Hide comment edit history in moderation queues and user detail.
  client/coral-admin/src/components/UserDetailComment.css
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/containers/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.css
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-admin/src/routes/Moderation/containers/Comment.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Add spanish translations
  locales/es.yml
Due: yamllint

Docs typo
  plugins/talk-plugin-facebook-auth/README.md
Due: none

feat: speed up build process, upgrade majority of dependencies
  babel.config.js
  config/webpackDevServer.config.ts
  package-lock.json
  package.json
  scripts/WebpackDevServerUtils.js
  scripts/build.ts
  scripts/start.ts
  scripts/watcher/LongRunningExecutor.ts
  scripts/watcher/types/pstree.remy.d.ts
  src/core/build/createWebpackConfig.ts
  src/core/client/.babelrc.js
  src/core/client/stream/tabs/configure/queries/ConfigureQuery.tsx
  src/core/client/ui/shared/typography.css
  src/core/common/.babelrc.server.js
  src/types/react-dev-utils.d.ts
  tslint.dynamic.js
  tslint.json
Due: git-exec-and-restage eslint --fix --

feat: allow specifying max cores
  src/core/build/config.ts
  src/core/build/createWebpackConfig.ts
Due: none

chore: add some comments
  scripts/WebpackDevServerUtils.js
Due: git-exec-and-restage eslint --fix --

[CORL-305] Speed up build process and upgrade dependencies (#2304)
  babel.config.js
  config/webpackDevServer.config.ts
  package-lock.json
  package.json
  scripts/WebpackDevServerUtils.js
  scripts/build.ts
  scripts/start.ts
  scripts/watcher/LongRunningExecutor.ts
  scripts/watcher/types/pstree.remy.d.ts
  src/core/build/config.ts
  src/core/build/createWebpackConfig.ts
  src/core/client/.babelrc.js
  src/core/client/stream/tabs/configure/queries/ConfigureQuery.tsx
  src/core/client/ui/shared/typography.css
  src/core/common/.babelrc.server.js
  src/types/react-dev-utils.d.ts
  tslint.dynamic.js
  tslint.json
Due: git-exec-and-restage eslint --fix --

Docs typo (#2303)
  plugins/talk-plugin-facebook-auth/README.md
Due: none

fix: double logout will not result in failures
  src/core/server/app/handlers/api/auth/local.ts
Due: none

fix: double logout will not result in failures (#2300)
  src/core/server/app/handlers/api/auth/local.ts
Due: none

feat: removed pulling displayName from facebook/google
  src/core/server/app/middleware/passport/strategies/facebook.ts
  src/core/server/app/middleware/passport/strategies/google.ts
Due: none

feat: removed pulling displayName from facebook/google (#2301)
  src/core/server/app/middleware/passport/strategies/facebook.ts
  src/core/server/app/middleware/passport/strategies/google.ts
Due: none

feat: suspending, banning, now propogation
  package.json
  src/core/server/app/middleware/passport/strategies/facebook.ts
  src/core/server/app/middleware/passport/strategies/google.ts
  src/core/server/app/middleware/passport/strategies/oauth2.ts
  src/core/server/graph/tenant/resolvers/BannedStatusHistory.ts
  src/core/server/graph/tenant/resolvers/index.ts
Due: none

fix: fix related to lib
  src/tsconfig.json
Due: none

feat: added email rendering + localization support
  package-lock.json
  package.json
  src/core/server/index.ts
  src/core/server/locales/en-US/email.ftl
  src/core/server/queue/Task.ts
  src/core/server/queue/index.ts
  src/core/server/queue/tasks/mailer/assets/main.css
  src/core/server/queue/tasks/mailer/content.ts
  src/core/server/queue/tasks/mailer/index.ts
  src/core/server/queue/tasks/mailer/processor.ts
  src/core/server/queue/tasks/mailer/templates/forgot-password.html
  src/core/server/queue/tasks/mailer/templates/index.ts
  src/core/server/queue/tasks/mailer/templates/layouts/base.html
  src/core/server/queue/tasks/mailer/templates/layouts/user-notification.html
  src/tsconfig.json
  src/types/fluent.d.ts
Due: none

refactor: moved juicer to queue task
  src/core/server/queue/tasks/mailer/content.ts
  src/core/server/queue/tasks/mailer/index.ts
  src/core/server/queue/tasks/mailer/processor.ts
Due: none

refactor: cleanup of job processor
  package-lock.json
  package.json
  src/core/server/queue/Task.ts
  src/core/server/queue/tasks/mailer/processor.ts
Due: none

feat: initial forgot passwor impl
  src/core/common/errors.ts
  src/core/server/app/handlers/api/auth/local.ts
  src/core/server/app/handlers/api/graphql.ts
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/middleware/passport/strategies/oauth2.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/app/middleware/passport/strategies/verifiers/sso.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/api/auth.ts
  src/core/server/errors/index.ts
  src/core/server/errors/translations.ts
  src/core/server/graph/common/context.ts
  src/core/server/locales/en-US/errors.ftl
  src/core/server/logger/index.ts
  src/core/server/queue/tasks/mailer/content.ts
  src/core/server/services/stories/index.ts
  src/core/server/services/tenant/url.spec.ts
  src/core/server/services/tenant/url.ts
  src/core/server/services/users/auth.ts
  src/core/server/types/express.ts
Due: none

refactor: improved error messaging around failed email
  src/core/server/queue/tasks/mailer/processor.ts
Due: none

fix: fixed rebase errors
  src/core/server/app/middleware/passport/strategies/oauth2.ts
  src/core/server/graph/tenant/resolvers/BannedStatusHistory.ts
  src/core/server/graph/tenant/resolvers/index.ts
Due: none

feat: added ban email
  src/core/server/graph/tenant/mutators/Users.ts
  src/core/server/locales/en-US/email.ftl
  src/core/server/queue/tasks/mailer/templates/ban.html
  src/core/server/queue/tasks/mailer/templates/index.ts
  src/core/server/services/users/index.ts
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
