Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

fix: allow url to not be provided
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

fix: cleanups for asset
  src/core/server/graph/tenant/loaders/assets.ts
  src/core/server/graph/tenant/mutators/comment.ts
  src/core/server/services/assets/index.ts
  src/core/server/services/comments/index.ts
Due: none

fix: missed users service
  src/core/server/app/handlers/auth/local.ts
  src/core/server/app/middleware/passport/oidc.ts
  src/core/server/services/users/index.ts
Due: none

Fully implement Flex and MatchMedia
  config/postcss.config.js
  src/core/client/stream/components/App.tsx
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/ui/components/Flex/Flex.css
  src/core/client/ui/components/Flex/Flex.spec.tsx
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/Flex/__snapshots__/Flex.spec.tsx.snap
  src/core/client/ui/components/MatchMedia/MatchMedia.spec.tsx
  src/core/client/ui/components/MatchMedia/MatchMedia.tsx
  src/core/client/ui/components/MatchMedia/__snapshots__/MatchMedia.spec.tsx.snap
  src/core/client/ui/components/index.ts
  src/core/client/ui/theme/variables.ts
Due: git-exec-and-restage eslint --fix --

Add docs
  src/core/client/ui/components/Center/Center.css
  src/core/client/ui/components/Center/Center.tsx
  src/core/client/ui/components/Center/index.ts
  src/core/client/ui/components/Flex/Flex.mdx
  src/core/client/ui/components/MatchMedia/MatchMedia.mdx
  src/core/client/ui/components/MatchMedia/MatchMedia.tsx
  src/core/client/ui/components/index.ts
Due: none

Support standard css variables, dynamically set spacing-unit
  config/paths.js
  config/postcss.config.js
  package-lock.json
  package.json
  src/core/client/stream/components/Comment.css
  src/core/client/stream/components/Indent.css
  src/core/client/stream/components/PostCommentForm.css
  src/core/client/stream/components/Stream.css
  src/core/client/stream/components/Stream.tsx
  src/core/client/ui/components/Button/Button.css
  src/core/client/ui/components/Typography/Typography.css
  src/core/client/ui/shared/typography.css
  src/core/client/ui/theme/global.css
  src/core/client/ui/theme/variables.ts
Due: git-exec-and-restage eslint --fix --

Mobile first approach
  config/paths.js
  config/postcss.config.js
  package.json
  src/core/client/ui/components/MatchMedia/MatchMedia.tsx
  src/core/client/ui/theme/global.css
  src/core/client/ui/theme/variables.css
  src/core/client/ui/theme/variables.ts
Due: git-exec-and-restage eslint --fix --

Remove comment
  src/core/common/utils/pascalCase.ts
Due: none

Move react-responsive to dev deps
  package-lock.json
  package.json
Due: none

Remove precss
  package-lock.json
  package.json
Due: none

Add comments
  config/postcss.config.js
Due: git-exec-and-restage eslint --fix --

Update snapshots
  src/core/client/stream/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/ui/components/MatchMedia/__snapshots__/MatchMedia.spec.tsx.snap
Due: none

Add FAQ and Troubleshooting docs (#1742)
  docs/_config.yml
  docs/source/07-01-faq.md
  docs/source/07-02-troubleshooting-tips.md
  docs/source/integrating/styling-css.md
Due: yamllint

Update snapshots
  src/core/client/ui/components/Timestamp/Timestamp.mdx
  src/core/client/ui/components/Timestamp/Timestamp.spec.tsx
  src/core/client/ui/components/Timestamp/Timestamp.tsx
  src/core/client/ui/components/Timestamp/__snapshots__/Timestamp.spec.tsx.snap
Due: none

Rename Timestamp to RelativeTime
  src/core/client/stream/components/Comment.tsx
  src/core/client/stream/components/__snapshots__/Comment.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/ui/components/RelativeTime/RelativeTime.css
  src/core/client/ui/components/RelativeTime/RelativeTime.mdx
  src/core/client/ui/components/RelativeTime/RelativeTime.spec.tsx
  src/core/client/ui/components/RelativeTime/RelativeTime.tsx
  src/core/client/ui/components/RelativeTime/__snapshots__/RelativeTime.spec.tsx.snap
  src/core/client/ui/components/RelativeTime/index.ts
  src/core/client/ui/components/Timestamp/index.ts
  src/core/client/ui/components/index.ts
Due: none

Show meaningful css names in dev
  config/webpack.config.dev.js
Due: git-exec-and-restage eslint --fix --

Make design responsive
  src/core/client/stream/components/Comment.css
  src/core/client/stream/components/Comment.tsx
  src/core/client/stream/components/CommentTimestamp.css
  src/core/client/stream/components/CommentTimestamp.tsx
  src/core/client/stream/components/CommentTopBar.css
  src/core/client/stream/components/CommentTopBar.tsx
  src/core/client/stream/components/Indent.css
  src/core/client/stream/components/PostCommentForm.css
  src/core/client/stream/components/ReplyList.tsx
  src/core/client/stream/components/Stream.tsx
  src/core/client/stream/components/Username.css
  src/core/client/stream/components/Username.tsx
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/ui/components/Flex/Flex.css
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/Typography/Typography.css
  src/core/client/ui/components/Typography/Typography.tsx
  src/core/client/ui/shared/typography.css
  src/core/client/ui/theme/variables.css
Due: none

Turn on better font rendering
  src/core/client/stream/components/App.css
  src/core/client/stream/components/App.tsx
Due: none

Organize
  src/core/client/stream/components/Comment/Comment.spec.tsx
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/Comment/Timestamp.css
  src/core/client/stream/components/Comment/Timestamp.tsx
  src/core/client/stream/components/Comment/TopBar.css
  src/core/client/stream/components/Comment/TopBar.tsx
  src/core/client/stream/components/Comment/Username.css
  src/core/client/stream/components/Comment/Username.spec.tsx
  src/core/client/stream/components/Comment/Username.tsx
  src/core/client/stream/components/Comment/index.ts
Due: none

Update snapshts
  src/core/client/stream/components/Comment/__snapshots__/Comment.spec.tsx.snap
  src/core/client/stream/components/Comment/__snapshots__/Username.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/ReplyList.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
Due: none

Add tests
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/stream/components/App.spec.tsx
  src/core/client/stream/components/Comment/TopBar.spec.tsx
  src/core/client/stream/components/Comment/__snapshots__/TopBar.spec.tsx.snap
  src/core/client/stream/components/Comment/__snapshots__/Username.spec.tsx.snap
  src/core/client/stream/components/Indent.spec.tsx
  src/core/client/stream/components/__snapshots__/App.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/Indent.spec.tsx.snap
  src/core/client/stream/containers/AppContainer.spec.tsx
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/__snapshots__/AppContainer.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/loadMore.spec.tsx
  src/core/client/stream/test/renderReplies.spec.tsx
  src/core/client/stream/test/renderStream.spec.tsx
  src/core/client/stream/test/showAllReplies.spec.tsx
  src/core/client/ui/components/MatchMedia/MatchMedia.spec.tsx
  src/core/client/ui/components/MatchMedia/MatchMedia.tsx
  src/core/client/ui/components/UIContext/UIContext.ts
  src/core/client/ui/components/UIContext/index.ts
  src/core/client/ui/components/index.ts
Due: none

Fix linting
  src/core/server/app/router.ts
Due: none

Update tests
  src/core/client/stream/components/Comment/Comment.spec.tsx
  src/core/client/stream/components/Comment/Timestamp.spec.tsx
  src/core/client/stream/components/Comment/TopBar.spec.tsx
  src/core/client/stream/components/Comment/Username.spec.tsx
  src/core/client/stream/components/Comment/__snapshots__/Comment.spec.tsx.snap
  src/core/client/stream/components/Comment/__snapshots__/Timestamp.spec.tsx.snap
  src/core/client/stream/components/Comment/__snapshots__/Username.spec.tsx.snap
  src/core/client/stream/components/ReplyList.spec.tsx
  src/core/client/stream/components/Stream.spec.tsx
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/ReplyListContainer.spec.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/fixtures.ts
  src/core/client/ui/components/RelativeTime/RelativeTime.spec.tsx
  src/core/client/ui/components/RelativeTime/__snapshots__/RelativeTime.spec.tsx.snap
Due: none

Remove unnused value
  src/core/client/stream/components/Indent.spec.tsx
Due: none

Fix remaining test
  src/core/client/ui/components/RelativeTime/RelativeTime.spec.tsx
  src/core/client/ui/components/RelativeTime/__snapshots__/RelativeTime.spec.tsx.snap
Due: none

Typography support error color
  src/core/client/ui/components/Typography/Typography.tsx
Due: none

Support server side jest testing
  config/jest-client.config.js
  config/jest-server.config.js
  config/jest.config.js
  src/core/client/test/enzyme.ts
  src/core/client/test/jsdom.ts
  src/core/client/test/setup.ts
  src/core/server/models/connection.spec.ts
  test/.babelrc.js
Due: git-exec-and-restage eslint --fix --

Use different kill method for watcher
  package-lock.json
  package.json
  scripts/watcher/LongRunningExecutor.ts
  scripts/watcher/pstree.remy.d.ts
  scripts/watcher/types.ts
  scripts/watcher/watch.ts
Due: none

Support sane watcher + auto detect watchman
  package-lock.json
  package.json
  scripts/watcher/SaneWatcher.ts
  scripts/watcher/types.ts
  scripts/watcher/watch.ts
Due: none

Fixed code markup for action name.
  docs/source/api/client.md
Due: none

Parallel cleanup, skip empty watches
  scripts/watcher/ChokidarWatcher.ts
  scripts/watcher/SaneWatcher.ts
  scripts/watcher/watch.ts
Due: none

Make filter only a pure function
  scripts/watcher/watch.ts
Due: none

Fixed code markup for action name. (#1746)
  docs/source/api/client.md
Due: none

feat: more tests
  src/core/server/models/connection.spec.ts
Due: none

[next] Support server side jest testing (#1747)
  config/jest-client.config.js
  config/jest-server.config.js
  config/jest.config.js
  src/core/client/test/enzyme.ts
  src/core/client/test/jsdom.ts
  src/core/client/test/setup.ts
  src/core/server/models/connection.spec.ts
  test/.babelrc.js
Due: git-exec-and-restage eslint --fix --

Support watcher sets
  config/watcher.ts
  config/webpackDevServer.config.js
  doczrc.js
  package.json
  scripts/watcher/bin/watcher.ts
  scripts/watcher/types.ts
  scripts/watcher/watch.ts
Due: git-exec-and-restage eslint --fix --

Cleanup docz scripts
  config/watcher.ts
  package.json
Due: none

Upgrade docz
  package-lock.json
  package.json
Due: none

Move react-timeago to dev
  package-lock.json
  package.json
Due: none

Apply suggestions
  scripts/watcher/LongRunningExecutor.ts
  scripts/watcher/types/pstree.remy.d.ts
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
