Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

More comments
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

Remove unwanted emptyline
  client/coral-embed-stream/src/tabs/configure/components/QuestionBoxBuilder.js
Due: git-exec-and-restage eslint --fix --

improved db query support, added tests
  services/users.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

lint
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
Due: git-exec-and-restage eslint --fix --

added translations
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Fix rainbow emoji, add name of Part 2 tutorial
  docs/source/05-01-building-basic-plugin.md
Due: none

Fix css order
  views/admin.ejs
  views/embed/stream.ejs
  views/login.ejs
  views/partials/head.ejs
Due: none

pell breaking changes with new version
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-rich-text-pell/package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Adding deprecation notice
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

show dep message only once
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

changes
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-rich-text-pell/package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fix for innerHTML
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Rename typo
  client/coral-framework/components/IfSlotIsEmpty.js
  client/coral-framework/components/IfSlotIsNotEmpty.js
  client/coral-framework/components/Slot.js
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withCompatPassthrough.js
Due: git-exec-and-restage eslint --fix --

Asset Manager Tutorial
  docs/_config.yml
  docs/source/integrating/asset-management.md
Due: yamllint

improved context perf
  graph/context.js
  services/logging.js
Due: git-exec-and-restage eslint --fix --

upgrade and fixes
  plugins/talk-plugin-rich-text-pell/package.json
  yarn.lock
Due: none

upgrade and fixes
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

wip :0
  client/coral-embed-stream/src/constants/debug.js
  client/coral-embed-stream/src/reducers/debug.js
  client/coral-embed-stream/src/reducers/index.js
  client/coral-embed/src/Stream.js
  client/coral-embed/src/StreamInterface.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

adding debugPlugins
  client/coral-framework/components/Slot.js
Due: git-exec-and-restage eslint --fix --

refactor due to auth probs
  client/coral-framework/components/Slot.js
Due: git-exec-and-restage eslint --fix --

Adding off method to the Stream Interface
  client/coral-embed/src/StreamInterface.js
Due: git-exec-and-restage eslint --fix --

Implement Coral RTE
  .gitignore
  plugins/talk-plugin-rich-text-coral/README.md
  plugins/talk-plugin-rich-text-coral/client/.eslintrc.json
  plugins/talk-plugin-rich-text-coral/client/components/Button.css
  plugins/talk-plugin-rich-text-coral/client/components/Button.js
  plugins/talk-plugin-rich-text-coral/client/components/CommentContent.js
  plugins/talk-plugin-rich-text-coral/client/components/Editor.css
  plugins/talk-plugin-rich-text-coral/client/components/Editor.js
  plugins/talk-plugin-rich-text-coral/client/components/Toolbar.css
  plugins/talk-plugin-rich-text-coral/client/components/Toolbar.js
  plugins/talk-plugin-rich-text-coral/client/constants.js
  plugins/talk-plugin-rich-text-coral/client/containers/CommentContent.js
  plugins/talk-plugin-rich-text-coral/client/containers/Editor.js
  plugins/talk-plugin-rich-text-coral/client/index.js
  plugins/talk-plugin-rich-text-coral/client/utils.js
  plugins/talk-plugin-rich-text-coral/index.js
  plugins/talk-plugin-rich-text-coral/package.json
  plugins/talk-plugin-rich-text/server/config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Remove some comments
  plugins/talk-plugin-rich-text-coral/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

fixed selenium version
  nightwatch.conf.js
Due: git-exec-and-restage eslint --fix --

changes - ready to be tested
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

support for both
  plugin-api/beta/client/selectors/index.js
Due: git-exec-and-restage eslint --fix --

@Deprecated plugin_config
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

some minor fixes
  middleware/staticTemplate.js
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

Adding upvote and downvote plugins and sorting plugins for each
  .gitignore
  plugins/talk-plugin-downvote/client/.eslintrc.json
  plugins/talk-plugin-downvote/client/components/DownvoteButton.css
  plugins/talk-plugin-downvote/client/components/DownvoteButton.js
  plugins/talk-plugin-downvote/client/components/Icon.js
  plugins/talk-plugin-downvote/client/index.js
  plugins/talk-plugin-downvote/index.js
  plugins/talk-plugin-sort-most-downvoted/client/.eslintrc.json
  plugins/talk-plugin-sort-most-downvoted/client/index.js
  plugins/talk-plugin-sort-most-downvoted/client/translations.yml
  plugins/talk-plugin-sort-most-downvoted/index.js
  plugins/talk-plugin-sort-most-upvoted/client/.eslintrc.json
  plugins/talk-plugin-sort-most-upvoted/client/index.js
  plugins/talk-plugin-sort-most-upvoted/client/translations.yml
  plugins/talk-plugin-sort-most-upvoted/index.js
  plugins/talk-plugin-upvote/client/.eslintrc.json
  plugins/talk-plugin-upvote/client/components/Icon.js
  plugins/talk-plugin-upvote/client/components/UpvoteButton.css
  plugins/talk-plugin-upvote/client/components/UpvoteButton.js
  plugins/talk-plugin-upvote/client/index.js
  plugins/talk-plugin-upvote/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

refactor into using config reducer
  client/coral-embed-stream/src/constants/debug.js
  client/coral-embed-stream/src/reducers/configure.js
  client/coral-embed-stream/src/reducers/debug.js
  client/coral-framework/components/Slot.js
  client/coral-framework/constants/config.js
  client/coral-framework/reducers/config.js
Due: git-exec-and-restage eslint --fix --

Update README
  README.md
Due: none

Fix link
  README.md
Due: none

refactor into using config reducer
  client/coral-embed-stream/src/reducers/index.js
  client/coral-embed/src/Stream.js
  client/coral-embed/src/StreamInterface.js
  client/coral-framework/actions/config.js
  client/coral-framework/components/Slot.js
  client/coral-framework/reducers/config.js
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

refactor into using config reducer
  client/coral-embed/src/Stream.js
  client/coral-embed/src/StreamInterface.js
  client/coral-framework/actions/config.js
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

using the plugins service
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

changes
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

English version of docs
  docs/source/04-06-slots-and-plugins.md
  docs/source/plugins/slots-and-plugins-ES.md
  docs/source/plugins/slots-and-plugins.md
Due: none

Translate Slot docs into English
  docs/_config.yml
  docs/_docs/04-05-talk-slots-and-plugins-ES.md
Due: yamllint

Render when pluginsConfig changes
  client/coral-framework/hocs/withSlotElements.js
Due: git-exec-and-restage eslint --fix --

Only use plugins_config in redux
  client/coral-framework/components/Slot.js
  client/coral-framework/services/bootstrap.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
