Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

feat: integrate custom error middleware
  src/core/client/framework/lib/errors/graphqlError.ts
  src/core/client/framework/lib/errors/index.ts
  src/core/client/framework/lib/errors/networkError.ts
  src/core/client/framework/lib/network/createNetwork.ts
  src/core/client/framework/lib/network/customErrorMiddleware.ts
  src/core/client/framework/lib/network/fetchQuery.ts
Due: none

review: add todo
  src/types/react-relay-network-modern.d.ts
Due: none

added coral styles and js
  docs/rtd/source/_static/css/coral.css
  docs/rtd/source/_static/js/main.js
  docs/rtd/source/conf.py
Due: git-exec-and-restage eslint --fix --

review: suggested improvements
  src/core/build/createWebpackConfig.ts
  src/core/build/plugins/PublicURIWebpackPlugin.ts
Due: none

[next] Relay GraphQL Batching (#1965)
  babel.config.js
  config/jest/client.config.js
  package-lock.json
  package.json
  src/core/client/framework/lib/bootstrap/createManaged.tsx
  src/core/client/framework/lib/errors/graphqlError.ts
  src/core/client/framework/lib/errors/index.ts
  src/core/client/framework/lib/errors/networkError.ts
  src/core/client/framework/lib/network/createNetwork.ts
  src/core/client/framework/lib/network/customErrorMiddleware.ts
  src/core/client/framework/lib/network/fetchQuery.ts
  src/core/client/framework/lib/network/index.ts
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/server/app/handlers/api/tenant/auth/local.ts
  src/core/server/app/middleware/context/tenant.ts
  src/core/server/app/middleware/graphqlBatch.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/jwt.ts
  src/core/server/app/middleware/passport/strategies/local.ts
  src/core/server/app/middleware/passport/strategies/oidc.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/api/tenant.ts
  src/core/server/graph/tenant/middleware.ts
  src/core/server/types/express.ts
  src/types/react-relay-network-modern.d.ts
Due: git-exec-and-restage eslint --fix --

fix: ff focus styles
  src/core/client/ui/shared/buttonReset.css
Due: none

fix: ff focus styles (#1997)
  src/core/client/ui/shared/buttonReset.css
Due: none

fix: strip non-frame directives
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/router/client.ts
  src/core/server/app/router/index.ts
Due: none

perspective documentation update
  plugins/talk-plugin-toxic-comments/README.md
Due: none

perspective documentation update (#1999)
  plugins/talk-plugin-toxic-comments/README.md
Due: none

fixed typo
  plugins/talk-plugin-toxic-comments/README.md
Due: none

Perspective (#2001)
  plugins/talk-plugin-toxic-comments/README.md
Due: none

feat: initial errors support
  src/core/server/app/handlers/api/tenant/auth/local.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/error.ts
  src/core/server/app/middleware/logging.ts
  src/core/server/app/middleware/notFound.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/jwt.ts
  src/core/server/app/middleware/serveStatic.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/api/index.ts
  src/core/server/app/router/api/tenant.ts
  src/core/server/app/router/index.ts
  src/core/server/errors.ts
Due: none

feat: Implement SelectField
  src/core/client/ui/components/SelectField/OptGroup.spec.tsx
  src/core/client/ui/components/SelectField/OptGroup.tsx
  src/core/client/ui/components/SelectField/Option.spec.tsx
  src/core/client/ui/components/SelectField/Option.tsx
  src/core/client/ui/components/SelectField/SelectField.css
  src/core/client/ui/components/SelectField/SelectField.mdx
  src/core/client/ui/components/SelectField/SelectField.spec.tsx
  src/core/client/ui/components/SelectField/SelectField.tsx
  src/core/client/ui/components/SelectField/__snapshots__/OptGroup.spec.tsx.snap
  src/core/client/ui/components/SelectField/__snapshots__/Option.spec.tsx.snap
  src/core/client/ui/components/SelectField/__snapshots__/SelectField.spec.tsx.snap
  src/core/client/ui/components/SelectField/index.ts
  src/core/client/ui/components/Steps/steps.mdx
  src/core/client/ui/components/index.ts
  src/core/client/ui/hocs/withKeyboardFocus.tsx
  src/core/client/ui/shared/icon.css
  src/core/client/ui/shared/typography.css
Due: none

feat: supported more errors
  src/core/server/app/middleware/context/tenant.ts
  src/core/server/app/middleware/passport/strategies/jwt.ts
  src/core/server/errors.ts
  src/core/server/models/action.ts
Due: none

fix: types
  src/core/client/ui/components/BaseButton/BaseButton.tsx
Due: none

fix: improve types
  src/core/client/ui/components/BaseButton/BaseButton.tsx
  src/core/client/ui/components/SelectField/SelectField.tsx
Due: none

fix: missing change
  src/core/client/ui/hocs/withMouseHover.tsx
Due: none

fix: better types
  src/core/client/ui/hocs/withKeyboardFocus.tsx
  src/core/client/ui/hocs/withMouseHover.tsx
Due: none

fix: styles closer to design
  src/core/client/stream/tabs/profile/components/HistoryComment.css
  src/core/client/stream/tabs/profile/components/HistoryComment.tsx
Due: none

fix: only break words when necessary
  src/core/client/stream/tabs/profile/components/HistoryComment.css
Due: none

fix: remove 80% max-width
  src/core/client/stream/tabs/profile/components/HistoryComment.css
  src/core/client/stream/tabs/profile/components/HistoryComment.tsx
Due: none

feat: add some padding to default demo site
  src/core/client/embed/index.html
Due: none

fix: use asset url
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/PermalinkButtonContainer.tsx
  src/core/client/stream/tabs/comments/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
Due: none

review: added tests, fixed some edge cases
  src/core/server/app/middleware/csp/tenant.spec.ts
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/url.spec.ts
  src/core/server/app/url.ts
Due: none

Keep question box visible when comment stream is closed
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
Due: git-exec-and-restage eslint --fix --

Refactor Stream component, move QuestionBox render logic into seperate fn
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
Due: git-exec-and-restage eslint --fix --

refactor: profile
  src/core/client/stream/tabs/profile/components/CommentHistory.tsx
  src/core/client/stream/tabs/profile/components/CommentsHistory.tsx
  src/core/client/stream/tabs/profile/components/Profile.tsx
  src/core/client/stream/tabs/profile/containers/CommentHistoryContainer.tsx
  src/core/client/stream/tabs/profile/containers/CommentsHistoryContainer.tsx
  src/core/client/stream/tabs/profile/containers/HistoryCommentContainer.tsx
  src/core/client/stream/tabs/profile/containers/ProfileContainer.tsx
Due: none

feat: add pagination to comment history
  src/core/client/stream/tabs/profile/components/CommentHistory.tsx
  src/core/client/stream/tabs/profile/containers/CommentHistoryContainer.tsx
  src/locales/en-US/stream.ftl
Due: none

feat: add getMeSourceID helper
  src/core/client/framework/helpers/getMe.ts
  src/core/client/framework/helpers/getMeSourceID.ts
  src/core/client/framework/helpers/index.ts
Due: none

feat: update profile in CreateCommentMutation
  src/core/client/stream/mutations/CreateCommentMutation.ts
Due: none

fix: clear query response cache on mutation
  src/core/client/framework/lib/network/createNetwork.ts
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
Due: none

test: add integration tests for profile
  src/core/client/framework/testHelpers/denormalize.ts
  src/core/client/stream/test/fixtures.ts
  src/core/client/stream/test/profile/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/profile/__snapshots__/renderProfile.spec.tsx.snap
  src/core/client/stream/test/profile/create.ts
  src/core/client/stream/test/profile/loadMore.spec.tsx
  src/core/client/stream/test/profile/renderProfile.spec.tsx
Due: none

feat: added base64 secret encoding
  docs/source/02-02-advanced-configuration.md
  services/jwt.js
Due: git-exec-and-restage eslint --fix --

test: add unit tests
  src/core/client/stream/tabs/profile/components/CommentHistory.spec.tsx
  src/core/client/stream/tabs/profile/components/HistoryComment.spec.tsx
  src/core/client/stream/tabs/profile/components/Profile.spec.tsx
  src/core/client/stream/tabs/profile/components/Profile.tsx
  src/core/client/stream/tabs/profile/components/__snapshots__/CommentHistory.spec.tsx.snap
  src/core/client/stream/tabs/profile/components/__snapshots__/HistoryComment.spec.tsx.snap
  src/core/client/stream/tabs/profile/components/__snapshots__/Profile.spec.tsx.snap
Due: none

feat: Implement InReplyTo
  src/core/client/stream/tabs/comments/components/Comment/Comment.css
  src/core/client/stream/tabs/comments/components/Comment/Comment.tsx
  src/core/client/stream/tabs/comments/components/Comment/InReplyTo.css
  src/core/client/stream/tabs/comments/components/Comment/InReplyTo.spec.tsx
  src/core/client/stream/tabs/comments/components/Comment/InReplyTo.tsx
  src/core/client/stream/tabs/comments/components/Comment/__snapshots__/Comment.spec.tsx.snap
  src/core/client/stream/tabs/comments/components/Comment/__snapshots__/InReplyTo.spec.tsx.snap
  src/core/client/stream/tabs/comments/containers/CommentContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
  src/core/client/ui/components/Typography/Typography.css
  src/core/client/ui/components/Typography/Typography.tsx
  src/core/client/ui/shared/typography.css
  src/locales/en-US/stream.ftl
Due: none

fix: fixes #2009
  config.js
Due: git-exec-and-restage eslint --fix --

review: fix invalid substring
  services/jwt.js
Due: git-exec-and-restage eslint --fix --

fix: disable audit
  .circleci/config.yml
Due: yamllint

[next] Content Security Policy (#1972)
  package-lock.json
  package.json
  src/core/server/app/middleware/csp/tenant.spec.ts
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/api/tenant.ts
  src/core/server/app/router/client.ts
  src/core/server/app/router/index.ts
  src/core/server/app/url.spec.ts
  src/core/server/app/url.ts
  src/core/server/types/express.ts
  src/types/content-security-policy-builder.d.ts
  src/types/fluent.d.ts
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
