Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

fix optimisticResponse typo
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Tweak block envar name for consistency
  plugins/nymag-auth/index.js
Due: git-exec-and-restage eslint --fix --

Karma
  client/coral-admin/src/components/KarmaTooltip.css
  client/coral-admin/src/components/KarmaTooltip.js
  client/coral-admin/src/components/UserDetail.css
  client/coral-admin/src/components/UserDetail.js
  client/coral-framework/utils/user.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

server side
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-framework/utils/user.js
  graph/typeDefs.graphql
  services/karma.js
Due: git-exec-and-restage eslint --fix --

Removes log statement
  plugins/nymag-auth/index.js
Due: git-exec-and-restage eslint --fix --

Handle multiple instances of talk in prd
  scripts/aws/ApplicationStart.sh
  scripts/aws/ApplicationStop.sh
Due: none

Update .nsprc
  .nsprc
Due: none

Don't close popup when there is an error
  client/coral-auth-callback/src/index.js
Due: git-exec-and-restage eslint --fix --

Only display paragraph if delete requested
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
Due: git-exec-and-restage eslint --fix --

added support for csp
  middleware/contentSecurityPolicy.js
  middleware/nonce.js
  plugins/talk-plugin-notifications/server/views/unsubscribe-notifications.njk
  plugins/talk-plugin-profile-data/server/views/download.njk
  routes/api/v1/csp.js
  routes/api/v1/index.js
  routes/index.js
  routes/plugins.js
  views/account/email/confirm.njk
  views/account/password/reset.njk
  views/admin.njk
  views/login.njk
Due: git-exec-and-restage eslint --fix --

Show overflow text on download comments button when disabled
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.css
Due: none

patched migration bugs
  models/schema/user.js
  services/actions.js
Due: git-exec-and-restage eslint --fix --

German translations for v4.4.1
  locales/de.yml
  plugins/talk-plugin-local-auth/translations.yml
  plugins/talk-plugin-profile-data/client/translations.yml
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

replacing by a one liner :)
  client/coral-admin/src/routes/Community/components/People.js
Due: git-exec-and-restage eslint --fix --

Styling
  client/coral-admin/src/components/KarmaTooltip.css
  client/coral-admin/src/components/UserDetail.css
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Wrap els in div
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
Due: git-exec-and-restage eslint --fix --

Updating the cache
  client/coral-admin/src/graphql/index.js
Due: git-exec-and-restage eslint --fix --

disable by default
  config.js
  docs/source/02-02-advanced-configuration.md
  middleware/contentSecurityPolicy.js
Due: git-exec-and-restage eslint --fix --

added config for report only mode
  config.js
  docs/source/02-02-advanced-configuration.md
  middleware/contentSecurityPolicy.js
Due: git-exec-and-restage eslint --fix --

fixes to csp policy
  middleware/contentSecurityPolicy.js
Due: git-exec-and-restage eslint --fix --

fix for custom css
  views/partials/custom-css.njk
Due: none

doc patch
  docs/source/02-02-advanced-configuration.md
Due: none

Small modification
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.css
Due: none

Introduce final form, validators and refactor AddEmailAddress
  client/coral-framework/lib/validation.js
  locales/de.yml
  locales/en.yml
  locales/es.yml
  package.json
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/AddEmailForm.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/AddEmailForm.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/Dialog.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/Dialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/EmailAddressAdded.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/EmailAddressAdded.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/VerifyEmailAddress.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/VerifyEmailAddress.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddress/index.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/components/InputField.js
  plugins/talk-plugin-local-auth/client/components/Label.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/translations.yml
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

German translations for the email notification plugins.
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/translations.yml
  plugins/talk-plugin-notifications/server/translations.yml
Due: yamllint

req not properly passed
  plugins/talk-plugin-akismet/server/hooks.js
Due: git-exec-and-restage eslint --fix --

relying on ip
  plugins/talk-plugin-akismet/server/hooks.js
Due: git-exec-and-restage eslint --fix --

Docs typo
  docs/source/03-07-product-guide-trust.md
Due: none

Remove wordbreak
  client/coral-admin/src/routes/Moderation/components/Comment.css
Due: none

simplified language negotiation
  client/coral-framework/services/i18n.js
  locales/fi_FI.yml
  package.json
  services/i18n.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

Fix incorrect statement regarding GDPR
  docs/source/03-08-gdpr.md
Due: none

Make it so low threshold is included in karma calc
  services/karma.js
Due: git-exec-and-restage eslint --fix --

Fix broken link to tokenusernotfound
  docs/source/integrating/authentication.md
Due: none

Remuve dupe "apply"
  docs/source/03-08-gdpr.md
Due: none

changes
  client/coral-admin/src/components/KarmaTooltip.css
Due: none

add from to import statement
  docs/source/api/client.md
Due: none

Explicitly set opacity to 1 for iPhone
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep.css
Due: none

Fix hr line on older devices
  plugins/talk-plugin-profile-data/client/components/StepProgress.css
Due: none

adjusted karma tooltip
  client/coral-admin/src/components/KarmaTooltip.css
  client/coral-admin/src/components/KarmaTooltip.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
