Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

patches to reliability computation based on settings
  client/coral-admin/src/containers/UserDetail.js
  client/coral-admin/src/graphql/index.js
  graph/resolvers/index.js
  graph/resolvers/karma_threshold.js
  graph/resolvers/settings.js
  graph/typeDefs.graphql
  services/karma.js
  test/server/services/karma.js
Due: git-exec-and-restage eslint --fix --

"Trust" flag to "Karma" and updated translations
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: yamllint

field renamed
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-admin/src/graphql/index.js
  graph/typeDefs.graphql
  services/karma.js
Due: git-exec-and-restage eslint --fix --

fixed translations
  client/coral-admin/src/components/CommentLabels.js
Due: git-exec-and-restage eslint --fix --

fixed first time user
  services/moderation/phases/karma.js
  test/server/services/karma.js
Due: git-exec-and-restage eslint --fix --

Fix Touch issues on IOS Safari (iPad)
  views/embed/stream.njk
Due: none

new environment variable TALK_FORCE_LANG added
  client/coral-framework/services/i18n.js
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

Added support for forcing languages
  Dockerfile.onbuild
  client/coral-framework/services/i18n.js
  config.js
  docs/source/02-02-advanced-configuration.md
  services/i18n.js
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

fix
  docs/source/02-02-advanced-configuration.md
Due: none

fixed default doc
  docs/source/02-02-advanced-configuration.md
Due: none

name changes
  client/coral-admin/src/components/KarmaTooltip.js
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

`karma` -> `karmaThresholds`
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-admin/src/graphql/index.js
  graph/resolvers/settings.js
  graph/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --

added comment
  client/coral-admin/src/components/KarmaTooltip.js
Due: git-exec-and-restage eslint --fix --

csp fixes
  routes/api/v1/csp.js
Due: git-exec-and-restage eslint --fix --

support the __webpack_nonce__ parameter
  client/coral-framework/helpers/webpackGlobals.js
  middleware/nonce.js
  middleware/staticTemplate.js
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

Replace break all with break-word
  client/coral-admin/src/routes/Moderation/components/Comment.css
Due: none

text-replace error
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

Use overflow wrap for better compatibility
  client/coral-admin/src/routes/Moderation/components/Comment.css
Due: none

First i18n script
  package.json
  scripts/i18n.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Sort locales
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: yamllint

Add delete and copy action
  scripts/i18n.js
Due: git-exec-and-restage eslint --fix --

Copy over available validator translations
  locales/ar.yml
  locales/da.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: yamllint

Add missing translations (en/de) for plugins ignore-user and local-auth.
  plugins/talk-plugin-ignore-user/client/translations.yml
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-local-auth/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

One more missing German translation
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Remove redundancy
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Remove redundant period. It's in the translation strings already.
  services/mailer/templates/password-reset.txt.ejs
Due: none

Add comments
  client/coral-framework/lib/validation.js
Due: git-exec-and-restage eslint --fix --

Export validations in plugin-api
  plugin-api/beta/client/lib/validation.js
Due: git-exec-and-restage eslint --fix --

enhanced docs around jwt's
  docs/source/02-01-required-configuration.md
  docs/source/integrating/authentication.md
  docs/themes/coral/source/css/talk.scss
Due: none

added missing translation
  locales/en.yml
Due: yamllint

disable CSP until we can work on configuration + webpack issues
  docs/source/02-02-advanced-configuration.md
  routes/index.js
  routes/plugins.js
Due: git-exec-and-restage eslint --fix --

Update stream.njk
  views/embed/stream.njk
Due: none

moved event handler to bundle
  client/coral-embed-stream/src/index.js
  views/embed/stream.njk
Due: git-exec-and-restage eslint --fix --

added pivotal tracker ref
  client/coral-embed-stream/src/index.js
Due: git-exec-and-restage eslint --fix --

move placeholder right behind contentEditable
  plugins/talk-plugin-rich-text/client/components/rte/RTE.css
Due: none

Bump version to 4.4.2
  package.json
Due: none

Take karma into account when doing e2e
  client/coral-admin/src/components/ApproveButton.js
  client/coral-admin/src/components/RejectButton.js
  client/coral-admin/src/routes/Moderation/components/ModerationMenu.js
  client/coral-admin/src/routes/Moderation/components/ModerationQueue.js
  test/e2e/globals.js
  test/e2e/page_objects/admin.js
  test/e2e/specs/03_embedStream.js
  test/e2e/specs/05_banUser.js
  test/e2e/specs/06_suspendUser.js
Due: git-exec-and-restage eslint --fix --

apply @cvle suggestion for fix
  plugins/talk-plugin-rich-text/client/components/rte/RTE.css
Due: none

add missing dependency
  package.json
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
