Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

nightwatchjs.org doesn't support HTTPS
  README.md
Due: none

fixed typo
  locales/en.yml
Due: yamllint

Adding Change Email
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeEmailDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeEmailDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Make TALK_DEFAULT_LANG higher priority than locale and navigator language
  client/coral-framework/services/i18n.js
Due: git-exec-and-restage eslint --fix --

Code refine
  client/coral-framework/services/i18n.js
Due: git-exec-and-restage eslint --fix --

fix lint error
  client/coral-framework/services/i18n.js
Due: git-exec-and-restage eslint --fix --

wip
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeEmailContentDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameContentDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ConfirmChangesDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ConfirmChangesDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.css
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.js
  plugins/talk-plugin-auth/client/profile-settings/containers/Profile.js
Due: git-exec-and-restage eslint --fix --

WIP: Steps
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ConfirmChangesDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Addin g withUpdateEmailAddress
  client/coral-framework/graphql/fragments.js
  client/coral-framework/graphql/mutations.js
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-auth/client/profile-settings/containers/Profile.js
Due: git-exec-and-restage eslint --fix --

Passing Dialog content
  client/coral-framework/graphql/mutations.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ConfirmChangesDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Fixed bug in mutation
  perms/reducers/mutation.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangeUsername.js
  plugins/talk-plugin-auth/client/translations.yml
  services/users.js
Due: git-exec-and-restage eslint --fix --, yamllint

fixed tests
  test/server/graph/mutations/changeUsername.js
Due: git-exec-and-restage eslint --fix --

fixes for tests
  services/users.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

Update copy
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/pt_BR.yml
Due: yamllint

Catching if username cant be updated
  client/coral-embed-stream/src/tabs/profile/containers/Profile.js
  client/coral-framework/utils/user.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Adding translations
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

ChangeUsername instead of setUsername
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangeUsername.js
Due: git-exec-and-restage eslint --fix --

Finished with crossed steps
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ConfirmChangesDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Initial Delete
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
Due: git-exec-and-restage eslint --fix --

wip
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/StepProgress.css
  plugins/talk-plugin-auth/client/profile-settings/components/StepProgress.js
Due: git-exec-and-restage eslint --fix --

small wording change
  locales/en.yml
Due: yamllint

Fix viewing/editing empty org contact email
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
  client/coral-framework/utils/index.js
Due: git-exec-and-restage eslint --fix --

Move next route out of state
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Cleanup leave hook
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

No dialog when switching sections
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Prevent reload or closing tab or window with pending data
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Move mutation logic to coral-admin
  client/coral-admin/src/graphql/index.js
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Remove forgotten console.log
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Readd save dialog on section change
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Adding StepProgress component, and all the steps
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep0.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep2.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-auth/client/profile-settings/components/StepProgress.css
  plugins/talk-plugin-auth/client/profile-settings/components/StepProgress.js
Due: git-exec-and-restage eslint --fix --

styles wip
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep0.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep2.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
Due: git-exec-and-restage eslint --fix --

fix b
  plugins/talk-plugin-auth/client/profile-settings/components/ConfirmChangesDialog.js
Due: git-exec-and-restage eslint --fix --

Fix error message
  locales/en.yml
Due: yamllint

fixes for index creation
  models/index.js
  models/schema/index.js
  plugin-api/beta/server/getReactionConfig.js
  services/mongoose.js
Due: git-exec-and-restage eslint --fix --

Adding withRequestAccountDeletion, withRequestDownloadLink, withCancelAccountDeletion
  client/coral-framework/graphql/fragments.js
  client/coral-framework/graphql/mutations.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep2.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
Due: git-exec-and-restage eslint --fix --

Adding withRequestAccountDeletion, withRequestDownloadLink, withCancelAccountDeletion
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.js
  plugins/talk-plugin-auth/client/profile-settings/containers/DeleteMyAccount.js
Due: git-exec-and-restage eslint --fix --

Wip: mutations, styles and functionality
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep0.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep2.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-auth/client/profile-settings/containers/DeleteMyAccount.js
Due: git-exec-and-restage eslint --fix --

Adding AccountDeletionRequestedSign.js
  plugins/talk-plugin-auth/client/profile-settings/components/AccountDeletionRequestedSign.css
  plugins/talk-plugin-auth/client/profile-settings/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
Due: git-exec-and-restage eslint --fix --

Updating cache
  client/coral-framework/graphql/mutations.js
  locales/en.yml
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/AccountDeletionRequestedSign.css
  plugins/talk-plugin-auth/client/profile-settings/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccount.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-auth/client/stream/components/AccountDeletionRequestedSign.css
  plugins/talk-plugin-auth/client/stream/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-auth/client/stream/containers/AccountDeletionRequestedSign.js
Due: git-exec-and-restage eslint --fix --, yamllint
