Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Shorten es.yml translation to "Configurar"
  locales/es.yml
Due: yamllint

Add missing Spanish translations for local-auth
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Shorten es.yml translation to "Configurar" (#1878)
  locales/es.yml
Due: yamllint

Add test for `showPermalink` event
  src/core/client/embed/StreamEmbed.spec.ts
Due: none

fix: yaml fix
  package.json
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Add missing Spanish translations for local-auth (#1879)
  package.json
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Es typo
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Move styles to button
  src/core/client/ui/components/Tabs/Tab.css
  src/core/client/ui/components/Tabs/Tab.tsx
Due: none

Namespace ids
  src/core/client/ui/components/Tabs/Tab.tsx
  src/core/client/ui/components/Tabs/TabPane.tsx
Due: none

Update snapshots
  src/core/client/ui/components/Tabs/__snapshots__/Tab.spec.tsx.snap
  src/core/client/ui/components/Tabs/__snapshots__/TabBar.spec.tsx.snap
  src/core/client/ui/components/Tabs/__snapshots__/TabContent.spec.tsx.snap
  src/core/client/ui/components/Tabs/__snapshots__/TabPane.spec.tsx.snap
Due: none

WIP
  src/core/client/ui/components/Tabs/Tab.css
  src/core/client/ui/components/Tabs/TabBar.css
Due: none

Adds Spanish translations for profile data (#1872)
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

Styling fixes
  src/core/client/ui/components/Tabs/Tab.css
Due: none

Es typo (#1880)
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Bump version 4.6.3 (#1871)
  graph/subscriptions/index.js
  package.json
Due: git-exec-and-restage eslint --fix --

Add more missing es translations
  locales/es.yml
Due: yamllint

Typo
  locales/es.yml
Due: yamllint

Add more missing es translations (#1883)
  locales/es.yml
Due: yamllint

fix: server fixes
  src/core/server/graph/tenant/loaders/users.ts
  src/core/server/graph/tenant/resolvers/query.ts
  src/core/server/graph/tenant/resolvers/user.ts
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

fix: linting
  src/core/server/graph/tenant/resolvers/user.ts
Due: none

Resubscribe local state
  src/core/client/framework/lib/relay/createMutationContainer.tsx
  src/core/client/framework/lib/relay/withLocalStateContainer.tsx
Due: none

Don't pass context
  src/core/client/framework/lib/relay/createMutationContainer.tsx
Due: none

[next] Resubscribe local state (#1884)
  src/core/client/framework/lib/relay/createMutationContainer.tsx
  src/core/client/framework/lib/relay/withLocalStateContainer.tsx
Due: none

Add static className to featured tooltip
  plugins/talk-plugin-featured-comments/client/components/Tooltip.js
Due: git-exec-and-restage eslint --fix --

Add static className to featured tooltip (#1885)
  plugins/talk-plugin-featured-comments/client/components/Tooltip.js
Due: git-exec-and-restage eslint --fix --

Fix bug with translations for Google auth
  plugins/talk-plugin-google-auth/client/translations.yml
Due: yamllint

Update translations for ignore-user plugin
  plugins/talk-plugin-ignore-user/client/translations.yml
Due: yamllint

Es translation
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
Due: yamllint

More translations for es
  plugins/talk-plugin-notifications/client/translations.yml
Due: yamllint

Category and digest translations
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
Due: yamllint

Typo
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
Due: yamllint

More profile-data translations
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

Typo
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
Due: yamllint

feat: added reaction configuration
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/settings.ts
  src/core/server/models/tenant.ts
Due: none

Fixes
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
Due: yamllint

feat: added support for action creation via edit
  src/core/server/services/comments/index.ts
Due: none

Typo
  plugins/talk-plugin-google-auth/client/translations.yml
Due: yamllint

More profile-data translations (#1889)
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

Notifications plugins es translations (#1888)
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/translations.yml
Due: yamllint

Update translations for ignore-user plugin (#1887)
  plugins/talk-plugin-ignore-user/client/translations.yml
Due: yamllint
