Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

fix: resolve bug from merge conflict
  src/core/server/graph/tenant/mutators/Settings.ts
Due: none

talk-plugin-toxic-comments - ADD MODEL VARIABLE TO TOXIC COMMENTS (#2178)
  plugins/talk-plugin-toxic-comments/README.md
  plugins/talk-plugin-toxic-comments/server/config.js
  plugins/talk-plugin-toxic-comments/server/perspective.js
  plugins/talk-plugin-toxic-comments/server/resolvers.js
Due: git-exec-and-restage eslint --fix --

Create Moderation actions notification plugin (#2175)
  .gitignore
  plugins/talk-plugin-notifications-category-moderation-actions/README.md
  plugins/talk-plugin-notifications-category-moderation-actions/client/.eslintrc.json
  plugins/talk-plugin-notifications-category-moderation-actions/client/index.js
  plugins/talk-plugin-notifications-category-moderation-actions/client/translations.yml
  plugins/talk-plugin-notifications-category-moderation-actions/config.js
  plugins/talk-plugin-notifications-category-moderation-actions/index.js
  plugins/talk-plugin-notifications-category-moderation-actions/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

fix: repairs bug with user on request
  src/core/server/app/middleware/passport/index.ts
Due: none

fix: repairs bug with user on request (#2181)
  src/core/server/app/middleware/passport/index.ts
Due: none

Add working close button and style
  client/coral-embed/src/SnackBar.js
Due: git-exec-and-restage eslint --fix --

Reorder style as previous
  client/coral-embed/src/SnackBar.js
Due: git-exec-and-restage eslint --fix --

Rename classes to match id
  client/coral-embed/src/SnackBar.js
Due: git-exec-and-restage eslint --fix --

chore: upgrade react
  package-lock.json
  package.json
Due: none

feat: added README, LICENSE, fixed bugs with package.json
  LICENSE
  README.md
  package.json
Due: none

refactor: remove test as valid suggested option
  README.md
Due: none

[next] Production Fixes + Initial Documentation (#2185)
  LICENSE
  README.md
  package.json
Due: none

chore: upgrade react (#2183)
  package-lock.json
  package.json
Due: none

fix: fixed bug with purify
  package.json
  src/core/common/utils/purify.spec.ts
  src/core/common/utils/purify.ts
Due: none

refactor: changed variable assignment default
  package.json
Due: none

Spanish (es) translations for talk notifications plugins
  plugins/talk-plugin-notifications-category-moderation-actions/client/translations.yml
  plugins/talk-plugin-notifications-category-moderation-actions/translations.yml
  plugins/talk-plugin-notifications/server/translations.yml
Due: yamllint

refactor: fixed default variable assignment
  package.json
Due: none

fix: repaired tests for <strong> -> <b>
  package-lock.json
  src/core/client/admin/routes/moderate/components/CommentContent.spec.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/CommentContent.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/postComment.spec.tsx
  src/core/client/stream/test/comments/postLocalReply.spec.tsx
  src/core/client/stream/test/comments/postReply.spec.tsx
Due: none

[CORL-264] Fixes bug with purify (#2187)
  package-lock.json
  package.json
  src/core/client/admin/routes/moderate/components/CommentContent.spec.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/CommentContent.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/postComment.spec.tsx
  src/core/client/stream/test/comments/postLocalReply.spec.tsx
  src/core/client/stream/test/comments/postReply.spec.tsx
  src/core/common/utils/purify.spec.ts
  src/core/common/utils/purify.ts
Due: none

fix: rename devToolsExtension
  client/coral-framework/services/store.js
Due: git-exec-and-restage eslint --fix --

fix: rename devToolsExtension (#2192)
  client/coral-framework/services/store.js
Due: git-exec-and-restage eslint --fix --

chore: change wording for showing hidden comments
  src/core/client/stream/tabs/comments/views/permalink/components/ConversationThread.css
  src/core/client/stream/tabs/comments/views/permalink/components/ConversationThread.tsx
  src/core/client/stream/tabs/comments/views/permalink/components/__snapshots__/ConversationThread.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/permalinkViewLoadMoreParents.spec.tsx
  src/locales/en-US/stream.ftl
Due: none

test: update snapshots
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
Due: none

[CORL-125] change wording for showing hidden comments (#2180)
  src/core/client/stream/tabs/comments/views/permalink/components/ConversationThread.css
  src/core/client/stream/tabs/comments/views/permalink/components/ConversationThread.tsx
  src/core/client/stream/tabs/comments/views/permalink/components/__snapshots__/ConversationThread.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/permalinkViewLoadMoreParents.spec.tsx
  src/locales/en-US/stream.ftl
Due: none

feat: add FieldSet component to ui
  src/core/client/admin/routes/configure/sections/general/components/ClosingCommentStreamsConfig.tsx
  src/core/client/admin/routes/configure/sections/general/components/CommentEditingConfig.tsx
  src/core/client/admin/routes/configure/sections/general/components/CommentLengthConfig.tsx
  src/core/client/admin/routes/configure/sections/general/components/GuidelinesConfig.tsx
  src/core/client/admin/routes/configure/sections/moderation/components/AkismetConfig.tsx
  src/core/client/admin/routes/configure/sections/moderation/components/PerspectiveConfig.tsx
  src/core/client/ui/components/FieldSet/FieldSet.css
  src/core/client/ui/components/FieldSet/FieldSet.mdx
  src/core/client/ui/components/FieldSet/FieldSet.spec.tsx
  src/core/client/ui/components/FieldSet/FieldSet.tsx
  src/core/client/ui/components/FieldSet/index.ts
  src/core/client/ui/components/index.ts
Due: none

feat: sort stream
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/stream/local/__snapshots__/initLocalState.spec.ts.snap
  src/core/client/stream/local/initLocalState.ts
  src/core/client/stream/local/local.graphql
  src/core/client/stream/mutations/SetStreamOrderByMutation.spec.ts
  src/core/client/stream/mutations/SetStreamOrderByMutation.ts
  src/core/client/stream/tabs/comments/components/Divider.css
  src/core/client/stream/tabs/comments/components/Divider.tsx
  src/core/client/stream/tabs/comments/components/SortMenu.css
  src/core/client/stream/tabs/comments/components/SortMenu.spec.tsx
  src/core/client/stream/tabs/comments/components/SortMenu.tsx
  src/core/client/stream/tabs/comments/components/Stream.spec.tsx
  src/core/client/stream/tabs/comments/components/Stream.tsx
  src/core/client/stream/tabs/comments/components/__snapshots__/SortMenu.spec.tsx.snap
  src/core/client/stream/tabs/comments/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/tabs/comments/containers/StreamContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/StreamContainer.tsx
  src/core/client/stream/tabs/comments/containers/__snapshots__/StreamContainer.spec.tsx.snap
  src/core/client/stream/tabs/comments/queries/StreamQuery.spec.tsx
  src/core/client/stream/tabs/comments/queries/StreamQuery.tsx
  src/core/client/stream/tabs/comments/queries/__snapshots__/StreamQuery.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/create.ts
  src/core/client/ui/components/SelectField/SelectField.css
  src/core/client/ui/components/SelectField/SelectField.tsx
  src/core/client/ui/components/SelectField/__snapshots__/SelectField.spec.tsx.snap
  src/locales/en-US/stream.ftl
Due: none

feat: make accessible and add feature test
  src/core/client/stream/tabs/comments/components/SortMenu.tsx
  src/core/client/stream/tabs/comments/components/__snapshots__/SortMenu.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/sortStream.spec.tsx.snap
  src/core/client/stream/test/comments/sortStream.spec.tsx
Due: none

test: fix snapshots
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/admin/test/configure/__snapshots__/moderation.spec.tsx.snap
  src/core/client/stream/tabs/comments/components/__snapshots__/SortMenu.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/ui/components/FieldSet/__snapshots__/FieldSet.spec.tsx.snap
Due: none

feat: configure sitewide commenting
  src/core/client/admin/routes/configure/components/OnOffField.tsx
  src/core/client/admin/routes/configure/sections/general/components/GeneralConfig.tsx
  src/core/client/admin/routes/configure/sections/general/components/SitewideCommentingConfig.tsx
  src/core/client/admin/routes/configure/sections/general/containers/GeneralConfigContainer.tsx
  src/core/client/admin/routes/configure/sections/general/containers/SitewideCommentingConfigContainer.tsx
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/admin/test/configure/__snapshots__/moderation.spec.tsx.snap
  src/core/client/admin/test/configure/general.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/framework/testHelpers/byLabelText.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/settings.ts
  src/core/server/models/tenant.ts
  src/locales/en-US/admin.ftl
Due: none

fix: repaired snapshots
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
Due: none

chore: Rename InnerProps to Props
  src/core/client/framework/components/CopyButton.tsx
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/containers/TabBarContainer.tsx
  src/core/client/stream/containers/UserBoxContainer.tsx
  src/core/client/stream/queries/TabBarQuery.tsx
  src/core/client/stream/tabs/comments/components/PermalinkButton/PermalinkPopover.tsx
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/CommentsPaneContainer.tsx
  src/core/client/stream/tabs/comments/containers/EditCommentFormContainer.tsx
  src/core/client/stream/tabs/comments/containers/LocalReplyListContainer.tsx
  src/core/client/stream/tabs/comments/containers/PermalinkButtonContainer.tsx
  src/core/client/stream/tabs/comments/containers/PostCommentFormContainer.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/tabs/comments/containers/ReplyListContainer.tsx
  src/core/client/stream/tabs/comments/containers/StreamContainer.tsx
  src/core/client/stream/tabs/comments/views/permalink/queries/PermalinkViewQuery.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportCommentForm.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/ReportPopover.tsx
  src/core/client/stream/tabs/comments/views/reportComment/components/ThankYou.tsx
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
  src/core/client/ui/components/AriaInfo/AriaInfo.tsx
  src/core/client/ui/components/BaseButton/BaseButton.tsx
  src/core/client/ui/components/Button/Button.tsx
  src/core/client/ui/components/Button/ButtonIcon.tsx
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/FormField/FormField.tsx
  src/core/client/ui/components/HorizontalGutter/HorizontalGutter.tsx
  src/core/client/ui/components/Icon/Icon.tsx
  src/core/client/ui/components/MatchMedia/MatchMedia.tsx
  src/core/client/ui/components/Message/MessageIcon.tsx
  src/core/client/ui/components/RelativeTime/RelativeTime.tsx
  src/core/client/ui/components/Typography/Typography.tsx
  src/docs/workarounds.mdx
Due: none

feat: Render community guidelines
  .vscode/settings.json
  package-lock.json
  package.json
  src/core/build/paths.ts
  src/core/build/postcss.config.js
  src/core/client/framework/components/Markdown.css
  src/core/client/framework/components/Markdown.spec.tsx
  src/core/client/framework/components/Markdown.tsx
  src/core/client/framework/components/__snapshots__/Markdown.spec.tsx.snap
  src/core/client/framework/components/index.ts
  src/core/client/framework/components/loadables/MarkdownEditor.css
  src/core/client/stream/tabs/comments/components/CommunityGuidelines.spec.tsx
  src/core/client/stream/tabs/comments/components/CommunityGuidelines.tsx
  src/core/client/stream/tabs/comments/components/Stream.tsx
  src/core/client/stream/tabs/comments/components/__snapshots__/CommunityGuidelines.spec.tsx.snap
  src/core/client/stream/tabs/comments/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/tabs/comments/containers/CommunityGuidelinesContainer.tsx
  src/core/client/stream/tabs/comments/containers/StreamContainer.tsx
  src/core/client/stream/test/comments/__snapshots__/renderCommunityGuidelines.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/renderCommunityGuidelines.spec.tsx
  src/core/client/stream/test/fixtures.ts
  src/core/client/ui/shared/typography.css
  src/core/client/ui/theme/mixins.css
Due: git-exec-and-restage eslint --fix --

chore: refactor schema communityGuidelines* settings into it's own type
  src/core/client/admin/routes/configure/sections/general/components/GuidelinesConfig.tsx
  src/core/client/admin/routes/configure/sections/general/containers/GuidelinesConfigContainer.tsx
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/admin/test/configure/general.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/stream/tabs/comments/containers/CommunityGuidelinesContainer.tsx
  src/core/client/stream/test/comments/renderCommunityGuidelines.spec.tsx
  src/core/client/stream/test/fixtures.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/settings.ts
  src/core/server/models/tenant.ts
Due: none

fix: updated snapshots
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
Due: none

test: update snapshots
  src/core/client/stream/test/comments/__snapshots__/renderCommunityGuidelines.spec.tsx.snap
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
