Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Add jest set
  config/watcher.ts
Due: none

Remove jest from watcher config, as it doesnt run well inside
  config/watcher.ts
Due: none

feat: improved user creation
  src/core/server/app/handlers/auth/local.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/error.ts
  src/core/server/app/middleware/logging.ts
  src/core/server/app/middleware/passport/oidc.ts
  src/core/server/app/request/__snapshots__/body.spec.ts.snap
  src/core/server/app/request/body.spec.ts
  src/core/server/app/request/body.ts
  src/core/server/app/router.ts
  src/core/server/models/user.ts
  src/core/server/services/users/index.ts
Due: none

fix: renamed type file
  src/core/server/types/express.d.ts
Due: none

fix: new mongo parser
  src/core/server/config.ts
  src/core/server/services/mongodb/index.ts
Due: none

Short circuit endless respawn
  package-lock.json
  scripts/watcher/LongRunningExecutor.ts
Due: none

Colors
  scripts/watcher/watch.ts
Due: none

More colors
  scripts/watcher/CommandExecutor.ts
  scripts/watcher/LongRunningExecutor.ts
  scripts/watcher/SaneWatcher.ts
Due: none

Make timeagoFormatter optional
  package-lock.json
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/stream/test/loadMore.spec.tsx
  src/core/client/stream/test/renderReplies.spec.tsx
  src/core/client/stream/test/renderStream.spec.tsx
  src/core/client/stream/test/showAllReplies.spec.tsx
Due: none

review: input.password -> hashedPassword
  src/core/server/models/user.ts
Due: none

merge conflicts
  package-lock.json
  package.json
  src/core/client/stream/components/Comment/Comment.spec.tsx
  src/core/client/stream/components/PermalinkPopover.tsx
  src/core/client/stream/containers/CommentContainer.tsx
  src/core/client/ui/hocs/withForwardRef.tsx
  src/locales/en-US/stream.ftl
Due: none

review: changes for review
  config/watcher.ts
  package.json
  scripts/generateSchemaTypes.js
  src/core/client/tsconfig.json
  src/core/server/app/handlers/auth/local.ts
  src/core/server/app/middleware/passport/oidc.ts
Due: git-exec-and-restage eslint --fix --

review: tests
  src/core/server/graph/common/scalars/cursor.spec.ts
  src/core/server/graph/common/scalars/cursor.ts
  src/core/server/types/express.ts
Due: none

progress
  src/core/client/stream/components/Comment/Comment.spec.tsx
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/PermalinkPopover.tsx
  src/core/client/ui/components/Attachment/Attachment.tsx
  src/core/client/ui/components/Popover/Popover.tsx
  src/core/client/ui/hocs/withForwardRef.tsx
Due: none

feat: support graphql schema type compilation for watcher
  config/watcher.ts
Due: none

Use builtin types
  src/core/client/framework/types.ts
  src/core/client/ui/types.ts
Due: none

Use readable css names in docz dev
  config/watcher.ts
  doczrc.js
Due: git-exec-and-restage eslint --fix --

Support wrapping, disable shrink by default
  src/core/client/ui/components/Button/Button.mdx
  src/core/client/ui/components/Flex/Flex.css
  src/core/client/ui/components/Flex/Flex.tsx
Due: none

feat: production updates
  config/paths.js
  config/webpack.config.prod.js
  src/core/server/app/handlers/auth/local.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/notFound.ts
  src/core/server/app/router.ts
  src/core/server/config.ts
  src/index.ts
Due: git-exec-and-restage eslint --fix --

Any
  src/core/client/stream/components/PermalinkPopover.tsx
  src/core/client/ui/components/Attachment/Attachment.tsx
  src/core/client/ui/components/Popover/Popover.tsx
Due: none

Add withMouseHover HOC
  src/core/client/ui/hocs/index.ts
  src/core/client/ui/hocs/withKeyboardFocus.tsx
  src/core/client/ui/hocs/withMouseHover.tsx
  src/core/client/ui/hocs/withStyles.ts
Due: none

Correct colors
  src/core/client/ui/theme/variables.ts
Due: none

Disable hover styling for touches
  src/core/client/ui/components/BaseButton/BaseButton.tsx
  src/core/client/ui/components/Button/Button.tsx
Due: none

Working
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/PermalinkPopover.tsx
  src/core/client/ui/components/Attachment/Attachment.tsx
Due: none

Support for refs
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/PermalinkPopover.css
  src/core/client/ui/components/BaseButton/BaseButton.tsx
  src/core/client/ui/components/Button/Button.tsx
Due: none

Ready
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/PermalinkPopover.css
  src/core/client/ui/components/Popover/Popover.tsx
Due: none

Fix button styling
  src/core/client/ui/components/BaseButton/BaseButton.css
  src/core/client/ui/components/Button/Button.css
  src/core/client/ui/components/Button/Button.tsx
Due: none

Forward Ref Stub
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/ui/components/BaseButton/BaseButton.tsx
  src/core/client/ui/components/Button/Button.tsx
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/RelativeTime/RelativeTime.tsx
  src/core/client/ui/components/Typography/Typography.tsx
  src/core/client/ui/hocs/index.ts
  src/core/client/ui/hocs/withForwardRef.tsx
  src/core/client/ui/hocs/withKeyboardFocus.tsx
  src/core/client/ui/hocs/withMouseHover.tsx
Due: none

Add missing tests
  src/core/client/stream/components/ReplyList.spec.tsx
  src/core/client/stream/components/__snapshots__/ReplyList.spec.tsx.snap
Due: none

feat: passport impl
  src/core/server/app/middleware/passport/jwt.spec.ts
  src/core/server/app/middleware/passport/jwt.ts
  src/core/server/app/middleware/passport/oidc.spec.ts
  src/core/server/app/middleware/passport/oidc.ts
  src/core/server/app/middleware/passport/sso.spec.ts
  src/core/server/app/middleware/passport/sso.ts
  src/core/server/app/router.ts
Due: none

feat: added npm audit
  .circleci/config.yml
Due: yamllint

fix: update npm
  .circleci/config.yml
Due: yamllint

fix: sudo with global npm update
  .circleci/config.yml
Due: yamllint

fix: move audit up
  .circleci/config.yml
Due: yamllint

fix: runInBand for CI
  .circleci/config.yml
Due: yamllint

feat: added test results
  .circleci/config.yml
  package-lock.json
  package.json
  scripts/test.js
Due: git-exec-and-restage eslint --fix --, yamllint

Support Material Icons + bugfixes
  package-lock.json
  package.json
  src/core/client/stream/components/__snapshots__/App.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/ReplyList.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/ui/components/BaseButton/BaseButton.spec.tsx
  src/core/client/ui/components/BaseButton/__snapshots__/BaseButton.spec.tsx.snap
  src/core/client/ui/components/Button/Button.css
  src/core/client/ui/components/Button/Button.mdx
  src/core/client/ui/components/Button/Button.tsx
  src/core/client/ui/components/Flex/Flex.spec.tsx
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/Flex/__snapshots__/Flex.spec.tsx.snap
  src/core/client/ui/components/Icon/Icon.css
  src/core/client/ui/components/Icon/Icon.mdx
  src/core/client/ui/components/Icon/Icon.spec.tsx
  src/core/client/ui/components/Icon/Icon.tsx
  src/core/client/ui/components/Icon/__snapshots__/Icon.spec.tsx.snap
  src/core/client/ui/components/Icon/index.ts
Due: none

Self host fonts and fix font weights
  package-lock.json
  package.json
  src/core/client/ui/shared/typography.css
  src/core/client/ui/theme/variables.ts
Due: none
