Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

added dist cache support
  .circleci/config.yml
  package.json
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

added deeper cache support
  .circleci/config.yml
Due: yamllint

added develop filter
  .circleci/config.yml
Due: yamllint

Minimal styling and old code removal
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.css
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/ReplyBox.css
  client/coral-embed-stream/src/tabs/stream/components/ReplyBox.js
  plugins/talk-plugin-rich-text-pell/client/components/Editor.css
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

added safari to integration jobs
  .circleci/config.yml
Due: yamllint

object propery typo
  client/coral-framework/components/Slot.js
Due: git-exec-and-restage eslint --fix --

review
  .circleci/config.yml
  nightwatch.conf.js
Due: git-exec-and-restage eslint --fix --, yamllint

fixed translation
  plugins/talk-plugin-notifications-category-reply/client/containers/Toggle.js
Due: git-exec-and-restage eslint --fix --

more fixes to translation
  plugins/talk-plugin-notifications-category-featured/client/containers/Toggle.js
Due: git-exec-and-restage eslint --fix --

seperated tests
  .circleci/config.yml
  package.json
  yarn.lock
Due: yamllint

adjusted client tests
  .circleci/config.yml
  jest.config.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

changes
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  plugins/talk-plugin-rich-text-pell/client/index.js
  services/comments.js
Due: git-exec-and-restage eslint --fix --

changes
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
Due: git-exec-and-restage eslint --fix --

removing slot name change
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
Due: git-exec-and-restage eslint --fix --

the fragment tree
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
Due: git-exec-and-restage eslint --fix --

implemented staff replies
  .gitignore
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/client/.eslintrc.json
  plugins/talk-plugin-notifications-category-staff/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-staff/client/graphql.js
  plugins/talk-plugin-notifications-category-staff/client/index.js
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/index.js
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications/server/NotificationManager.js
Due: git-exec-and-restage eslint --fix --, yamllint

fixed workspace error
  bin/cli-plugins
Due: git-exec-and-restage eslint --fix --

upped versions of hexo
  docs/package.json
  yarn.lock
Due: none

always save test results
  .circleci/config.yml
Due: yamllint

changed max retries on unreliable tests
  .circleci/config.yml
Due: yamllint

fixed deploy
  .circleci/config.yml
Due: yamllint

Changes added
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/EditableCommentContent.js
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/EditableCommentContent.js
  plugins/talk-plugin-rich-text-pell/client/index.js
Due: git-exec-and-restage eslint --fix --

wip changes
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  services/comments.js
Due: git-exec-and-restage eslint --fix --

fragment added
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
Due: git-exec-and-restage eslint --fix --

Simpler fragments
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/EditableCommentContent.js
  client/coral-embed-stream/src/tabs/stream/containers/ReplyBox.js
  client/coral-framework/services/client.js
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-rich-text-pell/client/index.js
Due: git-exec-and-restage eslint --fix --

Grab rootQuery too!
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
Due: git-exec-and-restage eslint --fix --

Rolling back classes
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/DraftAreaContent.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  test/e2e/page_objects/embedStream.js
Due: git-exec-and-restage eslint --fix --

Adding rootquery support
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
Due: git-exec-and-restage eslint --fix --

fixes to ci for deploy
  README.md
  scripts/docker.sh
Due: none

Passing the comment down until we reach the queryData
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/ReplyBox.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

CommentContent added to the admin side
  client/coral-admin/src/routes/Moderation/components/Comment.css
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/DraftAreaContent.css
Due: git-exec-and-restage eslint --fix --

Email confirmation check
  config.js
  graph/mutators/comment.js
  graph/resolvers/index.js
  graph/resolvers/local_user_profile.js
  graph/resolvers/user_profile.js
  graph/typeDefs.graphql
  plugins/talk-plugin-notifications-category-featured/index.js
  plugins/talk-plugin-notifications-category-reply/index.js
  plugins/talk-plugin-notifications-category-staff/index.js
  plugins/talk-plugin-notifications/server/NotificationManager.js
  plugins/talk-plugin-notifications/server/config.js
  services/logging.js
Due: git-exec-and-restage eslint --fix --

cleanup
  plugins/talk-plugin-notifications/server/NotificationManager.js
Due: git-exec-and-restage eslint --fix --

added some docs
  docs/_docs/02-02-advanced-configuration.md
  docs/_docs/04-03-additional-plugins.md
Due: none

exposed notification setting via graph
  plugins/talk-plugin-notifications/server/resolvers.js
  plugins/talk-plugin-notifications/server/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --

hook to clear text after submiting a comment
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  plugins/talk-plugin-akismet/client/components/CheckSpamHook.js
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

hook handler
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-toxic-comments/client/components/CheckToxicityHook.js
Due: git-exec-and-restage eslint --fix --

Implement new permlink view for real
  client/coral-embed-stream/src/graphql/utils.js
  client/coral-embed-stream/src/tabs/stream/components/Comment.css
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
Due: git-exec-and-restage eslint --fix --

Notifications only when using local provider
  plugins/talk-plugin-notifications/client/containers/Settings.js
Due: git-exec-and-restage eslint --fix --

fixes
  config.js
  plugins/talk-plugin-notifications/server/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
