Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Email Subject Docs
  plugins/talk-plugin-notifications/README.md
Due: none

More manual DOM manipulations
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.css
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.js
  plugins/talk-plugin-rich-text/client/components/rte/components/Toolbar.css
  plugins/talk-plugin-rich-text/client/components/rte/components/Toolbar.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/api.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
  plugins/talk-plugin-rich-text/client/components/rte/utils.js
Due: git-exec-and-restage eslint --fix --

Better dom handling, disable state
  plugins/talk-plugin-rich-text/client/components/rte/RTE.css
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Bold.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Italic.js
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.css
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Control pasting, better IE support
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Use our own UNDO stack!!
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/undo.js
Due: git-exec-and-restage eslint --fix --

Add comments
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/api.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/undo.js
Due: git-exec-and-restage eslint --fix --

Refactor
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Add limitTo
  plugins/talk-plugin-rich-text/client/components/rte/lib/api.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Simplify normalizer, adjust server config
  plugins/talk-plugin-rich-text/client/utils.js
  plugins/talk-plugin-rich-text/server/config.js
Due: git-exec-and-restage eslint --fix --

Unmount cleanly
  plugins/talk-plugin-rich-text/client/components/Editor.js
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
Due: git-exec-and-restage eslint --fix --

IE Fixes
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Bold.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Italic.js
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.css
  plugins/talk-plugin-rich-text/client/components/rte/lib/api.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Fix paste for ie
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Ensure end in new line blockquote
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Remove all unwanted style attr
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Better selection behavior
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Fix append new line after node..
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Shortcut support
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Bold.js
  plugins/talk-plugin-rich-text/client/components/rte/buttons/Italic.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Add classNames for styling
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Rename buttons to feature
  plugins/talk-plugin-rich-text/client/components/Editor.js
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
  plugins/talk-plugin-rich-text/client/components/rte/features/Blockquote.js
  plugins/talk-plugin-rich-text/client/components/rte/features/Bold.js
  plugins/talk-plugin-rich-text/client/components/rte/features/Italic.js
  plugins/talk-plugin-rich-text/client/components/rte/features/index.js
Due: git-exec-and-restage eslint --fix --

Support nested feature instance
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
Due: git-exec-and-restage eslint --fix --

Let browser insert text
  plugin-api/alpha/client/hocs/index.js
  plugins/talk-plugin-rich-text/client/components/rte/RTE.js
Due: git-exec-and-restage eslint --fix --

Adding checkbox, working on the translations
  .gitignore
  plugins/talk-plugin-auth/client/login/components/SignUp.js
  plugins/talk-plugin-health-report/client/.eslintrc.json
  plugins/talk-plugin-health-report/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-health-report/client/index.js
  plugins/talk-plugin-health-report/client/translations.yml
  plugins/talk-plugin-health-report/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

Styling and translations
  client/coral-framework/services/i18n.js
  plugins/talk-plugin-health-report/client/components/TermsAndConditionsField.css
  plugins/talk-plugin-health-report/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-health-report/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Assets loader: fix typo getAssetsByID
  graph/loaders/assets.js
Due: git-exec-and-restage eslint --fix --

docs update
  docs/_config.yml
  docs/source/01-01-talk-quickstart.md
  docs/source/01-02-installation-from-docker.md
  docs/source/01-03-installation-from-source.md
  docs/source/02-01-required-configuration.md
  docs/source/02-02-advanced-configuration.md
  docs/source/03-01-product-guide-how-talk-works.md
  docs/source/03-02-product-guide-commenter-features.md
  docs/source/03-03-product-guide-moderator-features.md
  docs/source/03-04-product-guide-trust.md
  docs/source/03-05-product-guide-toxic-comments.md
  docs/source/plugins/overview.md
  docs/themes/coral/layout/partial/sidebar.swig
  plugins/talk-plugin-toxic-comments/README.md
Due: yamllint

Disable hover on touch devices
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.css
Due: none

Better disabled detection
  plugins/talk-plugin-rich-text/client/components/rte/features/Bold.js
  plugins/talk-plugin-rich-text/client/components/rte/features/Italic.js
Due: git-exec-and-restage eslint --fix --

Remove italic styling from blockquote
  plugins/talk-plugin-rich-text/client/components/CommentContent.css
Due: none

Notification fixes
  plugins/talk-plugin-notifications-category-reply/index.js
Due: git-exec-and-restage eslint --fix --

Profile my comments responsive fixes
  client/coral-embed-stream/src/tabs/profile/components/Comment.css
Due: none

Fix notification responsiveness
  plugins/talk-plugin-notifications/client/components/Settings.css
Due: none

expanded fix to staff replies
  plugins/talk-plugin-notifications-category-staff/index.js
  plugins/talk-plugin-notifications/server/messages.js
Due: git-exec-and-restage eslint --fix --

removed unused plugin from directory
  docs/source/_data/plugins.yml
Due: yamllint

Docs cleanup
  docs/source/01-01-talk-quickstart.md
  docs/source/01-03-installation-from-source.md
  docs/source/03-02-product-guide-commenter-features.md
Due: none

Added Organization Email
  client/coral-admin/src/reducers/install.js
  client/coral-admin/src/routes/Install/components/Install.js
  client/coral-admin/src/routes/Install/components/Steps/ConfigureOrganization.js
  client/coral-framework/helpers/validate.js
  graph/typeDefs.graphql
  locales/en.yml
  models/setting.js
Due: git-exec-and-restage eslint --fix --, yamllint

initial download support
  graph/resolvers/comment.js
  graph/typeDefs.graphql
  package.json
  routes/api/v1/account.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

refactored some request logic
  routes/api/v1/account.js
Due: git-exec-and-restage eslint --fix --

fix install buttons - making the click area bigger
  client/coral-admin/src/routes/Install/components/Steps/FinalStep.js
Due: git-exec-and-restage eslint --fix --

Adding proptypes
  client/coral-admin/src/routes/Install/components/Install.js
Due: git-exec-and-restage eslint --fix --

PropTypes and adding field
  client/coral-admin/src/routes/Install/components/Steps/CreateYourAccount.js
  client/coral-admin/src/routes/Install/containers/Install.js
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/pt_BR.yml
Due: git-exec-and-restage eslint --fix --, yamllint
