Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

fix: don't export FormProps
  src/core/client/install/containers/WizardContainer.tsx
Due: none

fix: adapt translation keys to our convention
  src/core/client/install/components/Header.tsx
  src/core/client/install/steps/components/BackButton.tsx
  src/core/client/install/steps/components/NextButton.tsx
  src/core/client/install/steps/components/PermittedDomains.tsx
  src/locales/en-US/install.ftl
Due: none

fix: adapt translation keys to our convention (#1988)
  src/core/client/install/components/Header.tsx
  src/core/client/install/steps/components/BackButton.tsx
  src/core/client/install/steps/components/NextButton.tsx
  src/core/client/install/steps/components/PermittedDomains.tsx
  src/locales/en-US/install.ftl
Due: none

removed testing files
  docs/conf.py
  docs/index.rst
Due: none

fix merge conflict from fixing broken link
  docs/source/integrating/asset-management.md
Due: none

revert change from find-replace
  docs/source/plugins/overview.md
Due: none

removing inital test file
  docs/source/index.rst
Due: none

updated conf for rtd build
  docs/rtd/source/conf.py
Due: none

fix: snapshots
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
Due: none

Display avatar left of comments by default
  client/coral-embed-stream/src/tabs/stream/components/Comment.css
  client/coral-embed-stream/style/default.css
Due: none

Add Spanish translations
  locales/es.yml
Due: yamllint

[next] Pluralization for the comment count (#1983)
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
  src/locales/en-US/stream.ftl
Due: none

feat: added version metadata, release to Docker
  .circleci/config.yml
  .gitignore
  Dockerfile
  package.json
  src/core/common/version.ts
  src/core/server/app/handlers/admin/admin.ts
  src/core/server/app/handlers/api/tenant/auth/local.ts
  src/core/server/app/handlers/api/tenant/install.ts
  src/core/server/app/handlers/api/version.ts
  src/core/server/app/router/api/auth.ts
  src/core/server/app/router/api/index.ts
  src/core/server/app/router/api/tenant.ts
Due: yamllint

fix: fixed mistake with export
  src/core/common/version.ts
Due: none

fix: adjusted circle cache beheviour
  .circleci/config.yml
Due: yamllint

fix: removed node_modules from workspace
  .circleci/config.yml
Due: yamllint

fix: added version prefix to cache keys
  .circleci/config.yml
Due: yamllint

review: patched invalid job name
  .circleci/config.yml
Due: yamllint

fix: hardcode cache version prefix :(
  .circleci/config.yml
Due: yamllint

fix: improved cache keys
  .circleci/config.yml
Due: yamllint

[next] Docker + Revision Metadata (#1991)
  .circleci/config.yml
  .gitignore
  Dockerfile
  package.json
  src/core/common/version.ts
  src/core/server/app/handlers/admin/admin.ts
  src/core/server/app/handlers/api/tenant/auth/local.ts
  src/core/server/app/handlers/api/tenant/install.ts
  src/core/server/app/handlers/api/version.ts
  src/core/server/app/router/api/auth.ts
  src/core/server/app/router/api/index.ts
  src/core/server/app/router/api/tenant.ts
Due: yamllint

fix: docker login
  .circleci/config.yml
Due: yamllint

fix: fix graphiql
  src/core/server/app/router/index.ts
  src/core/server/graph/common/middleware/index.ts
Due: none

feat: added husky + lint-staged (#1966)
  package-lock.json
  package.json
Due: none

feat: Implement i18n short number
  src/core/client/framework/lib/i18n/functions/SHORT_NUMBER.ts
  src/core/client/framework/lib/i18n/functions/index.ts
  src/core/client/framework/lib/i18n/generateBundles.ts
  src/core/client/framework/lib/i18n/index.ts
  src/core/client/framework/lib/i18n/locales.ts
  src/core/client/framework/lib/i18n/negotiateLanguages.ts
  src/core/client/framework/lib/i18n/types/FluentShortNumber.spec.ts
  src/core/client/framework/lib/i18n/types/FluentShortNumber.ts
  src/core/client/framework/lib/i18n/types/index.ts
  src/locales/en-US/framework.ftl
  src/locales/en-US/stream.ftl
  src/types/fluent.d.ts
Due: none

test: fix failing tests
  babel.config.js
  config/jest/client.config.js
  package-lock.json
  package.json
  src/core/client/framework/lib/i18n/types/FluentShortNumber.ts
  src/core/client/framework/testHelpers/createFluentBundle.ts
Due: git-exec-and-restage eslint --fix --

fix: adjusted broken user
  src/core/server/app/middleware/context/tenant.ts
  src/core/server/types/express.ts
Due: none

[next] i18n short number support (#1992)
  babel.config.js
  config/jest/client.config.js
  package-lock.json
  package.json
  src/core/client/framework/lib/i18n/functions/SHORT_NUMBER.ts
  src/core/client/framework/lib/i18n/functions/index.ts
  src/core/client/framework/lib/i18n/generateBundles.ts
  src/core/client/framework/lib/i18n/index.ts
  src/core/client/framework/lib/i18n/locales.ts
  src/core/client/framework/lib/i18n/negotiateLanguages.ts
  src/core/client/framework/lib/i18n/types/FluentShortNumber.spec.ts
  src/core/client/framework/lib/i18n/types/FluentShortNumber.ts
  src/core/client/framework/lib/i18n/types/index.ts
  src/core/client/framework/testHelpers/createFluentBundle.ts
  src/locales/en-US/framework.ftl
  src/locales/en-US/stream.ftl
  src/types/fluent.d.ts
Due: git-exec-and-restage eslint --fix --

fix: temporarily disable cache for profile query
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
Due: none

test: temporarily use precompiled modules
  src/core/client/framework/lib/network/createNetwork.ts
  src/types/react-relay-network-modern.d.ts
Due: none

fix: bug when updating comment count on an asset
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
Due: none

fix: no precommit test
  package.json
Due: none

fix: no precommit test (#1993)
  package.json
Due: none

fix: compile modules to commonjs for jest
  babel.config.js
Due: git-exec-and-restage eslint --fix --

test: add react-relay-network-layer to transform whitelist
  config/jest/client.config.js
Due: git-exec-and-restage eslint --fix --

fix: use react-relay-network-layer/es
  src/core/client/framework/lib/network/createNetwork.ts
Due: none

types: add react-relay-network-modern typescript types
  src/types/react-relay-network-modern.d.ts
Due: none

feat: added static uri support
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
  src/core/build/paths.ts
  src/core/build/plugins/CDNWebpackPlugin.ts
  src/core/build/publicPath.js
  src/core/common/config.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/cacheHeaders.ts
  src/core/server/app/router/client.ts
  src/core/server/app/router/index.ts
  src/core/server/index.ts
Due: git-exec-and-restage eslint --fix --
