Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Fix some bugs
  client/coral-admin/src/routes/Community/containers/FlaggedAccounts.js
  client/coral-admin/src/routes/Community/containers/Indicator.js
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
  client/coral-framework/hocs/withQuery.js
  plugins/talk-plugin-featured-comments/client/containers/ModSubscription.js
Due: git-exec-and-restage eslint --fix --

Fix admin bug hide comment on approve/reject comment
  client/coral-embed-stream/src/graphql/index.js
  client/coral-framework/hocs/withQuery.js
  config.js
Due: git-exec-and-restage eslint --fix --

Disable websocket administration
  client/coral-admin/src/routes/Moderation/components/ModerationQueue.js
  client/coral-framework/hocs/withQuery.js
  config.js
Due: git-exec-and-restage eslint --fix --

Remove ununsed 'if'
  client/coral-framework/hocs/withQuery.js
Due: git-exec-and-restage eslint --fix --

Clean some parts of code
  client/coral-embed-stream/src/tabs/stream/containers/EditableCommentContent.js
  client/coral-framework/hocs/withQuery.js
Due: git-exec-and-restage eslint --fix --

Finish porting to relay-1.7 including types
  package-lock.json
  package.json
  src/core/client/auth/containers/AppContainer.tsx
  src/core/client/framework/lib/relay/types.ts
  src/core/client/framework/lib/relay/withFragmentContainer.ts
  src/core/client/framework/lib/relay/withLocalStateContainer.tsx
  src/core/client/framework/lib/relay/withPaginationContainer.ts
  src/core/client/framework/lib/relay/withRefetchContainer.ts
  src/core/client/stream/components/PermalinkView.tsx
  src/core/client/stream/components/ReplyList.spec.tsx
  src/core/client/stream/components/ReplyList.tsx
  src/core/client/stream/components/Stream.spec.tsx
  src/core/client/stream/components/Stream.tsx
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/containers/CommentContainer.tsx
  src/core/client/stream/containers/PermalinkButtonContainer.tsx
  src/core/client/stream/containers/PermalinkViewContainer.tsx
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/stream/containers/StreamContainer.tsx
  src/core/client/stream/containers/UserBoxContainer.tsx
  src/core/client/stream/queries/PermalinkViewQuery.tsx
  src/core/client/stream/queries/StreamQuery.tsx
  src/locales/en-US/stream.ftl
Due: none

Use stock relay-runtime times
  package-lock.json
  package.json
Due: none

No more patched packages!
  package-lock.json
  package.json
  src/core/client/framework/lib/relay/withPaginationContainer.ts
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/stream/containers/StreamContainer.tsx
Due: none

Hide forward ref and fix tests
  src/core/client/framework/lib/relay/hideForwardRef.ts
  src/core/client/framework/lib/relay/withFragmentContainer.ts
  src/core/client/framework/lib/relay/withPaginationContainer.ts
  src/core/client/framework/lib/relay/withRefetchContainer.ts
  src/core/client/stream/containers/__snapshots__/StreamContainer.spec.tsx.snap
Due: none

Add integration test
  package-lock.json
  package.json
  src/core/client/framework/testHelpers/createSinonStub.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/stream/components/PostCommentForm.tsx
  src/core/client/stream/test/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/postComment.spec.tsx
  src/core/client/test/jsdom.ts
Due: none

Use createSinonStub
  src/core/client/framework/testHelpers/createSinonStub.ts
  src/core/client/stream/test/loadMore.spec.tsx
  src/core/client/stream/test/permalinkView.spec.tsx
  src/core/client/stream/test/permalinkViewCommentNotFound.spec.tsx
  src/core/client/stream/test/renderReplies.spec.tsx
  src/core/client/stream/test/renderStream.spec.tsx
  src/core/client/stream/test/showAllReplies.spec.tsx
Due: none

Compile before lint
  .circleci/config.yml
Due: yamllint

Add todo
  src/core/server/graph/tenant/resolvers/mutation.ts
Due: none

Test optimistic response
  src/core/client/stream/test/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/postComment.spec.tsx
Due: none

Keep time!
  package-lock.json
  package.json
  src/core/client/stream/test/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/postComment.spec.tsx
Due: none

Change proxy-agent to support http/https through http/https/socks/pac proxy on scraper
  jobs/scraper/index.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fix long urls breaking moderation box
  client/coral-admin/src/routes/Moderation/components/Comment.css
Due: none

toggle comment date
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-admin/src/routes/Moderation/components/CommentTimeAgo.js
Due: git-exec-and-restage eslint --fix --

Implement pym storage
  src/core/client/embed/Stream.ts
  src/core/client/embed/decorators/__snapshots__/withPymStorage.spec.ts.snap
  src/core/client/embed/decorators/index.ts
  src/core/client/embed/decorators/withPymStorage.spec.ts
  src/core/client/embed/decorators/withPymStorage.ts
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/core/client/framework/lib/storage/InMemoryStorage.ts
  src/core/client/framework/lib/storage/PymStorage.spec.ts
  src/core/client/framework/lib/storage/PymStorage.ts
  src/core/client/framework/lib/storage/__snapshots__/PymStorage.spec.ts.snap
  src/core/client/framework/lib/storage/index.ts
  src/core/client/framework/lib/storage/interface.ts
  src/core/client/stream/local/initLocalState.ts
Due: none

re-introduce comment count on tabs
  client/coral-admin/src/routes/Moderation/components/Moderation.js
  client/coral-admin/src/routes/Moderation/components/ModerationMenu.js
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
Due: git-exec-and-restage eslint --fix --

Save comment draft + test
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/core/client/framework/lib/storage/PymStorage.ts
  src/core/client/framework/lib/storage/__snapshots__/PymStorage.spec.ts.snap
  src/core/client/framework/lib/storage/index.ts
  src/core/client/framework/lib/storage/interface.ts
  src/core/client/framework/testHelpers/createFakePymStorage.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/stream/components/PostCommentForm.tsx
  src/core/client/stream/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/containers/PostCommentFormContainer.spec.tsx
  src/core/client/stream/containers/PostCommentFormContainer.tsx
  src/core/client/stream/containers/__snapshots__/PostCommentFormContainer.spec.tsx.snap
  src/core/client/stream/local/initLocalState.spec.ts
  src/core/client/stream/test/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/create.tsx
  src/core/client/stream/test/loadMore.spec.tsx
  src/core/client/stream/test/permalinkView.spec.tsx
  src/core/client/stream/test/permalinkViewAssetNotFound.spec.tsx
  src/core/client/stream/test/permalinkViewCommentNotFound.spec.tsx
  src/core/client/stream/test/postComment.spec.tsx
  src/core/client/stream/test/renderReplies.spec.tsx
  src/core/client/stream/test/renderStream.spec.tsx
  src/core/client/stream/test/showAllReplies.spec.tsx
Due: none

Change proxy-agent to support http/https through http/https/socks/pac proxy on scraper (#1839)
  jobs/scraper/index.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fixed bug with dependancies
  Dockerfile
Due: none

fix: adjusted logging messages
  package-lock.json
  src/core/server/services/comments/moderation/phases/spam.ts
  src/core/server/services/comments/moderation/phases/toxic.ts
  src/core/server/services/queue/tasks/mailer/index.ts
Due: none

fix: changed commentEdge -> edge, test comments
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/test/postComment.spec.tsx
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/comment.ts
Due: none

[next] Production Usage (#1808)
  .dockerignore
  Dockerfile
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/cacheHeaders.ts
  src/core/server/app/router.ts
Due: none

fix: linting
  src/core/server/graph/tenant/mutators/comment.ts
Due: none

[next] Comment Editing (#1795)
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/test/postComment.spec.tsx
  src/core/server/graph/tenant/mutators/comment.ts
  src/core/server/graph/tenant/resolvers/comment.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/comment.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/index.ts
  src/core/server/services/comments/moderation/phases/commentLength.ts
  src/core/server/services/comments/moderation/phases/links.ts
  src/core/server/services/comments/moderation/phases/spam.ts
  src/core/server/services/comments/moderation/phases/staff.ts
  src/core/server/services/comments/moderation/phases/toxic.ts
  src/core/server/services/comments/moderation/phases/wordlist.ts
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

fix: return user if user was not initially found
  services/users.js
Due: git-exec-and-restage eslint --fix --

fix: added tests, added wasUpserted boolean
  services/users.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

WIP
  package-lock.json
  package.json
  src/core/client/framework/lib/bootstrap/withContext.tsx
  src/core/client/stream/components/Comment/Comment.css
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/Comment/ReplyButton.tsx
  src/core/client/stream/components/Comment/TopBar.css
  src/core/client/stream/components/Comment/TopBar.tsx
  src/core/client/stream/components/PermalinkView.tsx
  src/core/client/stream/components/PostCommentForm.css
  src/core/client/stream/components/ReplyCommentForm.tsx
  src/core/client/stream/components/ReplyList.tsx
  src/core/client/stream/components/Stream.tsx
  src/core/client/stream/containers/CommentContainer.tsx
  src/core/client/stream/containers/PermalinkViewContainer.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/stream/containers/StreamContainer.tsx
  src/core/client/stream/queries/PermalinkViewQuery.tsx
  src/core/client/stream/queries/StreamQuery.tsx
  src/docs/workarounds.mdx
Due: none

Implement reply
  src/core/client/framework/testHelpers/createFakePymStorage.ts
  src/core/client/framework/testHelpers/removeFragmentRefs.ts
  src/core/client/stream/components/Comment/IndentedComment.spec.tsx
  src/core/client/stream/components/Comment/ReplyButton.spec.tsx
  src/core/client/stream/components/Comment/ReplyButton.tsx
  src/core/client/stream/components/Comment/__snapshots__/IndentedComment.spec.tsx.snap
  src/core/client/stream/components/Comment/__snapshots__/ReplyButton.spec.tsx.snap
  src/core/client/stream/components/ReplyCommentForm.tsx
  src/core/client/stream/containers/CommentContainer.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/containers/StreamContainer.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/ReplyCommentFormContainer.spec.tsx.snap
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/fixtures.ts
  src/core/client/stream/test/postReply.spec.tsx
  src/locales/en-US/stream.ftl
Due: none

Add test
  src/core/client/stream/containers/ReplyCommentFormContainer.spec.tsx
Due: none

Stream should work outside of iframe for debugging
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/core/client/framework/lib/storage/InMemoryStorage.spec.ts
  src/core/client/framework/lib/storage/InMemoryStorage.ts
  src/core/client/framework/lib/storage/LocalStorage.ts
  src/core/client/framework/lib/storage/PromisifiedStorage.spec.ts
  src/core/client/framework/lib/storage/PromisifiedStorage.ts
  src/core/client/framework/lib/storage/PymStorage.ts
  src/core/client/framework/lib/storage/SessionStorage.ts
  src/core/client/framework/lib/storage/index.ts
  src/core/client/framework/mutations/SetAuthTokenMutation.spec.ts
  src/core/client/framework/mutations/SetAuthTokenMutation.ts
  src/core/client/framework/testHelpers/createFakePymStorage.ts
  src/core/client/stream/containers/PostCommentFormContainer.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/local/initLocalState.spec.ts
  src/core/client/stream/local/initLocalState.ts
Due: none

Focus RTE when opening reply
  package.json
  src/core/client/framework/helpers/getMe.ts
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/core/client/framework/lib/browserInfo.ts
  src/core/client/stream/components/RTE.tsx
  src/core/client/stream/components/ReplyCommentForm.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/ReplyCommentFormContainer.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/create.tsx
  src/core/client/stream/test/createNodeMock.ts
  src/core/client/stream/test/postComment.spec.tsx
  src/core/client/stream/test/postReply.spec.tsx
  src/core/client/test/mocks.ts
  src/core/client/test/setup.ts
  src/core/client/tsconfig.json
Due: none

Fix tests
  config/jest/client.config.js
  config/jest/contentTransform.js
  src/core/client/framework/lib/bootstrap/withContext.tsx
  src/core/client/framework/testHelpers/createFluentBundle.ts
  src/core/client/stream/components/Comment/__snapshots__/Comment.spec.tsx.snap
  src/core/client/stream/components/Comment/__snapshots__/TopBar.spec.tsx.snap
  src/core/client/stream/components/RTE.tsx
  src/core/client/stream/components/ReplyList.spec.tsx
  src/core/client/stream/components/Stream.spec.tsx
  src/core/client/stream/components/__snapshots__/RTE.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/ReplyList.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/CommentContainer.tsx
  src/core/client/stream/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/containers/ReplyListContainer.spec.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/ReplyListContainer.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/StreamContainer.spec.tsx.snap
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/queries/PermalinkViewQuery.spec.tsx
  src/core/client/stream/queries/__snapshots__/PermalinkViewQuery.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewAssetNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/ui/components/AriaInfo/AriaInfo.tsx
  src/core/client/ui/components/Button/Button.tsx
  src/core/client/ui/components/Button/ButtonIcon.tsx
  src/core/client/ui/components/CallOut/CallOut.tsx
  src/core/client/ui/components/HorizontalGutter/HorizontalGutter.tsx
  src/core/client/ui/components/Icon/Icon.tsx
  src/core/client/ui/components/TextField/TextField.tsx
  src/core/client/ui/components/Typography/Typography.tsx
  src/locales/en-US/stream.ftl
Due: git-exec-and-restage eslint --fix --

Indent comment only
  src/core/client/stream/components/Comment/IndentedComment.tsx
  src/core/client/stream/components/Comment/index.ts
  src/core/client/stream/components/Indent.css
  src/core/client/stream/components/Indent.spec.tsx
  src/core/client/stream/components/Indent.tsx
  src/core/client/stream/components/ReplyList.spec.tsx
  src/core/client/stream/components/ReplyList.tsx
  src/core/client/stream/components/__snapshots__/Indent.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/ReplyList.spec.tsx.snap
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/CommentContainer.tsx
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/ReplyListContainer.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
Due: none
