Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

docs patch
  docs/source/03-08-gdpr.md
Due: none

Missed an s
  docs/source/03-08-gdpr.md
Due: none

JWT_Audience is listed twice in the docs under required keys
  docs/source/integrating/authentication.md
Due: none

Fix build fail
  plugins/talk-plugin-profile-data/client/containers/DownloadCommentHistory.js
Due: git-exec-and-restage eslint --fix --

fixed merge error
  plugins/talk-plugin-profile-data/client/containers/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/hocs/index.js
Due: git-exec-and-restage eslint --fix --

password patches
  plugins/talk-plugin-local-auth/client/components/ChangePassword.css
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.js
Due: git-exec-and-restage eslint --fix --

standardized styles, fixed mutation bug
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.css
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/graphql.js
Due: git-exec-and-restage eslint --fix --

handle confirmed email better
  plugins/talk-plugin-local-auth/client/graphql.js
  plugins/talk-plugin-local-auth/client/index.js
  plugins/talk-plugin-local-auth/server/mutators.js
  services/users.js
Due: git-exec-and-restage eslint --fix --

fix
  plugins/talk-plugin-local-auth/client/graphql.js
Due: git-exec-and-restage eslint --fix --

Revert to try test suite
  client/coral-framework/services/i18n.js
  services/i18n.js
Due: git-exec-and-restage eslint --fix --

use mappingLocaleCode
  client/coral-framework/services/i18n.js
  services/i18n.js
Due: git-exec-and-restage eslint --fix --

forgot password
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
  plugins/talk-plugin-local-auth/client/containers/ChangePassword.js
  plugins/talk-plugin-local-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Username Change Fixes
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.css
  plugins/talk-plugin-local-auth/client/components/Profile.js
  plugins/talk-plugin-local-auth/client/containers/Profile.js
  plugins/talk-plugin-local-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Styling tweaks
  plugins/talk-plugin-local-auth/client/components/ChangePassword.css
  plugins/talk-plugin-local-auth/client/components/Profile.css
Due: none

Remove unused field
  plugins/talk-plugin-local-auth/client/containers/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Form update
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Fixed bug with button placement
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
Due: git-exec-and-restage eslint --fix --

corrections in spanish translations
  locales/es.yml
Due: yamllint

bug
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Change copy
  plugins/talk-plugin-profile-data/server/router.js
Due: git-exec-and-restage eslint --fix --

Copy tweaks
  plugins/talk-plugin-local-auth/client/translations.yml
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

Swap DeletedOn and DeletedFor
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
Due: git-exec-and-restage eslint --fix --

Restore cancel buttons
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.css
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Fix InputField controlled / uncontrolled mode
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
  plugins/talk-plugin-local-auth/client/components/InputField.js
Due: git-exec-and-restage eslint --fix --

validation for password input in change email
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Fix save icon
  plugins/talk-plugin-local-auth/client/components/Profile.css
Due: none

Fix Add Email Dialog
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Remove unused code
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

Settings Cache Refactor
  bin/cli-settings
  graph/loaders/assets.js
  graph/loaders/settings.js
  graph/mutators/user.js
  graph/resolvers/asset.js
  graph/resolvers/comment.js
  graph/resolvers/root_query.js
  graph/resolvers/util.js
  middleware/staticTemplate.js
  models/schema/asset.js
  models/schema/setting.js
  package.json
  plugins/talk-plugin-local-auth/server/mutators.js
  plugins/talk-plugin-notifications/server/util.js
  plugins/talk-plugin-profile-data/server/connect.js
  plugins/talk-plugin-profile-data/server/mutators.js
  services/assets.js
  services/cache.js
  services/comments.js
  services/domain_list.js
  services/moderation/index.js
  services/passport.js
  services/settings.js
  services/setup.js
  services/tags.js
  services/wordlist.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fixed test
  test/server/services/settings.js
Due: git-exec-and-restage eslint --fix --

include trace ID in each downstream request
  middleware/trace.js
Due: git-exec-and-restage eslint --fix --

Upgraded lodash
  package.json
  yarn.lock
Due: none

Added exception for metascraper
  .nsprc
Due: none

updated excemptions
  .nsprc
Due: none

Links, typos, updates for docs
  docs/source/03-05-product-guide-toxic-comments.md
  docs/source/03-08-gdpr.md
  docs/source/05-03-when-youve-installed-talk.md
  docs/source/contact.md
Due: none

Fix broken links
  docs/source/03-01-product-guide-how-talk-works.md
Due: none

fixed settings
  graph/loaders/settings.js
  services/settings.js
  test/server/services/settings.js
Due: git-exec-and-restage eslint --fix --

Fixed bug with password form
  errors.js
  graph/mutators/user.js
  locales/en.yml
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --, yamllint

Fixed email in use error
  plugins/talk-plugin-local-auth/server/mutators.js
Due: git-exec-and-restage eslint --fix --

fixed bug
  graph/resolvers/asset.js
Due: git-exec-and-restage eslint --fix --
