Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Revert "Using fragment and updated fixtures"
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/queries/AppQuery.tsx
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewAssetNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
  src/core/client/stream/test/create.tsx
  src/core/client/stream/test/fixtures.ts
Due: none

Add debug as a dep to toxic-comments
  plugins/talk-plugin-toxic-comments/package.json
Due: none

Add debug logging to toxic-comments plugin
  plugins/talk-plugin-toxic-comments/server/hooks.js
  plugins/talk-plugin-toxic-comments/server/perspective.js
Due: git-exec-and-restage eslint --fix --

fix: addresses websocket connection issues
  client/coral-framework/actions/auth.js
  client/coral-framework/services/client.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fix: cleaned up a bit
  plugins/talk-plugin-toxic-comments/server/perspective.js
Due: git-exec-and-restage eslint --fix --

Toxic Comments Plugin logging (#1970)
  plugins/talk-plugin-toxic-comments/package.json
  plugins/talk-plugin-toxic-comments/server/hooks.js
  plugins/talk-plugin-toxic-comments/server/perspective.js
Due: git-exec-and-restage eslint --fix --

fix: updated translation @okbel
  locales/es.yml
Due: yamllint

Body Count (#1969)
  errors.js
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fi_FI.yml
  locales/fr.yml
  locales/nl_NL.yml
  services/moderation/phases/commentLength.js
Due: git-exec-and-restage eslint --fix --, yamllint

Revert "Revert "Using fragment and updated fixtures""
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/queries/AppQuery.tsx
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewAssetNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
  src/core/client/stream/test/create.tsx
  src/core/client/stream/test/fixtures.ts
Due: none

Translations
  src/core/client/install/components/Header.tsx
  src/core/client/install/components/Wizard.tsx
  src/core/client/install/steps/components/AddOrganization.tsx
  src/core/client/install/steps/components/CreateYourAccount.tsx
  src/core/client/install/steps/components/FinalStep.tsx
  src/core/client/install/steps/components/InitialStep.tsx
  src/core/client/install/steps/components/PermittedDomains.tsx
  src/core/client/ui/components/Steps/Step.tsx
  src/locales/en-US/install.ftl
Due: none

Translations
  src/core/client/framework/lib/validation.tsx
  src/core/client/install/components/Header.tsx
  src/core/client/install/components/Wizard.tsx
  src/core/client/install/steps/components/AddOrganization.tsx
  src/core/client/install/steps/components/CreateYourAccount.tsx
  src/core/client/install/steps/components/FinalStep.tsx
  src/core/client/install/steps/components/InitialStep.tsx
  src/core/client/install/steps/components/PermittedDomains.tsx
Due: none

fix: undesired margin
  src/core/client/stream/tabs/comments/components/PermalinkButton/PermalinkButton.tsx
  src/core/client/ui/components/Popover/Popover.css
  src/core/client/ui/components/Popover/Popover.tsx
Due: none

feat: use react network layer
  package-lock.json
  package.json
  src/core/client/framework/lib/bootstrap/createManaged.tsx
  src/core/client/framework/lib/network/createNetwork.ts
  src/core/client/framework/lib/network/index.ts
  src/types/react-relay-network-modern.d.ts
Due: none

do not show admin drawer unless user has access
  client/coral-admin/src/components/Drawer.js
  test/e2e/page_objects/admin.js
  test/e2e/specs/02_admin.js
Due: git-exec-and-restage eslint --fix --

Refactor
  src/core/client/stream/components/App.tsx
  src/core/client/stream/components/CommentCountTab.tsx
  src/core/client/stream/containers/AppContainer.tsx
  src/core/client/stream/containers/CommentsCountContainer.tsx
  src/core/client/stream/index.tsx
  src/core/client/stream/queries/AppQuery.tsx
  src/core/client/stream/queries/CommentsCountQuery.tsx
  src/core/client/stream/queries/IfLoggedInQuery.tsx
  src/core/common/config.ts
Due: none

Tests updated
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewAssetNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/create.tsx
Due: none

fix: Readd and fix App unittest
  src/core/client/stream/components/App.spec.tsx
  src/core/client/stream/components/__snapshots__/App.spec.tsx.snap
Due: none

tiny refactor
  src/core/client/stream/queries/CommentsCountQuery.tsx
  src/core/common/config.ts
Due: none

Fix spanish translation
  plugins/talk-plugin-toxic-comments/client/translations.yml
Due: yamllint

Fixing the commentCount for 0 comments
  src/core/client/stream/queries/CommentsCountQuery.tsx
  src/core/common/config.ts
Due: none

Fix spanish translation (#1977)
  plugins/talk-plugin-toxic-comments/client/translations.yml
Due: yamllint

Update package.json
  package.json
Due: none

Show signIn when logged-off user reacts to a comment
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/ReactionButtonContainer.tsx
Due: none

Snapshots updated
  src/core/client/stream/tabs/comments/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
Due: none

removing graphiql
  src/core/common/config.ts
Due: none

Reaction: Icon - Label - Count
  src/core/client/stream/tabs/comments/components/ReactionButton.tsx
Due: none

[next] Login prompt for not signed in users trying to react to comments. (#1979)
  src/core/client/stream/queries/CommentsCountQuery.tsx
  src/core/client/stream/tabs/comments/components/ReactionButton.tsx
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/ReactionButtonContainer.tsx
  src/core/client/stream/tabs/comments/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
Due: none

Adding extra validation
  src/core/client/install/steps/components/CreateYourAccount.tsx
Due: none

prefixing events with On - onSaveData
  src/core/client/install/components/App.spec.tsx
  src/core/client/install/components/App.tsx
  src/core/client/install/components/Wizard.tsx
  src/core/client/install/components/__snapshots__/App.spec.tsx.snap
  src/core/client/install/containers/AppContainer.tsx
  src/core/client/install/containers/WizardContainer.tsx
  src/core/client/install/steps/components/AddOrganization.tsx
  src/core/client/install/steps/components/CreateYourAccount.tsx
  src/core/client/install/steps/containers/AddOrganizationContainer.tsx
  src/core/client/install/steps/containers/CreateYourAccountContainer.tsx
  src/core/client/install/steps/containers/PermittedDomainsContainer.tsx
Due: none

prefixing events with On - onSaveData
  src/core/client/install/components/Wizard.tsx
  src/core/client/install/containers/WizardContainer.tsx
  src/core/client/install/steps/components/AddOrganization.tsx
  src/core/client/install/steps/components/CreateYourAccount.tsx
  src/core/client/install/steps/components/InitialStep.tsx
  src/core/client/install/steps/components/PermittedDomains.tsx
  src/core/client/install/steps/containers/AddOrganizationContainer.tsx
  src/core/client/install/steps/containers/CreateYourAccountContainer.tsx
  src/core/client/install/steps/containers/PermittedDomainsContainer.tsx
Due: none

Websocket Regression (#1971)
  client/coral-framework/actions/auth.js
  client/coral-framework/services/client.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Adding translations, and colors from the palette
  src/core/client/install/components/App.css
  src/core/client/install/components/MainBar.css
  src/core/client/install/components/Wizard.tsx
  src/core/client/ui/components/Steps/Circle.css
  src/core/client/ui/components/Steps/Line.css
Due: none

Centering steps
  src/core/client/ui/components/Steps/StepBar.tsx
Due: none

Ready
  src/core/client/install/steps/components/AddOrganization.tsx
  src/core/client/install/steps/components/CreateYourAccount.tsx
  src/core/client/install/steps/components/PermittedDomains.tsx
  src/core/client/install/steps/components/styles.css
Due: none

feat: use new conversation thread design
  src/core/client/stream/tabs/comments/components/Comment/Comment.css
  src/core/client/stream/tabs/comments/components/Comment/Comment.tsx
  src/core/client/stream/tabs/comments/components/ConversationThread.css
  src/core/client/stream/tabs/comments/components/ConversationThread.tsx
  src/core/client/stream/tabs/comments/components/Counter.css
  src/core/client/stream/tabs/comments/components/Counter.tsx
  src/core/client/stream/tabs/comments/components/RTE.css
  src/core/client/stream/tabs/comments/components/RTE.tsx
  src/core/client/stream/tabs/comments/components/Timeline/Circle.css
  src/core/client/stream/tabs/comments/components/Timeline/Line.css
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/ConversationThreadContainer.tsx
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/permalinkViewLoadMoreParents.spec.tsx
  src/core/client/ui/shared/typography.css
  src/locales/en-US/stream.ftl
Due: none

feat: initial csp support
  package-lock.json
  package.json
  src/core/server/app/middleware/csp/tenant.ts
  src/core/server/app/middleware/tenant.ts
  src/core/server/app/router/api/tenant.ts
  src/core/server/app/router/client.ts
  src/core/server/app/router/index.ts
  src/core/server/app/url.ts
  src/core/server/types/express.ts
  src/types/content-security-policy-builder.d.ts
Due: none

feat: add header from new design
  src/core/client/stream/tabs/comments/components/Counter.spec.tsx
  src/core/client/stream/tabs/comments/components/PermalinkView.css
  src/core/client/stream/tabs/comments/components/PermalinkView.tsx
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
  src/core/client/stream/test/comments/permalinkView.spec.tsx
  src/core/client/stream/test/comments/permalinkViewCommentNotFound.spec.tsx
  src/locales/en-US/stream.ftl
Due: none

test: update snapshots
  src/core/client/stream/tabs/comments/components/__snapshots__/Counter.spec.tsx.snap
  src/core/client/stream/tabs/comments/components/__snapshots__/RTE.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
Due: none

feat: added production redirects
  src/core/server/app/middleware/installed.ts
  src/core/server/app/router/index.ts
  src/core/server/services/tenant/index.ts
Due: none

fix: fixes during production
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/__snapshots__/StreamEmbed.spec.ts.snap
  src/core/client/embed/__snapshots__/index.spec.ts.snap
  src/core/client/embed/tsconfig.json
  src/core/client/stream/containers/UserBoxContainer.tsx
  src/core/client/stream/containers/__snapshots__/UserBoxContainer.spec.tsx.snap
Due: none
