Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Set max-width for images
  docs/themes/coral/source/css/talk.scss
Due: none

Fix sidebar
  docs/_config.yml
Due: yamllint

Change y to and
  docs/source/05-01-building-basic-plugin.md
Due: none

Relative link to Talk quickstart
  docs/source/05-01-building-basic-plugin.md
Due: none

Adding Part 2
  docs/source/05-02-customizing-plugins-coral-ui.md
  docs/source/images/pride_reaction_tutorial_6.png
  docs/source/images/pride_reaction_tutorial_7.png
Due: none

Update sidebar
  docs/_config.yml
Due: yamllint

moved user deletion into graph
  bin/cli-users
  graph/mutators/user.js
  graph/resolvers/root_mutation.js
  graph/typeDefs.graphql
  perms/constants/mutation.js
Due: git-exec-and-restage eslint --fix --

Remove curly quote
  docs/source/05-02-customizing-plugins-coral-ui.md
Due: none

Restore the userCreated event
  docs/source/reference/server.md
  graph/subscriptions/setupFunctions.js
  graph/typeDefs.graphql
  perms/constants/subscription.js
  perms/reducers/subscription.js
  plugins/talk-plugin-facebook-auth/server/passport.js
  plugins/talk-plugin-google-auth/server/passport.js
  services/users.js
  test/server/graph/mutations/changeUsername.js
  test/server/graph/mutations/editComment.js
  test/server/graph/mutations/ignoreUser.js
  test/server/graph/mutations/setUserBanStatus.js
  test/server/graph/mutations/setUserSuspensionStatus.js
  test/server/graph/mutations/setUserUsernameStatus.js
  test/server/graph/queries/asset.js
  test/server/graph/queries/user.js
  test/server/routes/api/auth/index.js
  test/server/routes/api/user/index.js
  test/server/services/comments.js
  test/server/services/tags.js
  test/server/services/tokens.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

Remove requirement for data.variables in withFragment
  client/coral-framework/hocs/withFragments.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

fixed bug with endpoint
  routes/api/v1/users.js
Due: git-exec-and-restage eslint --fix --

fixed some missing calls to service
  bin/cli-setup
  routes/api/v1/setup.js
  services/setup.js
Due: git-exec-and-restage eslint --fix --

Update UserDetailComment.js
  client/coral-admin/src/components/UserDetailComment.js
Due: git-exec-and-restage eslint --fix --

Update Comment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Refactor Slot Feature
  client/coral-embed-stream/src/containers/ExtendableTabPanel.js
  client/coral-framework/components/IfSlotIsEmpty.js
  client/coral-framework/components/IfSlotIsNotEmpty.js
  client/coral-framework/components/Slot.js
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withCombatPassthrough.js
  client/coral-framework/hocs/withSlotElements.js
Due: git-exec-and-restage eslint --fix --

Move profile settings to core
  client/coral-embed-stream/src/tabs/profile/components/Profile.js
  client/coral-embed-stream/src/tabs/profile/components/Settings.js
  client/coral-embed-stream/src/tabs/profile/components/TabPanel.js
  client/coral-embed-stream/src/tabs/profile/containers/Profile.js
  client/coral-embed-stream/src/tabs/profile/containers/Settings.js
  client/coral-embed-stream/src/tabs/profile/containers/TabPanel.js
  client/coral-framework/hocs/withSlotElements.js
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
  plugins.default.json
  plugins/talk-plugin-profile-settings/client/.eslintrc.json
  plugins/talk-plugin-profile-settings/client/components/Tab.js
  plugins/talk-plugin-profile-settings/client/containers/TabPane.js
  plugins/talk-plugin-profile-settings/client/index.js
  plugins/talk-plugin-profile-settings/client/translations.yml
  plugins/talk-plugin-profile-settings/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

replaced circleci image with ours temp
  .circleci/config.yml
Due: yamllint

Get rid of `data` direct dependency in the plugins
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withFetchMore.js
  client/coral-framework/hocs/withQuery.js
  client/coral-framework/hocs/withRefetch.js
  client/coral-framework/hocs/withSubscribeToMore.js
  client/coral-framework/hocs/withVariables.js
  package.json
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-author-menu/client/containers/AuthorName.js
  plugins/talk-plugin-featured-comments/client/components/Comment.js
  plugins/talk-plugin-featured-comments/client/components/TabPane.js
  plugins/talk-plugin-featured-comments/client/containers/ModIndicatorSubscription.js
  plugins/talk-plugin-featured-comments/client/containers/ModSubscription.js
  plugins/talk-plugin-featured-comments/client/containers/TabPane.js
  plugins/talk-plugin-flag-details/client/components/FlagDetails.js
  plugins/talk-plugin-moderation-actions/client/components/ModerationActions.js
  plugins/talk-plugin-moderation-actions/client/containers/ModerationActions.js
  plugins/talk-plugin-notifications/client/containers/Settings.js
  plugins/talk-plugin-viewing-options/client/containers/ViewingOptions.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

store test results as artifacts every time
  .circleci/config.yml
Due: yamllint

Deprecate passing `data` prop to Slot
  client/coral-framework/hocs/withSlotElements.js
Due: git-exec-and-restage eslint --fix --

Remove data prop from Slots
  client/coral-admin/src/components/CommentDetails.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/components/UserDetailCommentList.js
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/containers/Configure.js
  client/coral-admin/src/routes/Configure/containers/ModerationSettings.js
  client/coral-admin/src/routes/Configure/containers/StreamSettings.js
  client/coral-admin/src/routes/Configure/containers/TechSettings.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-admin/src/routes/Moderation/components/Moderation.js
  client/coral-admin/src/routes/Moderation/components/ModerationQueue.js
  client/coral-admin/src/routes/Moderation/containers/Indicator.js
  client/coral-embed-stream/src/components/Embed.js
  client/coral-embed-stream/src/tabs/configure/components/Configure.js
  client/coral-embed-stream/src/tabs/configure/containers/Configure.js
  client/coral-embed-stream/src/tabs/configure/containers/Settings.js
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
  client/coral-embed-stream/src/tabs/profile/components/CommentHistory.js
  client/coral-embed-stream/src/tabs/profile/components/Profile.js
  client/coral-embed-stream/src/tabs/profile/components/Settings.js
  client/coral-embed-stream/src/tabs/profile/components/TabPanel.js
  client/coral-embed-stream/src/tabs/profile/containers/CommentHistory.js
  client/coral-embed-stream/src/tabs/profile/containers/Profile.js
  client/coral-embed-stream/src/tabs/profile/containers/TabPanel.js
  client/coral-embed-stream/src/tabs/stream/components/AllCommentsPane.js
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  plugins/talk-plugin-viewing-options/client/components/Menu.js
Due: git-exec-and-restage eslint --fix --

applied fix to allow local run with firefox
  nightwatch.conf.js
Due: git-exec-and-restage eslint --fix --

disable headless tests, run with full browsers
  .circleci/e2e.sh
Due: none

added logs to artifacts
  nightwatch-browserstack.conf.js
  nightwatch.conf.js
Due: git-exec-and-restage eslint --fix --

Add support for withGraphQLExtension
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withGraphQLExtension.js
  client/coral-framework/services/plugins.js
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-notifications-category-reply/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-reply/client/index.js
Due: git-exec-and-restage eslint --fix --

re-enabled headless support
  .circleci/e2e.sh
Due: none

disabled firefox local integration tests :(
  .circleci/config.yml
Due: yamllint

Slack plugin fix
  plugins/talk-plugin-slack-notifications/server/hooks.js
Due: git-exec-and-restage eslint --fix --

Refactor talk-plugin-notifications using the new withGraphQLExtension
  plugins/talk-plugin-notifications-category-featured/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-featured/client/graphql.js
  plugins/talk-plugin-notifications-category-featured/client/index.js
  plugins/talk-plugin-notifications-category-reply/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-reply/client/graphql.js
  plugins/talk-plugin-notifications-category-reply/client/index.js
  plugins/talk-plugin-notifications-category-staff/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-staff/client/graphql.js
  plugins/talk-plugin-notifications-category-staff/client/index.js
  plugins/talk-plugin-notifications/client/api/components/Toggle.css
  plugins/talk-plugin-notifications/client/api/components/Toggle.js
  plugins/talk-plugin-notifications/client/api/components/index.js
  plugins/talk-plugin-notifications/client/api/factories/createSettingsToggle.js
  plugins/talk-plugin-notifications/client/api/factories/index.js
  plugins/talk-plugin-notifications/client/api/hocs/index.js
  plugins/talk-plugin-notifications/client/api/hocs/withSettingsToggle.js
Due: git-exec-and-restage eslint --fix --

Fix query data detection
  client/coral-framework/hocs/withQuery.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

parse env json the same as the rest, with hjson
  plugins.env.js
Due: git-exec-and-restage eslint --fix --

Fix defaultComponent bug
  client/coral-framework/hocs/withSlotElements.js
Due: git-exec-and-restage eslint --fix --

Extract css
  package.json
  views/admin.ejs
  views/embed/stream.ejs
  views/login.ejs
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Disallow logout from unauthenticated requests
  routes/api/v1/auth.js
  services/passport.js
Due: git-exec-and-restage eslint --fix --

added .vscode to gitignore
  .gitignore
Due: none

Cache busting
  client/coral-embed-stream/src/tabs/configure/components/QuestionBoxBuilder.js
  middleware/staticTemplate.js
  package.json
  views/admin.ejs
  views/article.ejs
  views/auth-callback.ejs
  views/embed/stream.ejs
  views/login.ejs
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Cache babel-loader branch wide in CI
  .circleci/config.yml
Due: yamllint

Little Comment
  middleware/staticTemplate.js
Due: git-exec-and-restage eslint --fix --
