Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

fix: update docker test script
  .circleci/config.yml
Due: yamllint

fix: another patch to that config
  .circleci/config.yml
Due: yamllint

fix: trying a pinned version of the node circle image
  .circleci/config.yml
Due: yamllint

[CORL-1422] Use POST for authenticated requests (#3214)
  .circleci/config.yml
  package-lock.json
  package.json
  src/core/client/framework/lib/network/persistedQueriesGetMethodMiddleware.ts
Due: yamllint

fix netlify build preview & deploys
  netlify.toml
Due: none

Create app.json
  app.json
Due: none

fix: testing pinning repote docker config
  .circleci/config.yml
Due: yamllint

fix: reverted some changes
  .circleci/config.yml
Due: yamllint

fix: fixed issue where Docker must be pinned absolutely
  .circleci/config.yml
Due: yamllint

[CORL-1424] Resolve CircleCI Build Issues (#3217)
  .circleci/config.yml
Due: yamllint

fix: disable caching by default, correct config naming
  src/core/server/app/middleware/graphql/apolloServer.ts
  src/core/server/config.ts
Due: none

fix: disable caching by default, correct config naming (#3218)
  src/core/server/app/middleware/graphql/apolloServer.ts
  src/core/server/config.ts
Due: none

Fix linting errors
  package-lock.json
  src/core/client/stream/tabs/Profile/Preferences/IgnoreUserSettingsContainer.tsx
Due: none

Feat/french loc update (#3202)
  src/locales/fr-FR/account.ftl
  src/locales/fr-FR/admin.ftl
  src/locales/fr-FR/auth.ftl
  src/locales/fr-FR/common.ftl
  src/locales/fr-FR/framework.ftl
  src/locales/fr-FR/install.ftl
  src/locales/fr-FR/stream.ftl
Due: none

fix: change general-userBoxAuthenticated-signedIn to general-userBoxAuthenticated-signedInAs
  src/locales/da/stream.ftl
  src/locales/en-US/stream.ftl
  src/locales/es/stream.ftl
  src/locales/fi-FI/stream.ftl
  src/locales/fr-FR/stream.ftl
  src/locales/nl-NL/stream.ftl
  src/locales/pl/stream.ftl
  src/locales/pt-BR/stream.ftl
  src/locales/ro/stream.ftl
  src/locales/sv/stream.ftl
Due: none

Fix tests
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
Due: none

Feature/russian localization (#3013)
  package-lock.json
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/client/stream/tabs/Profile/Preferences/IgnoreUserSettingsContainer.tsx
  src/core/common/helpers/i18n/locales.ts
  src/locales/ru/framework.ftl
  src/locales/ru/stream.ftl
Due: none

feat: ip based spam detection option
  src/core/client/admin/routes/Configure/sections/Moderation/AkismetConfig.tsx
  src/core/client/admin/test/configure/__snapshots__/moderation.spec.tsx.snap
  src/core/client/admin/test/configure/moderation.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/test/helpers/fixture.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/models/tenant/tenant.ts
  src/core/server/services/comments/pipeline/phases/spam.ts
  src/locales/en-US/admin.ftl
Due: none

fix: made ip optional for database model
  src/core/server/graph/resolvers/AkismetExternalIntegration.ts
  src/core/server/graph/resolvers/index.ts
  src/core/server/models/settings/settings.ts
  src/core/server/services/comments/pipeline/phases/spam.ts
Due: none

[CORL-1378] ip based spam detection option (#3222)
  src/core/client/admin/routes/Configure/sections/Moderation/AkismetConfig.tsx
  src/core/client/admin/test/configure/__snapshots__/moderation.spec.tsx.snap
  src/core/client/admin/test/configure/moderation.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/test/helpers/fixture.ts
  src/core/server/graph/resolvers/AkismetExternalIntegration.ts
  src/core/server/graph/resolvers/index.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/models/settings/settings.ts
  src/core/server/models/tenant/tenant.ts
  src/core/server/services/comments/pipeline/phases/spam.ts
  src/locales/en-US/admin.ftl
Due: none

fix: change general-userBoxAuthenticated-signedIn to general-userBoxAuthenticated-signedInAs (#3220)
  src/locales/da/stream.ftl
  src/locales/en-US/stream.ftl
  src/locales/es/stream.ftl
  src/locales/fi-FI/stream.ftl
  src/locales/fr-FR/stream.ftl
  src/locales/nl-NL/stream.ftl
  src/locales/pl/stream.ftl
  src/locales/pt-BR/stream.ftl
  src/locales/ro/stream.ftl
  src/locales/sv/stream.ftl
Due: none

feat: added response cache to jsonp endpoints
  src/core/server/app/middleware/cache.ts
  src/core/server/app/middleware/cacheHeaders.ts
  src/core/server/app/router/api/helpers.ts
  src/core/server/app/router/api/story.ts
  src/core/server/config.ts
Due: none

feat: added immutable directive
  src/core/server/app/index.ts
  src/core/server/app/middleware/cacheHeaders.ts
  src/core/server/app/router/api/dashboard.ts
  src/core/server/app/router/api/helpers.ts
  src/core/server/app/router/api/remoteMedia.ts
  src/core/server/app/router/api/story.ts
  src/core/server/app/router/client.ts
Due: none

feat: added more config options to control cache experience
  src/core/server/app/router/api/story.ts
  src/core/server/config.ts
Due: none

fix: remove font-magician and fix material icon fonts
  package-lock.json
  package.json
  src/core/build/postcss.config.js
  src/core/client/ui/shared/icon.css
  src/core/client/ui/theme/typography.css
Due: git-exec-and-restage eslint --fix --

[CORL-1419] Count Server Caching (#3212)
  src/core/server/app/index.ts
  src/core/server/app/middleware/cache.ts
  src/core/server/app/middleware/cacheHeaders.ts
  src/core/server/app/router/api/dashboard.ts
  src/core/server/app/router/api/helpers.ts
  src/core/server/app/router/api/remoteMedia.ts
  src/core/server/app/router/api/story.ts
  src/core/server/app/router/client.ts
  src/core/server/config.ts
Due: none

fix: ensure we always pass a body for replies
  src/core/client/stream/tabs/Comments/Comment/ReplyCommentForm/CreateCommentReplyMutation.ts
Due: none

fix: ensure we always pass a body for replies (#3226)
  src/core/client/stream/tabs/Comments/Comment/ReplyCommentForm/CreateCommentReplyMutation.ts
Due: none

fix: do not show auth popup when we don't control auth
  src/core/client/stream/tabs/Comments/Stream/PostCommentForm/PostCommentFormContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/StreamContainer.tsx
Due: none

chore: bump 6.3.11
  package-lock.json
  package.json
Due: none

feat+fix: Implement commentEntered, improve websocket handling and q&a
  src/core/client/framework/helpers/onPymMessage.ts
  src/core/client/framework/lib/network/clearHTTPCacheMiddleware.ts
  src/core/client/framework/lib/network/createManagedSubscriptionClient.ts
  src/core/client/framework/lib/network/createNetwork.ts
  src/core/client/framework/testHelpers/createTestRenderer.tsx
  src/core/client/stream/constants.ts
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkView.spec.tsx
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkView.tsx
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkViewContainer.css
  src/core/client/stream/tabs/Comments/PermalinkView/PermalinkViewContainer.tsx
  src/core/client/stream/tabs/Comments/PermalinkView/__snapshots__/PermalinkView.spec.tsx.snap
  src/core/client/stream/tabs/Comments/ReplyList/CommentReplyCreatedSubscription.tsx
  src/core/client/stream/tabs/Comments/ReplyList/ReplyListContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/CommentCreatedSubscription.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/CommentEnteredSubscription.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/CommentReleasedSubscription.tsx
  src/core/client/stream/tabs/Comments/Stream/FeaturedComments/FeaturedCommentContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/StreamContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/SpinnerWhileRendering.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentCreatedSubscription.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentReleasedSubscription.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabViewNewMutation.tsx
  src/core/client/stream/test/comments/permalink/liveDirectReplies.spec.tsx
  src/core/client/stream/test/comments/stream/liveCommentReplies.spec.tsx
  src/core/client/stream/test/comments/stream/liveTopLevelComments.spec.tsx
  src/core/server/events/event.ts
  src/core/server/events/events.ts
  src/core/server/events/listeners/subscription.ts
  src/core/server/events/types.ts
  src/core/server/graph/resolvers/Subscription/commentEntered.ts
  src/core/server/graph/resolvers/Subscription/index.ts
  src/core/server/graph/resolvers/Subscription/types.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/services/events/comments.ts
  src/core/server/stacks/helpers/publishChanges.ts
Due: none

fix: case typo
  src/core/server/graph/resolvers/Subscription/index.ts
Due: none

fix: snapshots
  src/core/client/stream/tabs/Comments/PermalinkView/__snapshots__/PermalinkViewQuery.spec.tsx.snap
  src/core/client/stream/test/comments/permalink/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/permalink/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
Due: none

allow site moderators to promote other site moderators
  src/core/client/admin/components/UserRole/SiteModeratorModal.tsx
  src/core/client/admin/components/UserRole/SiteModeratorModalSiteField.tsx
  src/core/client/admin/components/UserRole/SiteModeratorModalSiteFieldContainer.tsx
  src/core/client/admin/components/UserRole/UserRoleChange.tsx
  src/core/client/admin/components/UserRole/UserRoleChangeContainer.tsx
  src/core/client/admin/permissions.tsx
  src/core/server/graph/schema/schema.graphql
  src/core/server/services/users/users.ts
Due: none

allow modifying roles and scopes in one mutation
  src/core/server/graph/mutators/Users.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/services/users/users.ts
Due: none

add todo
  src/core/server/services/users/users.ts
Due: none

Simplify viewer dependencies in UserRoleChange
  src/core/client/admin/components/UserRole/UserRoleChange.tsx
  src/core/client/admin/components/UserRole/UserRoleChangeContainer.tsx
Due: none

Clean up guard clauses and auth directives
  src/core/server/graph/schema/schema.graphql
  src/core/server/services/users/users.ts
Due: none

Make it so user's can't reassign their own roles
  src/core/client/admin/components/UserRole/UserRoleChange.tsx
  src/core/client/admin/components/UserRole/UserRoleChangeContainer.tsx
Due: none

User GQLUSER_ROLE_RL generated types for roles
  src/core/client/admin/components/UserRole/UserRoleChange.tsx
  src/core/client/admin/components/UserRole/UserRoleChangeContainer.tsx
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
