Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

implemented unsubscribe button
  graph/connectors.js
  plugins/talk-plugin-notifications/server/NotificationManager.js
  plugins/talk-plugin-notifications/server/config.js
  plugins/talk-plugin-notifications/server/connect.js
  plugins/talk-plugin-notifications/server/emails/notification.html.ejs
  plugins/talk-plugin-notifications/server/emails/notification.txt.ejs
  plugins/talk-plugin-notifications/server/router.js
  plugins/talk-plugin-notifications/server/templates/notification.html.ejs
  plugins/talk-plugin-notifications/server/translations.yml
  plugins/talk-plugin-notifications/server/views/unsubscribe-notifications.ejs
  routes/plugins.js
  services/jwt.js
Due: git-exec-and-restage eslint --fix --, yamllint

Update setting.js
  models/setting.js
Due: git-exec-and-restage eslint --fix --

Auth Hebrew translations
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Respect hebrew translations
  plugins/talk-plugin-respect/client/translations.yml
Due: yamllint

Akismet Hebrew translations
  plugins/talk-plugin-akismet/client/translations.yml
Due: yamllint

Subscriber hebrew translation
  plugins/talk-plugin-subscriber/client/translations.yml
Due: yamllint

Like hebrew translation
  plugins/talk-plugin-like/client/translations.yml
Due: yamllint

Ignore user hebrew translation
  plugins/talk-plugin-ignore-user/client/translations.yml
Due: yamllint

Facebook Auth translation
  plugins/talk-plugin-facebook-auth/client/translations.yml
Due: yamllint

Featured comments Hebrew translation
  plugins/talk-plugin-featured-comments/client/translations.yml
Due: yamllint

Flag Hebrew translation
  plugins/talk-plugin-flag-details/client/translations.yml
Due: yamllint

Google Hebrew translation
  plugins/talk-plugin-google-auth/client/translations.yml
Due: yamllint

Member since Hebrew Translation
  plugins/talk-plugin-member-since/client/translations.yml
Due: yamllint

Moderation actions Hebrew translation
  plugins/talk-plugin-moderation-actions/client/translations.yml
Due: yamllint

Off-top Hebrew translation
  plugins/talk-plugin-offtopic/client/translations.json
Due: none

Settings Hebrew translation
  plugins/talk-plugin-profile-settings/client/translations.yml
Due: yamllint

Most liked Hebrew translation
  plugins/talk-plugin-sort-most-liked/client/translations.yml
Due: yamllint

Most loved Hebrew translation
  plugins/talk-plugin-sort-most-loved/client/translations.yml
Due: yamllint

More Hebrew translations
  plugins/talk-plugin-sort-most-loved/client/translations.yml
  plugins/talk-plugin-sort-most-replied/client/translations.yml
Due: yamllint

Most respected Hebrew translation
  plugins/talk-plugin-sort-most-respected/client/translations.yml
Due: yamllint

Toxic comments Hebrew translation
  plugins/talk-plugin-toxic-comments/client/translations.yml
Due: yamllint

Viewing options Hebrew translation
  plugins/talk-plugin-viewing-options/client/translations.yml
Due: yamllint

Remove extra space
  plugins/talk-plugin-featured-comments/client/translations.yml
Due: yamllint

Update Slot.js
  client/coral-framework/components/Slot.js
Due: git-exec-and-restage eslint --fix --

Update plugins.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

linting
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

Remove redudant request for user object
  client/coral-embed-stream/src/containers/Embed.js
Due: git-exec-and-restage eslint --fix --

Refactor postMessage service
  client/coral-auth-callback/src/index.js
  client/coral-embed-stream/src/containers/Embed.js
  client/coral-framework/actions/auth.js
  client/coral-framework/components/TalkProvider.js
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withPopupAuthHandler.js
  client/coral-framework/services/bootstrap.js
  client/coral-framework/services/messages/constants.js
  client/coral-framework/services/messages/index.js
  client/coral-framework/services/messages/sendMessage.js
  client/coral-framework/services/messages/subscriptions.js
  client/coral-framework/services/postMessage.js
Due: git-exec-and-restage eslint --fix --

Trigger build
  app.js
Due: git-exec-and-restage eslint --fix --

Remove deprecated part <3
  client/coral-embed-stream/src/containers/Embed.js
Due: git-exec-and-restage eslint --fix --

Add More hebrew translations
  app.js
  locales/he.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Bye bye old code
  client/coral-embed-stream/src/actions/asset.js
  client/coral-embed-stream/src/actions/config.js
  client/coral-embed-stream/src/constants/asset.js
  client/coral-embed-stream/src/constants/config.js
  client/coral-embed-stream/src/containers/Embed.js
  client/coral-embed-stream/src/reducers/asset.js
  client/coral-embed-stream/src/reducers/config.js
  client/coral-embed-stream/src/reducers/index.js
Due: git-exec-and-restage eslint --fix --

Fix apostrophes
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Fix closedAt wrong datatype
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

fix jsdoc
  client/coral-framework/services/postMessage.js
Due: git-exec-and-restage eslint --fix --

fix jsdoc 2
  client/coral-framework/services/postMessage.js
Due: git-exec-and-restage eslint --fix --

Purge config.auth_token from redux on logout
  client/coral-framework/reducers/config.js
Due: git-exec-and-restage eslint --fix --

removing vscode
  .vscode/settings.json
Due: none

Changes
  client/coral-embed-stream/src/tabs/stream/components/EditableCommentContent.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  package.json
Due: git-exec-and-restage eslint --fix --

Using queryData and fragments to request data
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-rich-text-pell/client/containers/Editor.js
  plugins/talk-plugin-rich-text-pell/client/index.js
Due: git-exec-and-restage eslint --fix --
