Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

reorganized
  .gitignore
  plugins.default.json
  plugins/talk-plugin-auth/README.md
  plugins/talk-plugin-auth/index.js
  plugins/talk-plugin-local-auth/README.md
  plugins/talk-plugin-local-auth/index.js
  plugins/talk-plugin-local-auth/server/errors.js
  plugins/talk-plugin-local-auth/server/mutators.js
  plugins/talk-plugin-local-auth/server/resolvers.js
  plugins/talk-plugin-local-auth/server/translations.yml
  plugins/talk-plugin-local-auth/server/typeDefs.graphql
  plugins/talk-plugin-local-auth/server/typeDefs.js
Due: git-exec-and-restage eslint --fix --, yamllint

added new plugin to registry
  docs/source/_data/plugins.yml
Due: yamllint

Referenced new plugin
  docs/source/plugin/talk-plugin-local-auth.md
Due: none

fixed client building
  plugins/talk-plugin-local-auth/client/.eslintrc.json
  plugins/talk-plugin-local-auth/client/index.js
Due: git-exec-and-restage eslint --fix --

Frontend for Change Password
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Adding withChangePassword to mutations and plugins API, styles
  client/coral-framework/graphql/fragments.js
  client/coral-framework/graphql/mutations.js
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

validations
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Renamed nl to nlTA. Sorted ta.register calls
  client/coral-framework/services/i18n.js
Due: git-exec-and-restage eslint --fix --

Fix typo
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

changes
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

fix for large icons, reorder of styles
  plugins/talk-plugin-notifications/server/views/unsubscribe-notifications.ejs
  views/admin.ejs
  views/embed/stream.ejs
  views/login.ejs
Due: none

as InputField
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Validation finished
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Adding translations, en, es, more
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

final refactor, done.
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.css
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.js
  plugins/talk-plugin-auth/client/profile-settings/components/Form.css
  plugins/talk-plugin-auth/client/profile-settings/components/Form.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Add missing ctx arg for CLI users create
  bin/cli-users
Due: git-exec-and-restage eslint --fix --

Fix lint
  bin/cli-users
Due: git-exec-and-restage eslint --fix --

Adding a notification after saving
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangePassword.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Introducing profileHeader slot
  client/coral-embed-stream/src/tabs/profile/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Adding withChangeUsername to plugin hocs, wip and more
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangeUsername.js
Due: git-exec-and-restage eslint --fix --

Small fix
  docs/source/03-03-product-guide-moderator-features.md
Due: none

Use email vs e-mail
  locales/en.yml
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Adding Dialog, styles and more
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Full functionality, needs translation
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
Due: git-exec-and-restage eslint --fix --

wip more validations
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Remove refs to talk-plugin-profile-settings
  .gitignore
  docs/source/api/slots.md
  docs/source/integrating/configuring-comment-stream.md
  docs/source/integrating/notifications.md
Due: none

InputField refactor
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Adding translations
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/Form.css
  plugins/talk-plugin-auth/client/profile-settings/components/Form.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Adding translations
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Translations
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Decrease font-size and padding in Flag Comment popup a bit.
  client/coral-embed-stream/style/default.css
  client/coral-ui/components/PopupMenu.css
Due: none

No empty username, no same username
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
Due: git-exec-and-restage eslint --fix --

More translations
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Spanish translations
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

performing mutation
  client/coral-embed-stream/src/tabs/profile/components/Profile.js
  client/coral-embed-stream/src/tabs/profile/containers/Profile.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Added missing spanish translations
  locales/es.yml
Due: yamllint

Added email.password_reset.subject translation
  locales/en.yml
  locales/es.yml
  routes/api/v1/account.js
Due: git-exec-and-restage eslint --fix --, yamllint

added viewing and sorting spanish translations
  plugins/talk-plugin-sort-most-liked/client/translations.yml
  plugins/talk-plugin-sort-most-loved/client/translations.yml
  plugins/talk-plugin-sort-most-replied/client/translations.yml
  plugins/talk-plugin-sort-most-respected/client/translations.yml
  plugins/talk-plugin-sort-most-upvoted/client/translations.yml
  plugins/talk-plugin-sort-newest/client/translations.yml
  plugins/talk-plugin-sort-oldest/client/translations.yml
  plugins/talk-plugin-viewing-options/client/translations.yml
Due: yamllint

Translation for talk-plugin-auth password_error added
  plugins/talk-plugin-auth/client/login/components/SignUp.js
  plugins/talk-plugin-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Added the password error translation
  plugins/talk-plugin-auth/client/login/components/SignUp.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
