Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Adding missing slot
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
Due: git-exec-and-restage eslint --fix --

Adding InputField
  plugins/talk-plugin-auth/client/components/ErrorMessage.css
  plugins/talk-plugin-auth/client/components/ErrorMessage.js
  plugins/talk-plugin-auth/client/components/InputField.css
  plugins/talk-plugin-auth/client/components/InputField.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.css
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangeUsername.js
Due: git-exec-and-restage eslint --fix --

Adding input
  plugins/talk-plugin-auth/client/components/ErrorMessage.css
  plugins/talk-plugin-auth/client/profile-settings/components/DeleteMyAccountStep.css
Due: none

Fixes to shema loading
  models/index.js
  plugin-api/beta/server/getReactionConfig.js
  services/mongoose.js
Due: git-exec-and-restage eslint --fix --

cli fixes
  bin/cli
  bin/cli-settings
  bin/util.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Add note explaining possible plugin conflict
  plugins/talk-plugin-rich-text/README.md
Due: none

Remove space to correct markdown link formatting
  plugins/talk-plugin-rich-text/README.md
Due: none

Map browser language code to locale code in TALK
  client/coral-framework/services/i18n.js
  services/i18n.js
Due: git-exec-and-restage eslint --fix --

Fix lint error
  services/i18n.js
Due: git-exec-and-restage eslint --fix --

Refactor and match styling with rest of ui
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
Due: git-exec-and-restage eslint --fix --

Refactor change password and adapt styles
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Remove unused styles
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
Due: none

Allow dialog to be responsive
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.css
Due: none

Fix cancel button
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

patched json
  package.json
Due: none

cli fix
  bin/util.js
Due: git-exec-and-restage eslint --fix --

merge conflict
  plugins/talk-plugin-auth/client/index.js
Due: git-exec-and-restage eslint --fix --

Sending correct parameters
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Moving gdpr to `talk-plugin-local-auth`
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/Profile.css
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangeUsername.js
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.css
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangePassword.css
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameContentDialog.css
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.css
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.js
  plugins/talk-plugin-local-auth/client/components/ConfirmChangesDialog.css
  plugins/talk-plugin-local-auth/client/components/ConfirmChangesDialog.js
  plugins/talk-plugin-local-auth/client/components/ErrorMessage.css
  plugins/talk-plugin-local-auth/client/components/ErrorMessage.js
  plugins/talk-plugin-local-auth/client/components/InputField.css
  plugins/talk-plugin-local-auth/client/components/InputField.js
  plugins/talk-plugin-local-auth/client/components/Profile.css
  plugins/talk-plugin-local-auth/client/components/Profile.js
  plugins/talk-plugin-local-auth/client/containers/ChangePassword.js
  plugins/talk-plugin-local-auth/client/containers/Profile.js
  plugins/talk-plugin-local-auth/client/index.js
Due: git-exec-and-restage eslint --fix --

Moving gdpr to `talk-plugin-profile-data`
  plugins/talk-plugin-auth/client/index.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsername.js
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.css
  plugins/talk-plugin-auth/client/profile-settings/components/ChangeUsernameDialog.js
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.css
  plugins/talk-plugin-auth/client/profile-settings/components/ErrorMessage.js
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.css
  plugins/talk-plugin-auth/client/profile-settings/components/InputField.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangePassword.js
  plugins/talk-plugin-auth/client/profile-settings/containers/ChangeUsername.js
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.css
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.css
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.css
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep.css
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep0.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep2.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-profile-data/client/components/ErrorMessage.css
  plugins/talk-plugin-profile-data/client/components/ErrorMessage.js
  plugins/talk-plugin-profile-data/client/components/InputField.css
  plugins/talk-plugin-profile-data/client/components/InputField.js
  plugins/talk-plugin-profile-data/client/components/StepProgress.css
  plugins/talk-plugin-profile-data/client/components/StepProgress.js
  plugins/talk-plugin-profile-data/client/containers/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/containers/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/index.js
Due: git-exec-and-restage eslint --fix --

Moving gdpr to `talk-plugin-profile-data`
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-profile-data/client/index.js
Due: git-exec-and-restage eslint --fix --

Moving the translations too
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangePassword.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameContentDialog.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.js
  plugins/talk-plugin-local-auth/client/components/ConfirmChangesDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.js
  plugins/talk-plugin-local-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Importing translations
  plugins/talk-plugin-local-auth/client/index.js
Due: git-exec-and-restage eslint --fix --

Using fragments :)
  plugins/talk-plugin-local-auth/client/containers/Profile.js
Due: git-exec-and-restage eslint --fix --

remove profile-settings from gitignore
  .gitignore
Due: none

docs updates
  docs/_config.yml
  docs/source/03-08-gdpr.md
  docs/source/_data/plugins.yml
  docs/source/plugins/overview.md
  docs/source/plugins/plugins-directory.md
  docs/themes/coral/layout/plugins.swig
  docs/themes/coral/source/css/talk.scss
  docs/themes/coral/source/js/plugins.js
  plugins/talk-plugin-auth/README.md
  plugins/talk-plugin-facebook-auth/README.md
  plugins/talk-plugin-google-auth/README.md
  plugins/talk-plugin-local-auth/README.md
  plugins/talk-plugin-profile-data/README.md
Due: git-exec-and-restage eslint --fix --, yamllint

Added incorrect password error
  plugins/talk-plugin-local-auth/server/errors.js
  plugins/talk-plugin-local-auth/server/mutators.js
  plugins/talk-plugin-local-auth/server/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Update version to 4.4.0
  package.json
Due: none

Updating the cache with data from the fragment
  client/coral-embed-stream/src/tabs/profile/containers/Profile.js
  client/coral-framework/graphql/mutations.js
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.js
  plugins/talk-plugin-local-auth/client/containers/Profile.js
Due: git-exec-and-restage eslint --fix --

Adding error
  locales/en.yml
  locales/es.yml
Due: yamllint

wip
  client/coral-framework/graphql/mutations.js
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-facebook-auth/client/components/ErrorMessage.css
  plugins/talk-plugin-facebook-auth/client/components/ErrorMessage.js
  plugins/talk-plugin-facebook-auth/client/components/InputField.css
  plugins/talk-plugin-facebook-auth/client/components/InputField.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/index.js
Due: git-exec-and-restage eslint --fix --

Checking if email verification is required
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/components/EmailAddressAdded.js
  plugins/talk-plugin-local-auth/client/components/VerifyEmailAddress.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

Changes
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
Due: git-exec-and-restage eslint --fix --

Changes
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.css
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
Due: git-exec-and-restage eslint --fix --

Changes
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/components/InputField.js
Due: git-exec-and-restage eslint --fix --

checking me null
  plugins/talk-plugin-profile-data/client/containers/AccountDeletionRequestedSign.js
Due: git-exec-and-restage eslint --fix --

Changes
  client/coral-framework/graphql/fragments.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
Due: git-exec-and-restage eslint --fix --

Adding reducer
  plugins/talk-plugin-local-auth/client/actions.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.css
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/components/EmailAddressAdded.js
  plugins/talk-plugin-local-auth/client/components/InputField.css
  plugins/talk-plugin-local-auth/client/components/VerifyEmailAddress.js
  plugins/talk-plugin-local-auth/client/constants.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/index.js
  plugins/talk-plugin-local-auth/client/reducer.js
Due: git-exec-and-restage eslint --fix --

done - but translations
  plugins/talk-plugin-local-auth/client/actions.js
  plugins/talk-plugin-local-auth/client/constants.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/index.js
  plugins/talk-plugin-local-auth/client/reducer.js
Due: git-exec-and-restage eslint --fix --

Review changes
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
