Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

fix: lint
  src/core/client/ui/components/Delay/Delay.spec.tsx
Due: none

fix: make delay duration shorter
  src/core/client/stream/tabs/comments/queries/__snapshots__/PermalinkViewQuery.spec.tsx.snap
  src/core/client/stream/tabs/comments/queries/__snapshots__/StreamQuery.spec.tsx.snap
  src/core/client/ui/components/Delay/Delay.tsx
Due: none

[next] Delay showing loading spinner (#2090)
  src/core/client/admin/routes/configure/sections/auth/containers/AuthContainer.tsx
  src/core/client/stream/tabs/comments/queries/PermalinkViewQuery.tsx
  src/core/client/stream/tabs/comments/queries/StreamQuery.tsx
  src/core/client/stream/tabs/comments/queries/__snapshots__/PermalinkViewQuery.spec.tsx.snap
  src/core/client/stream/tabs/comments/queries/__snapshots__/StreamQuery.spec.tsx.snap
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
  src/core/client/ui/components/Delay/Delay.mdx
  src/core/client/ui/components/Delay/Delay.spec.tsx
  src/core/client/ui/components/Delay/Delay.tsx
  src/core/client/ui/components/Delay/__snapshots__/Delay.spec.tsx.snap
  src/core/client/ui/components/Delay/index.ts
  src/core/client/ui/components/index.ts
Due: none

feat: added revision id support for replies
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/resolvers/Mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/comment.ts
Due: none

feat: use createCommentReply
  src/core/client/stream/helpers/incrementStoryCommentCounts.ts
  src/core/client/stream/helpers/index.ts
  src/core/client/stream/helpers/prependCommentEdgeToProfile.ts
  src/core/client/stream/mutations/CreateCommentReplyMutation.ts
  src/core/client/stream/mutations/index.ts
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/test/comments/postLocalReply.spec.tsx
  src/core/client/stream/test/comments/postReply.spec.tsx
Due: none

Fixed Sp translations
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

fix: correctly determine expired token
  src/core/client/admin/test/login.spec.tsx
  src/core/client/framework/lib/jwt.ts
Due: none

feat: support external config
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/Talk.ts
  src/core/client/embed/decorators/index.ts
  src/core/client/embed/decorators/withConfig.spec.ts
  src/core/client/embed/decorators/withConfig.ts
  src/core/client/framework/lib/externalConfig.ts
  src/core/client/framework/lib/relay/localState.ts
  src/core/client/framework/utils/areWeInIframe.ts
  src/core/client/framework/utils/index.ts
  src/core/client/stream/local/initLocalState.ts
Due: none

fix: lint
  src/core/client/embed/tsconfig.json
Due: none

fix: npm audit fix
  package-lock.json
  package.json
Due: none

[next] Support external config (#2088)
  package-lock.json
  package.json
  src/core/client/admin/test/login.spec.tsx
  src/core/client/embed/StreamEmbed.ts
  src/core/client/embed/Talk.ts
  src/core/client/embed/decorators/index.ts
  src/core/client/embed/decorators/withConfig.spec.ts
  src/core/client/embed/decorators/withConfig.ts
  src/core/client/embed/tsconfig.json
  src/core/client/framework/lib/externalConfig.ts
  src/core/client/framework/lib/jwt.ts
  src/core/client/framework/lib/relay/localState.ts
  src/core/client/framework/utils/areWeInIframe.ts
  src/core/client/framework/utils/index.ts
  src/core/client/stream/local/initLocalState.ts
Due: none

Update Dutch (nl_NL) translations
  locales/nl_NL.yml
Due: yamllint

Version 4.6.7
  package.json
Due: none

Add Dutch (nl_NL) translation for talk-plugin-local-auth
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Version 4.6.7 (#2096)
  package.json
Due: none

Add Dutch (nl_NL) translations for talk-plugin-facebook-auth
  plugins/talk-plugin-facebook-auth/client/translations.yml
Due: yamllint

Fix talk-plugin-member-since Dutch (nl_NL) translation
  plugins/talk-plugin-member-since/client/translations.yml
Due: yamllint

Fix and update talk-plugin-auth Dutch (nl_NL) translations
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Add Dutch (nl_NL) translations for talk-plugin-google-auth
  plugins/talk-plugin-google-auth/client/translations.yml
Due: yamllint

Add Dutch (nl_NL) translations for talk notifications plugins
  locales/nl_NL.yml
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/translations.yml
  plugins/talk-plugin-notifications/server/translations.yml
Due: yamllint

Update Dutch (nl_NL) translations for talk-plugin-love
  plugins/talk-plugin-love/client/translations.yml
Due: yamllint

Fix nl typo
  locales/nl_NL.yml
Due: yamllint

feat: batch admin configure mutations (#2089)
  src/core/client/admin/routes/configure/containers/ConfigureContainer.tsx
  src/core/client/admin/routes/configure/sections/auth/containers/AuthContainer.tsx
  src/core/client/admin/routes/configure/sections/auth/containers/OIDCConfigListContainer.tsx
  src/core/client/admin/routes/configure/submitHook/SubmitHookContext.tsx
  src/core/client/framework/lib/network/createNetwork.ts
Due: none

[next] Comment Reply Revisions (#2072)
  src/core/client/stream/helpers/incrementStoryCommentCounts.ts
  src/core/client/stream/helpers/index.ts
  src/core/client/stream/helpers/prependCommentEdgeToProfile.ts
  src/core/client/stream/mutations/CreateCommentReplyMutation.ts
  src/core/client/stream/mutations/index.ts
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/test/comments/postLocalReply.spec.tsx
  src/core/client/stream/test/comments/postReply.spec.tsx
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/resolvers/Mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/comment.ts
Due: none

merging in typo fixes from docs (rtd) branch
  docs/.gitignore
  docs/source/01-01-talk-quickstart.md
  docs/source/integrating/asset-management.md
  scripts/generateIntrospectionResult.js
Due: git-exec-and-restage eslint --fix --

revert generateIntrospectionResult.json
  scripts/generateIntrospectionResult.js
Due: git-exec-and-restage eslint --fix --

revert git ignore
  docs/.gitignore
Due: none

feat: implement decision history container
  src/core/client/admin/components/DecisionHistoryButton.tsx
  src/core/client/admin/views/decisionHistory/components/AcceptedComment.tsx
  src/core/client/admin/views/decisionHistory/components/DecisionHistory.tsx
  src/core/client/admin/views/decisionHistory/components/DecisionHistoryLoading.css
  src/core/client/admin/views/decisionHistory/components/DecisionHistoryLoading.tsx
  src/core/client/admin/views/decisionHistory/components/GoToCommentLink.tsx
  src/core/client/admin/views/decisionHistory/components/Main.css
  src/core/client/admin/views/decisionHistory/components/RejectedComment.tsx
  src/core/client/admin/views/decisionHistory/components/ShowMoreButton.css
  src/core/client/admin/views/decisionHistory/components/ShowMoreButton.tsx
  src/core/client/admin/views/decisionHistory/components/Title.tsx
  src/core/client/admin/views/decisionHistory/containers/DecisionHistoryContainer.tsx
  src/core/client/admin/views/decisionHistory/containers/DecisionHistoryItemContainer.tsx
  src/core/client/admin/views/decisionHistory/queries/DecisionHistoryQuery.tsx
  src/core/client/ui/components/Spinner/Spinner.tsx
  src/locales/en-US/admin.ftl
Due: none

test: integration test
  src/core/client/admin/components/DecisionHistoryButton.tsx
  src/core/client/admin/test/decisionHistory/__snapshots__/decisionHistory.spec.tsx.snap
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/admin/views/decisionHistory/components/DecisionHistory.tsx
  src/core/client/admin/views/decisionHistory/components/DecisionHistoryLoading.tsx
  src/core/client/framework/testHelpers/findWithTestID.ts
  src/core/client/framework/testHelpers/findWithText.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/ui/components/Popover/Popover.tsx
Due: none

test: fix remaining snapshots
  src/core/client/admin/views/decisionHistory/components/__snapshots__/DecisionHistory.spec.tsx.snap
  src/core/client/admin/views/decisionHistory/components/__snapshots__/DecisionHistoryLoading.spec.tsx.snap
Due: none

test: add more concepts from react-testing-library
  package-lock.json
  package.json
  src/core/client/admin/test/decisionHistory/__snapshots__/decisionHistory.spec.tsx.snap
  src/core/client/admin/test/decisionHistory/decisionHistory.spec.tsx
  src/core/client/admin/views/decisionHistory/components/DecisionHistoryLoading.tsx
  src/core/client/admin/views/decisionHistory/components/__snapshots__/DecisionHistoryLoading.spec.tsx.snap
  src/core/client/framework/testHelpers/getByTestID.ts
  src/core/client/framework/testHelpers/getByText.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/framework/testHelpers/wait.ts
  src/core/client/framework/testHelpers/waitForElement.ts
Due: none

fix: wrap long username into the next line
  src/core/client/admin/views/decisionHistory/components/Info.css
Due: none

fix: fallback to word-break: break-all;
  src/core/client/admin/views/decisionHistory/components/Info.css
Due: none

fix: edit comment fix for reactions
  package-lock.json
  src/core/client/stream/mutations/EditCommentMutation.ts
Due: none

feat: Comment Queue Counts
  src/core/server/graph/tenant/loaders/Comments.ts
  src/core/server/graph/tenant/mutators/Actions.ts
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/resolvers/ModerationQueue.ts
  src/core/server/graph/tenant/resolvers/ModerationQueues.ts
  src/core/server/graph/tenant/resolvers/Mutation.ts
  src/core/server/graph/tenant/resolvers/Query.ts
  src/core/server/graph/tenant/resolvers/Story.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/action/comment.spec.ts
  src/core/server/models/action/comment.ts
  src/core/server/models/action/moderation/comment.ts
  src/core/server/models/comment.ts
  src/core/server/models/connection.ts
  src/core/server/models/story.ts
  src/core/server/services/comments/actions.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/counts.spec.ts
  src/core/server/services/comments/moderation/counts.ts
  src/core/server/services/comments/moderation/index.ts
  src/core/server/services/comments/pipeline/index.spec.ts
  src/core/server/services/comments/pipeline/index.ts
  src/core/server/services/comments/pipeline/phases/commentLength.ts
  src/core/server/services/comments/pipeline/phases/commentingDisabled.ts
  src/core/server/services/comments/pipeline/phases/index.ts
  src/core/server/services/comments/pipeline/phases/karma.ts
  src/core/server/services/comments/pipeline/phases/links.ts
  src/core/server/services/comments/pipeline/phases/preModerate.ts
  src/core/server/services/comments/pipeline/phases/spam.ts
  src/core/server/services/comments/pipeline/phases/staff.ts
  src/core/server/services/comments/pipeline/phases/storyClosed.spec.ts
  src/core/server/services/comments/pipeline/phases/storyClosed.ts
  src/core/server/services/comments/pipeline/phases/toxic.ts
  src/core/server/services/comments/pipeline/phases/wordList.ts
  src/core/server/services/comments/pipeline/wordList.spec.ts
  src/core/server/services/comments/pipeline/wordList.ts
  src/core/server/services/moderation/index.ts
  src/core/server/services/stories/index.ts
Due: none

feat: added shared comment counts and queues
  package-lock.json
  src/core/server/app/index.ts
  src/core/server/app/middleware/context/tenant.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/verifiers/jwt.ts
  src/core/server/graph/tenant/context.ts
  src/core/server/graph/tenant/mutators/Actions.ts
  src/core/server/graph/tenant/mutators/Comment.ts
  src/core/server/graph/tenant/mutators/Story.ts
  src/core/server/graph/tenant/resolvers/ModerationQueues.ts
  src/core/server/graph/tenant/resolvers/Query.ts
  src/core/server/graph/tenant/resolvers/Story.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/story/counts/empty.ts
  src/core/server/models/story/counts/index.ts
  src/core/server/models/story/counts/shared.ts
  src/core/server/models/story/index.ts
  src/core/server/services/comments/actions.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/index.ts
  src/core/server/services/redis/index.ts
  src/core/server/services/stories/index.ts
Due: none

fix: fixed test
  src/core/client/stream/test/comments/editComment.spec.tsx
Due: none
