Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Adding functionality and design functionality
  client/coral-admin/src/components/ActionsMenu.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-framework/utils/user.js
Due: git-exec-and-restage eslint --fix --

Adding translations
  client/coral-admin/src/components/UserDetail.js
  locales/en.yml
  locales/es.yml
Due: git-exec-and-restage eslint --fix --, yamllint

added beforeTest to wait for mongoose to be ready
  test/setupJest.js
Due: git-exec-and-restage eslint --fix --

autocapitalize off for the username field
  plugins/talk-plugin-auth/client/login/components/SignUp.js
Due: git-exec-and-restage eslint --fix --

adjusted index creation and managemen
  .circleci/config.yml
  bin/cli
  bin/cli-db
  models/action.js
  models/asset.js
  models/comment.js
  models/migration.js
  models/schema/action.js
  models/schema/asset.js
  models/schema/comment.js
  models/schema/index.js
  models/schema/migration.js
  models/schema/setting.js
  models/schema/user.js
  models/setting.js
  models/user.js
  plugin-api/beta/server/getReactionConfig.js
Due: git-exec-and-restage eslint --fix --, yamllint

adjusted env
  .circleci/config.yml
  package.json
Due: yamllint

Storage Fixes
  client/coral-framework/services/i18n.js
  client/coral-framework/services/storage.js
Due: git-exec-and-restage eslint --fix --

cleanups around storageAccess
  client/coral-admin/src/actions/moderation.js
  client/coral-admin/src/index.js
  client/coral-framework/actions/auth.js
  client/coral-framework/services/storage.js
Due: git-exec-and-restage eslint --fix --

logic cleanup
  client/coral-framework/services/storage.js
Due: git-exec-and-restage eslint --fix --

Removed storage check
  client/coral-framework/services/i18n.js
Due: git-exec-and-restage eslint --fix --

version bump
  package.json
Due: none

don't show profile tab if user is logged out
  client/coral-embed-stream/src/components/Embed.js
  client/coral-embed-stream/src/components/ExtendableTabPanel.js
Due: git-exec-and-restage eslint --fix --

fixed mutation
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

itterated on copy
  locales/en.yml
  plugins/talk-plugin-profile-data/server/emails/download.html.ejs
  plugins/talk-plugin-profile-data/server/emails/download.txt.ejs
  plugins/talk-plugin-profile-data/server/errors.js
  plugins/talk-plugin-profile-data/server/mutators.js
  plugins/talk-plugin-profile-data/server/router.js
  plugins/talk-plugin-profile-data/server/views/download.ejs
  plugins/talk-plugin-profile-data/translations.yml
  public/css/admin.css
  routes/api/v1/account.js
  views/account/email/confirm.ejs
  views/account/password/reset.ejs
  views/embed/stream.ejs
  views/partials/head.ejs
Due: git-exec-and-restage eslint --fix --, yamllint

fixed missing partial
  views/partials/account.ejs
Due: none

Updated error styling
  plugins/talk-plugin-profile-data/server/views/download.ejs
  public/css/admin.css
  views/account/email/confirm.ejs
  views/account/password/reset.ejs
Due: none

Password Change Graph Support
  graph/mutators/user.js
  graph/typeDefs.graphql
  locales/en.yml
  perms/constants/mutation.js
  perms/reducers/mutation.js
  routes/api/v1/account.js
  services/users.js
Due: git-exec-and-restage eslint --fix --, yamllint

Added some change to mutators
  graph/mutators/user.js
  graph/resolvers/root_mutation.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

flow checks
  client/coral-admin/src/components/ActionsMenuItem.js
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Allow a user to change their own username
  models/action.js
  perms/reducers/mutation.js
  services/users.js
  test/server/graph/mutations/changeUsername.js
  test/server/services/users.js
Due: git-exec-and-restage eslint --fix --

Adds Author Index for Comments
  models/comment.js
Due: git-exec-and-restage eslint --fix --

icon patch
  client/coral-ui/components/Icon.css
Due: none

fixed proptype missing validation
  client/coral-embed-stream/src/components/Embed.js
Due: git-exec-and-restage eslint --fix --

removed deprecated not logged in ui for profile tab
  client/coral-embed-stream/src/tabs/profile/components/NotLoggedIn.css
  client/coral-embed-stream/src/tabs/profile/components/NotLoggedIn.js
  client/coral-embed-stream/src/tabs/profile/containers/Profile.js
Due: git-exec-and-restage eslint --fix --

fix e2e test
  test/e2e/specs/03_embedStream.js
Due: git-exec-and-restage eslint --fix --

Add system withheld status to InactiveCommentLabel
  client/coral-embed-stream/src/tabs/stream/components/InactiveCommentLabel.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Added NL translation for Moment. Also, sorted locale imports alphabetically.
  client/coral-framework/services/i18n.js
Due: git-exec-and-restage eslint --fix --

added deletion graph endpoints
  graph/mutators/user.js
  perms/constants/mutation.js
  perms/reducers/mutation.js
  plugin-api/beta/server/getReactionConfig.js
  plugins/talk-plugin-profile-data/package.json
  plugins/talk-plugin-profile-data/server/connect.js
  plugins/talk-plugin-profile-data/server/errors.js
  plugins/talk-plugin-profile-data/server/mutators.js
  plugins/talk-plugin-profile-data/server/resolvers.js
  plugins/talk-plugin-profile-data/server/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --

Change to UserHistory in UserDetail.js
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

implemented tombstoning
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/CommentTombstone.js
  client/coral-framework/utils/index.js
  graph/mutators/user.js
  graph/resolvers/comment.js
  graph/typeDefs.graphql
  locales/en.yml
  models/schema/comment.js
  perms/constants/query.js
  perms/reducers/query.js
  services/migration/helpers.js
Due: git-exec-and-restage eslint --fix --, yamllint

Added translation to staff label in comment stream.
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
Due: git-exec-and-restage eslint --fix --

small fixes for db logic
  services/users.js
Due: git-exec-and-restage eslint --fix --

adjusted download to include all comments
  plugins/talk-plugin-profile-data/README.md
  plugins/talk-plugin-profile-data/server/router.js
Due: git-exec-and-restage eslint --fix --

Validation Added
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
Due: git-exec-and-restage eslint --fix --

pull ignored users from db
  graph/mutators/user.js
Due: git-exec-and-restage eslint --fix --

GDPR Email Support
  plugins/talk-plugin-auth/README.md
  plugins/talk-plugin-auth/index.js
  plugins/talk-plugin-auth/server/errors.js
  plugins/talk-plugin-auth/server/mutators.js
  plugins/talk-plugin-auth/server/resolvers.js
  plugins/talk-plugin-auth/server/translations.yml
  plugins/talk-plugin-auth/server/typeDefs.graphql
  plugins/talk-plugin-auth/server/typeDefs.js
Due: git-exec-and-restage eslint --fix --, yamllint

added direct download mutation
  graph/connectors.js
  plugins/talk-plugin-profile-data/server/emails/download.html.ejs
  plugins/talk-plugin-profile-data/server/emails/download.txt.ejs
  plugins/talk-plugin-profile-data/server/mutators.js
  plugins/talk-plugin-profile-data/server/resolvers.js
  plugins/talk-plugin-profile-data/server/router.js
  plugins/talk-plugin-profile-data/server/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --

fix for logger
  package.json
  services/logging.js
Due: git-exec-and-restage eslint --fix --

fixed e2e
  test/e2e/globals.js
  test/e2e/page_objects/install.js
  test/e2e/specs/01_install.js
Due: git-exec-and-restage eslint --fix --

cleanups
  plugins/talk-plugin-auth/server/mutators.js
  plugins/talk-plugin-auth/server/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint
