Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Support for ClickOutside
  src/core/client/stream/components/Permalink/PermalinkPopover.tsx
  src/core/client/ui/components/ClickOutside/ClickOutside.tsx
  src/core/client/ui/components/ClickOutside/index.ts
  src/core/client/ui/components/Popover/Popover.tsx
  src/core/client/ui/components/index.ts
Due: none

Removing old implementation of attachment
  package-lock.json
  package.json
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/Permalink/PermalinkPopover.tsx
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/stream/containers/PermalinkContainer.tsx
  src/core/client/stream/containers/PermalinkViewContainer.tsx
  src/core/client/stream/queries/AppQuery.tsx
  src/core/client/ui/components/Attachment/Attachment.css
  src/core/client/ui/components/Attachment/Attachment.tsx
  src/core/client/ui/components/Attachment/index.ts
  src/core/client/ui/components/ClickOutside/ClickOutside.mdx
  src/core/client/ui/components/ClickOutside/ClickOutside.spec.tsx
  src/core/client/ui/components/ClickOutside/ClickOutside.tsx
  src/core/client/ui/components/ClickOutside/__snapshots__/ClickOutside.spec.tsx.snap
  src/core/client/ui/components/ClickOutside/index.ts
  src/core/client/ui/components/Popover/Popover.tsx
  src/core/client/ui/components/index.ts
  src/types/simulant.d.ts
Due: none

Missing imports, redirects Back to the Stream, Share Button, Full func
  src/core/client/stream/components/Comment/Comment.css
  src/core/client/stream/components/Comment/Comment.tsx
  src/core/client/stream/components/Permalink/Permalink.tsx
  src/core/client/stream/components/Permalink/PermalinkView.css
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/stream/containers/PermalinkContainer.tsx
  src/core/client/stream/queries/AppQuery.tsx
  src/core/client/ui/components/index.ts
Due: none

Creating assetURL in localState
  src/core/client/stream/components/Permalink/Permalink.tsx
  src/core/client/stream/containers/PermalinkContainer.tsx
  src/core/client/stream/local/initLocalState.ts
  src/core/client/stream/local/local.graphql
  src/core/client/stream/queries/AppQuery.tsx
Due: none

S
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/stream/containers/PermalinkContainer.tsx
Due: none

Creating assetURL in localState
  src/core/client/stream/components/Permalink/Permalink.tsx
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/stream/containers/PermalinkContainer.tsx
  src/core/client/stream/local/initLocalState.ts
  src/core/client/stream/local/local.graphql
  src/core/client/stream/queries/AppQuery.tsx
Due: none

Back to the stream if comment not found
  src/core/client/stream/components/Permalink/PermalinkView.css
  src/core/client/stream/components/Permalink/PermalinkView.tsx
Due: none

Added missing dependency and test updated
  package-lock.json
  src/core/client/stream/components/Comment/__snapshots__/Comment.spec.tsx.snap
  src/core/client/stream/queries/AppQuery.spec.tsx
  src/core/client/stream/queries/__snapshots__/AppQuery.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/ui/components/Popover/Popover.tsx
Due: none

Added missing dependency and test updated
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
Due: none

fix: support tenant cache for oidc strategy
  src/core/server/app/index.ts
  src/core/server/app/middleware/passport/__snapshots__/jwt.spec.ts.snap
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/jwt.spec.ts
  src/core/server/app/middleware/passport/jwt.ts
  src/core/server/app/middleware/passport/oidc.ts
  src/core/server/app/router.ts
  src/core/server/services/tenant/cache.ts
Due: none

fix: fixed compile
  package-lock.json
  src/core/server/models/tenant.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/phases/karma.ts
Due: none

fix: import ordering
  src/core/server/graph/tenant/context.ts
Due: none

Fixed UI component path reference.
  docs/source/api/client.md
Due: none

Fixed UI component path reference. (#1761)
  docs/source/api/client.md
Due: none

feat: added bull for queue support
  DESIGN.md
  package-lock.json
  package.json
  src/core/server/app/index.ts
  src/core/server/graph/common/subscriptions/pubsub.ts
  src/core/server/index.ts
  src/core/server/services/queue/index.ts
  src/core/server/services/queue/tasks/index.ts
  src/core/server/services/queue/tasks/mailer.ts
  src/core/server/services/queue/tasks/scraper.ts
  src/core/server/services/redis/index.ts
  src/core/server/services/tenant/cache.ts
Due: none

feat: support for scraping
  .circleci/config.yml
  package-lock.json
  package.json
  src/core/server/models/asset.ts
  src/core/server/services/queue/tasks/scraper.ts
  src/core/server/services/queue/tasks/scraper/index.ts
  src/core/server/services/queue/tasks/scraper/rules/modified.ts
  src/core/server/services/queue/tasks/scraper/rules/section.ts
  src/types/metascraper.d.ts
Due: yamllint

fix: username status fix
  services/users.js
Due: git-exec-and-restage eslint --fix --

chore: version bump
  package.json
Due: none

chore: update 4.6.0
  package.json
Due: none

fix: token handling
  client/coral-framework/actions/auth.js
  client/coral-framework/reducers/config.js
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

Changes
  src/core/client/stream/components/Comment/Comment.css
  src/core/client/stream/components/Permalink/Permalink.tsx
  src/core/client/stream/components/Permalink/PermalinkPopover.css
  src/core/client/stream/components/Permalink/PermalinkPopover.tsx
  src/core/client/stream/components/Permalink/PermalinkView.css
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/ui/components/AriaInfo/AriaInfo.mdx
  src/core/client/ui/components/ClickOutside/ClickOutside.tsx
  src/core/client/ui/components/ClickOutside/index.ts
  src/core/client/ui/components/Popover/Popover.tsx
  src/core/client/ui/components/Popover/index.ts
  src/core/client/ui/components/TextField/TextField.css
  src/core/client/ui/components/TextField/TextField.d.ts
  src/core/client/ui/components/TextField/TextField.tsx
Due: none

More Changes
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/stream/containers/PermalinkViewContainer.tsx
  src/core/client/ui/components/TextField/TextField.css
  src/core/client/ui/components/TextField/TextField.mdx
  src/core/client/ui/shared/typography.css
Due: none

docz
  src/docs/workarounds.mdx
Due: none

docz
  src/docs/introduction.mdx
Due: none

Support windows
  loaders/locales-loader.js
  package-lock.json
  package.json
  scripts/compileRelay.ts
  scripts/schemaPath.ts
Due: git-exec-and-restage eslint --fix --

Fix small typo in integrating/configuring-admin.md
  docs/source/integrating/configuring-admin.md
Due: none

Fix error when loading locales
  loaders/locales-loader.js
Due: git-exec-and-restage eslint --fix --

Adding the mutation
  src/core/client/stream/components/Permalink/PermalinkView.tsx
  src/core/client/stream/containers/PermalinkViewContainer.tsx
  src/core/client/stream/local/constants.ts
  src/core/client/stream/mutations/SetCommentIDMutation.ts
  src/core/client/stream/mutations/index.ts
Due: none

Changes
  src/core/client/stream/containers/CommentContainer.tsx
Due: none

Changes
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/local/constants.ts
Due: none

Let`s only cover english and then cover all the languagues with Pontoon later
  src/locales/es/stream.ftl
Due: none

Small typo fix
  docs/_config.yml
Due: yamllint

[next] Support development on windows (#1769)
  loaders/locales-loader.js
  package-lock.json
  package.json
  scripts/compileRelay.ts
  scripts/schemaPath.ts
Due: git-exec-and-restage eslint --fix --

Small typo fix (#1772)
  docs/_config.yml
Due: yamllint

Add MatchMedia test for passing values from the context
  src/core/client/ui/components/MatchMedia/MatchMedia.spec.tsx
Due: none

Start implementing embed
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
  src/core/client/embed/StreamControl.ts
  src/core/client/embed/index.html
  src/core/client/embed/index.ts
  src/core/client/embed/tsconfig.json
  src/core/client/tsconfig.json
  tsconfig.json
Due: none

Integrate pym click events to registerClickFarAway
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/types/pym.d.ts
Due: none

Add embed webpack config
  package-lock.json
  package.json
  scripts/start.ts
  src/core/build/createWebpackConfig.ts
  src/core/build/paths.ts
  src/core/client/embed/index.html
  src/core/client/embed/index.ts
  src/types/react-dev-utils.d.ts
Due: none

Implement embed
  package-lock.json
  package.json
  src/core/client/embed/PymControl.ts
  src/core/client/embed/Stream.ts
  src/core/client/embed/StreamControl.ts
  src/core/client/embed/decorators/index.ts
  src/core/client/embed/decorators/withAutoHeight.ts
  src/core/client/embed/decorators/withClickOutside.ts
  src/core/client/embed/decorators/withCommentID.ts
  src/core/client/embed/decorators/withEventEmitter.ts
  src/core/client/embed/decorators/withIOSSafariWidthWorkaround.ts
  src/core/client/embed/index.html
  src/core/client/embed/index.ts
  src/core/client/embed/tsconfig.json
  src/core/client/embed/utils/buildURL.ts
  src/core/client/embed/utils/ensureEndSlash.ts
  src/core/client/embed/utils/index.ts
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/core/client/stream/index.tsx
  src/types/pym.d.ts
Due: none

Refactor build into /src/core/build and use common config
  config/env.js
  config/jest.config.js
  config/jest/client.config.js
  config/jest/server.config.js
  config/jest/tsconfig.jest.json
  config/paths.js
  config/paths.ts
  config/watcher.ts
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.ts
  doczrc.js
  package-lock.json
  package.json
  scripts/build.ts
  scripts/start.ts
  scripts/test.js
  src/core/build/createWebpackConfig.ts
  src/core/build/loaders/locales-loader.js
  src/core/build/paths.ts
  src/core/build/polyfills.js
  src/core/build/postcss.config.js
  src/core/common/config.ts
  src/types/react-dev-utils.d.ts
  tsconfig.json
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
