Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Deprecation stuff
  client/coral-framework/services/bootstrap.js
  plugin-api/beta/client/selectors/index.js
Due: git-exec-and-restage eslint --fix --

Rerender all Slot Components when config changes
  client/coral-framework/hocs/withSlotElements.js
Due: git-exec-and-restage eslint --fix --

Remove dupe files
  docs/source/plugins/slots-and-plugins-ES.md
  docs/source/plugins/slots-and-plugins.md
Due: none

Remove comments and example code
  plugins/talk-plugin-downvote/client/index.js
  plugins/talk-plugin-upvote/client/index.js
Due: git-exec-and-restage eslint --fix --

removing pell
  .gitignore
  plugins/talk-plugin-rich-text-pell/README.md
  plugins/talk-plugin-rich-text-pell/client/.eslintrc.json
  plugins/talk-plugin-rich-text-pell/client/components/CommentContent.js
  plugins/talk-plugin-rich-text-pell/client/components/Editor.css
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-rich-text-pell/client/containers/CommentContent.js
  plugins/talk-plugin-rich-text-pell/client/containers/Editor.js
  plugins/talk-plugin-rich-text-pell/client/index.js
  plugins/talk-plugin-rich-text-pell/client/utils.js
  plugins/talk-plugin-rich-text-pell/index.js
  plugins/talk-plugin-rich-text-pell/package.json
Due: git-exec-and-restage eslint --fix --

Add package.json for each plugin
  plugins/talk-plugin-downvote/package.json
  plugins/talk-plugin-sort-most-downvoted/package.json
  plugins/talk-plugin-sort-most-upvoted/package.json
  plugins/talk-plugin-upvote/package.json
Due: none

Add most-liked back to gitignore oops
  .gitignore
Due: none

Typo
  docs/source/04-06-slots-and-plugins.md
Due: none

fixed graphql docs, added graphql tutorial
  docs/_config.yml
  docs/public/_redirects
  docs/source/api/graphql.md
  docs/source/api/overview.md
  docs/source/api/server.md
  docs/themes/coral/scripts/graphqldocs.js
  graph/schema.js
  graph/typeDefs.js
  package.json
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

fixed password reset email form
  routes/api/v1/account.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

changed name based on review
  graph/context.js
Due: git-exec-and-restage eslint --fix --

change Facebook to Google+
  plugins/talk-plugin-google-auth/README.md
Due: none

Move coral rte to talk-plugin-rich-text
  plugins/talk-plugin-rich-text-coral/index.js
  plugins/talk-plugin-rich-text-coral/package.json
  plugins/talk-plugin-rich-text/README.client.md
  plugins/talk-plugin-rich-text/client/.eslintrc.json
  plugins/talk-plugin-rich-text/client/components/Button.css
  plugins/talk-plugin-rich-text/client/components/Button.js
  plugins/talk-plugin-rich-text/client/components/CommentContent.js
  plugins/talk-plugin-rich-text/client/components/Editor.css
  plugins/talk-plugin-rich-text/client/components/Editor.js
  plugins/talk-plugin-rich-text/client/components/Toolbar.css
  plugins/talk-plugin-rich-text/client/components/Toolbar.js
  plugins/talk-plugin-rich-text/client/constants.js
  plugins/talk-plugin-rich-text/client/containers/CommentContent.js
  plugins/talk-plugin-rich-text/client/containers/Editor.js
  plugins/talk-plugin-rich-text/client/index.js
  plugins/talk-plugin-rich-text/client/utils.js
  plugins/talk-plugin-rich-text/package.json
Due: git-exec-and-restage eslint --fix --

Support preSubmit return input
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  plugins/talk-plugin-akismet/client/components/CheckSpamHook.js
  plugins/talk-plugin-toxic-comments/client/components/CheckToxicityHook.js
Due: git-exec-and-restage eslint --fix --

Refactor draft area api step 1
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/DraftAreaContent.js
  client/coral-embed-stream/src/tabs/stream/components/EditableCommentContent.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/EditableCommentContent.js
  client/coral-embed-stream/src/tabs/stream/hocs/withHooks.js
  client/coral-embed-stream/src/tabs/stream/util.js
  plugins/talk-plugin-profile-settings/README.md
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Remove rows
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/DraftAreaContent.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
Due: git-exec-and-restage eslint --fix --

Move label and placeholder to plugins
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/DraftAreaContent.js
  client/coral-embed-stream/src/tabs/stream/components/EditableCommentContent.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
Due: git-exec-and-restage eslint --fix --

New API for comment input tags
  client/coral-embed-stream/src/actions/stream.js
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  plugin-api/alpha/client/actions/index.js
  plugin-api/alpha/client/selectors/index.js
Due: git-exec-and-restage eslint --fix --

Less deprecation messages
  client/coral-embed-stream/src/actions/stream.js
Due: git-exec-and-restage eslint --fix --

Port off topic tags to new api
  plugins/talk-plugin-offtopic/client/components/OffTopicCheckbox.js
  plugins/talk-plugin-offtopic/client/containers/OffTopicCheckbox.js
Due: git-exec-and-restage eslint --fix --

Move label, placeholder strings to DraftArea
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/DraftAreaContent.js
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Add placeholder to Coral RTE :-)
  plugins/talk-plugin-rich-text/client/components/Editor.css
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Combine readme
  plugins/talk-plugin-rich-text/README.client.md
  plugins/talk-plugin-rich-text/README.md
  plugins/talk-plugin-rich-text/client/constants.js
  plugins/talk-plugin-rich-text/client/containers/CommentContent.js
  plugins/talk-plugin-rich-text/client/containers/Editor.js
  plugins/talk-plugin-rich-text/client/index.js
Due: git-exec-and-restage eslint --fix --

Typo
  plugins/talk-plugin-rich-text/README.md
Due: none

Add TODOs for when we deprecate font awesome
  plugins/talk-plugin-downvote/client/components/Icon.js
  plugins/talk-plugin-respect/client/Icon.js
  plugins/talk-plugin-upvote/client/components/Icon.js
Due: git-exec-and-restage eslint --fix --

Fix normalizer
  plugins/talk-plugin-rich-text/client/utils.js
Due: git-exec-and-restage eslint --fix --

Added support for forcing the notification settings pane
  middleware/staticTemplate.js
  plugin-api/beta/client/selectors/index.js
  plugins/talk-plugin-notifications/client/containers/Settings.js
Due: git-exec-and-restage eslint --fix --

updated docs
  plugins/talk-plugin-notifications/README.md
Due: none

Blockquote styling
  plugins/talk-plugin-rich-text/client/components/CommentContent.css
  plugins/talk-plugin-rich-text/client/components/CommentContent.js
  plugins/talk-plugin-rich-text/client/components/Editor.css
Due: git-exec-and-restage eslint --fix --

Remove off-topic, add rich text to defaults
  plugins.default.json
Due: none

Update default plugins
  plugins.default.json
Due: none

Add border radius
  plugins/talk-plugin-rich-text/client/components/CommentContent.css
Due: none

Adding docs for plugins api
  docs/source/05-03-Plugins-API.md
Due: none

Fix styling on admin site
  plugins/talk-plugin-rich-text/client/components/CommentContent.css
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Update sidebar and add title info
  docs/_config.yml
  docs/source/04-07-plugins-api.md
Due: yamllint

Fix for template rendering
  services/mailer/templates.js
Due: git-exec-and-restage eslint --fix --

replaced fs-extra call to fs
  services/mailer/templates.js
Due: git-exec-and-restage eslint --fix --

Moved extract-text-webpack-plugin from devDependencies to dependencies
  package.json
Due: none

Fixed misplaced deps
  .babelrc
  package.json
  routes/index.js
Due: git-exec-and-restage eslint --fix --

Updated Notifications Docs
  plugins/talk-plugin-notifications/README.md
Due: none
