Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Allow to throw error when change username
  client/coral-framework/hocs/withSetUsername.js
Due: git-exec-and-restage eslint --fix --

Capitalize "Information"
  locales/en.yml
Due: yamllint

Add reference to story
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Delete package-lock.json
  package-lock.json
Due: none

review updates
  plugins/talk-plugin-local-auth/client/actions.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/constants.js
  plugins/talk-plugin-local-auth/client/reducer.js
  plugins/talk-plugin-local-auth/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

added global wrap
  client/coral-admin/src/components/App.css
Due: none

Removing unnecessary functions
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Adding target
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Prevent showing add email address dialog when usernam is not set
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

Update translations.yml
  plugins/talk-plugin-local-auth/translations.yml
Due: yamllint

Fix excludeIf condition
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

Use lodash get
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

changed to seperate slot
  client/coral-admin/src/components/SignIn.js
  plugins/talk-plugin-facebook-auth/client/index.js
  plugins/talk-plugin-google-auth/client/index.js
Due: git-exec-and-restage eslint --fix --

Add new slot 'commentTombstone'.
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/CommentTombstone.js
  client/coral-embed-stream/src/tabs/stream/containers/Comment.js
  docs/source/api/slots.md
Due: git-exec-and-restage eslint --fix --

Remove superfluous className
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
Due: git-exec-and-restage eslint --fix --

sepatate state
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

removed the exclusion of deleted for the comment count on admin panel
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
Due: git-exec-and-restage eslint --fix --

initial commit changed the wrong query, this now changes the commentCount not the moderation stream
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
Due: git-exec-and-restage eslint --fix --

Remove modqueue counts on the frontend
  client/coral-admin/src/components/Header.js
  client/coral-admin/src/components/Indicator.css
  client/coral-admin/src/routes/Moderation/components/Moderation.js
  client/coral-admin/src/routes/Moderation/components/ModerationMenu.js
  client/coral-admin/src/routes/Moderation/components/ModerationQueue.js
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
Due: git-exec-and-restage eslint --fix --

Exclude deleted when loading more
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
Due: git-exec-and-restage eslint --fix --

No indicator on new queue
  client/coral-admin/src/routes/Moderation/components/Moderation.js
Due: git-exec-and-restage eslint --fix --

Show username already exists error
  client/coral-framework/hocs/withSetUsername.js
Due: git-exec-and-restage eslint --fix --

Remove ModerationIndicator from container
  client/coral-admin/src/containers/Header.js
Due: git-exec-and-restage eslint --fix --

Remove unused variable
  client/coral-admin/src/containers/Header.js
Due: git-exec-and-restage eslint --fix --

Remove unused variable 2
  client/coral-admin/src/containers/Header.js
Due: git-exec-and-restage eslint --fix --

Added support for new indexes
  graph/loaders/settings.js
  graph/resolvers/comment.js
  models/schema/action.js
  models/schema/comment.js
  models/schema/setting.js
  models/schema/user.js
  plugin-api/beta/server/getReactionConfig.js
  services/settings.js
Due: git-exec-and-restage eslint --fix --

Removing
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
Due: git-exec-and-restage eslint --fix --

Set is_test to false
  plugins/talk-plugin-akismet/server/hooks.js
Due: git-exec-and-restage eslint --fix --

Ready
  plugins/talk-plugin-local-auth/client/components/ChangeEmailContentDialog.js
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Update package.json
  package.json
Due: none

Allows blocking of email address pattern
  plugins/nymag-auth/index.js
Due: git-exec-and-restage eslint --fix --

Disables nsp check
  circle.yml
Due: yamllint

copy updates
  plugins/talk-plugin-local-auth/client/components/Profile.js
  plugins/talk-plugin-local-auth/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

displaying multiple provider ids
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-admin/src/routes/Community/components/People.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Styling
  client/coral-admin/src/components/UserDetail.css
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Do not set blockEmailRegex unless env var is set
  plugins/nymag-auth/index.js
Due: git-exec-and-restage eslint --fix --

Workaround IOS focus bug when clicking on buttons
  plugins/talk-plugin-rich-text/client/components/rte/components/Button.js
  plugins/talk-plugin-rich-text/client/components/rte/factories/createToggle.js
Due: git-exec-and-restage eslint --fix --

Indent, outdent fixes
  plugins/talk-plugin-rich-text/client/components/rte/lib/dom.js
Due: git-exec-and-restage eslint --fix --

Update lint-staged to fix dependency issue
  package.json
  yarn.lock
Due: none

Remove deprecated useMongoClient
  services/mongoose.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
