Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Separate jobs to process local.graphql's
  _new/codegen-admin.yml
  _new/package.json
  _new/schema.graphql
Due: yamllint

Focus stream types
  _new/codegen-stream.yml
Due: yamllint

WIP - working server resolver types
  _new/codegen-schema.yml
  _new/package-lock.json
  _new/package.json
  _new/schema.graphql
  src/core/server/graph/loaders/Stories.ts
  src/core/server/graph/resolvers/Query.ts
  src/core/server/models/story/story.ts
  src/core/server/services/stories/index.ts
Due: yamllint

WIP - update resolvers
  src/core/server/graph/resolvers/Query.ts
Due: none

Create WIP test bed for generating types
  _new/codegen-schema.yml
  _new/codegen-stream.yml
  _new/package-lock.json
  _new/package.json
Due: yamllint

set naming conventions for generated types
  _new/codegen-schema.yml
  _new/codegen-stream.yml
Due: yamllint

Hook up schema merging for new relay compiler
  _types/codegen-admin.yml
  _types/codegen-schema.yml
  _types/codegen-stream.yml
  _types/package-lock.json
  _types/package.json
  _types/relay.config.js
  _types/scripts/combineSchemaForAdmin.js
  _types/scripts/combineSchemaForStream.js
  config/jest/server.config.js
  src/core/server/graph/loaders/Stories.ts
  src/tsconfig.json
Due: git-exec-and-restage eslint --fix --, yamllint

Remove unused apollo generate step
  _types/package.json
Due: none

Remove unnecessary relay.config.js
  _types/relay.config.js
Due: git-exec-and-restage eslint --fix --

New relay-compiler found a type error, fix it
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/AnsweredCommentsTab/AnsweredCommentsQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/FeaturedComments/FeaturedCommentsQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabQuery.tsx
  src/core/client/stream/tabs/Configure/Q&A/ExpertSelectionQuery.tsx
Due: none

Install relay-compiler directly and configure according to docs
  _types/package-lock.json
  _types/package.json
  _types/relay.admin.config.json
  _types/relay.stream.config.json
Due: none

fix translation id
  src/core/client/admin/components/UserRole/SiteRoleActions.tsx
Due: none

Add `seenComments` indexes to `INDEXES.md` (#3872)
  INDEXES.md
Due: none

update without commented out
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabVirtual.tsx
Due: none

remove more commented out
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
Due: none

update deps
  package.json
Due: none

update for tests
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabVirtual.tsx
  src/core/client/stream/test/comments/stream/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/stream/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/stream/__snapshots__/renderCommunityGuidelines.spec.tsx.snap
  src/core/client/stream/test/comments/stream/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/stream/__snapshots__/sortStream.spec.tsx.snap
  src/core/client/stream/test/comments/stream/liveTopLevelComments.spec.tsx
  src/core/client/stream/test/comments/stream/loadMore.spec.tsx
  src/core/client/stream/test/comments/stream/postComment.spec.tsx
Due: none

remove commented-out
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
Due: none

fix failing tests
  src/core/client/admin/components/UserRole/SiteRoleActions.tsx
  src/core/client/admin/components/UserRole/SiteRoleModal.tsx
  src/core/client/admin/routes/Configure/sections/General/StaffConfig.tsx
  src/core/client/admin/test/community/community.spec.tsx
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/locales/en-US/admin.ftl
Due: none

import order
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabCommentVirtual.tsx
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabContainer.tsx
Due: none

remove loadmore test snapshot
  src/core/client/stream/test/comments/stream/__snapshots__/loadMore.spec.tsx.snap
Due: none

update copy for staff -> badges config
  src/core/client/admin/components/UserRole/UserRoleChange.tsx
  src/core/client/admin/routes/Configure/sections/General/StaffConfig.tsx
  src/core/client/admin/test/configure/__snapshots__/general.spec.tsx.snap
  src/core/server/app/authenticators/facebook/facebook.ts
  src/core/server/app/middleware/passport/strategies/verifiers/sso.ts
  src/core/server/services/oidc/oidc.ts
  src/locales/en-US/admin.ftl
Due: none

promote/demoteUser -> promote/demoteModerator
  src/core/client/admin/components/UserRole/DemoteModeratorMutation.ts
  src/core/client/admin/components/UserRole/PromoteModeratorMutation.ts
  src/core/client/admin/components/UserRole/SiteRoleActions.tsx
  src/core/client/admin/components/UserRole/UserRoleChange.tsx
  src/core/client/admin/components/UserRole/UserRoleText.tsx
  src/core/client/admin/test/community/community.spec.tsx
  src/core/server/app/authenticators/google/google.ts
  src/core/server/graph/mutators/Users.ts
  src/core/server/graph/resolvers/Mutation.ts
  src/core/server/graph/resolvers/Settings.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/services/users/users.ts
Due: none

remove mongo scrapbook
  Scrapbook-1.mongo
Due: none

remove inaccurate TODO
  src/core/server/services/users/users.ts
Due: none

add chunks maxSize
  src/core/build/createWebpackConfig.ts
Due: none

Create a combineSchema task
  package.json
  relay-account.config.json
  relay-auth.config.json
  relay-framework.config.json
  relay-install.config.json
  relay-stream.config.json
  scripts/combineSchema/admin.js
  scripts/combineSchema/cmd.js
Due: git-exec-and-restage eslint --fix --

Make generate:relay:admin work for updated relay + graphQL
  package.json
  relay-admin.config.json
  scripts/combineSchema/admin.js
  scripts/compileRelay.ts
  src/core/client/admin/routes/Moderate/ModerateNavigation/CommentEnteredModerationSubscription.tsx
  src/core/client/admin/routes/Moderate/ModerateNavigation/CommentLeftModerationSubscription.tsx
Due: git-exec-and-restage eslint --fix --

Fix required relay params in queries
  src/core/client/stream/tabs/Comments/Stream/AllCommentsTab/AllCommentsTabQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/AnsweredCommentsTab/AnsweredCommentsQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/FeaturedComments/FeaturedCommentsQuery.tsx
  src/core/client/stream/tabs/Comments/Stream/UnansweredCommentsTab/UnansweredCommentsTabQuery.tsx
  src/core/client/stream/tabs/Configure/Q&A/ExpertSelectionQuery.tsx
Due: none

Bring in resolver types from apollo-server-express
  src/core/server/graph/directives/auth.ts
  src/core/server/graph/directives/constraint.ts
  src/core/server/graph/directives/rate.ts
  src/core/server/graph/schema/index.ts
Due: none

Fix bad find/replace on useLocal
  src/core/client/admin/routes/Configure/sections/Auth/LocalAuthConfigContainer.tsx
  src/core/client/admin/routes/Dashboard/sections/Today.tsx
  src/core/client/stream/common/AuthPopup/AuthPopup.tsx
  src/core/client/stream/tabs/Comments/CommentsPane.tsx
  src/core/client/stream/tabs/Comments/commentSeen/useCommentSeenEnabled.ts
  src/core/client/stream/tabs/Comments/commentSeen/useZKeyEnabled.ts
  src/core/client/stream/tabs/Comments/helpers/useAMP.ts
  src/core/client/stream/tabs/Comments/helpers/useStaticFlattenReplies.ts
  src/core/client/stream/tabs/Profile/Profile.tsx
Due: none

Fix useLocal
  src/core/client/framework/lib/relay/getLocalFragmentSelector.ts
  src/core/client/framework/lib/relay/useLocal.tsx
Due: none

WIP implementing promote/demote member in backend
  src/core/server/graph/mutators/Users.ts
  src/core/server/graph/resolvers/Mutation.ts
  src/core/server/graph/schema/schema.graphql
  src/core/server/services/users/users.ts
Due: none

create promote/demoteMember mutations in backend
  src/core/server/models/user/user.ts
  src/core/server/services/users/users.ts
Due: none
