Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

added redirect
  docs/public/_redirects
Due: none

feat: update counts
  package-lock.json
  src/core/client/admin/helpers/index.ts
  src/core/client/admin/helpers/updateModqueueCounts.ts
  src/core/client/admin/mutations/AcceptCommentMutation.ts
  src/core/client/admin/mutations/RejectCommentMutation.ts
Due: none

Update _redirects
  docs/public/_redirects
Due: none

feat: added webpack analzyer
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
Due: none

chore: rename compile -> generate
  Dockerfile
  package.json
Due: none

feat: added id's to moderation queue and settings
  src/core/server/graph/tenant/resolvers/ModerationQueue.ts
  src/core/server/graph/tenant/resolvers/ModerationQueues.ts
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

fix: fix scripts and improve bundle size
  .circleci/config.yml
  config/watcher.ts
  package-lock.json
  package.json
  scripts/build.ts
  scripts/start.ts
  src/core/client/.babelrc.js
  src/core/client/framework/lib/rest.ts
  src/core/common/.babelrc.client.js
  src/core/common/.babelrc.js
  src/core/common/.babelrc.server.js
Due: git-exec-and-restage eslint --fix --, yamllint

fix: lodash webpack plugin
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
Due: none

feat: added bundle size ci check
  .circleci/config.yml
  package-lock.json
  package.json
Due: yamllint

locale sr added
  locales/sr.yml
  plugins/talk-plugin-akismet/client/translations.yml
  plugins/talk-plugin-auth/client/translations.yml
  plugins/talk-plugin-author-menu/client/translations.yml
  plugins/talk-plugin-featured-comments/client/translations.yml
  plugins/talk-plugin-flag-details/client/translations.yml
  plugins/talk-plugin-ignore-user/client/translations.yml
  plugins/talk-plugin-like/client/translations.yml
  plugins/talk-plugin-local-auth/translations.yml
  plugins/talk-plugin-love/client/translations.yml
  plugins/talk-plugin-member-since/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/translations.yml
  plugins/talk-plugin-offtopic/client/translations.json
  plugins/talk-plugin-profile-data/translations.yml
  plugins/talk-plugin-respect/client/translations.yml
  plugins/talk-plugin-sort-most-liked/client/translations.yml
  plugins/talk-plugin-sort-most-loved/client/translations.yml
  plugins/talk-plugin-sort-most-replied/client/translations.yml
  plugins/talk-plugin-sort-most-respected/client/translations.yml
  plugins/talk-plugin-sort-newest/client/translations.yml
  plugins/talk-plugin-sort-oldest/client/translations.yml
  plugins/talk-plugin-toxic-comments/client/translations.yml
  plugins/talk-plugin-viewing-options/client/translations.yml
Due: yamllint

fix ui/css bug in moderation/comment component caused by long words/links
  client/coral-admin/src/routes/Moderation/components/Comment.css
Due: none

Bump version 4.6.11
  package.json
Due: none

fix+test: test count changes, apply fix
  src/core/client/admin/helpers/updateModqueueCounts.ts
  src/core/client/admin/routes/moderate/components/Navigation.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/Navigation.spec.tsx.snap
  src/core/client/admin/test/moderate/__snapshots__/moderate.spec.tsx.snap
  src/core/client/admin/test/moderate/moderate.spec.tsx
Due: none

Bump version 4.6.11 (#2130)
  package.json
Due: none

feat: added bundle size ci check (#2127)
  .circleci/config.yml
  package-lock.json
  package.json
Due: yamllint

chore: adapt to server change, and remove custom mutation handlers
  src/core/client/admin/helpers/index.ts
  src/core/client/admin/helpers/updateModqueueCounts.ts
  src/core/client/admin/mutations/AcceptCommentMutation.ts
  src/core/client/admin/mutations/CreateOIDCAuthIntegrationMutation.ts
  src/core/client/admin/mutations/RegenerateSSOKeyMutation.ts
  src/core/client/admin/mutations/RejectCommentMutation.ts
  src/core/client/admin/mutations/UpdateSettingsMutation.ts
  src/core/client/admin/routes/configure/sections/auth/containers/AuthContainer.tsx
  src/core/client/admin/test/configure/auth.spec.tsx
  src/core/client/admin/test/fixtures.ts
  src/core/client/admin/test/moderate/moderate.spec.tsx
  src/core/client/stream/test/fixtures.ts
Due: none

feat: improve tree shaking + update webpack & babel
  babel.config.js
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
  src/core/client/.babelrc.js
  src/types/terser-webpack-plugin.d.ts
  src/types/webpack-deep-scope-plugin.d.ts
Due: git-exec-and-restage eslint --fix --

fix: tests
  babel.config.js
  src/core/client/.babelrc.js
Due: git-exec-and-restage eslint --fix --

[next] improve tree shaking + update webpack & babel (#2132)
  babel.config.js
  package-lock.json
  package.json
  src/core/build/createWebpackConfig.ts
  src/core/client/.babelrc.js
  src/types/terser-webpack-plugin.d.ts
  src/types/webpack-deep-scope-plugin.d.ts
Due: git-exec-and-restage eslint --fix --

fix: use common utils
  src/core/server/graph/tenant/resolvers/util.ts
Due: none

fix: purify fix, babel fix
  babel.config.js
  src/core/common/utils/purify.ts
Due: git-exec-and-restage eslint --fix --

fix: fixed snapshot
  src/core/common/utils/__snapshots__/purify.spec.ts.snap
Due: none

fix: support empty word lists
  src/core/build/createWebpackConfig.ts
  src/core/client/admin/routes/moderate/components/CommentContent.spec.tsx
  src/core/client/admin/routes/moderate/components/CommentContent.tsx
  src/core/client/admin/routes/moderate/components/__snapshots__/CommentContent.spec.tsx.snap
Due: none

feat: separate client config
  scripts/build.ts
  scripts/start.ts
  src/core/build/config.ts
  src/core/build/createWebpackConfig.ts
  src/core/server/app/index.ts
  src/core/server/app/middleware/context/tenant.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/facebook.ts
  src/core/server/app/middleware/passport/strategies/google.ts
  src/core/server/app/middleware/passport/strategies/oauth2.ts
  src/core/server/app/url.ts
  src/core/server/config.ts
  src/core/server/graph/common/context.ts
  src/core/server/graph/common/middleware/index.ts
  src/core/server/graph/common/subscriptions/pubsub.ts
  src/core/server/graph/management/context.ts
  src/core/server/graph/management/middleware.ts
  src/core/server/graph/tenant/context.ts
  src/core/server/graph/tenant/middleware.ts
  src/core/server/index.ts
  src/core/server/logger.ts
  src/core/server/queue/index.ts
  src/core/server/queue/tasks/mailer/content.ts
  src/core/server/queue/tasks/mailer/index.ts
  src/core/server/services/jwt/index.spec.ts
  src/core/server/services/jwt/index.ts
  src/core/server/services/jwt/jwt.spec.ts
  src/core/server/services/mongodb/index.ts
  src/core/server/services/redis/index.ts
  src/core/server/services/tenant/cache/index.ts
Due: none

feat: Implement new Sign In view
  src/core/client/admin/routes/configure/components/Navigation/Link.css
  src/core/client/auth/components/App.css
  src/core/client/auth/components/App.spec.tsx
  src/core/client/auth/components/App.tsx
  src/core/client/auth/components/FacebookButton.css
  src/core/client/auth/components/FacebookButton.tsx
  src/core/client/auth/components/GoogleButton.css
  src/core/client/auth/components/GoogleButton.tsx
  src/core/client/auth/components/Header/Bar.css
  src/core/client/auth/components/Header/Bar.tsx
  src/core/client/auth/components/Header/SubBar.css
  src/core/client/auth/components/Header/SubBar.tsx
  src/core/client/auth/components/Header/Subtitle.css
  src/core/client/auth/components/Header/Subtitle.tsx
  src/core/client/auth/components/Header/Title.css
  src/core/client/auth/components/Header/Title.tsx
  src/core/client/auth/components/Header/index.ts
  src/core/client/auth/components/Main.css
  src/core/client/auth/components/Main.tsx
  src/core/client/auth/components/OIDCButton.css
  src/core/client/auth/components/OIDCButton.tsx
  src/core/client/auth/components/OrSeparator.css
  src/core/client/auth/components/OrSeparator.tsx
  src/core/client/auth/containers/AppContainer.tsx
  src/core/client/auth/index.tsx
  src/core/client/auth/queries/AppQuery.tsx
  src/core/client/auth/test/create.tsx
  src/core/client/auth/views/signIn/components/SignIn.tsx
  src/core/client/auth/views/signIn/components/SignInWithEmail.tsx
  src/core/client/auth/views/signIn/containers/SignInContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithEmailContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithFacebookContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithGoogleContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithOIDCContainer.tsx
  src/core/client/ui/components/Brand/BrandName.css
  src/core/client/ui/components/Button/Button.css
  src/core/client/ui/components/Button/Button.tsx
  src/core/client/ui/theme/variables.ts
  src/locales/en-US/auth.ftl
Due: none

feat: Move forgot + resetPassword to new design
  src/core/client/auth/components/App.tsx
  src/core/client/auth/components/ForgotPassword.tsx
  src/core/client/auth/components/ResetPassword.tsx
  src/core/client/auth/views/forgotPassword/components/ForgotPassword.tsx
  src/core/client/auth/views/forgotPassword/containers/ForgotPasswordContainer.tsx
  src/core/client/auth/views/resetPassword/components/ResetPassword.tsx
  src/core/client/auth/views/resetPassword/containers/ResetPasswordContainer.tsx
Due: none

feat: Implement sign up with new design
  src/core/client/auth/components/App.tsx
  src/core/client/auth/containers/AppContainer.tsx
  src/core/client/auth/views/resetPassword/components/ResetPassword.tsx
  src/core/client/auth/views/signUp/components/SignUp.tsx
  src/core/client/auth/views/signUp/components/SignUpWithEmail.tsx
  src/core/client/auth/views/signUp/containers/SignUpContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithEmailContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithFacebookContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithGoogleContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithOIDCContainer.tsx
  src/locales/en-US/auth.ftl
Due: none

test: add unit tests
  src/core/client/auth/components/FacebookButton.spec.tsx
  src/core/client/auth/components/GoogleButton.spec.tsx
  src/core/client/auth/components/Header/Bar.spec.tsx
  src/core/client/auth/components/Header/SubBar.spec.tsx
  src/core/client/auth/components/Header/Subtitle.spec.tsx
  src/core/client/auth/components/Header/Title.spec.tsx
  src/core/client/auth/components/Header/__snapshots__/Bar.spec.tsx.snap
  src/core/client/auth/components/Header/__snapshots__/SubBar.spec.tsx.snap
  src/core/client/auth/components/Header/__snapshots__/Subtitle.spec.tsx.snap
  src/core/client/auth/components/Header/__snapshots__/Title.spec.tsx.snap
  src/core/client/auth/components/Main.spec.tsx
  src/core/client/auth/components/OIDCButton.spec.tsx
  src/core/client/auth/components/OrSeparator.spec.tsx
  src/core/client/auth/components/__snapshots__/App.spec.tsx.snap
  src/core/client/auth/components/__snapshots__/FacebookButton.spec.tsx.snap
  src/core/client/auth/components/__snapshots__/GoogleButton.spec.tsx.snap
  src/core/client/auth/components/__snapshots__/Main.spec.tsx.snap
  src/core/client/auth/components/__snapshots__/OIDCButton.spec.tsx.snap
  src/core/client/auth/components/__snapshots__/OrSeparator.spec.tsx.snap
  src/core/client/auth/views/signIn/components/SignIn.spec.tsx
  src/core/client/auth/views/signIn/components/__snapshots__/SignIn.spec.tsx.snap
  src/core/client/auth/views/signUp/components/SignUp.spec.tsx
  src/core/client/auth/views/signUp/components/__snapshots__/SignUp.spec.tsx.snap
Due: none

fix: narrow gutter
  src/core/client/auth/views/forgotPassword/components/ForgotPassword.tsx
  src/core/client/auth/views/resetPassword/components/ResetPassword.tsx
  src/core/client/auth/views/signIn/components/SignIn.tsx
  src/core/client/auth/views/signIn/components/SignInWithEmail.tsx
  src/core/client/auth/views/signUp/components/SignUp.tsx
  src/core/client/auth/views/signUp/components/SignUpWithEmail.tsx
Due: none

test: integration tests
  src/core/client/auth/test/__snapshots__/signIn.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signUp.spec.tsx.snap
  src/core/client/auth/test/fixtures.tsx
  src/core/client/auth/test/signIn.spec.tsx
  src/core/client/auth/test/signUp.spec.tsx
Due: none

feat: support show / hide password
  src/core/client/admin/routes/login/components/SignInForm.tsx
  src/core/client/admin/test/__snapshots__/login.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/navigation.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signIn.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signUp.spec.tsx.snap
  src/core/client/auth/test/navigation.spec.tsx
  src/core/client/auth/views/signIn/components/SignInWithEmail.tsx
  src/core/client/auth/views/signUp/components/SignUpWithEmail.tsx
  src/core/client/framework/components/CopyButton.tsx
  src/core/client/framework/components/CopyButton/index.ts
  src/core/client/framework/components/PasswordField.tsx
  src/core/client/framework/components/index.ts
  src/core/client/ui/components/PasswordField/PasswordField.css
  src/core/client/ui/components/PasswordField/PasswordField.mdx
  src/core/client/ui/components/PasswordField/PasswordField.spec.tsx
  src/core/client/ui/components/PasswordField/PasswordField.tsx
  src/core/client/ui/components/PasswordField/__snapshots__/PasswordField.spec.tsx.snap
  src/core/client/ui/components/PasswordField/index.ts
  src/core/client/ui/components/index.ts
  src/locales/en-US/framework.ftl
Due: none

feat: support oauth2 flow
  scripts/start.ts
  src/core/client/auth/local/initLocalState.ts
  src/core/client/auth/views/signIn/components/SignIn.tsx
  src/core/client/auth/views/signIn/containers/SignInContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithFacebookContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithGoogleContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithOIDCContainer.tsx
  src/core/client/framework/testHelpers/index.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/app/router/api/auth.ts
  src/core/server/app/url.ts
  src/core/server/config.ts
  src/core/server/graph/tenant/resolvers/FacebookAuthIntegration.ts
  src/core/server/graph/tenant/resolvers/GoogleAuthIntegration.ts
  src/core/server/graph/tenant/resolvers/OIDCAuthIntegration.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
Due: none

feat: add views for user completion
  src/core/client/auth/components/App.tsx
  src/core/client/auth/components/ConfirmEmailField.tsx
  src/core/client/auth/components/ConfirmPasswordField.tsx
  src/core/client/auth/components/EmailField.tsx
  src/core/client/auth/components/Main.css
  src/core/client/auth/components/SetPasswordField.tsx
  src/core/client/auth/components/UsernameField.tsx
  src/core/client/auth/containers/AppContainer.tsx
  src/core/client/auth/local/initLocalState.ts
  src/core/client/auth/local/local.graphql
  src/core/client/auth/queries/AppQuery.tsx
  src/core/client/auth/views/addEmailAddress/components/AddEmailAddress.tsx
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/ListItem.css
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/ListItem.tsx
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/UnorderedList.css
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/UnorderedList.tsx
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/index.ts
  src/core/client/auth/views/addEmailAddress/containers/AddEmailAddressContainer.tsx
  src/core/client/auth/views/createPassword/components/CreatePassword.tsx
  src/core/client/auth/views/createPassword/containers/CreatePasswordContainer.tsx
  src/core/client/auth/views/createUsername/components/CreateUsername.tsx
  src/core/client/auth/views/createUsername/containers/CreateUsernameContainer.tsx
  src/core/client/auth/views/signIn/components/SignInWithEmail.tsx
  src/core/client/auth/views/signUp/components/SignUpWithEmail.tsx
  src/core/client/framework/lib/messages.tsx
  src/core/client/framework/lib/validation.tsx
  src/core/client/stream/containers/UserBoxContainer.tsx
  src/locales/en-US/auth.ftl
  src/locales/en-US/framework.ftl
Due: none

feat: implement oauth2 sign up
  src/core/client/auth/helpers/index.ts
  src/core/client/auth/helpers/redirectOAuth2.ts
  src/core/client/auth/views/signIn/containers/SignInWithFacebookContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithGoogleContainer.tsx
  src/core/client/auth/views/signIn/containers/SignInWithOIDCContainer.tsx
  src/core/client/auth/views/signUp/components/SignUp.tsx
  src/core/client/auth/views/signUp/containers/SignUpContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithFacebookContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithGoogleContainer.tsx
  src/core/client/auth/views/signUp/containers/SignUpWithOIDCContainer.tsx
Due: none

fix: lint
  src/core/client/auth/test/signUp.spec.tsx
Due: none

test: fix snapshots
  src/core/client/auth/local/__snapshots__/initLocalState.spec.ts.snap
  src/core/client/auth/local/initLocalState.spec.ts
  src/core/client/auth/test/__snapshots__/navigation.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signUp.spec.tsx.snap
  src/core/client/auth/test/fixtures.tsx
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/UnorderedList.spec.tsx
  src/core/client/auth/views/addEmailAddress/components/UnorderedList/__snapshots__/UnorderedList.spec.tsx.snap
  src/core/client/auth/views/signIn/components/__snapshots__/SignIn.spec.tsx.snap
  src/core/client/auth/views/signUp/components/__snapshots__/SignUp.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/UserBoxContainer.spec.tsx.snap
Due: none

fix: get more complete mutation response
  src/core/client/admin/mutations/CreateOIDCAuthIntegrationMutation.ts
  src/core/client/admin/mutations/UpdateOIDCAuthIntegrationMutation.ts
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
