Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

stream fragment
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
Due: git-exec-and-restage eslint --fix --

merge bug
  plugins/talk-plugin-profile-data/server/mutators.js
Due: git-exec-and-restage eslint --fix --

Copy fixes
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep3.js
Due: git-exec-and-restage eslint --fix --

moved hoc's into plugin
  client/coral-framework/graphql/mutations.js
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-profile-data/client/containers/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/containers/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/mutations.js
Due: git-exec-and-restage eslint --fix --

cleaned up download mutations
  client/coral-framework/graphql/fragments.js
  plugin-api/beta/client/utils/index.js
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/containers/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/graphql.js
  plugins/talk-plugin-profile-data/client/mutations.js
Due: git-exec-and-restage eslint --fix --

Updated copy for delete
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
Due: git-exec-and-restage eslint --fix --

Unbold a word
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
Due: git-exec-and-restage eslint --fix --

adjusted copy
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-profile-data/client/mutations.js
  plugins/talk-plugin-profile-data/server/mutators.js
Due: git-exec-and-restage eslint --fix --

RECAPTCHA_WINDOW and RECAPTCHA_INCORRECT_TRIGGER now can be set with env vars
  config.js
  services/users.js
Due: git-exec-and-restage eslint --fix --

cleaned up refs to passwor dhash
  plugins/talk-plugin-local-auth/server/mutators.js
  services/users.js
Due: git-exec-and-restage eslint --fix --

translations
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Typo
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
Due: git-exec-and-restage eslint --fix --

Added TALK_ prefix to constants RECAPTCHA_WINDOW and RECAPTCHA_INCORRECT_TRIGGER
  config.js
Due: git-exec-and-restage eslint --fix --

copy fixes
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
Due: git-exec-and-restage eslint --fix --

added email to final step
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-profile-data/client/containers/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/mutations.js
Due: git-exec-and-restage eslint --fix --

translations
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep0.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep2.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep3.js
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

added docs
  docs/source/02-02-advanced-configuration.md
Due: none

Update copy to reflect ability to take action up until account is deleted
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

added durations to configuration file
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/translations.yml
  plugins/talk-plugin-profile-data/config.json
  plugins/talk-plugin-profile-data/server/mutators.js
Due: git-exec-and-restage eslint --fix --, yamllint

added space
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountFinalStep.js
Due: git-exec-and-restage eslint --fix --

cleaned up config as js instead of json file
  plugins/talk-plugin-profile-data/client/components/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountStep1.js
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/config.js
  plugins/talk-plugin-profile-data/config.json
  plugins/talk-plugin-profile-data/server/mutators.js
Due: git-exec-and-restage eslint --fix --

typo
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

withUpdateEmailAddress in the plugins hoc
  client/coral-framework/graphql/mutations.js
  plugins/talk-plugin-local-auth/client/containers/Profile.js
  plugins/talk-plugin-local-auth/client/hocs/index.js
Due: git-exec-and-restage eslint --fix --

moving mutations to /hocs folder
  plugins/talk-plugin-profile-data/client/containers/AccountDeletionRequestedSign.js
  plugins/talk-plugin-profile-data/client/containers/DeleteMyAccount.js
  plugins/talk-plugin-profile-data/client/containers/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/hocs/index.js
Due: git-exec-and-restage eslint --fix --

moving mutations to /hocs folder
  plugins/talk-plugin-profile-data/client/containers/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/hocs/index.js
Due: git-exec-and-restage eslint --fix --

moving mutations to /hocs folder
  plugins/talk-plugin-local-auth/client/containers/Profile.js
Due: git-exec-and-restage eslint --fix --

added emails around account deletion
  plugins/talk-plugin-profile-data/server/connect.js
  plugins/talk-plugin-profile-data/server/mutators.js
  plugins/talk-plugin-profile-data/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

InputField conflict
  plugins/talk-plugin-local-auth/client/components/ChangePassword.css
  plugins/talk-plugin-local-auth/client/components/InputField.css
  plugins/talk-plugin-local-auth/client/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Updating InputField
  plugins/talk-plugin-profile-data/client/components/InputField.css
  plugins/talk-plugin-profile-data/client/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Updating InputField
  plugins/talk-plugin-profile-data/client/components/InputField.js
Due: git-exec-and-restage eslint --fix --

Styling
  plugins/talk-plugin-profile-data/client/components/InputField.css
  plugins/talk-plugin-profile-data/client/components/StepProgress.css
  plugins/talk-plugin-profile-data/client/components/StepProgress.js
Due: git-exec-and-restage eslint --fix --

Styling
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.css
Due: none

moving mutations to /hocs folder
  client/coral-framework/graphql/mutations.js
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/containers/Profile.js
  plugins/talk-plugin-local-auth/client/hocs/index.js
Due: git-exec-and-restage eslint --fix --

translations
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/components/EmailAddressAdded.js
  plugins/talk-plugin-local-auth/client/components/InputField.css
  plugins/talk-plugin-local-auth/client/components/VerifyEmailAddress.js
  plugins/talk-plugin-local-auth/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Update email copy
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

Fix email subject variables
  plugins/talk-plugin-profile-data/server/connect.js
  plugins/talk-plugin-profile-data/server/mutators.js
  plugins/talk-plugin-profile-data/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

fix
  bin/cli-settings
Due: git-exec-and-restage eslint --fix --

Grammar
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

moved settings loading into try/catch block
  plugins/talk-plugin-profile-data/server/connect.js
Due: git-exec-and-restage eslint --fix --

Add feature overview to GDPR docs
  docs/source/03-08-gdpr.md
Due: none
