Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Adding CommentDeletedTombstone
  client/coral-admin/src/components/CommentAnimatedEdit.js
  client/coral-admin/src/components/CommentDeletedTombstone.css
  client/coral-admin/src/components/CommentDeletedTombstone.js
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.css
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Deleted Comment display in Queues
  client/coral-admin/src/components/CommentDeletedTombstone.js
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.css
  client/coral-admin/src/routes/Moderation/components/Comment.js
Due: git-exec-and-restage eslint --fix --

removing extra
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.css
  plugins/talk-plugin-local-auth/client/components/ChangeUsernameDialog.js
Due: git-exec-and-restage eslint --fix --

Fixes for notifications
  plugins/talk-plugin-notifications-category-reply/index.js
  plugins/talk-plugin-notifications/server/NotificationManager.js
Due: git-exec-and-restage eslint --fix --

Exclude deleted comments
  client/coral-admin/src/routes/Moderation/containers/Moderation.js
  graph/loaders/comments.js
  graph/typeDefs.graphql
  services/comments.js
Due: git-exec-and-restage eslint --fix --

prevent actions against deleted comments
  graph/mutators/action.js
Due: git-exec-and-restage eslint --fix --

Update translations.yml
  plugins/talk-plugin-profile-data/client/translations.yml
Due: yamllint

fixed bug..
  services/tags.js
Due: git-exec-and-restage eslint --fix --

disallow adding a tag to a deleted comment
  services/tags.js
Due: git-exec-and-restage eslint --fix --

fix for delete
  graph/mutators/user.js
Due: git-exec-and-restage eslint --fix --

fix translation copy
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccount.js
Due: git-exec-and-restage eslint --fix --

fixed error
  plugins/talk-plugin-ignore-user/client/containers/IgnoreUserConfirmation.js
Due: git-exec-and-restage eslint --fix --

Pass postDontAgree to replies
  client/coral-embed-stream/src/tabs/stream/components/AllCommentsPane.js
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
Due: git-exec-and-restage eslint --fix --

Fix My Profile story title link behavior
  client/coral-embed-stream/src/tabs/profile/components/Comment.css
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Update tombstone copy
  locales/en.yml
Due: yamllint

adding media
  plugins/talk-plugin-profile-data/client/components/DeleteMyAccountDialog.css
Due: none

improved dev experience, fixed css order
  client/coral-admin/src/components/App.css
  client/coral-admin/src/components/App.js
  middleware/staticTemplate.js
  package.json
  public/css/dev.css
  routes/dev/assets.js
  routes/dev/index.js
  services/assets.js
  views/admin.ejs
  views/dev/article.ejs
  views/dev/articles.ejs
  views/embed/stream.ejs
  views/login.ejs
  views/partials/account.ejs
  views/partials/custom-css.ejs
  views/partials/dev-nav.ejs
  views/partials/dev.ejs
  views/partials/head.ejs
  yarn.lock
Due: git-exec-and-restage eslint --fix --

added link to graphiql
  public/css/dev.css
  views/partials/dev-nav.ejs
Due: none

added header to graphiql
  views/api/graphiql.ejs
Due: none

copy adjustment
  views/dev/articles.ejs
Due: none

fixed set-role description
  bin/cli-users
Due: git-exec-and-restage eslint --fix --

Added json output for assets list
  bin/cli-assets
Due: git-exec-and-restage eslint --fix --

asset refresh patched
  bin/cli-assets
Due: git-exec-and-restage eslint --fix --

Check correct email
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Corrections and clarity
  docs/source/03-07-product-guide-trust.md
Due: none

Email Attach Fixes
  client/coral-framework/components/Popup.js
  plugins/talk-plugin-local-auth/client/actions.js
  plugins/talk-plugin-local-auth/client/components/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/components/AddEmailContent.js
  plugins/talk-plugin-local-auth/client/constants.js
  plugins/talk-plugin-local-auth/client/containers/AddEmailAddressDialog.js
  plugins/talk-plugin-local-auth/client/index.js
  plugins/talk-plugin-local-auth/client/reducer.js
  plugins/talk-plugin-local-auth/index.js
  plugins/talk-plugin-local-auth/server/translations.yml
  plugins/talk-plugin-local-auth/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Update 03-07-product-guide-trust.md
  docs/source/03-07-product-guide-trust.md
Due: none

Disable autofocus on IOS Safari, prevent zoom on narrow screens
  plugins/talk-plugin-rich-text/client/components/Editor.css
  plugins/talk-plugin-rich-text/client/components/Editor.js
Due: git-exec-and-restage eslint --fix --

Added support for external signins on Admin
  client/coral-admin/src/components/External.css
  client/coral-admin/src/components/External.js
  client/coral-admin/src/components/SignIn.js
  client/coral-admin/src/containers/SignIn.js
  client/coral-framework/services/postMessage.js
  client/coral-framework/utils/index.js
  plugin-api/beta/client/utils/index.js
  plugins/talk-plugin-facebook-auth/client/actions.js
  plugins/talk-plugin-google-auth/client/actions.js
Due: git-exec-and-restage eslint --fix --

Update download page copy
  plugins/talk-plugin-profile-data/translations.yml
Due: yamllint

Add hooks to RootMutation to save our setting in the database.
  plugins/talk-plugin-global-switchoff/.eslintrc.json
  plugins/talk-plugin-global-switchoff/index.js
  plugins/talk-plugin-global-switchoff/server/hooks.js
Due: git-exec-and-restage eslint --fix --

WIP
  .gitignore
  docs/source/plugin/talk-plugin-global-switchoff.md
  plugins/talk-plugin-global-switchoff/client/.eslintrc.json
  plugins/talk-plugin-global-switchoff/client/components/GlobalSwitchoff.js
  plugins/talk-plugin-global-switchoff/client/components/styles.css
  plugins/talk-plugin-global-switchoff/client/index.js
  plugins/talk-plugin-global-switchoff/client/translations.yml
  plugins/talk-plugin-global-switchoff/index.js
  plugins/talk-plugin-global-switchoff/server/index.js
  plugins/talk-plugin-global-switchoff/server/resolvers.js
  plugins/talk-plugin-global-switchoff/server/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --, yamllint

Small refactoring
  plugins/talk-plugin-global-switchoff/client/components/GlobalSwitchoff.js
  plugins/talk-plugin-global-switchoff/client/containers/GlobalSwitchoff.js
  plugins/talk-plugin-global-switchoff/client/index.js
Due: git-exec-and-restage eslint --fix --

Fix: use the correct keys to get the settings
  plugins/talk-plugin-global-switchoff/server/resolvers.js
Due: git-exec-and-restage eslint --fix --

Move "global switchoff" code from plugin to core
  .gitignore
  client/coral-admin/src/routes/Configure/components/StreamSettings.js
  client/coral-admin/src/routes/Configure/containers/StreamSettings.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  errors.js
  graph/typeDefs.graphql
  locales/de.yml
  locales/en.yml
  models/schema/setting.js
  plugins/talk-plugin-global-switchoff/.eslintrc.json
  plugins/talk-plugin-global-switchoff/client/components/GlobalSwitchoff.js
  plugins/talk-plugin-global-switchoff/client/components/styles.css
  plugins/talk-plugin-global-switchoff/client/containers/GlobalSwitchoff.js
  plugins/talk-plugin-global-switchoff/client/index.js
  plugins/talk-plugin-global-switchoff/client/translations.yml
  plugins/talk-plugin-global-switchoff/index.js
  plugins/talk-plugin-global-switchoff/server/hooks.js
  plugins/talk-plugin-global-switchoff/server/index.js
  plugins/talk-plugin-global-switchoff/server/resolvers.js
  plugins/talk-plugin-global-switchoff/server/typeDefs.graphql
  services/moderation/index.js
  services/moderation/phases/commentingDisabled.js
  services/moderation/phases/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

Add test case: err if trying to comment while it's disabled
  test/server/graph/mutations/createComment.js
Due: git-exec-and-restage eslint --fix --

Remove plugin docs for global-switchoff. Not a plugin anymore.
  docs/source/plugin/talk-plugin-global-switchoff.md
Due: none

Rename globalSwitchoff to disableCommenting.
  client/coral-admin/src/routes/Configure/components/StreamSettings.js
  client/coral-admin/src/routes/Configure/containers/StreamSettings.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  graph/typeDefs.graphql
  locales/de.yml
  locales/en.yml
  models/schema/setting.js
  services/moderation/phases/commentingDisabled.js
  test/server/graph/mutations/createComment.js
Due: git-exec-and-restage eslint --fix --, yamllint

Disable/hide the reply buttons when commenting is disabled.
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
Due: git-exec-and-restage eslint --fix --

bugfix: throw error when email already exist on changing
  plugins/talk-plugin-local-auth/server/mutators.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
