Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

fix: use asset url (#2005)
  src/core/client/stream/tabs/comments/containers/CommentContainer.tsx
  src/core/client/stream/tabs/comments/containers/PermalinkButtonContainer.tsx
  src/core/client/stream/tabs/comments/containers/__snapshots__/CommentContainer.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewLoadMoreParents.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
Due: none

fix: use correct value
  src/core/client/ui/components/SelectField/SelectField.mdx
Due: none

[next] Implement Comment History Pagination (#2008)
  src/core/client/framework/helpers/getMe.ts
  src/core/client/framework/helpers/getMeSourceID.ts
  src/core/client/framework/helpers/index.ts
  src/core/client/framework/lib/network/createNetwork.ts
  src/core/client/framework/testHelpers/denormalize.ts
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/tabs/profile/components/CommentHistory.spec.tsx
  src/core/client/stream/tabs/profile/components/CommentHistory.tsx
  src/core/client/stream/tabs/profile/components/CommentsHistory.tsx
  src/core/client/stream/tabs/profile/components/HistoryComment.spec.tsx
  src/core/client/stream/tabs/profile/components/Profile.spec.tsx
  src/core/client/stream/tabs/profile/components/Profile.tsx
  src/core/client/stream/tabs/profile/components/__snapshots__/CommentHistory.spec.tsx.snap
  src/core/client/stream/tabs/profile/components/__snapshots__/HistoryComment.spec.tsx.snap
  src/core/client/stream/tabs/profile/components/__snapshots__/Profile.spec.tsx.snap
  src/core/client/stream/tabs/profile/containers/CommentHistoryContainer.tsx
  src/core/client/stream/tabs/profile/containers/CommentsHistoryContainer.tsx
  src/core/client/stream/tabs/profile/containers/HistoryCommentContainer.tsx
  src/core/client/stream/tabs/profile/containers/ProfileContainer.tsx
  src/core/client/stream/tabs/profile/queries/ProfileQuery.tsx
  src/core/client/stream/test/fixtures.ts
  src/core/client/stream/test/profile/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/profile/__snapshots__/renderProfile.spec.tsx.snap
  src/core/client/stream/test/profile/create.ts
  src/core/client/stream/test/profile/loadMore.spec.tsx
  src/core/client/stream/test/profile/renderProfile.spec.tsx
  src/locales/en-US/stream.ftl
Due: none

feat: upgrade react and enzyme
  package-lock.json
  package.json
  src/core/client/stream/containers/__snapshots__/UserBoxContainer.spec.tsx.snap
Due: none

fix: select not propagating value in ff
  src/core/client/ui/hocs/withKeyboardFocus.tsx
  src/core/client/ui/hocs/withMouseHover.tsx
Due: none

test: adapt snapshot
  src/core/client/stream/tabs/comments/containers/__snapshots__/CommentContainer.spec.tsx.snap
Due: none

Add Code of Conduct Link
  client/coral-admin/src/routes/Configure/components/StreamSettings.js
Due: git-exec-and-restage eslint --fix --

feat: support new auth methods for Tenants
  scripts/generateSchemaTypes.js
  src/core/server/graph/common/scalars/time.ts
  src/core/server/graph/management/resolvers/index.ts
  src/core/server/graph/tenant/mutators/settings.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
  src/core/server/services/tenant/index.ts
Due: git-exec-and-restage eslint --fix --

Make ConfigureCard collapsible
  client/coral-framework/components/ConfigureCard.css
  client/coral-framework/components/ConfigureCard.js
Due: git-exec-and-restage eslint --fix --

Add collapsible prop to banned and suspended lists in admin
  client/coral-admin/src/routes/Configure/components/Wordlist.js
Due: git-exec-and-restage eslint --fix --

Add additional check for `usernameCanBeUpdated` condition in profile
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

Fix stream status updating
  client/coral-admin/src/routes/Stories/containers/Stories.js
Due: git-exec-and-restage eslint --fix --

Added error message to profile tab in embedded comments for when disallowed characters are added while changing the username.
  plugins/talk-plugin-local-auth/client/components/Profile.js
Due: git-exec-and-restage eslint --fix --

fix: added patch to reset form
  views/account/password/reset.njk
Due: none

feat: added support for access_token hash passthrough
  client/coral-framework/actions/auth.js
  client/coral-framework/services/auth.js
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

fix: adjust perspective defaults when failure occurs
  plugins/talk-plugin-toxic-comments/server/perspective.js
Due: git-exec-and-restage eslint --fix --

fix: move priority up for token fetching
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

Update translations
  plugins/talk-plugin-local-auth/translations.yml
  yarn.lock
Due: yamllint

fix: rename wordlist to wordList
  src/core/server/app/middleware/passport/strategies/oidc.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/settings.ts
  src/core/server/models/tenant.ts
  src/core/server/services/comments/index.ts
  src/core/server/services/comments/moderation/phases/index.ts
  src/core/server/services/comments/moderation/phases/preModerate.ts
  src/core/server/services/comments/moderation/phases/wordlist.ts
Due: none

feat: Implement replyTo
  package-lock.json
  package.json
  src/core/client/stream/tabs/comments/components/RTE.css
  src/core/client/stream/tabs/comments/components/RTE.tsx
  src/core/client/stream/tabs/comments/components/ReplyCommentForm.tsx
  src/core/client/stream/tabs/comments/components/ReplyTo.css
  src/core/client/stream/tabs/comments/components/ReplyTo.spec.tsx
  src/core/client/stream/tabs/comments/components/ReplyTo.tsx
  src/core/client/stream/tabs/comments/components/__snapshots__/RTE.spec.tsx.snap
  src/core/client/stream/tabs/comments/components/__snapshots__/ReplyTo.spec.tsx.snap
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.spec.tsx
  src/core/client/stream/tabs/comments/containers/ReplyCommentFormContainer.tsx
  src/core/client/stream/tabs/comments/containers/__snapshots__/ReplyCommentFormContainer.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/editComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postComment.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postLocalReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/postReply.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/comments/__snapshots__/showConversation.spec.tsx.snap
  src/locales/en-US/stream.ftl
Due: none

feat: use full size buttons on small screens
  src/core/client/stream/tabs/comments/components/ReplyCommentForm.tsx
Due: none

feat: show full size buttons in edit form on small screens
  src/core/client/stream/tabs/comments/components/EditCommentForm.tsx
Due: none

fix: strip out 0xAD from the comment body before testing for links
  services/moderation/phases/links.js
Due: git-exec-and-restage eslint --fix --

Add scrape function
  client/coral-admin/src/routes/Stories/components/Stories.css
  client/coral-admin/src/routes/Stories/components/Stories.js
  client/coral-admin/src/routes/Stories/containers/Stories.js
  client/coral-framework/graphql/fragments.js
  client/coral-framework/graphql/mutations.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Add refetch button to the "Stories" tab in the admin
  client/coral-admin/src/routes/Stories/components/Stories.css
  client/coral-admin/src/routes/Stories/components/Stories.js
  client/coral-admin/src/routes/Stories/containers/Stories.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

feat: added OIDC discovery
  src/core/server/app/middleware/passport/strategies/oidc/discover.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/app/middleware/passport/strategies/oidc/oidc.spec.ts
  src/core/server/graph/tenant/mutators/settings.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/services/tenant/index.ts
  src/types/webfinger.d.ts
Due: none

More sp trans
  locales/es.yml
Due: yamllint

Add translation for Contains Link
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  locales/en.yml
  locales/es.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Update Spanish translations (#2019)
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  locales/en.yml
  locales/es.yml
  plugins/talk-plugin-local-auth/translations.yml
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

feat: added OIDC management mutations
  src/core/server/app/middleware/passport/strategies/oidc/discover.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/app/router/api/auth.ts
  src/core/server/app/url.ts
  src/core/server/graph/tenant/mutators/settings.ts
  src/core/server/graph/tenant/resolvers/index.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/resolvers/oidc_auth_integration.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
  src/core/server/services/tenant/index.ts
Due: none

Add italian translation
  client/coral-framework/services/i18n.js
  locales/it.yml
Due: git-exec-and-restage eslint --fix --, yamllint

fix: linting
  src/core/server/services/comments/moderation/phases/wordList.ts
  src/core/server/services/comments/moderation/wordList.spec.ts
  src/core/server/services/comments/moderation/wordList.ts
Due: none

fix: adjusted to include the openID
  src/core/server/app/middleware/passport/strategies/jwt.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
Due: none

feat: added memoization to the regexp generation
  src/core/server/services/comments/moderation/phases/wordList.ts
  src/core/server/services/comments/moderation/phases/wordlist.ts
  src/core/server/services/comments/moderation/wordList.ts
  src/core/server/services/comments/moderation/wordlist.ts
Due: none

fix: documentation + moved discover into query
  src/core/server/app/middleware/passport/strategies/oidc/discover.ts
  src/core/server/graph/tenant/loaders/auth.ts
  src/core/server/graph/tenant/loaders/index.ts
  src/core/server/graph/tenant/mutators/settings.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/resolvers/query.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
Due: none

review: adapted graph responses for OIDC mutations
  src/core/server/graph/tenant/mutators/settings.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
  src/core/server/services/tenant/index.ts
Due: none

fix: fixed linting
  src/core/server/services/comments/moderation/phases/wordList.ts
  src/core/server/services/comments/moderation/wordList.spec.ts
  src/core/server/services/comments/moderation/wordlist.spec.ts
Due: none

feat: added allowRegistration option
  src/core/server/app/handlers/api/tenant/auth/local.ts
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/app/middleware/passport/strategies/oidc/oidc.spec.ts
  src/core/server/app/middleware/passport/strategies/verifiers/sso.spec.ts
  src/core/server/app/middleware/passport/strategies/verifiers/sso.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
  src/core/server/services/tenant/index.ts
Due: none

Always have pointer events in configure cards
  client/coral-admin/src/routes/Configure/components/StreamSettings.js
  client/coral-framework/components/ConfigureCard.css
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Create 02-03-cli-tools.md
  docs/source/02-03-cli-tools.md
Due: none
