Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Add back missing tutorial
  docs/_config.yml
Due: yamllint

Adding OrganizationDetails
  client/coral-admin/src/routes/Install/components/Install.js
  client/coral-admin/src/routes/Install/components/Steps/CreateYourAccount.js
  client/coral-admin/src/routes/Install/components/Steps/OrganizationDetails.js
  client/coral-admin/src/routes/Install/containers/Install.js
  client/coral-framework/helpers/error.js
  client/coral-framework/helpers/validate.js
  locales/en.yml
  locales/es.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Adding organizationContactEmail
  client/coral-admin/src/reducers/install.js
Due: git-exec-and-restage eslint --fix --

Adding the email to the schema
  graph/typeDefs.graphql
  models/setting.js
  test/e2e/globals.js
Due: git-exec-and-restage eslint --fix --

Working on the admin side
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
  client/coral-admin/src/routes/Configure/containers/Configure.js
  client/coral-admin/src/routes/Configure/containers/OrganizationSettings.js
  docs/source/api/slots.md
  locales/en.yml
  locales/es.yml
Due: git-exec-and-restage eslint --fix --, yamllint

wip
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
Due: git-exec-and-restage eslint --fix --

changes
  .gitignore
  plugins/talk-plugin-auth/client/login/actions.js
  plugins/talk-plugin-auth/client/login/constants.js
  plugins/talk-plugin-auth/client/login/containers/SignUp.js
  plugins/talk-plugin-auth/client/login/reducer.js
  plugins/talk-plugin-health-report/client/.eslintrc.json
  plugins/talk-plugin-health-report/client/components/TermsAndConditionsField.css
  plugins/talk-plugin-health-report/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-health-report/client/index.js
  plugins/talk-plugin-health-report/client/translations.yml
  plugins/talk-plugin-health-report/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

with hasBlockers
  plugins/talk-plugin-auth/client/login/components/SignUp.js
  plugins/talk-plugin-auth/client/login/containers/SignUp.js
Due: git-exec-and-restage eslint --fix --

Ignoring
  .gitignore
Due: none

re entering
  .gitignore
Due: none

adding it back
  plugins/talk-plugin-auth-checkbox/README.md
  plugins/talk-plugin-auth-checkbox/client/.eslintrc.json
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.css
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-auth-checkbox/client/index.js
  plugins/talk-plugin-auth-checkbox/client/translations.yml
  plugins/talk-plugin-auth-checkbox/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

Styling
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.css
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.js
Due: git-exec-and-restage eslint --fix --

WIP
  client/coral-ui-kit/components/BaseButton.css
  client/coral-ui-kit/components/BaseButton.js
  client/coral-ui-kit/components/BaseButton.md
  client/coral-ui-kit/components/Button.css
  client/coral-ui-kit/components/Button.js
  client/coral-ui-kit/components/Button.md
  client/coral-ui-kit/components/index.js
  client/coral-ui-kit/hocs/index.js
  client/coral-ui-kit/hocs/withKeyboardFocus.js
  client/coral-ui-kit/hocs/withStyles.js
  client/coral-ui-kit/shared/buttonReset.css
  client/coral-ui-kit/theme/variables.js
  package.json
  postcss.config.js
  styleguide.config.js
  webpack.config.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Give descriptive key for slot elements and use it instead of talkPluginName
  .gitignore
  client/coral-embed-stream/src/containers/ExtendableTabPanel.js
  client/coral-framework/services/plugins.js
  docs/source/_data/introspection.json
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-auth/client/login/components/SignUp.js
  plugins/talk-plugin-auth/client/login/containers/SignUp.js
  plugins/talk-plugin-notifications/client/components/Settings.js
  plugins/talk-plugin-notifications/client/containers/Settings.js
Due: git-exec-and-restage eslint --fix --

Remaining rename
  plugins/talk-plugin-auth/client/login/containers/SignUp.js
Due: git-exec-and-restage eslint --fix --

renaming
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-auth-checkbox/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

renaming slot :D
  plugins/talk-plugin-auth-checkbox/client/index.js
  plugins/talk-plugin-auth/client/login/components/SignUp.js
Due: git-exec-and-restage eslint --fix --

routes
  client/coral-admin/src/AppRouter.js
  client/coral-admin/src/routes/Configure/components/Configure.js
Due: git-exec-and-restage eslint --fix --

router and state lifted
  client/coral-admin/src/AppRouter.js
  client/coral-admin/src/actions/configure.js
  client/coral-admin/src/constants/configure.js
  client/coral-admin/src/reducers/configure.js
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Save changes / discard changes dialohg
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Removing plugin
  .gitignore
Due: none

Restore Links
  plugins/talk-plugin-rich-text/client/components/AdminCommentContent.js
  plugins/talk-plugin-rich-text/client/components/CommentContent.js
Due: git-exec-and-restage eslint --fix --

Use secondary colors
  client/coral-ui-kit/components/BaseButton.js
  client/coral-ui-kit/components/Button.css
  client/coral-ui-kit/components/Button.js
  client/coral-ui-kit/components/Button.md
  client/coral-ui-kit/theme/variables.js
  styleguide.config.js
Due: git-exec-and-restage eslint --fix --

Removing plugin
  plugins/talk-plugin-auth-checkbox/README.md
  plugins/talk-plugin-auth-checkbox/client/.eslintrc.json
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.css
  plugins/talk-plugin-auth-checkbox/client/components/TermsAndConditionsField.js
  plugins/talk-plugin-auth-checkbox/client/index.js
  plugins/talk-plugin-auth-checkbox/client/translations.yml
  plugins/talk-plugin-auth-checkbox/index.js
Due: git-exec-and-restage eslint --fix --, yamllint

alert route hook ready!
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

Adding translations
  client/coral-admin/src/routes/Configure/components/Configure.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Spanish translations
  locales/es.yml
Due: yamllint

SaveChangesDialog
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/components/SaveChangesDialog.css
  client/coral-admin/src/routes/Configure/components/SaveChangesDialog.js
Due: git-exec-and-restage eslint --fix --

allow plugin code from clients to be parsed by webpack
  webpack.config.js
Due: git-exec-and-restage eslint --fix --

Style and translations
  client/coral-admin/src/routes/Configure/components/SaveChangesDialog.css
  client/coral-admin/src/routes/Configure/components/SaveChangesDialog.js
  locales/en.yml
  locales/es.yml
Due: git-exec-and-restage eslint --fix --, yamllint

improved routing, cleaned mail
  graph/context.js
  graph/mutators/user.js
  graph/resolvers/root_mutation.js
  graph/typeDefs.graphql
  locales/en.yml
  perms/constants/mutation.js
  perms/reducers/mutation.js
  routes/account/index.js
  routes/admin/index.js
  routes/api/v1/account.js
  routes/api/v1/graph.js
  routes/dev/assets.js
  routes/dev/index.js
  routes/index.js
  services/mailer/templates/download.html.ejs
  services/mailer/templates/download.txt.ejs
  services/mailer/templates/email-confirm.html.ejs
  services/mailer/templates/email-confirm.txt.ejs
  services/mailer/templates/password-reset.html.ejs
  services/mailer/templates/password-reset.txt.ejs
  services/users.js
  views/account/download.ejs
  views/account/email/confirm.ejs
  views/account/password/reset.ejs
  views/api/graphiql.ejs
  views/dev/article.ejs
  views/dev/articles.ejs
Due: git-exec-and-restage eslint --fix --, yamllint

IfSlotIsNotEmpty Bug
  client/coral-framework/components/IfSlotIsNotEmpty.js
Due: git-exec-and-restage eslint --fix --

Added UI for downloading your comment data
  client/coral-embed-stream/src/graphql/index.js
  client/coral-embed-stream/src/tabs/profile/components/DownloadCommentHistorySection.css
  client/coral-embed-stream/src/tabs/profile/components/DownloadCommentHistorySection.js
  client/coral-embed-stream/src/tabs/profile/components/Settings.js
  client/coral-embed-stream/src/tabs/profile/containers/Settings.js
  graph/resolvers/user.js
  graph/typeDefs.graphql
  locales/en.yml
  models/user.js
  perms/constants/query.js
  perms/reducers/query.js
  services/users.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

account history to user history
  client/coral-admin/src/components/AccountHistory.js
  client/coral-admin/src/components/UserDetail.js
  locales/ar.yml
  locales/da.yml
  locales/de.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/nl_NL.yml
  locales/pt_BR.yml
  locales/zh_CN.yml
  locales/zh_TW.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Renaming components and styles
  client/coral-admin/src/components/UserHistory.css
  client/coral-admin/src/components/UserHistory.js
  package-lock.json
  test/e2e/page_objects/admin.js
  test/e2e/specs/06_suspendUser.js
Due: git-exec-and-restage eslint --fix --

Adding size, and proptypes
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
  plugins/talk-plugin-featured-comments/client/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Avoiding refetching
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Removing reloads
  client/coral-admin/src/components/UserDetail.js
Due: git-exec-and-restage eslint --fix --

Removing logs
  client/coral-admin/src/containers/UserDetail.js
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Adding rejectUsername
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/containers/UserDetail.js
  client/coral-framework/utils/user.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
