Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Use HorizontalGutter component, simplify Flex
  src/core/client/stream/components/Comment/Username.tsx
  src/core/client/stream/components/PermalinkView.tsx
  src/core/client/stream/components/PostCommentForm.css
  src/core/client/stream/components/PostCommentForm.tsx
  src/core/client/stream/components/PoweredBy.tsx
  src/core/client/stream/components/ReplyList.tsx
  src/core/client/stream/components/Stream.tsx
  src/core/client/stream/components/UserBoxAuthenticated.tsx
  src/core/client/stream/components/UserBoxUnauthenticated.tsx
  src/core/client/stream/index.tsx
  src/core/client/ui/components/Button/Button.mdx
  src/core/client/ui/components/CallOut/CallOut.mdx
  src/core/client/ui/components/Flex/Flex.css
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/FormField/FormField.tsx
  src/core/client/ui/components/HorizontalGutter/HorizontalGutter.css
  src/core/client/ui/components/HorizontalGutter/HorizontalGutter.mdx
  src/core/client/ui/components/HorizontalGutter/HorizontalGutter.tsx
  src/core/client/ui/components/HorizontalGutter/index.ts
  src/core/client/ui/components/InputLabel/InputLabel.mdx
  src/core/client/ui/components/TextField/TextField.mdx
  src/core/client/ui/components/ToggleShow/ToogleShow.mdx
  src/core/client/ui/components/Typography/Typography.mdx
  src/core/client/ui/components/Typography/Typography.tsx
  src/core/client/ui/components/ValidationMessage/ValidationMessage.mdx
  src/core/client/ui/components/ValidationMessage/ValidationMessage.tsx
  src/core/client/ui/components/index.ts
  src/locales/en-US/stream.ftl
Due: none

Update package.json
  package.json
Due: none

Update package.json (#1818)
  package.json
Due: none

support canonical links with query string separator;
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

circleci lint updates;
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Design improvements
  src/core/client/stream/components/Comment/Comment.css
  src/core/client/stream/components/PermalinkButton/PermalinkPopover.css
  src/core/client/stream/components/PostCommentForm.tsx
  src/core/client/stream/components/PostCommentFormFake.css
  src/core/client/stream/components/PostCommentFormFake.tsx
  src/core/client/stream/components/PoweredBy.tsx
  src/core/client/stream/components/Stream.tsx
  src/core/client/stream/components/UserBoxAuthenticated.tsx
  src/core/client/stream/components/UserBoxUnauthenticated.tsx
  src/core/client/ui/components/BaseButton/BaseButton.css
  src/core/client/ui/components/Button/Button.css
  src/core/client/ui/components/Flex/Flex.css
  src/core/client/ui/components/Flex/Flex.tsx
  src/core/client/ui/components/FormField/FormField.css
  src/locales/en-US/stream.ftl
Due: none

Updated fluent
  package-lock.json
  package.json
  src/core/client/framework/lib/bootstrap/TalkContext.tsx
  src/core/client/framework/lib/bootstrap/createContext.tsx
  src/core/client/framework/lib/i18n.ts
  src/core/client/stream/components/UserBoxAuthenticated.tsx
  src/locales/en-US/stream.ftl
  src/types/fluent.d.ts
Due: none

Fix typography merge conflict
  src/core/client/ui/shared/typography.css
Due: none

Adapt SignIn
  src/core/client/auth/components/App.css
  src/core/client/auth/components/ForgotPassword.tsx
  src/core/client/auth/components/ResetPassword.tsx
  src/core/client/auth/components/SignIn.css
  src/core/client/auth/components/SignIn.tsx
  src/core/client/auth/components/SignUp.tsx
  src/core/client/auth/containers/SignInContainer.tsx
  src/core/client/auth/containers/SignUpContainer.tsx
  src/core/client/ui/shared/typography.css
  src/locales/en-US/auth.ftl
Due: none

Adapt sign up plus validation and translations
  src/core/client/auth/components/SignIn.tsx
  src/core/client/auth/components/SignUp.css
  src/core/client/auth/components/SignUp.tsx
  src/core/client/framework/lib/errors/badUserInputError.ts
  src/core/client/framework/lib/messages.tsx
  src/core/client/framework/lib/validation.tsx
  src/locales/en-US/auth.ftl
  src/locales/en-US/framework.ftl
Due: none

Adapt Forgot and Reset Password
  src/core/client/auth/components/ForgotPassword.css
  src/core/client/auth/components/ForgotPassword.tsx
  src/core/client/auth/components/ResetPassword.css
  src/core/client/auth/components/ResetPassword.tsx
  src/core/client/auth/components/SignIn.tsx
  src/core/client/auth/local/local.graphql
  src/core/client/auth/mutations/SetViewMutation.ts
  src/locales/en-US/auth.ftl
Due: none

Better popup size when loading fonts
  src/core/client/auth/containers/AutoHeightContainer.tsx
  src/core/client/auth/dom/resizePopup.ts
  src/core/client/auth/index.tsx
Due: none

Give more time for render
  src/core/client/auth/index.tsx
Due: none

Give more more time
  src/core/client/auth/index.tsx
Due: none

Use polling
  src/core/client/auth/dom/resizePopup.ts
  src/core/client/auth/index.tsx
Due: none

Update snapshots
  src/core/client/stream/components/Comment/__snapshots__/TopBar.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/ReplyList.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/Stream.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/UserBoxUnauthenticated.spec.tsx.snap
  src/core/client/stream/containers/__snapshots__/UserBoxContainer.spec.tsx.snap
  src/core/client/stream/local/__snapshots__/initLocalState.spec.ts.snap
  src/core/client/ui/components/Flex/Flex.spec.tsx
  src/core/client/ui/components/Flex/__snapshots__/Flex.spec.tsx.snap
  src/core/client/ui/components/FormField/__snapshots__/FormField.spec.tsx.snap
Due: none

Update snapshots
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewAssetNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/loadMore.spec.tsx
  src/core/client/stream/test/permalinkView.spec.tsx
  src/core/client/stream/test/permalinkViewAssetNotFound.spec.tsx
  src/core/client/stream/test/permalinkViewCommentNotFound.spec.tsx
  src/core/client/stream/test/renderReplies.spec.tsx
  src/core/client/stream/test/renderStream.spec.tsx
  src/core/client/stream/test/showAllReplies.spec.tsx
Due: none

Remove obsolete snapshot
  src/core/client/ui/components/Flex/__snapshots__/Flex.spec.tsx.snap
Due: none

Test, Colorize TextFields, disable on submit
  src/core/client/auth/components/App.spec.tsx
  src/core/client/auth/components/App.tsx
  src/core/client/auth/components/ForgotPassword.tsx
  src/core/client/auth/components/ResetPassword.tsx
  src/core/client/auth/components/SignIn.tsx
  src/core/client/auth/components/SignUp.tsx
  src/core/client/auth/components/__snapshots__/App.spec.tsx.snap
  src/core/client/stream/components/PostCommentFormFake.spec.tsx
  src/core/client/stream/components/PoweredBy.spec.tsx
  src/core/client/stream/components/UserBoxAuthenticated.spec.tsx
  src/core/client/stream/components/__snapshots__/PostCommentFormFake.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/PoweredBy.spec.tsx.snap
  src/core/client/stream/components/__snapshots__/UserBoxAuthenticated.spec.tsx.snap
  src/core/client/ui/components/HorizontalGutter/HorizontalGutter.spec.tsx
  src/core/client/ui/components/HorizontalGutter/__snapshots__/HorizontalGutter.spec.tsx.snap
  src/core/client/ui/components/TextField/TextField.tsx
  src/docs/forms.mdx
Due: none

lint: pretty?
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

prettier/prettier
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
Due: git-exec-and-restage eslint --fix --

Add test
  src/core/client/stream/components/PoweredBy.spec.tsx
Due: none

Add integration tests
  src/core/client/auth/components/SignIn.tsx
  src/core/client/auth/components/SignUp.tsx
  src/core/client/auth/containers/AutoHeightContainer.tsx
  src/core/client/auth/mutations/SignUpMutation.ts
  src/core/client/auth/test/__snapshots__/signIn.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signUp.spec.tsx.snap
  src/core/client/auth/test/createEnvironment.ts
  src/core/client/auth/test/navigation.disabledspec.tsx
  src/core/client/auth/test/signIn.spec.tsx
  src/core/client/auth/test/signUp.spec.tsx
  src/core/client/ui/components/TextField/TextField.tsx
  src/core/common/utils/animationFrame.ts
  src/core/common/utils/index.ts
  src/locales/en-US/auth.ftl
  src/locales/en-US/framework.ftl
Due: none

add german translation for sort-upvoted
  plugins/talk-plugin-sort-most-upvoted/client/translations.yml
Due: yamllint

Readd translations
  src/locales/en-US/auth.ftl
  src/locales/en-US/framework.ftl
Due: none

Fix linter issue
  src/core/build/postcss.config.js
Due: git-exec-and-restage eslint --fix --

Make each test independent
  src/core/client/auth/containers/SignUpContainer.tsx
  src/core/client/auth/test/__snapshots__/signIn.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signUp.spec.tsx.snap
  src/core/client/auth/test/signIn.spec.tsx
  src/core/client/auth/test/signUp.spec.tsx
Due: none

Add missing translation
  locales/de.yml
  locales/en.yml
Due: yamllint

Formatting
  locales/en.yml
Due: yamllint

Integrate actual translations into integration tests
  src/core/client/auth/test/__snapshots__/navigation.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signIn.spec.tsx.snap
  src/core/client/auth/test/__snapshots__/signUp.spec.tsx.snap
  src/core/client/auth/test/createFluentBundle.ts
  src/core/client/auth/test/navigation.spec.tsx
  src/core/client/auth/test/signIn.spec.tsx
  src/core/client/auth/test/signUp.spec.tsx
  src/core/client/framework/testHelpers/createFluentBundle.ts
  src/core/client/framework/testHelpers/index.ts
  src/core/client/stream/test/__snapshots__/loadMore.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkView.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewAssetNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/permalinkViewCommentNotFound.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderReplies.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/renderStream.spec.tsx.snap
  src/core/client/stream/test/__snapshots__/showAllReplies.spec.tsx.snap
  src/core/client/stream/test/createFluentBundle.ts
  src/core/client/stream/test/loadMore.spec.tsx
  src/core/client/stream/test/permalinkView.spec.tsx
  src/core/client/stream/test/permalinkViewAssetNotFound.spec.tsx
  src/core/client/stream/test/permalinkViewCommentNotFound.spec.tsx
  src/core/client/stream/test/renderReplies.spec.tsx
  src/core/client/stream/test/renderStream.spec.tsx
  src/core/client/stream/test/showAllReplies.spec.tsx
Due: none

Implement post comment mutation
  src/core/client/framework/helpers/getMe.ts
  src/core/client/framework/helpers/index.ts
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/server/graph/tenant/resolvers/mutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

WIP
  package-lock.json
  package.json
  src/core/client/framework/testHelpers/index.ts
  src/core/client/framework/testHelpers/removeFragmentRefs.ts
  src/core/client/stream/containers/CommentContainer.spec.tsx
  src/core/client/stream/containers/ReplyListContainer.spec.tsx
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/stream/containers/StreamContainer.spec.tsx
  src/core/client/stream/containers/UserBoxContainer.spec.tsx
Due: none

Update relay-runtime types
  package-lock.json
  package.json
  src/core/client/framework/helpers/getMe.ts
  src/core/client/framework/lib/relay/commitMutationPromise.ts
  src/core/client/stream/components/App.tsx
  src/core/client/stream/components/PermalinkButton/PermalinkButton.tsx
  src/core/client/stream/containers/PostCommentFormContainer.tsx
  src/core/client/stream/containers/ReplyListContainer.tsx
  src/core/client/stream/containers/StreamContainer.spec.tsx
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/server/graph/tenant/schema/schema.graphql
Due: none

Fix remaining type issues
  package-lock.json
  package.json
Due: none

Make type checking part of the linting
  package.json
Due: none

Keep future added values
  src/core/client/auth/components/App.tsx
Due: none

Better naming
  src/core/client/stream/mutations/CreateCommentMutation.ts
Due: none

Upgrade react-relay types
  package-lock.json
  package.json
  src/core/client/framework/lib/relay/QueryRenderer.tsx
  src/core/client/stream/mutations/CreateCommentMutation.ts
  src/core/client/stream/queries/PermalinkViewQuery.tsx
  src/core/client/stream/queries/StreamQuery.tsx
Due: none

Websocket optional
  client/coral-embed-stream/src/containers/Embed.js
  client/coral-embed-stream/src/graphql/index.js
  client/coral-embed-stream/src/tabs/stream/containers/EditableCommentContent.js
  client/coral-framework/hocs/withQuery.js
  client/coral-framework/services/client.js
  config.js
  middleware/staticTemplate.js
  plugin-api/beta/client/hocs/withReaction.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
