Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Update Github Issue template
  .github/ISSUE_TEMPLATE.md
Due: none

Passing down root data
  client/coral-embed-stream/src/tabs/stream/components/CommentForm.js
  client/coral-embed-stream/src/tabs/stream/components/ReplyBox.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

Merge issues
  .gitignore
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/EditableCommentContent.js
  services/comments.js
Due: git-exec-and-restage eslint --fix --

quotes styling
  client/coral-admin/src/routes/Moderation/components/Comment.css
Due: none

Implement Require Email for Notifications on Frontend
  client/coral-ui/components/Checkbox.css
  client/coral-ui/components/Spinner.js
  plugins/talk-plugin-auth/client/login/containers/ResendEmailConfirmation.js
  plugins/talk-plugin-notifications-category-featured/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-reply/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-staff/client/containers/Toggle.js
  plugins/talk-plugin-notifications/client/components/Banner.css
  plugins/talk-plugin-notifications/client/components/Banner.js
  plugins/talk-plugin-notifications/client/components/EmailVerificationBanner.css
  plugins/talk-plugin-notifications/client/components/EmailVerificationBanner.js
  plugins/talk-plugin-notifications/client/components/Settings.css
  plugins/talk-plugin-notifications/client/components/Settings.js
  plugins/talk-plugin-notifications/client/components/Toggle.css
  plugins/talk-plugin-notifications/client/components/Toggle.js
  plugins/talk-plugin-notifications/client/containers/EmailVerificationBanner.js
  plugins/talk-plugin-notifications/client/containers/Settings.js
  plugins/talk-plugin-notifications/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Fix translation
  plugins/talk-plugin-notifications/client/translations.yml
Due: yamllint

Fix file name casing
  plugins/talk-plugin-rich-text/server/DOMPurify.js
Due: git-exec-and-restage eslint --fix --

adding br to the purifier
  plugins/talk-plugin-rich-text/server/config.js
Due: git-exec-and-restage eslint --fix --

Adding styles
  client/coral-admin/src/routes/Moderation/components/Comment.css
  client/coral-admin/src/routes/Moderation/components/Comment.js
Due: git-exec-and-restage eslint --fix --

adding slot userDetailCommentContent
  client/coral-admin/src/components/UserDetailComment.js
  plugins/talk-plugin-rich-text-pell/client/index.js
Due: git-exec-and-restage eslint --fix --

Adding fragments to the slot
  client/coral-admin/src/containers/UserDetailComment.js
Due: git-exec-and-restage eslint --fix --

normalized blockquote
  client/coral-admin/src/components/UserDetailComment.css
Due: none

Scrape Asset GraphQL Mutation
  graph/mutators/asset.js
  graph/resolvers/root_mutation.js
  graph/typeDefs.graphql
Due: git-exec-and-restage eslint --fix --

Fix styling and toggle off issues
  plugins/talk-plugin-notifications/client/components/Toggle.css
  plugins/talk-plugin-notifications/client/containers/Settings.js
Due: git-exec-and-restage eslint --fix --

Metadata override
  services/comments.js
Due: git-exec-and-restage eslint --fix --

html and content editable normalizer
  plugins/talk-plugin-rich-text-pell/client/components/Editor.js
  plugins/talk-plugin-rich-text-pell/client/utils.js
Due: git-exec-and-restage eslint --fix --

Add regext to test multiline strings
  plugins/talk-plugin-rich-text-pell/client/utils.js
Due: git-exec-and-restage eslint --fix --

Prevent unintended initial empty line
  plugins/talk-plugin-rich-text-pell/client/utils.js
Due: git-exec-and-restage eslint --fix --

Attach root fragment
  client/coral-admin/src/containers/UserDetailComment.js
Due: git-exec-and-restage eslint --fix --

Remove unused line
  client/coral-framework/services/client.js
Due: git-exec-and-restage eslint --fix --

added revision hash
  Dockerfile
  config.js
  routes/api/v1/index.js
  scripts/docker.sh
Due: git-exec-and-restage eslint --fix --

Add more translations
  locales/he.yml
Due: yamllint

Standardized metadata
  graph/mutators/comment.js
  graph/resolvers/root_mutation.js
Due: git-exec-and-restage eslint --fix --

Notification Digesting
  .gitignore
  plugins/talk-plugin-notifications-category-featured/index.js
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/index.js
  plugins/talk-plugin-notifications-category-staff/index.js
  plugins/talk-plugin-notifications-digest-daily/index.js
  plugins/talk-plugin-notifications-digest-hourly/index.js
  plugins/talk-plugin-notifications/package.json
  plugins/talk-plugin-notifications/server/NotificationManager.js
  plugins/talk-plugin-notifications/server/connect.js
  plugins/talk-plugin-notifications/server/digests.js
  plugins/talk-plugin-notifications/server/emails/notification-digest.html.ejs
  plugins/talk-plugin-notifications/server/emails/notification-digest.txt.ejs
  plugins/talk-plugin-notifications/server/messages.js
  plugins/talk-plugin-notifications/server/resolvers.js
  plugins/talk-plugin-notifications/server/translations.yml
  plugins/talk-plugin-notifications/server/typeDefs.graphql
  plugins/talk-plugin-notifications/server/util.js
  services/logging.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

Display digest settings
  client/coral-admin/src/routes/Community/components/People.css
  client/coral-admin/src/routes/Community/components/People.js
  client/coral-admin/src/routes/Stories/components/Stories.css
  client/coral-admin/src/routes/Stories/components/Stories.js
  client/coral-framework/components/TalkProvider.js
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withEnumValues.js
  client/coral-framework/services/introspection.js
  client/coral-ui/components/Dropdown.css
  client/coral-ui/components/Dropdown.js
  client/coral-ui/components/Option.css
  plugin-api/beta/client/hocs/index.js
  plugins/talk-plugin-notifications-digest-daily/client/.eslintrc.json
  plugins/talk-plugin-notifications-digest-daily/client/index.js
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/.eslintrc.json
  plugins/talk-plugin-notifications-digest-hourly/client/index.js
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/components/Settings.css
  plugins/talk-plugin-notifications/client/components/Settings.js
  plugins/talk-plugin-notifications/client/containers/Settings.js
  plugins/talk-plugin-notifications/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Mutate settings
  plugins/talk-plugin-notifications/client/containers/Settings.js
  plugins/talk-plugin-notifications/client/graphql.js
Due: git-exec-and-restage eslint --fix --

Do not capitalize
  client/coral-ui/components/Dropdown.css
  client/coral-ui/components/Option.css
Due: none

Some comments
  plugins/talk-plugin-notifications-digest-daily/client/index.js
  plugins/talk-plugin-notifications-digest-hourly/client/index.js
Due: git-exec-and-restage eslint --fix --

Fix linting stuff
  plugins/talk-plugin-notifications/client/containers/Settings.js
Due: git-exec-and-restage eslint --fix --

More Hebrew translations
  plugins/talk-plugin-sort-most-loved/client/translations.yml
  plugins/talk-plugin-sort-most-replied/client/translations.yml
Due: yamllint

Remove extra space
  plugins/talk-plugin-featured-comments/client/translations.yml
Due: yamllint

Ignore user hebrew translation
  plugins/talk-plugin-ignore-user/client/translations.yml
Due: yamllint

Begin adding Hebrew translation
  client/coral-framework/services/i18n.js
  locales/he.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Add More hebrew translations
  app.js
  locales/he.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Off-top Hebrew translation
  plugins/talk-plugin-offtopic/client/translations.json
Due: none

Auth Hebrew translations
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Flag Hebrew translation
  plugins/talk-plugin-flag-details/client/translations.yml
Due: yamllint

Add Hebrew template to all translation files
  locales/he.yml
  plugins/talk-plugin-auth/client/translations.yml
  plugins/talk-plugin-author-menu/client/translations.yml
  plugins/talk-plugin-featured-comments/client/translations.yml
  plugins/talk-plugin-flag-details/client/translations.yml
  plugins/talk-plugin-ignore-user/client/translations.yml
  plugins/talk-plugin-like/client/translations.yml
  plugins/talk-plugin-love/client/translations.yml
  plugins/talk-plugin-member-since/client/translations.yml
  plugins/talk-plugin-moderation-actions/client/translations.yml
  plugins/talk-plugin-offtopic/client/translations.json
  plugins/talk-plugin-profile-settings/client/translations.yml
  plugins/talk-plugin-respect/client/translations.yml
  plugins/talk-plugin-sort-most-liked/client/translations.yml
  plugins/talk-plugin-sort-most-loved/client/translations.yml
  plugins/talk-plugin-sort-most-replied/client/translations.yml
  plugins/talk-plugin-sort-most-respected/client/translations.yml
  plugins/talk-plugin-sort-newest/client/translations.yml
  plugins/talk-plugin-sort-oldest/client/translations.yml
  plugins/talk-plugin-subscriber/client/translations.yml
  plugins/talk-plugin-toxic-comments/client/translations.yml
  plugins/talk-plugin-viewing-options/client/translations.yml
Due: yamllint
