Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Stub docs for Installing Plugins
  docs/source/04-02-installing-plugins.md
  docs/source/04-03-default-plugins.md
  docs/source/04-04-additional-plugins.md
  docs/source/04-05-plugin-recipes.md
Due: none

fixed public dir
  docs/_config.yml
Due: yamllint

fixes to gitignore
  .gitignore
  docs/.gitignore
Due: none

added fixes for netlify
  docs/.gitignore
  docs/public/_redirects
Due: none

Attach query markers
  client/coral-framework/hocs/withQuery.js
Due: git-exec-and-restage eslint --fix --

Rename slotSize to size
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
  plugins/talk-plugin-member-since/client/index.js
Due: git-exec-and-restage eslint --fix --

New Slot property `passthrough`
  client/coral-framework/components/IfSlotIsEmpty.js
  client/coral-framework/components/IfSlotIsNotEmpty.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

Port to new Slot property `passthrough`
  client/coral-embed-stream/src/components/Embed.js
  client/coral-embed-stream/src/containers/ExtendableTabPanel.js
  client/coral-embed-stream/src/tabs/configure/components/Settings.js
  client/coral-embed-stream/src/tabs/configure/containers/Settings.js
  client/coral-embed-stream/src/tabs/profile/components/Comment.js
  client/coral-embed-stream/src/tabs/profile/components/Profile.js
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/DraftArea.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
  client/coral-embed-stream/src/tabs/stream/containers/CommentBox.js
  client/coral-embed-stream/src/tabs/stream/containers/DraftArea.js
  plugins/talk-plugin-author-menu/client/components/AuthorName.js
  plugins/talk-plugin-author-menu/client/components/Menu.js
  plugins/talk-plugin-author-menu/client/containers/AuthorName.js
  plugins/talk-plugin-featured-comments/client/components/Comment.js
  plugins/talk-plugin-flag-details/client/components/FlagDetails.js
  plugins/talk-plugin-moderation-actions/client/components/ModerationActions.js
  plugins/talk-plugin-notifications/client/components/Settings.js
  plugins/talk-plugin-profile-settings/client/components/TabPane.js
  plugins/talk-plugin-viewing-options/client/components/Category.js
  plugins/talk-plugin-viewing-options/client/components/Menu.js
  plugins/talk-plugin-viewing-options/client/components/ViewingOptions.js
  plugins/talk-plugin-viewing-options/client/containers/ViewingOptions.js
Due: git-exec-and-restage eslint --fix --

Port coral-admin to new `passthrough` prop
  client/coral-admin/src/components/AccountHistory.js
  client/coral-admin/src/components/CommentDetails.js
  client/coral-admin/src/components/CommentLabels.js
  client/coral-admin/src/components/UserDetail.js
  client/coral-admin/src/components/UserDetailComment.js
  client/coral-admin/src/routes/Configure/components/ModerationSettings.js
  client/coral-admin/src/routes/Configure/components/StreamSettings.js
  client/coral-admin/src/routes/Configure/components/TechSettings.js
  client/coral-admin/src/routes/Configure/containers/ModerationSettings.js
  client/coral-admin/src/routes/Configure/containers/StreamSettings.js
  client/coral-admin/src/routes/Configure/containers/TechSettings.js
  client/coral-admin/src/routes/Moderation/components/Comment.js
  client/coral-admin/src/routes/Moderation/components/Moderation.js
  client/coral-admin/src/routes/Moderation/containers/Indicator.js
  plugins/talk-plugin-viewing-options/client/containers/ViewingOptions.js
Due: git-exec-and-restage eslint --fix --

Move SortOption to talk-plugin-viewing-options
  plugins/talk-plugin-sort-most-liked/client/index.js
  plugins/talk-plugin-sort-most-loved/client/index.js
  plugins/talk-plugin-sort-most-replied/client/index.js
  plugins/talk-plugin-sort-most-respected/client/index.js
  plugins/talk-plugin-sort-newest/client/index.js
  plugins/talk-plugin-sort-oldest/client/index.js
  plugins/talk-plugin-viewing-options/client/api/components/SortOption.css
  plugins/talk-plugin-viewing-options/client/api/components/SortOption.js
  plugins/talk-plugin-viewing-options/client/api/factories/index.js
  plugins/talk-plugin-viewing-options/client/constants.js
Due: git-exec-and-restage eslint --fix --

Fix path
  plugins/talk-plugin-viewing-options/client/api/components/SortOption.js
Due: git-exec-and-restage eslint --fix --

Fix lint issues
  plugins/talk-plugin-viewing-options/client/api/components/SortOption.js
  plugins/talk-plugin-viewing-options/client/constants.js
Due: git-exec-and-restage eslint --fix --

Disable safari and ie integration test on CI
  .circleci/config.yml
Due: yamllint

docs updates
  docs/_config.yml
  docs/source/01-04-planning-architecture.md
  docs/source/integrating/authentication.md
  docs/themes/coral/source/js/main.js
Due: git-exec-and-restage eslint --fix --, yamllint

updated default plugins
  plugins.default.json
  plugins/talk-plugin-auth/README.md
  plugins/talk-plugin-author-menu/README.md
  plugins/talk-plugin-comment-content/README.md
  plugins/talk-plugin-featured-comments/README.md
  plugins/talk-plugin-flag-details/README.md
  plugins/talk-plugin-ignore-user/README.md
  plugins/talk-plugin-member-since/README.md
  plugins/talk-plugin-moderation-actions/README.md
  plugins/talk-plugin-offtopic/README.md
  plugins/talk-plugin-permalink/README.md
  plugins/talk-plugin-respect/README.md
  plugins/talk-plugin-sort-most-replied/README.md
  plugins/talk-plugin-sort-most-respected/README.md
  plugins/talk-plugin-sort-newest/README.md
  plugins/talk-plugin-sort-oldest/README.md
  plugins/talk-plugin-viewing-options/README.md
Due: none

added tags to plugin directory
  docs/source/_data/plugins.yml
  docs/themes/coral/layout/plugins.swig
  docs/themes/coral/scripts/lunr.js
Due: git-exec-and-restage eslint --fix --, yamllint

fixed sidebar
  docs/themes/coral/layout/partial/head.swig
  docs/themes/coral/layout/partial/header.swig
  docs/themes/coral/source/images/hamburger.svg
Due: none

updating docs
  CONTRIBUTING.md
  README.md
Due: none

updates to some docs
  bin/templates/plugin/client/components/MyPluginComponent.js
  bin/templates/plugin/client/index.js
  docs/source/01-01-talk-quickstart.md
Due: git-exec-and-restage eslint --fix --

restored user creation cli
  bin/cli-users
Due: git-exec-and-restage eslint --fix --

missed another link
  errors.js
Due: git-exec-and-restage eslint --fix --

updated copy
  errors.js
Due: git-exec-and-restage eslint --fix --

Registered AR locale in i18n framework service
  client/coral-framework/services/i18n.js
  locales/ar.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Added most Arabic translations in 'ar' locale
  locales/ar.yml
Due: yamllint

Added Arabic translations for most plugins
  plugins/talk-plugin-akismet/client/translations.yml
  plugins/talk-plugin-auth/client/translations.yml
  plugins/talk-plugin-author-menu/client/translations.yml
  plugins/talk-plugin-facebook-auth/client/translations.yml
  plugins/talk-plugin-featured-comments/client/translations.yml
  plugins/talk-plugin-flag-details/client/translations.yml
  plugins/talk-plugin-google-auth/client/translations.yml
  plugins/talk-plugin-ignore-user/client/translations.yml
  plugins/talk-plugin-like/client/translations.yml
  plugins/talk-plugin-love/client/translations.yml
  plugins/talk-plugin-member-since/client/translations.yml
  plugins/talk-plugin-moderation-actions/client/translations.yml
  plugins/talk-plugin-offtopic/client/translations.json
  plugins/talk-plugin-profile-settings/client/translations.yml
  plugins/talk-plugin-respect/client/translations.yml
  plugins/talk-plugin-sort-most-liked/client/translations.yml
  plugins/talk-plugin-sort-most-loved/client/translations.yml
  plugins/talk-plugin-sort-most-replied/client/translations.yml
  plugins/talk-plugin-sort-most-respected/client/translations.yml
  plugins/talk-plugin-sort-newest/client/translations.yml
  plugins/talk-plugin-sort-oldest/client/translations.yml
  plugins/talk-plugin-subscriber/client/translations.yml
  plugins/talk-plugin-toxic-comments/client/translations.yml
  plugins/talk-plugin-viewing-options/client/translations.yml
Due: yamllint

do not use hjson for plugins.env.js
  plugins.js
Due: git-exec-and-restage eslint --fix --

linting fixes
  plugins.js
Due: git-exec-and-restage eslint --fix --

upgraded
  plugins/talk-plugin-rich-text-pell/package.json
  yarn.lock
Due: none

clearer api - wip debug tools
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  client/coral-framework/services/plugins.js
  views/article.ejs
Due: git-exec-and-restage eslint --fix --

Adding debug tools
  client/coral-embed-stream/src/tabs/stream/containers/Stream.js
  client/coral-framework/components/Slot.css
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
  plugin-api/beta/client/selectors/index.js
Due: git-exec-and-restage eslint --fix --

desc styling
  client/coral-framework/components/Slot.css
Due: none

Adding it to the docs, not sure if it should live there.
  client/coral-framework/components/Slot.js
  docs/_docs/04-05-talk-slots-and-plugins-ES.md
Due: git-exec-and-restage eslint --fix --

checks for and mitigates username collisions with new external users
  services/users.js
Due: git-exec-and-restage eslint --fix --

Adding it to the docs, not sure if it should live there.
  docs/_docs/04-05-talk-slots-and-plugins-ES.md
Due: none

set debug to false
  views/article.ejs
Due: none

Docs updates
  docs/_config.yml
  docs/source/01-03-installation-from-source.md
  docs/source/05-01-faq.md
  docs/source/contact.md
  docs/source/integrating/translations-i18n.md
  docs/themes/coral/layout/partial/sidebar.swig
  docs/themes/coral/source/js/main.js
  test/server/services/tokens.js
Due: git-exec-and-restage eslint --fix --, yamllint

added option to disable jobs from starting
  bin/cli-serve
  bin/util.js
  jobs/index.js
  jobs/mailer.js
  plugins/talk-plugin-notifications/server/NotificationManager.js
  serve.js
Due: git-exec-and-restage eslint --fix --

Add Plugin Tutorial Part 1
  docs/_config.yml
  docs/source/05-01-building-basic-plugin.md
  docs/source/07-01-faq.md
Due: yamllint

Create image folder and upload images
  docs/source/images/pride_reaction_tutorial_1.png
  docs/source/images/pride_reaction_tutorial_2.png
  docs/source/images/pride_reaction_tutorial_3.png
  docs/source/images/pride_reaction_tutorial_4.png
  docs/source/images/pride_reaction_tutorial_5.png
  docs/source/images/pride_reaction_tutorial_part2_1.png
  docs/source/images/pride_reaction_tutorial_part2_2.png
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
