Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Sort Translations ABC, Add missing Hebrew
  plugins/talk-plugin-auth/client/translations.yml
  plugins/talk-plugin-author-menu/client/translations.yml
  plugins/talk-plugin-flag-details/client/translations.yml
  plugins/talk-plugin-love/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/translations.yml
  plugins/talk-plugin-notifications/server/translations.yml
  plugins/talk-plugin-profile-data/client/translations.yml
  plugins/talk-plugin-profile-data/translations.yml
  plugins/talk-plugin-rich-text/client/translations.yml
  plugins/talk-plugin-sort-most-downvoted/client/translations.yml
  plugins/talk-plugin-sort-most-respected/client/translations.yml
  plugins/talk-plugin-sort-most-upvoted/client/translations.yml
Due: yamllint

Add additional Hebrew translations
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/client/translations.yml
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications-category-staff/client/translations.yml
  plugins/talk-plugin-notifications-category-staff/translations.yml
  plugins/talk-plugin-notifications-digest-daily/client/translations.yml
  plugins/talk-plugin-notifications-digest-hourly/client/translations.yml
  plugins/talk-plugin-notifications/client/translations.yml
  plugins/talk-plugin-notifications/server/translations.yml
  plugins/talk-plugin-rich-text/client/translations.yml
  plugins/talk-plugin-sort-most-downvoted/client/translations.yml
  plugins/talk-plugin-sort-most-upvoted/client/translations.yml
Due: yamllint

Update recommended release version to 4.7
  README.md
Due: none

update release link on readme!
  README.md
Due: none

Update recommended release version to link (#2168)
  README.md
Due: none

Update appropriate <section> class in user profile section
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
Due: git-exec-and-restage eslint --fix --

WIP: Snackbar close
  client/coral-embed/src/SnackBar.js
Due: git-exec-and-restage eslint --fix --

Create Moderation actions plugin
  .gitignore
  plugins/talk-plugin-notifications-category-moderation-actions/README.md
  plugins/talk-plugin-notifications-category-moderation-actions/client/.eslintrc.json
  plugins/talk-plugin-notifications-category-moderation-actions/client/index.js
  plugins/talk-plugin-notifications-category-moderation-actions/client/translations.yml
  plugins/talk-plugin-notifications-category-moderation-actions/config.js
  plugins/talk-plugin-notifications-category-moderation-actions/index.js
  plugins/talk-plugin-notifications-category-moderation-actions/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

fix: repairs poor performance for assets
  client/coral-admin/src/reducers/stories.js
  client/coral-ui/components/Paginate.css
  models/schema/asset.js
  routes/api/v1/assets.js
Due: git-exec-and-restage eslint --fix --

Clarify env var in readme
  plugins/talk-plugin-notifications-category-moderation-actions/README.md
Due: none

Reword log message
  plugins/talk-plugin-notifications-category-moderation-actions/index.js
Due: git-exec-and-restage eslint --fix --

chore: address pr review comments
  package-lock.json
  src/core/client/admin/containers/RedirectLoginContainer.tsx
  src/core/client/auth/containers/AccountCompletionContainer.tsx
  src/core/client/auth/views/createPassword/containers/CreatePasswordContainer.tsx
Due: none

chore: add comment
  src/core/client/admin/mutations/SignInMutation.ts
  src/core/client/auth/mutations/SignInMutation.ts
Due: none

Update Readme
  README.md
Due: none

Update with suggestion from Wyatt
  plugins/talk-plugin-notifications-category-moderation-actions/index.js
Due: git-exec-and-restage eslint --fix --

Yml fix
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Fix linting error
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
Due: git-exec-and-restage eslint --fix --

Fix lint second try
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
Due: git-exec-and-restage eslint --fix --

Update appropriate <section> class in Profile section (#2170)
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
Due: git-exec-and-restage eslint --fix --

Whitelist notification types
  plugins/talk-plugin-notifications-category-moderation-actions/index.js
Due: git-exec-and-restage eslint --fix --

fix: repairs poor performance for assets (#2174)
  client/coral-admin/src/reducers/stories.js
  client/coral-ui/components/Paginate.css
  models/schema/asset.js
  routes/api/v1/assets.js
Due: git-exec-and-restage eslint --fix --

Update messaging
  plugins/talk-plugin-notifications-category-moderation-actions/client/translations.yml
Due: yamllint

Break word on long description
  client/coral-admin/src/routes/Community/components/FlaggedUser.css
Due: none

feat: added mongo indexing support
  package-lock.json
  package.json
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/index.ts
  src/core/server/models/action/comment.ts
  src/core/server/models/action/moderation/comment.ts
  src/core/server/models/comment.ts
  src/core/server/models/query.ts
  src/core/server/models/story/counts/empty.ts
  src/core/server/models/story/counts/index.ts
  src/core/server/models/story/counts/shared.ts
  src/core/server/models/story/index.ts
  src/core/server/models/tenant.ts
  src/core/server/models/user.ts
  src/core/server/services/mongodb/indexes.ts
  src/core/server/services/tenant/index.ts
  src/index.ts
Due: none

chore: better types
  src/core/server/models/story/counts/shared.ts
Due: none

fix: fixed typescript issue
  src/core/server/models/story/counts/shared.ts
Due: none

fix: revert debug stuff
  src/core/server/models/story/counts/shared.ts
Due: none

fix: addressed ts error
  src/core/server/models/story/counts/shared.ts
Due: none

feat: added config option to disable auto-indexing
  src/core/server/config.ts
  src/core/server/index.ts
Due: none

chore: reordered imports
  src/core/server/models/connection.ts
  src/core/server/models/story/counts/index.ts
  src/core/server/models/story/counts/shared.ts
  src/core/server/models/story/index.ts
  src/core/server/models/tenant.ts
Due: none

refactor: cleaned up some filepaths
  scripts/generateSchemaTypes.js
  src/core/server/config.ts
  src/core/server/graph/common/scalars/cursor.ts
  src/core/server/graph/tenant/loaders/Comments.ts
  src/core/server/graph/tenant/resolvers/Comment.ts
  src/core/server/graph/tenant/resolvers/ModerationQueues.ts
  src/core/server/index.ts
  src/core/server/models/action/comment.ts
  src/core/server/models/action/moderation/comment.ts
  src/core/server/models/comment.ts
  src/core/server/models/helpers/connection.spec.ts
  src/core/server/models/helpers/connection.ts
  src/core/server/models/helpers/query.ts
  src/core/server/models/story/counts/index.ts
  src/core/server/models/story/index.ts
  src/core/server/models/tenant.ts
  src/core/server/models/user.ts
  src/index.ts
Due: git-exec-and-restage eslint --fix --

[next] MongoDB Indexes (#2142)
  package-lock.json
  package.json
  scripts/generateSchemaTypes.js
  src/core/server/app/middleware/passport/strategies/oidc/index.ts
  src/core/server/config.ts
  src/core/server/graph/common/scalars/cursor.ts
  src/core/server/graph/tenant/loaders/Comments.ts
  src/core/server/graph/tenant/resolvers/Comment.ts
  src/core/server/graph/tenant/resolvers/ModerationQueues.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/index.ts
  src/core/server/models/action/comment.ts
  src/core/server/models/action/moderation/comment.ts
  src/core/server/models/comment.ts
  src/core/server/models/helpers/connection.spec.ts
  src/core/server/models/helpers/connection.ts
  src/core/server/models/helpers/query.ts
  src/core/server/models/story/counts/empty.ts
  src/core/server/models/story/counts/index.ts
  src/core/server/models/story/counts/shared.ts
  src/core/server/models/story/index.ts
  src/core/server/models/tenant.ts
  src/core/server/models/user.ts
  src/core/server/services/mongodb/indexes.ts
  src/core/server/services/tenant/index.ts
  src/index.ts
Due: git-exec-and-restage eslint --fix --

feat: added locale support for Tenant
  src/core/server/app/handlers/api/tenant/install.ts
  src/core/server/app/middleware/passport/index.ts
  src/core/server/app/middleware/passport/strategies/verifiers/jwt.ts
  src/core/server/graph/tenant/resolvers/LOCALES.spec.ts
  src/core/server/graph/tenant/resolvers/LOCALES.ts
  src/core/server/graph/tenant/schema/index.ts
  src/core/server/graph/tenant/schema/schema.graphql
  src/core/server/models/tenant.ts
  src/core/server/services/jwt/index.ts
  src/core/server/services/tenant/index.ts
Due: none

feat: added secret scrubbing to logs
  src/core/server/logger.ts
Due: none

chore: cleanup logger
  src/core/server/logger.ts
  src/core/server/logger/index.ts
  src/core/server/logger/serializers.ts
  src/core/server/logger/streams/SecretStream.ts
  src/core/server/logger/streams/index.ts
Due: none

chore: logger improvements
  gulpfile.js
  package-lock.json
  package.json
  src/core/server/graph/common/middleware/index.ts
  src/core/server/graph/common/subscriptions/pubsub.ts
  src/core/server/graph/tenant/mutators/Settings.ts
  src/core/server/graph/tenant/resolvers/Mutation.ts
  src/core/server/index.ts
  src/core/server/logger/serializers.ts
  src/core/server/logger/streams/index.ts
  src/core/server/queue/index.ts
  src/core/server/services/mongodb/index.ts
  src/core/server/services/redis/index.ts
  src/index.ts
  src/types/trace-error.d.ts
Due: git-exec-and-restage eslint --fix --

feat: re-introduce scoped pretty logger
  package-lock.json
  package.json
  src/core/server/logger/streams/index.ts
  src/types/bunyan-prettystream.d.ts
Due: none

refactor: replace trace-error.TraceError with talk.InternalError
  package-lock.json
  package.json
  src/core/server/services/mongodb/index.ts
  src/core/server/services/redis/index.ts
  src/types/trace-error.d.ts
Due: none
