Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "git-exec-and-restage eslint --fix --"
    ],
    "bin/cli*": [
      "git-exec-and-restage eslint --fix --"
    ],
    "*.yml": [
      "yamllint"
    ]
  }
}

Not reading the fragment just updating
  plugins/talk-plugin-rich-text-pell/client/index.js
Due: git-exec-and-restage eslint --fix --

Change highlight styling
  client/coral-embed-stream/src/tabs/stream/components/Comment.css
Due: none

replaced localStorage state events with postMessage
  client/coral-auth-callback/src/index.js
  client/coral-embed-stream/src/actions/login.js
  client/coral-embed-stream/src/containers/Embed.js
  client/coral-framework/actions/auth.js
  client/coral-framework/services/messages/constants.js
  client/coral-framework/services/messages/index.js
  client/coral-framework/services/messages/sendMessage.js
  client/coral-framework/services/messages/subscriptions.js
  middleware/staticTemplate.js
  plugins/talk-plugin-facebook-auth/client/actions.js
  plugins/talk-plugin-google-auth/client/actions.js
  url.js
  views/auth-callback.ejs
  views/partials/data.ejs
  views/partials/head.ejs
Due: git-exec-and-restage eslint --fix --

Remove redudant request for user object
  client/coral-embed-stream/src/containers/Embed.js
Due: git-exec-and-restage eslint --fix --

added singleSlot on the commentContent
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
Due: git-exec-and-restage eslint --fix --

added support for the singleSlot
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

fix jsdoc
  client/coral-framework/services/postMessage.js
Due: git-exec-and-restage eslint --fix --

Remove deprecated part <3
  client/coral-embed-stream/src/containers/Embed.js
Due: git-exec-and-restage eslint --fix --

Update plugins.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

Refactor postMessage service
  client/coral-auth-callback/src/index.js
  client/coral-embed-stream/src/containers/Embed.js
  client/coral-framework/actions/auth.js
  client/coral-framework/components/TalkProvider.js
  client/coral-framework/hocs/index.js
  client/coral-framework/hocs/withPopupAuthHandler.js
  client/coral-framework/services/bootstrap.js
  client/coral-framework/services/messages/constants.js
  client/coral-framework/services/messages/index.js
  client/coral-framework/services/messages/sendMessage.js
  client/coral-framework/services/messages/subscriptions.js
  client/coral-framework/services/postMessage.js
Due: git-exec-and-restage eslint --fix --

Update Slot.js
  client/coral-framework/components/Slot.js
Due: git-exec-and-restage eslint --fix --

Bye bye old code
  client/coral-embed-stream/src/actions/asset.js
  client/coral-embed-stream/src/actions/config.js
  client/coral-embed-stream/src/constants/asset.js
  client/coral-embed-stream/src/constants/config.js
  client/coral-embed-stream/src/containers/Embed.js
  client/coral-embed-stream/src/reducers/asset.js
  client/coral-embed-stream/src/reducers/config.js
  client/coral-embed-stream/src/reducers/index.js
Due: git-exec-and-restage eslint --fix --

Fix closedAt wrong datatype
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

added sessionStorage fallback
  client/coral-framework/services/storage.js
Due: git-exec-and-restage eslint --fix --

fix jsdoc 2
  client/coral-framework/services/postMessage.js
Due: git-exec-and-restage eslint --fix --

replaced singleSlot with slotSize
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-framework/components/Slot.js
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

linting
  .eslintignore
  plugins/talk-plugin-auth/client/login/containers/Main.js
  plugins/talk-plugin-google-auth/client/components/SignIn.js
  plugins/talk-plugin-google-auth/client/components/SignUp.js
Due: git-exec-and-restage eslint --fix --

linting
  client/coral-framework/services/plugins.js
Due: git-exec-and-restage eslint --fix --

Purge config.auth_token from redux on logout
  client/coral-framework/reducers/config.js
Due: git-exec-and-restage eslint --fix --

fixed linting error
  plugins/talk-plugin-slack-notifications/server/config.js
  plugins/talk-plugin-slack-notifications/server/hooks.js
Due: git-exec-and-restage eslint --fix --

Only show highlighted comment
  client/coral-embed-stream/src/tabs/stream/components/Comment.js
  client/coral-embed-stream/src/tabs/stream/components/Stream.js
Due: git-exec-and-restage eslint --fix --

added featured notifications
  .gitignore
  docs/_docs/04-03-additional-plugins.md
  plugins/talk-plugin-notifications-category-featured/client/.eslintrc.json
  plugins/talk-plugin-notifications-category-featured/client/containers/Toggle.js
  plugins/talk-plugin-notifications-category-featured/client/graphql.js
  plugins/talk-plugin-notifications-category-featured/client/index.js
  plugins/talk-plugin-notifications-category-featured/client/translations.yml
  plugins/talk-plugin-notifications-category-featured/index.js
  plugins/talk-plugin-notifications-category-featured/translations.yml
  plugins/talk-plugin-notifications-category-reply/.eslintrc.json
  plugins/talk-plugin-notifications-category-reply/translations.yml
  plugins/talk-plugin-notifications/.eslintrc.json
  plugins/talk-plugin-notifications/client/containers/Settings.js
Due: git-exec-and-restage eslint --fix --, yamllint

yarn jslint --fix
  models/setting.js
Due: git-exec-and-restage eslint --fix --

modified circle.yml to 2.0 format (initial)
  circle.yml
Due: yamllint

fixed test
  circle.yml
Due: yamllint

added call to docker build
  circle.yml
Due: yamllint

added to the deploy work
  circle.yml
Due: yamllint

added con integration tests
  circle.yml
Due: yamllint

ammended format
  circle.yml
Due: yamllint

added tag filter
  circle.yml
Due: yamllint

added more contexts
  circle.yml
Due: yamllint

ammended to test on bs
  circle.yml
Due: yamllint

cleaned up the deployment workflow
  .circleci/circle.yml
  .circleci/e2e.sh
Due: yamllint

rename
  .circleci/config.yml
Due: yamllint

cleanup of e2e script
  .circleci/e2e.sh
  scripts/e2e.js
Due: git-exec-and-restage eslint --fix --

adjusted build pipelin
  .circleci/config.yml
Due: yamllint

require cache only on the yarn.lock file
  .circleci/config.yml
Due: yamllint

ammended browserstack test
  .circleci/config.yml
  .circleci/e2e.sh
Due: yamllint

removed headless
  .circleci/e2e.sh
Due: none

fixed firefox support
  .circleci/e2e.sh
  nightwatch.conf.js
Due: git-exec-and-restage eslint --fix --
