Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

Featured comments Hebrew translation
  plugins/talk-plugin-featured-comments/client/translations.yml
Due: yamllint

Most liked Hebrew translation
  plugins/talk-plugin-sort-most-liked/client/translations.yml
Due: yamllint

Add more translations
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Fix apostrophes
  plugins/talk-plugin-auth/client/translations.yml
Due: yamllint

Google Hebrew translation
  plugins/talk-plugin-google-auth/client/translations.yml
Due: yamllint

Subscriber hebrew translation
  plugins/talk-plugin-subscriber/client/translations.yml
Due: yamllint

Settings Hebrew translation
  plugins/talk-plugin-profile-settings/client/translations.yml
Due: yamllint

Most respected Hebrew translation
  plugins/talk-plugin-sort-most-respected/client/translations.yml
Due: yamllint

Facebook Auth translation
  plugins/talk-plugin-facebook-auth/client/translations.yml
Due: yamllint

Moderation actions Hebrew translation
  plugins/talk-plugin-moderation-actions/client/translations.yml
Due: yamllint

Akismet Hebrew translations
  plugins/talk-plugin-akismet/client/translations.yml
Due: yamllint

Toxic comments Hebrew translation
  plugins/talk-plugin-toxic-comments/client/translations.yml
Due: yamllint

Respect hebrew translations
  plugins/talk-plugin-respect/client/translations.yml
Due: yamllint

Member since Hebrew Translation
  plugins/talk-plugin-member-since/client/translations.yml
Due: yamllint

Trigger build
  app.js
Due: git-exec-and-restage eslint --fix --

Like hebrew translation
  plugins/talk-plugin-like/client/translations.yml
Due: yamllint

Viewing options Hebrew translation
  plugins/talk-plugin-viewing-options/client/translations.yml
Due: yamllint

Most loved Hebrew translation
  plugins/talk-plugin-sort-most-loved/client/translations.yml
Due: yamllint

Fixed regression with workspaces
  Dockerfile.onbuild
Due: none

Add Auth docs
  docs/source/02-03-authentication.md
Due: none

Resolves edge case with old digest frequency
  plugins/talk-plugin-notifications/server/hooks.js
  plugins/talk-plugin-notifications/server/index.js
Due: git-exec-and-restage eslint --fix --

Add Comment Stream configuration docs
  docs/source/02-04-configuring-comment-stream.md
Due: none

Add Admin configuration docs
  docs/source/02-05-configuring-admin.md
  docs/source/02-05-configuring-moderation.md
Due: none

Add Notifications docs
  docs/source/02-05-configuring-moderation.md
  docs/source/02-06-notifications.md
Due: none

Add Event Tracking and Metrics docs
  docs/source/02-07-talk-metrics.md
Due: none

Add CSS docs
  docs/source/02-04-configuring-comment-stream.md
  docs/source/02-08-styling-talk.md
Due: none

Update filename
  docs/source/02-08-styling-css.md
Due: none

Add i18n docs
  docs/source/02-08-styling-css.md
  docs/source/02-09-translations-i18n.md
Due: none

Update i18n
  docs/source/02-09-translations-i18n.md
Due: none

Scraping Fixes
  graph/context.js
  graph/loaders/assets.js
  graph/mutators/asset.js
  jobs/index.js
  jobs/scraper.js
  services/logging.js
  services/scraper.js
Due: git-exec-and-restage eslint --fix --

Update Sidebar Nav
  docs/_config.yml
  docs/source/02-03-authentication.md
  docs/source/02-04-configuring-comment-stream.md
  docs/source/02-05-configuring-admin.md
  docs/source/02-06-notifications.md
  docs/source/02-07-event-tracking-metrics.md
Due: yamllint

Add Arch docs
  docs/_config.yml
  docs/source/01-03-installation-from-source.md
  docs/source/01-04-planning-architecture.md
Due: yamllint

Fix formatting
  docs/source/02-03-authentication.md
  docs/source/02-04-configuring-comment-stream.md
  docs/source/02-05-configuring-admin.md
  docs/source/02-06-notifications.md
  docs/source/02-07-event-tracking-metrics.md
  docs/source/02-08-styling-css.md
  docs/source/02-09-translations-i18n.md
Due: none

Add classname hooks for default and active state
  plugin-api/beta/client/components/SortOption.js
Due: git-exec-and-restage eslint --fix --

Fix linting issue
  plugin-api/beta/client/components/SortOption.js
Due: git-exec-and-restage eslint --fix --

Update danish translation
  locales/da.yml
Due: yamllint

Adapt styling
  plugins/talk-plugin-notifications/client/components/Settings.css
  plugins/talk-plugin-notifications/client/components/Settings.js
  plugins/talk-plugin-notifications/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Only show digest options when having choice
  plugins/talk-plugin-notifications/client/components/Settings.js
Due: git-exec-and-restage eslint --fix --

comment history blank state
  client/coral-embed-stream/src/tabs/profile/components/BlankCommentHistory.css
  client/coral-embed-stream/src/tabs/profile/components/BlankCommentHistory.js
  client/coral-embed-stream/src/tabs/profile/components/CommentHistory.js
  locales/en.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Ignore user blank state
  plugins/talk-plugin-ignore-user/client/components/IgnoredUserSection.css
  plugins/talk-plugin-ignore-user/client/components/IgnoredUserSection.js
  plugins/talk-plugin-ignore-user/client/containers/IgnoredUserSection.js
  plugins/talk-plugin-ignore-user/client/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
