Repository coralproject/talk: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, yamllint

updated yarn.lock
  yarn.lock
Due: none

fixes related to external auth
  client/coral-framework/actions/auth.js
  client/coral-framework/constants/auth.js
  client/coral-framework/reducers/auth.js
  client/coral-framework/services/bootstrap.js
Due: git-exec-and-restage eslint --fix --

Removin actions, using routes, and continuing the transition when the user makes an action
  client/coral-admin/src/actions/configure.js
  client/coral-admin/src/constants/configure.js
  client/coral-admin/src/reducers/configure.js
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

PropTypes
  client/coral-admin/src/routes/Configure/containers/Configure.js
Due: git-exec-and-restage eslint --fix --

wip - inconcistencies with cache, considering refetching
  client/coral-admin/src/components/UserDetail.js
  client/coral-framework/graphql/mutations.js
Due: git-exec-and-restage eslint --fix --

Fixes #1505
  bin/cli-assets
Due: git-exec-and-restage eslint --fix --

Add Finnish translation
  locales/fi_FI.yml
Due: yamllint

Logging Improvements
  app.js
  middleware/logging.js
  package.json
  routes/index.js
  services/logging.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

autocomplete off
  client/coral-ui/components/TextField.js
  plugins/talk-plugin-auth/client/login/components/SignUp.js
Due: git-exec-and-restage eslint --fix --

improved support
  app.js
  middleware/logging.js
  middleware/trace.js
  services/mongoose.js
  services/redis.js
Due: git-exec-and-restage eslint --fix --

Wip - Almost finished!
  client/coral-admin/src/AppRouter.js
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
  client/coral-framework/components/ConfigureCard.js
Due: git-exec-and-restage eslint --fix --

pulled data download into seperate plugin
  client/coral-embed-stream/src/graphql/index.js
  client/coral-embed-stream/src/tabs/profile/components/DownloadCommentHistorySection.css
  client/coral-embed-stream/src/tabs/profile/components/DownloadCommentHistorySection.js
  client/coral-embed-stream/src/tabs/profile/components/Settings.js
  client/coral-embed-stream/src/tabs/profile/containers/Settings.js
  graph/mutators/user.js
  graph/resolvers/comment.js
  graph/resolvers/root_mutation.js
  graph/resolvers/user.js
  graph/typeDefs.graphql
  locales/en.yml
  models/user.js
  package.json
  perms/constants/mutation.js
  perms/constants/query.js
  perms/reducers/mutation.js
  perms/reducers/query.js
  plugins.default.json
  routes/account/index.js
  routes/api/v1/account.js
  services/mailer/templates/download.html.ejs
  services/mailer/templates/download.txt.ejs
  services/users.js
  views/account/download.ejs
  yarn.lock
Due: git-exec-and-restage eslint --fix --, yamllint

Added new plugin
  .gitignore
  docs/source/_data/plugins.yml
  docs/source/plugin/talk-plugin-profile-data.md
  plugins/talk-plugin-profile-data/README.md
  plugins/talk-plugin-profile-data/client/.eslintrc.json
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.css
  plugins/talk-plugin-profile-data/client/components/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/containers/DownloadCommentHistory.js
  plugins/talk-plugin-profile-data/client/graphql.js
  plugins/talk-plugin-profile-data/client/index.js
  plugins/talk-plugin-profile-data/client/mutations.js
  plugins/talk-plugin-profile-data/client/translations.yml
  plugins/talk-plugin-profile-data/index.js
  plugins/talk-plugin-profile-data/package.json
  plugins/talk-plugin-profile-data/server/emails/download.html.ejs
  plugins/talk-plugin-profile-data/server/emails/download.txt.ejs
  plugins/talk-plugin-profile-data/server/views/download.ejs
  plugins/talk-plugin-profile-data/translations.yml
Due: git-exec-and-restage eslint --fix --, yamllint

cleanup of plugin code
  plugins/talk-plugin-profile-data/index.js
  plugins/talk-plugin-profile-data/server/connect.js
  plugins/talk-plugin-profile-data/server/constants.js
  plugins/talk-plugin-profile-data/server/mutators.js
  plugins/talk-plugin-profile-data/server/resolvers.js
  plugins/talk-plugin-profile-data/server/router.js
  plugins/talk-plugin-profile-data/server/typeDefs.graphql
  plugins/talk-plugin-profile-data/server/typeDefs.js
Due: git-exec-and-restage eslint --fix --

readme update
  plugins/talk-plugin-profile-data/README.md
Due: none

e2e fixes
  test/e2e/page_objects/embedStream.js
Due: git-exec-and-restage eslint --fix --

add missing strings in fr locale
  locales/fr.yml
Due: yamllint

added missing translations
  locales/fr.yml
Due: yamllint

New version of the translation
  locales/fi_FI.yml
Due: yamllint

Save, and edit changes
  client/coral-admin/src/routes/Configure/components/Configure.js
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.js
  client/coral-admin/src/routes/Configure/containers/Configure.js
  locales/en.yml
  locales/es.yml
Due: git-exec-and-restage eslint --fix --, yamllint

styles
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
Due: none

tiny css changes
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
Due: none

Adding min-width for inputs
  client/coral-admin/src/routes/Configure/components/OrganizationSettings.css
Due: none

FrenchCorrections
  locales/fr.yml
Due: yamllint

updated version
  package.json
Due: none

removed unused coral-docs
  client/coral-docs/src/index.js
  client/coral-docs/src/services/fetcher.js
  jest.config.js
Due: git-exec-and-restage eslint --fix --

Refactored Errors
  bin/cli-setup
  errors.js
  graph/errorHandler.js
  graph/loaders/assets.js
  graph/mutators/action.js
  graph/mutators/asset.js
  graph/mutators/comment.js
  graph/mutators/settings.js
  graph/mutators/tag.js
  graph/mutators/token.js
  graph/mutators/user.js
  jobs/mailer.js
  middleware/authorization.js
  plugin-api/beta/server/getReactionConfig.js
  plugins/talk-plugin-akismet/errors.js
  plugins/talk-plugin-akismet/index.js
  plugins/talk-plugin-notifications/server/mutators.js
  plugins/talk-plugin-toxic-comments/server/errors.js
  plugins/talk-plugin-toxic-comments/server/hooks.js
  routes/api/v1/users.js
  routes/index.js
  serve.js
  services/assets.js
  services/comments.js
  services/limit.js
  services/moderation/index.js
  services/moderation/phases/commentLength.js
  services/passport.js
  services/settings.js
  services/setup.js
  services/tags.js
  services/users.js
  services/wordlist.js
  test/server/graph/context.js
  test/server/services/wordlist.js
Due: git-exec-and-restage eslint --fix --

Ignored User Reply Notifications
  graph/resolvers/user.js
  plugins/talk-plugin-notifications-category-reply/index.js
Due: git-exec-and-restage eslint --fix --

Rename 03-04-product-guide-trust.md to 03-05-product-guide-trust.md
  docs/source/03-05-product-guide-trust.md
Due: none

Rename 03-05-product-guide-trust.md to 03-06-product-guide-trust.md
  docs/source/03-06-product-guide-trust.md
Due: none

Rename 03-06-product-guide-trust.md to 03-07-product-guide-trust.md
  docs/source/03-07-product-guide-trust.md
Due: none

Create 03-03-user-roles.md
  docs/source/03-03-user-roles.md
Due: none

Rename 03-03-user-roles.md to 03-04-user-roles.md
  docs/source/03-04-user-roles.md
Due: none

Update 03-04-user-roles.md
  docs/source/03-04-user-roles.md
Due: none

Bullets replaced with asterisks per markdown
  docs/source/03-04-user-roles.md
Due: none

Added User Roles to the menu
  docs/_config.yml
Due: yamllint

Permission Updates
  graph/resolvers/comment.js
  graph/typeDefs.graphql
  perms/constants/query.js
  perms/reducers/query.js
Due: git-exec-and-restage eslint --fix --

Authors cannot see their own status history
  graph/resolvers/comment.js
Due: git-exec-and-restage eslint --fix --

Jest for server
  .eslintrc.json
  client/jest.config.js
  jest.config.js
  package.json
  plugin-api/beta/server/getReactionConfig.js
  plugin-api/beta/server/getReactionConfig.spec.js
  plugins/talk-plugin-akismet/index.js
  plugins/talk-plugin-akismet/server/config.js
  plugins/talk-plugin-akismet/server/errors.js
  plugins/talk-plugin-akismet/server/hooks.js
  plugins/talk-plugin-akismet/server/resolvers.js
  plugins/talk-plugin-akismet/server/resolvers.spec.js
  plugins/talk-plugin-akismet/server/typeDefs.graphql
  plugins/talk-plugin-akismet/server/typeDefs.js
  plugins/talk-plugin-toxic-comments/server/__mocks__/perspective.js
  plugins/talk-plugin-toxic-comments/server/hooks.js
  plugins/talk-plugin-toxic-comments/server/hooks.spec.js
  services/logging.js
  services/mongoose.js
  test/setupJest.js
  yarn.lock
Due: git-exec-and-restage eslint --fix --

small fixes
  package.json
  services/mongoose.js
Due: git-exec-and-restage eslint --fix --

Path conditions:
  git-exec-and-restage eslint --fix --: (any of: *.js) or (any of: bin/cli*)
  yamllint: any of: *.yml
